[Desktop Entry]
Name=EPS
Name[af]=EPS
Name[ar]=EPS
Name[as]=EPS
Name[ast]=EPS
Name[be]=EPS
Name[be@latin]=EPS
Name[bg]=EPS
Name[bn]=ই-পি-এস
Name[bn_IN]=EPS
Name[br]=EPS
Name[ca]=EPS
Name[ca@valencia]=EPS
Name[cs]=EPS
Name[csb]=EPS
Name[da]=EPS
Name[de]=EPS
Name[el]=EPS
Name[en_GB]=EPS
Name[eo]=EPS
Name[es]=EPS
Name[et]=EPS
Name[eu]=EPS
Name[fa]=EPS
Name[fi]=EPS
Name[fr]=EPS
Name[fy]=EPS
Name[ga]=EPS
Name[gl]=EPS
Name[gu]=EPS
Name[he]=EPS
Name[hi]=ईपीएस
Name[hne]=ईपीएस
Name[hr]=EPS
Name[hsb]=EPS
Name[hu]=EPS
Name[hy]=EPS
Name[ia]=EPS
Name[id]=EPS
Name[is]=EPS
Name[it]=EPS
Name[ja]=EPS
Name[kk]=EPS
Name[km]=EPS
Name[kn]=EPS
Name[ko]=EPS
Name[ku]=EPS
Name[lt]=EPS
Name[lv]=EPS
Name[mai]=ईपीएस
Name[mk]=EPS
Name[ml]=ഇപിഎസ്
Name[mr]=EPS
Name[ms]=EPS
Name[nb]=EPS
Name[nds]=EPS
Name[ne]=EPS
Name[nl]=EPS
Name[nn]=EPS
Name[or]=EPS
Name[pa]=EPS
Name[pl]=EPS
Name[ps]=EPS
Name[pt]=EPS
Name[pt_BR]=EPS
Name[ro]=EPS
Name[ru]=EPS
Name[se]=EPS
Name[si]=EPS
Name[sk]=EPS
Name[sl]=EPS
Name[sr]=ЕПС
Name[sr@ijekavian]=ЕПС
Name[sr@ijekavianlatin]=EPS
Name[sr@latin]=EPS
Name[sv]=EPS
Name[ta]=EPS
Name[te]=ఇపిఎస్
Name[tg]=EPS
Name[th]=EPS
Name[tr]=EPS
Name[uk]=EPS
Name[vi]=EPS
Name[wa]=EPS
Name[x-test]=xxEPSxx
Name[zh_CN]=EPS
Name[zh_TW]=EPS
Type=Service
X-KDE-ServiceTypes=QImageIOPlugins
X-KDE-ImageFormat=eps,EPS,EPSI,epsf,EPSF
X-KDE-MimeType=image/x-eps
X-KDE-Read=true
X-KDE-Write=true
