[Desktop Entry]
Encoding=UTF-8
Name=EXR
Type=Service
ServiceTypes=QImageIOPlugins
X-KDE-ImageFormat=exr,EXR
X-KDE-MimeType=image/x-exr
X-KDE-Read=true
X-KDE-Write=false
