[Desktop Entry]
Name=GIF
Name[ar]=SGI
Name[bn]=জি-আই-এফ
Name[hi]=जीआईएफ़
Name[ml]=ജിഫ്
Name[sr]=ГИФ
Name[te]=జిఐఎఫ్
Name[x-test]=xxGIFxx
Type=Service
X-KDE-ServiceTypes=QImageIOPlugins
X-KDE-ImageFormat=gif
X-KDE-MimeType=image/gif
X-KDE-Read=true
X-KDE-Write=false
