[Desktop Entry]
Name=JP2
Name[af]=JP2
Name[ar]=JP2
Name[as]=JP2
Name[ast]=JP2
Name[be]=JP2
Name[be@latin]=JP2
Name[bg]=JP2
Name[bn]=জে-পি-২
Name[bn_IN]=JP2
Name[br]=JP2
Name[ca]=JP2
Name[ca@valencia]=JP2
Name[cs]=JP2
Name[csb]=JP2
Name[da]=JP2
Name[de]=JP2
Name[el]=JP2
Name[en_GB]=JP2
Name[eo]=JP2
Name[es]=JP2
Name[et]=JP2
Name[eu]=JP2
Name[fa]=JP2
Name[fi]=JP2
Name[fr]=JP2
Name[fy]=JP2
Name[ga]=JP2
Name[gl]=JP2
Name[gu]=JP2
Name[he]=JP2
Name[hi]=जेपी२ 
Name[hne]=जेपी२ 
Name[hr]=JP2
Name[hsb]=JP2
Name[hu]=JP2
Name[hy]=JP2
Name[ia]=JP2
Name[id]=JP2
Name[is]=JP2
Name[it]=JP2
Name[ja]=JP2
Name[kk]=JP2
Name[km]=JP2
Name[kn]=JP2
Name[ko]=JP2
Name[ku]=JP2
Name[lt]=JP2
Name[lv]=JP2
Name[mai]=जेपी२ 
Name[mk]=JP2
Name[ml]=ജെപി2
Name[mr]=JP2
Name[nb]=JP2
Name[nds]=JP2
Name[ne]=JP2
Name[nl]=JP2
Name[nn]=JP2
Name[or]=JP2
Name[pa]=JP2
Name[pl]=JP2
Name[ps]=JP2
Name[pt]=JP2
Name[pt_BR]=JP2
Name[ro]=JP2
Name[ru]=JP2
Name[se]=JP2
Name[si]=JP2
Name[sk]=JP2
Name[sl]=JP2
Name[sr]=ЈП2
Name[sr@ijekavian]=ЈП2
Name[sr@ijekavianlatin]=JP2
Name[sr@latin]=JP2
Name[sv]=JP2
Name[ta]=JP2
Name[te]=జెపి2
Name[tg]=JP2
Name[th]=JP2
Name[tr]=JP2
Name[uk]=JP2
Name[vi]=JP2
Name[wa]=JP2
Name[x-test]=xxJP2xx
Name[zh_CN]=JP2
Name[zh_TW]=JP2
Type=Service
X-KDE-ServiceTypes=QImageIOPlugins
X-KDE-ImageFormat=jp2
X-KDE-MimeType=image/jpeg2000
X-KDE-Read=true
X-KDE-Write=true
