[Desktop Entry]
Name=PNM
Name[ar]=PNM
Name[as]=PNM
Name[ast]=PNM
Name[be@latin]=PNM
Name[bg]=PNM
Name[bn]=পি-এন-এম
Name[bn_IN]=PNM
Name[ca]=PNM
Name[ca@valencia]=PNM
Name[cs]=PNM
Name[csb]=PNM
Name[da]=PNM
Name[de]=PNM
Name[el]=PNM
Name[en_GB]=PNM
Name[eo]=PNM
Name[es]=PNM
Name[et]=PNM
Name[eu]=PNM
Name[fi]=PNM
Name[fr]=PNM
Name[fy]=PNM
Name[ga]=PNM
Name[gl]=PNM
Name[gu]=PNM
Name[he]=PNM
Name[hi]=पीएनएम
Name[hne]=पीएनएम
Name[hr]=PNM
Name[hsb]=PNM
Name[hu]=PNM
Name[ia]=PNM
Name[id]=PNM
Name[is]=PNM
Name[it]=PNM
Name[ja]=PNM
Name[kk]=PBM
Name[km]=PNM
Name[kn]=PNM
Name[ko]=PNM
Name[ku]=PNM
Name[lt]=PNM
Name[lv]=PNM
Name[mai]=PNM
Name[mk]=PNM
Name[ml]=പിഎന്‍എം
Name[mr]=PNM
Name[nb]=PNM
Name[nds]=PNM
Name[nl]=PNM
Name[nn]=PNM
Name[or]=PNM
Name[pa]=PNM
Name[pl]=PNM
Name[ps]=PNM
Name[pt]=PNM
Name[pt_BR]=PNM
Name[ro]=PNM
Name[ru]=PNM
Name[se]=PNM
Name[si]=PNM
Name[sk]=PNM
Name[sl]=PNM
Name[sr]=ПНМ
Name[sr@ijekavian]=ПНМ
Name[sr@ijekavianlatin]=PNM
Name[sr@latin]=PNM
Name[sv]=PNM
Name[ta]=PNM
Name[tg]=PNM
Name[th]=PNM
Name[tr]=PNM
Name[uk]=PNM
Name[x-test]=xxPNMxx
Name[zh_CN]=PNM
Name[zh_TW]=PNM
Type=Service
X-KDE-ServiceTypes=QImageIOPlugins
X-KDE-ImageFormat=pnm
X-KDE-MimeType=image/x-portable-anymap
X-KDE-Read=true
X-KDE-Write=false
