[Desktop Entry]
Name=PNM
Name[bn]=পি-এন-এম
Name[hi]=पीएनएम
Name[hne]=पीएनएम
Name[kk]=PBM
Name[ml]=പിഎന്‍എം
Name[sr]=ПНМ
Name[x-test]=xxPNMxx
Type=Service
X-KDE-ServiceTypes=QImageIOPlugins
X-KDE-ImageFormat=pnm
X-KDE-MimeType=image/x-portable-anymap
X-KDE-Read=true
X-KDE-Write=false
