[Desktop Entry]
Name=RAS
Name[bg]=RAS
Name[de]=RAS
Name[en_GB]=RAS
Name[es]=RAS
Name[hr]=RAS
Name[id]=RAS
Name[is]=RAS
Name[km]=RAS
Name[nb]=RAS
Name[nds]=RAS
Name[pt]=RAS
Name[pt_BR]=RAS
Name[sv]=RAS
Name[th]=RAS
Name[uk]=RAS
Name[x-test]=xxRASxx
Type=Service
X-KDE-ServiceTypes=QImageIOPlugins
X-KDE-ImageFormat=ras,RAS
X-KDE-MimeType=image/x-sun-raster
X-KDE-Read=true
X-KDE-Write=false
