[Desktop Entry]
Name=RAS
Name[en_GB]=RAS
Name[es]=RAS
Name[pt_BR]=RAS
Name[sv]=RAS
Name[uk]=RAS
Name[x-test]=xxRASxx
Type=Service
X-KDE-ServiceTypes=QImageIOPlugins
X-KDE-ImageFormat=ras,RAS
X-KDE-MimeType=image/x-sun-raster
X-KDE-Read=true
X-KDE-Write=false
