[Desktop Entry]
Name=XBM
Name[af]=XBM
Name[ar]=XBM
Name[as]=XBM
Name[ast]=XBM
Name[be]=XBM
Name[be@latin]=XBM
Name[bg]=XBM
Name[bn]=এক্স-বি-এম
Name[bn_IN]=XBM
Name[br]=XBM
Name[ca]=XBM
Name[ca@valencia]=XBM
Name[cs]=XBM
Name[csb]=XBM
Name[da]=XBM
Name[de]=XBM
Name[el]=XBM
Name[en_GB]=XBM
Name[eo]=XBM
Name[es]=XBM
Name[et]=XBM
Name[eu]=XBM
Name[fa]=XBM
Name[fi]=XBM
Name[fr]=XBM
Name[fy]=XBM
Name[ga]=XBM
Name[gl]=XBM
Name[gu]=XBM
Name[he]=XBM
Name[hi]=एक्सबीएम
Name[hne]=एक्सबीएम
Name[hr]=XBM
Name[hsb]=XBM
Name[hu]=XBM
Name[hy]=XBM
Name[ia]=XBM
Name[id]=XBM
Name[is]=XBM
Name[it]=XBM
Name[ja]=XBM
Name[kk]=XBM
Name[km]=XBM
Name[kn]=XBM
Name[ko]=XBM
Name[ku]=XBM
Name[lt]=XBM
Name[lv]=XBM
Name[mai]=XBM
Name[mk]=XBM
Name[ml]=എക്സ്ബിഎം
Name[mr]=XBM
Name[nb]=XBM
Name[nds]=XBM
Name[ne]=XBM
Name[nl]=XBM
Name[nn]=XBM
Name[oc]=XBM
Name[or]=XBM
Name[pa]=XBM
Name[pl]=XBM
Name[ps]=XBM
Name[pt]=XBM
Name[pt_BR]=XBM
Name[ro]=XBM
Name[ru]=XBM
Name[se]=XBM
Name[si]=XBM
Name[sk]=XBM
Name[sl]=XBM
Name[sr]=ИксБМ
Name[sr@ijekavian]=ИксБМ
Name[sr@ijekavianlatin]=XBM
Name[sr@latin]=XBM
Name[sv]=XBM
Name[ta]=XBM
Name[te]=ఎక్స్ బిఎం
Name[tg]=XBM
Name[th]=XBM
Name[tr]=XBM
Name[uk]=XBM
Name[vi]=XBM
Name[wa]=XBM
Name[x-test]=xxXBMxx
Name[zh_CN]=XBM
Name[zh_TW]=XBM
Type=Service
X-KDE-ServiceTypes=QImageIOPlugins
X-KDE-ImageFormat=xbm
X-KDE-MimeType=image/x-xbitmap
X-KDE-Read=true
X-KDE-Write=true
