[Desktop Entry]
Name=XCF
Name[af]=XCF
Name[ar]=XCF
Name[as]=XCF
Name[ast]=XCF
Name[be]=XCF
Name[be@latin]=XCF
Name[bg]=XCF
Name[bn]=এক্স-সি-এফ
Name[bn_IN]=XCF
Name[br]=XCF
Name[ca]=XCF
Name[ca@valencia]=XCF
Name[cs]=XCF
Name[csb]=XCF
Name[da]=XCF
Name[de]=XCF
Name[el]=XCF
Name[en_GB]=XCF
Name[eo]=XCF
Name[es]=XCF
Name[et]=XCF
Name[eu]=XCF
Name[fa]=XCF
Name[fi]=XCF
Name[fr]=XCF
Name[fy]=XCF
Name[ga]=XCF
Name[gl]=XCF
Name[gu]=XCF
Name[he]=XCF
Name[hi]=एक्ससीएफ़
Name[hne]=एक्ससीएफ
Name[hr]=XCF
Name[hsb]=XCF
Name[hu]=XCF
Name[hy]=XCF
Name[ia]=XCF
Name[id]=XCF
Name[is]=XCF
Name[it]=XCF
Name[ja]=XCF
Name[kk]=XCF
Name[km]=XCF
Name[kn]=XCF
Name[ko]=XCF
Name[ku]=XCF
Name[lt]=XCF
Name[lv]=XCF
Name[mai]=एक्ससीएफ़
Name[mk]=XCF
Name[ml]=എക്സ്സിഎഫ്
Name[mr]=XCF
Name[nb]=XCF
Name[nds]=XCF
Name[ne]=XCF
Name[nl]=XCF
Name[nn]=XCF
Name[or]=XCF
Name[pa]=XCF
Name[pl]=XCF
Name[ps]=XCF
Name[pt]=XCF
Name[pt_BR]=XCF
Name[ro]=XCF
Name[ru]=XCF
Name[se]=XCF
Name[si]=XCF
Name[sk]=XCF
Name[sl]=XCF
Name[sr]=ИксЦФ
Name[sr@ijekavian]=ИксЦФ
Name[sr@ijekavianlatin]=XCF
Name[sr@latin]=XCF
Name[sv]=XCF
Name[ta]=XCF
Name[te]=ఎక్స్ సిఎఫ్
Name[tg]=XCF
Name[th]=XCF
Name[tr]=XCF
Name[uk]=XCF
Name[vi]=XCF
Name[wa]=XCF
Name[x-test]=xxXCFxx
Name[zh_CN]=XCF
Name[zh_TW]=XCF
Type=Service
X-KDE-ServiceTypes=QImageIOPlugins
X-KDE-ImageFormat=xcf,XCF
X-KDE-MimeType=image/x-xcf
X-KDE-Read=true
X-KDE-Write=false
