[Desktop Entry]
Name=XPM
Name[af]=XPM
Name[ar]=XPM
Name[as]=XPM
Name[ast]=XPM
Name[be]=XPM
Name[be@latin]=XPM
Name[bg]=XPM
Name[bn]=এক্স-পি-এম
Name[bn_IN]=XPM
Name[br]=XPM
Name[ca]=XPM
Name[ca@valencia]=XPM
Name[cs]=XPM
Name[csb]=XPM
Name[da]=XPM
Name[de]=XPM
Name[el]=XPM
Name[en_GB]=XPM
Name[eo]=XPM
Name[es]=XPM
Name[et]=XPM
Name[eu]=XPM
Name[fa]=XPM
Name[fi]=XPM
Name[fr]=XPM
Name[fy]=XPM
Name[ga]=XPM
Name[gl]=XPM
Name[gu]=XPM
Name[he]=XPM
Name[hi]=एक्सपीएम
Name[hne]=एक्सपीएम
Name[hr]=XPM
Name[hsb]=XPM
Name[hu]=XPM
Name[hy]=XPM
Name[ia]=XPM
Name[id]=XPM
Name[is]=XPM
Name[it]=XPM
Name[ja]=XPM
Name[kk]=XPM
Name[km]=XPM
Name[kn]=XPM
Name[ko]=XPM
Name[ku]=XPM
Name[lt]=XPM
Name[lv]=XPM
Name[mai]=XPM
Name[mk]=XPM
Name[ml]=എക്സ്പിഎം
Name[mr]=XPM
Name[nb]=XPM
Name[nds]=XPM
Name[ne]=XPM
Name[nl]=XPM
Name[nn]=XPM
Name[oc]=XPM
Name[or]=XPM
Name[pa]=XPM
Name[pl]=XPM
Name[ps]=XPM
Name[pt]=XPM
Name[pt_BR]=XPM
Name[ro]=XPM
Name[ru]=XPM
Name[se]=XPM
Name[si]=XPM
Name[sk]=XPM
Name[sl]=XPM
Name[sr]=ИксПМ
Name[sr@ijekavian]=ИксПМ
Name[sr@ijekavianlatin]=XPM
Name[sr@latin]=XPM
Name[sv]=XPM
Name[ta]=XPM
Name[te]=ఎక్స్ పిఎం
Name[tg]=XPM
Name[th]=XPM
Name[tr]=XPM
Name[uk]=XPM
Name[vi]=XPM
Name[wa]=XPM
Name[x-test]=xxXPMxx
Name[zh_CN]=XPM
Name[zh_TW]=XPM
Type=Service
X-KDE-ServiceTypes=QImageIOPlugins
X-KDE-ImageFormat=xpm
X-KDE-MimeType=image/x-xpixmap
X-KDE-Read=true
X-KDE-Write=true
