[Desktop Entry]
Name=XV
Name[af]=XV
Name[ar]=XV
Name[as]=XV
Name[ast]=XV
Name[be]=XV
Name[be@latin]=XV
Name[bg]=XV
Name[bn]=এক্স-ভি
Name[bn_IN]=XV
Name[br]=XV
Name[ca]=XV
Name[ca@valencia]=XV
Name[cs]=XV
Name[csb]=XV
Name[da]=XV
Name[de]=XV
Name[el]=XV
Name[en_GB]=XV
Name[eo]=XV
Name[es]=XV
Name[et]=XV
Name[eu]=XV
Name[fa]=XV
Name[fi]=XV
Name[fr]=XV
Name[fy]=XV
Name[ga]=XV
Name[gl]=XV
Name[gu]=XV
Name[he]=XV
Name[hi]=एक्सवी
Name[hne]=एक्सवी
Name[hr]=XV
Name[hsb]=XV
Name[hu]=XV
Name[hy]=XV
Name[ia]=XV
Name[id]=XV
Name[is]=XV
Name[it]=XV
Name[ja]=XV
Name[kk]=XV
Name[km]=XV
Name[kn]=XV
Name[ko]=XV
Name[ku]=XV
Name[lt]=XV
Name[lv]=XV
Name[mai]=एक्सवी
Name[mk]=XV
Name[ml]=എക്സ്‌വി
Name[mr]=XV
Name[ms]=XV
Name[nb]=XV
Name[nds]=XV
Name[ne]=XV
Name[nl]=XV
Name[nn]=XV
Name[oc]=XV
Name[or]=XV
Name[pa]=XV
Name[pl]=XV
Name[ps]=XV
Name[pt]=XV
Name[pt_BR]=XV
Name[ro]=XV
Name[ru]=XV
Name[se]=XV
Name[si]=XV
Name[sk]=XV
Name[sl]=XV
Name[sr]=ИксВ
Name[sr@ijekavian]=ИксВ
Name[sr@ijekavianlatin]=XV
Name[sr@latin]=XV
Name[sv]=XV
Name[ta]=XV
Name[te]=ఎక్స్ వి
Name[tg]=XV
Name[th]=XV
Name[tr]=XV
Name[uk]=XV
Name[vi]=XV
Name[wa]=XV
Name[x-test]=xxXVxx
Name[zh_CN]=XV
Name[zh_TW]=XV
Type=Service
X-KDE-ServiceTypes=QImageIOPlugins
X-KDE-ImageFormat=xv
X-KDE-MimeType=
X-KDE-Read=true
X-KDE-Write=true
