/*
Cascading Style Sheet (Level 2) for KDE HTML help files.
(Validated for CSS2; for more info, see http://www.w3.org/TR/REC-CSS2/)

This program is free software; you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation; either version 2 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 675 Mass Ave, Cambridge, MA 02139, USA.

Send suggestions, comments, etc. to Frederik Fouvry <fouvry@sfs.nphil.uni-tuebingen.de>.

*/

BODY	{ 
        color:	black;
	background:	white;
	font-family:	sans-serif;
	}

P:first-child	{
        text-indent:	0;
        }

P       {
        text-indent:	0em; /* 1em */
        }

A:link	{
        /* background-color:	inherit; *//* inherit is not understood by Netscape */
        background-color:	white;
	text-decoration:	underline;
	color:	#aa0000;
	}

A:visited	{
	text-decoration:	none;
	}

A:active	{
	text-decoration:	none;
	}

A:hover	{
	text-decoration:	none;
	}

SPAN[class~=productname]	{ 
        /* background-color:	inherit; *//* inherit is not understood by Netscape */
        background-color:	white;
        color:	black;
        }

SPAN[class~=keysym]	{ 
        /* background-color:	inherit; *//* inherit is not understood by Netscape */
        background-color:	white;
        color:	black;
        font-family:	monospace;
        }

DIV[class~=navbar], DIV[class~=navbar] P	{ 
        text-align:	right;
        }

DIV[class~=literallayout]	{
        /* */
        background-color:	white;
        color:	black;
        font-family:	monospace;
        }

/* to show what's possible - but not always viewable ... */
HTML:lang(fr) { quotes: '« ' ' »' }
HTML:lang(de) { quotes: '»' '«' '\2039' '\203A' }
:lang(fr) > Q { quotes: '« ' ' »' }
:lang(de) > Q { quotes: '»' '«' '\2039' '\203A' }

/* Specify pairs of quotes for two levels in two languages */
Q:lang(en) { quotes: '"' '"' "'" "'" }
Q:lang(no) { quotes: "«" "»" "<" ">" }

/* Insert quotes before and after Q element content */
Q:before { content: open-quote }
Q:after  { content: close-quote }

BODY	{
	margin-top:	1.58em;
	margin-left:	1.58em;
	margin-right:	1ex;
	margin-bottom:	1.58em;
	padding-top:	0;
	padding-left:	0;
	padding-right:	0;
	padding-bottom:	0;
	border-top:	0;
	border-left:	0;
	border-bottom:	0;
	border-right:	0;
	width:	auto;
	}

/* A hack to fix Netscape */
/* But pages like http://www.w3.org/TR/REC-CSS2/fonts.html also suffer from it */
P { font-family: sans-serif; }
