[Desktop Entry]
Name=KIOSlave
Comment=KDE IO Daemon
Comment[de]=Ein-/Ausgabedämon von KDE
Comment[hu]=KDE IO démon
Comment[no]=KDE ID-daemon
Icon=
DocPath=
Type=Service
Terminal=0
Exec=kioslave
SwallowExec=
SwallowTitle=
BinaryPattern=
X-DCOP-ServiceType=Unique
