[Desktop Entry]
Encoding=UTF-8
Type=Service
MimeType=multipart/mixed;multipart/x-mixed-replace
Name=Embeddable Component for multipart/mixed
Name[fr]=Composant intégrable pour le type multipart / mixed
Name[x-test]=xxEmbeddable Component for multipart/mixedxx
ServiceTypes=KParts/ReadOnlyPart
X-KDE-Library=libkmultipart
