[Desktop Entry]
Encoding=UTF-8
Type=ServiceType
X-KDE-ServiceType=KScriptRunner/KScriptRunner
Comment=This is a generic test script engine for testing the script interface.
Comment[af]=Hierdie is 'n generies toets skrip masjien vir toetsing die skrip koppelvlak.
Comment[ar]=هذه آلة نصوص برمجية اختبارية لاختبار واجهة النص البرمجي.
Comment[az]=Skript ara üzünü sınamaq üçün ümumi sınaq skriptidir.
Comment[bg]=Модул за тестване на скриптове.
Comment[bs]=Ovo je opšti engine za testiranje interfejsa skripti.
Comment[ca]=Aquest és un enginy per a provar la interfície de l'script.
Comment[cs]=Toto je obecný testovací skript pro testování skriptovacího rozhranní.
Comment[cy]=Mae hyn yn beiriant sgript prawf generig i brofi y sgript rhyngwyneb.
Comment[da]=Dette er en generisk testscript-maskine til at teste scriptgrænsefladen.
Comment[de]=Dies ist eine allgemeine Sammlung von Testroutinen für die Skript-Schnittstelle.
Comment[el]=Αυτό είναι μια γενική μηχανή ελέγχου σεναρίων για τον έλεγχο της διασύνδεσης σεναρίων.
Comment[eo]=Tio estas testprogram-maŝino por testi la programinterfaco.
Comment[es]=Este es un motor de script genérico para probar el interfaz de script.
Comment[et]=Üldise skriptimootori testskript liidese testimiseks.
Comment[eu]=Hau script motoreen proba generikoa da script-aren interfazea probatzeko.
Comment[fa]=این موتور نویسه‌ی آزمایش عمومی  برای آزمایش واسط نویسه است.
Comment[fi]=Tämä on yleinen skriptitestimoottori skriptin käyttöliittymän testaamiseen
Comment[fo]=Hetta er ein almen royndarforritsskipan til at nároyna fjølvisforritsmarkamótið.
Comment[fr]=Ceci est un moteur de script de test générique pour expérimenter l'interface de script.
Comment[fy]=Dit is in algemiene samling testroutines foar it testen fan de skript-interface.
Comment[ga]=Is inneall tástála cineálach scripteanna é seo a úsáidtear chun an comhéadan scripte a thástáil.
Comment[gl]=Ésta é unha ferramenta para probar a interface dos guións.
Comment[he]=זהו מנוע תסריטים כללי לבדיקת ממשק התסריטים
Comment[hi]= स्क्रिप्ट इंटरफेस जांचने के लिए यह एक जेनरिक टेस्ट स्क्रिप्ट इंजन है.
Comment[hsb]=To je program za testowanje skript-interfejsa.
Comment[hu]=Ez egy tesztszkript a szkript-felület kipróbálásához.
Comment[is]=Þetta er almennur þýðandi til að prófa skriftuviðmótið.
Comment[it]=Questo è un motore di script generico per provare l'interfaccia di script.
Comment[ja]=これはスクリプトインターフェイスをテストする一般的なテストスクリプトです。
Comment[km]=នេះ​ជា0​ម៉ាស៊ីន​ស្គ្រីប​សាកល្បង​ទូទៅ​មួយ ដើម្បី​សាកល្បង​ចំណុច​ប្រទាក់​ស្គ្រីប ។
Comment[ko]=스크립트 인터페이스를 시험하는데 쓰이는 일반 시험 스크립트 엔진입니다.
Comment[lb]=Dësst ass eng allgemeng Test-Skript-Engine fir de Skript-Interface ze testen.
Comment[lt]=Tai yra bendras testavimo scenarijų variklis skirtas  scenarijų sąsajos testavimui.
Comment[lv]=Šis ir vispārējs skriptu testa dzinējs skriptu saskarsmes virsmas testēšanai.
Comment[mk]=Ова е општа тест-скрипта за тестирање на скриптниот интерфејс
Comment[mn]=Энэ бол скриптын харьцах хэсгийн (interface) тестчилэлийн хувьд дахь ерөнхий тестийн горимын цуглуулга.
Comment[ms]=Ini ialah enjin skrip uji generik untuk mencuba antaramuka skrip.
Comment[mt]=Magna ġenerika biex tittestja l-interfaċċja tal-iskritti
Comment[nb]=Dette er et generisk testskript for å teste skriptgrensesnitt.
Comment[nds]=Dit is en allgemeen Koppel vun Testskripten för dat Pröven vun de Skript-Koppelsteed.
Comment[nl]= Dit is een algemene verzameling van testroutines voor het testen dan de script-interface.
Comment[nn]=Dette er ein generell testskriptmotor for å prøva ut skriptgrensesnittet.
Comment[nso]=Ye ke engine ya thswaelo ya teko ya kakaretso yeo e somiswago go leka sefahlego sa tshwaelo.
Comment[pa]=ਇਹ ਇੱਕ ਸਕ੍ਰਿਪਟ ਇੰਟਰਫੇਸ ਨੂੰ ਜਾਂਚਣ ਲਈ ਇੱਕ ਸਧਾਰਨ ਜਾਂਚ ਇੰਜਣ ਹੈ।
Comment[pl]=Moduł do testowania interfejsu skryptowego.
Comment[pt]=Este é um motor de 'scripts' de teste para testar a interface de 'scripting'.
Comment[pt_BR]=Este é um mecanismo de teste genérico para testar a interface de script.
Comment[ro]=Acesta este un script de test generic pentru testarea interfeţei de scriptare.
Comment[ru]=Этот движок предназначен для тестирования интерфейса скриптов.
Comment[rw]=Iyi ni imashini rusange y'inyandikoporogaramu y'igerageza ikoreshwa mu kugerageza imigaragarire y'inyandikoporogaramu.
Comment[se]=Dát lea oppalaš geahččalanskriptamohtor testendihte skriptalavtta
Comment[sk]=Toto je generický testovací skript pre testovanie skriptovacieho rozhrania.
Comment[sl]=To je generični poskusni skriptni pogon za preizkušanje skriptnega vmesnika.
Comment[sr]=Ово је генерички програм за тестирање интерфејса скрипти.
Comment[sr@Latn]=Ovo je generički program za testiranje interfejsa skripti.
Comment[ss]=Lena yinjini yelibhuku leluhlolo lolubanti lekuhlola sichumanisi selibhuku.
Comment[sv]=Det här är ett generellt skripttestprogram för att testa skriptgränssnittet
Comment[ta]=எழுத்தாக்க இடைமுகத்தைச் சோதிக்க உதவும் ஒரு பொதுவான சோதனை இயந்திரம்.
Comment[tg]=Ин давак барои озмоиши интерфейси скриптҳо лозим аст.
Comment[th]=นี่เป็นกลไกทดสอบสคริปต์ทั่วไป สำหรับทดสอบส่วนติดต่อสคริปต์
Comment[tr]=Bu betik arayüzünü test etmek için bir genel test betik motorudur.
Comment[tt]=Ämeklek yözarasın tikşerü öçen sınaw qoralı bu.
Comment[uk]=Це - загальна машина тестових скриптів для перевірки інтерфейсу скрипту.
Comment[uz]=Скриптнинг интерфейсини текшириш учун умумий синов скрипт бошқарувчиси
Comment[ven]=Heyi ndi inzhini ya bammbiri la mulingo lau linga vhuvha ha bammbiri.
Comment[vi]=Đây là bộ script thử nghiệm chung cho việc thử các script giao diện 
Comment[wa]=Çouchal est on programe di saye po vey kimint rote l' eterface di scripes.
Comment[xh]=Olu luvavanyo luka wonke-wonke lwenjini yokushicilelweyo yokuvavanya ujongano loshicilelo.
Comment[zh_CN]=这是一个用于测试脚本接口的通用脚本测试引擎。
Comment[zh_HK]=這是用來測試手稿介面用的一般性測試手稿引擎
Comment[zh_TW]=這是用來測試手稿介面用的一般性測試手稿引擎
Comment[zu]=Lena yinjini yesikripti sokuvivinya sawonke wonke yokuvivinya isikripti somxhumanisi.

[PropertyDef::X-KDE-Script-Runner]
Type=QString

