#content td.memItemLeft {
text-align: right;
}

.groupHeader {
font-size: large;
color: #418ADE;
}

hr { display: none; }
#content h2 { margin-left: 0px; }

table.memname {
background-color: #f8f8f8;
border: .2em solid #d7d7d7;
width: 80%;
}

td.memname {
white-space: nowrap;
font-weight: bold;
}

.paramtype {
white-space: nowrap;
font-weight: bold;
}

.paramname {
white-space: nowrap;
font-weight: bold;
}

.paramkey {
text-align: right;
}


table.mdTable {
background-color: #f8f8f8;
border: .2em solid #d7d7d7;
width: 80%;
}

td.mdRow { padding: 8px 20px; }
td.md { font-weight: bold; }
td.mdname1 { font-weight: bold; color: #602020; }
td.mdname { font-weight: bold; color: #602020;  }

div.bic {
border: 2px solid #E72300;
background: #F6CFDD;
padding: 0.5ex 1em;
}
