[Desktop Entry]
Encoding=UTF-8
Version=1.0
Name=The DCMI Types
Name[ar]=أنواع DCMI
Name[ca]=Els tipus DCMI
Name[csb]=Ôrtë DCMI
Name[de]=Die DCMI-Typen
Name[el]=Οι τύποι DCMI
Name[es]=Los tipos DCMI
Name[fa]=انواع DCMI
Name[ga]=Na Cineálacha DCMI
Name[nds]=De DCMI-Typen
Name[nl]=De DMCI-typen
Name[pa]=DCMI ਕਿਸਮਾਂ
Name[pt]=Os Tipos do DCMI
Name[pt_BR]=Tipos DCMI
Name[sl]=Vrste DCMI
Name[sv]=DCMI-typerna
Name[th]=ชนิดของ DCMI
Name[zh_CN]=DCMI 类型
Name[zh_TW]=DCMI 型態
Comment=The Dublin Core Types namespace provides URIs for the entries of the DCMI Type Vocabulary.
Comment[ar]=توفر مساحة أسماء مجموعة العناصر الجوهرية دابلن ن1.1 مسالكا لمداخل مفردات DCMI.
Comment[ca]=L'espai de noms dels tipus 'Dublin Core' proporciona URI per les entrades del vocabulari dels tipus DCMI.
Comment[csb]=Rum mionów Ôrtów The Dublin Core dôwô URI dlô wpisënków słowiznë ôrtu DCMI
Comment[de]=Der Namensraum der Dublin Core Types stellt URIs für die Einträge des DCMI-Typ-Vokabulars bereit.
Comment[el]=Ο χώρος ονομάτων τύπων Dublin Core προσφέρει URI των καταχωρήσεων του λεξικού τύπων DCMI.
Comment[es]=El espacio de nombres Dublin Core proporciona URI para las entradas del vocabulario de tipos DCMI.
Comment[fa]=فضای نام انواع هسته Dublin، URIهایی را برای مدخلهای واژگان نوع DCMI فراهم می‌کند.
Comment[nds]=De Naamruum vun de Dublin-Core-Typen, de URIs praatstellt för de Indrääg vun den Typ-Woortsett vun DCMI.
Comment[nl]=De Dublin Core Types namespace levert URI-adressen voor de items van de DCMI-type-vocabulaire.
Comment[pt]=O espaço de nomes dos Tipos do Dublin Core oferece URIs para os itens do Vocabulário de Tipos do DCMI.
Comment[pt_BR]=O espaço de nomes Dublin Core Types fornece URIs para os itens do Vocabulário de Tipos DCMI
Comment[sv]=Dublin-kärntypernas namnrymd tillhandahåller adresser för posterna i DCMI- typordförrådet.
Comment[th]=รูปแบบชื่อชนิดหลักของ Dublin ที่ให้ URI สำหรับรายการของคำศัพท์แบบ DCMI
Comment[zh_CN]=都柏林核心类型命名空间为 DCMI 类型词汇的条目提供了 URI
Comment[zh_TW]=Dublin 核心型態命名空間提供了 DCMI 型態字彙的項目的 URI
URL=http://purl.org/dc/dcmitype/
Path=dctype.rdf
MimeType=application/rdf+xml
Type=Link
