[Desktop Entry]
Encoding=UTF-8
Version=1.0
Name=Nepomuk Annotation Ontology
Name[ar]=التحشية العريفية لنيبوموك
Name[ca]=Ontologia de notes del Nepomuk
Name[csb]=Ontologijo dopòwiescë Napomuk
Name[de]=Nepomuk Vermerk-Ontologie
Name[el]=Οντολογία επισήμανσης Nepomuk
Name[es]=Ontología de anotaciones Nepomuk
Name[fa]=هستی‌شناسی حاشیه‌نویسی Nepomuk
Name[ga]=Ointeolaíocht Anótála Nepomuk
Name[nds]=Anmarkenweeswark Nepomuk
Name[nl]=Nepomuk Annotatie Ontologie
Name[pt]=Ontologia de Anotações do Nepomuk
Name[pt_BR]=Ontologia de Anotação Nepomuk 
Name[sv]=Nepomuks beteckningsontologi
Name[zh_CN]=Nepomuk 注释实体
Comment=The Nepomuk Annotation Ontology defines the basic annotation properties like tagging or rating.
Comment[ar]=تحدد التحشية العريفية لنيبوموك خواص التحشية الأساسية مثل التوسيم والتقييم
Comment[ca]=L'ontologia de notes del Nepomuk defineix les propietats bàsiques de les notes com l'etiquetatge o la puntuació.
Comment[csb]=Òntologija dopòwiescë Nepomuk definëjë pòdspòdla swòjiznów jak tagòwanié czë taksowanié.
Comment[de]=Die Nepomuk Vermerk-Ontologie legt die grundlegenden Vermerk-Eigenschaften wie Marker oder Wertung fest.
Comment[el]=Η οντολογία επισήμανσης Nepomuk ορίζει τις ιδιότητες βασικών επισημάνσεων όπως οι ετικέτες ή η βαθμολόγηση.
Comment[es]=La ontología de anotaciones Nepomuk define las propiedades de anotación básicas como etiquetado o calificación.
Comment[fa]=هستی‌شناسی حاشیه‌نویسی Nepomuk، ویژگیهای حاشیه‌نویسی پایه‌ای نظیر برچسب‌گذاری یا درجه‌بندی را تعریف می‌کند.
Comment[ga]=Sainmhíníonn Ointeolaíocht Anótála Nepomuk na bunairíonna anótála cosúil le clibeáil nó rátáil.
Comment[nds]=Dat Anmarkenweeswark Nepomuk stellt de Grundegenschappen vun Anmarken as Steekwöör oder Beweerten praat.
Comment[nl]=De Nepomuk Annotatie Ontologie definieert de basis annotatie-eigenschappen zoals tagging en waardering.
Comment[pt]=A Ontologia de Anotações do Nepomukk define as propriedades de anotação básicas como a marcação ou a classificação.
Comment[pt_BR]=A Ontologia de Anotação Nepomuk define as propriedades básicas de anotação como tags e avaliações
Comment[sv]=Nepomuks beteckningsontologi definierar de grundläggande beteckningarna för egenskaper som taggning eller betygsättning.
Comment[zh_CN]=Nepomuk 注释实体定义了像标签或者等级这样的基本注释属性。
Comment[zh_TW]=Nepomuk Annotation Ontology 定義基本的 annotation 屬性，如標籤等。
URL=http://semanticdesktop.org/ontologies/2007/03/31/nao#
Path=nao.nrl
MimeType=application/rdf+xml
Type=Link
