[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=KNotify
Name[x-test]=xxKNotifyxx
Exec=knotify
Comment=KDE Notification Daemon
Comment[x-test]=xxKDE Notification Daemonxx
Icon=knotify
ServiceTypes=KNotify
X-DCOP-ServiceType=Unique
X-KDE-StartupNotify=false
