[Desktop Entry]
Type=Service
Name=KDED Cookie Jar Module
Name[af]=Kded Koekie Houer Module
Name[ar]=وحدة Jar لكعكة KDED
Name[as]=KDED Cookie Jar অংশ
Name[be]=Модуль "печыва" KDED
Name[be@latin]=Модуль "печыва" KDED
Name[bg]=Модул KDED Cookie Jar
Name[bn]=KDED কুকি জার মডিউল
Name[bn_IN]=KDED Cookie Jar মডিউল
Name[ca]=Mòdul Jar de galetes per al KDED
Name[cs]=KDED modul pro cookies
Name[csb]=Sprôwianié kùszkama
Name[cy]=Modiwl Jar Cwci KDED
Name[da]=KDED-cookie-jar-modul
Name[de]=Cookie-Verwaltung
Name[el]=Άρθρωμα Cookie Jar του KDED
Name[eo]=KDED-kuketotraktila modulo
Name[es]=Módulo Jar de cookies de KDED
Name[et]=KDED Cookie Jar moodul
Name[eu]=KDED Cookie Jar modulua
Name[fa]=پیمانۀ ظرف کوکی KDED
Name[fi]=KDED-evästemoduuli
Name[fr]=Module Jar de cookie KDED 
Name[fy]=KDED-module foar it bewarjen fan Koekjes
Name[ga]=Modúl Crúiscín Fianán KDED
Name[gl]=Módulo Jar de cookies de KDED
Name[gu]=KDED કૂકી જાર મોડ્યુલ
Name[he]=מודול צנצנת העוגיות של KDED
Name[hi]=केडीईडी कुकी जार मॉड्यूल
Name[hne]=केडीईडी कुकी जार माड्यूल
Name[hr]=KDED modul za čuvanje kolačića
Name[hsb]=KDED Plackowy modul
Name[hu]=KDED cookie-modul
Name[is]=KDED smákökukrukka
Name[it]=Modulo Jar dei cookie per KDED
Name[ja]=KDED クッキー Jar モジュール
Name[kk]=KDE cookie модулі
Name[km]=ម៉ូឌុល Jar ខូគី​នៃ KDED
Name[kn]=ಕೆಡಿಇಡಿ ಮಾಹಿತಿಚಿತ್ತಳಿ (ಕುಕೀ) ಜಾಡಿ (ಜಾರ್) ಘಟಕ
Name[ko]=KDED 쿠키병 모듈
Name[ku]=Modûla Jar yê KDED Cookie
Name[lb]=KDED-Modul fir d'Verwaltung vun de Cookien
Name[lt]=KDED slapukų rinkinio modulis
Name[lv]=KDED sīkdatņu Jar modulis
Name[mai]=केडीईडी कुकी जार मोड्यूल
Name[mk]=KDED модул Тегла со колачиња
Name[ml]=കെഡിഇഡി കുക്കി ജാര്‍ മൊഡ്യൂള്‍
Name[mr]=KDED कुकी जार विभाग
Name[ms]=Modul Balang Cecikut KDED
Name[nb]=KDEDs modul for informasjonskapsler (Cookie Jar)
Name[nds]=KDED-Kookjepleeg
Name[ne]=KDED कुकी जार मोड्युल
Name[nl]=KDED-module voor het opslaan van cookies
Name[nn]=KDED-infokapselmodul
Name[or]=KDED କୁକି ବିରୋଧି ଏକକାଂଶ
Name[pa]=KDED ਕੂਕੀਜ਼ Jar ਮੋਡੀਊਲ
Name[pl]=Zarządzanie ciasteczkami
Name[pt]=Módulo de 'Cookies' do KDED
Name[pt_BR]=Módulo de cookie Jar do KDED
Name[ro]=Modul Cookie JAR pentru KDED
Name[ru]=Служба cookie
Name[se]=KDED gáhkošlihtti-moduvla
Name[sk]=Modul pre cookies KDED
Name[sl]=Modul posode za piškotke KDED
Name[sr]=КДЕД модул тегле за колачиће
Name[sr@latin]=KDED modul tegle za kolačiće
Name[sv]=KDED-kakburksmodul
Name[ta]=KDED தற்காலிக நினைவக சாடி பகுதி
Name[te]=కెడిఈడి కుకీ జాడి మాడ్యూల్
Name[tg]=Модули KDED Cookie Jar
Name[th]=มอดูลโถคุกกี้ KDED
Name[tr]=KDED Cookie Jar Modülü
Name[uk]=Модуль глечика з куками KDED
Name[uz]=KDED kuki idish moduli
Name[uz@cyrillic]=KDED куки идиш модули
Name[vi]=Mô-đun Cookie Jar của KDED
Name[wa]=Module wårdeu d' coûkes di KDED
Name[x-test]=xxKDED Cookie Jar Modulexx
Name[xh]=Isicatshulwa se KDED Cookie Jar
Name[zh_CN]=KDED Cookie Jar 模块
Name[zh_HK]=KDED Cookie Jar 模組
Name[zh_TW]=KDED Cookie Jar 模組
Comment=Keeps track of all cookies in the system
Comment[af]=Hou tred van al die koekies in die stelsel
Comment[ar]=يتتبع جميع الكعكات الموجودة على النظام
Comment[as]=ব্যৱস্থাপ্ৰণালীৰ সকলো কুকিৰ পৰিচালনা কৰে
Comment[be]=Захоўвае звесткі пра "печыва"
Comment[be@latin]=Захоўвае звесткі пра "печыва"
Comment[bg]=Контрол над всички бисквитки в системата
Comment[bn]=সিস্টেমে সমস্ত কুকি-র খোঁজখবর রাখে
Comment[bn_IN]=সিস্টেম উপস্থিত সর্বধরনের কুকি সম্বন্ধে তথ্য নিরীক্ষণ করা হয়
Comment[ca]=Segueix totes les galetes en el sistema
Comment[cs]=Spravuje Cookies v počítači
Comment[csb]=Trzëmô wszëtczé kùszczi w systemie
Comment[da]=Holder styr på alle cookier på systemet
Comment[de]=Verwaltet die Cookies in KDE
Comment[el]=Διατηρεί αρχείο από όλα τα cookies στο σύστημα
Comment[eo]=Pririgardas ĉiujn kuketojn en la sistemo
Comment[es]=Mantiene un registro todas las cookies en el sistema
Comment[et]=Hoiab silma peal kõigil süsteemi küpsistel
Comment[eu]=Sistemaren cookie guztien jarraipena egiten du
Comment[fa]=رد همۀ کوکیها را در سیستم نگه می‌دارد
Comment[fi]=Seuraa järjestelmän evästeitä
Comment[fr]=Conserve une trace de tous les cookies dans le système
Comment[fy]=Hâld by wer alle koekjes binne
Comment[ga]=Coimeád gach fianán ar an gcóras
Comment[gl]=Mantén as pegadas de todas as cookies no sistema
Comment[gu]=સિસ્ટમની બધી કૂકીઓની નજર રાખે છે
Comment[he]=עוקב אחר כל העוגיות במערכת
Comment[hi]=तंत्र में सभी कुकी का अता-पता बनाए रखता है
Comment[hne]=तंत्र मं सब्बो कुकी के अता-पता बनाए रखथे 
Comment[hr]=Vođenje evidencije o svim kolačićima na sustavu
Comment[hsb]=Stara so wo wšě placki w systemje
Comment[hu]=Nyomon követi a rendszerben létrejövő cookie-kat
Comment[is]=Heldur utanum allar smákökur í kerfinu
Comment[it]=Tiene traccia di tutti i cookie del sistema
Comment[ja]=システムのすべてのクッキーを管理します
Comment[kk]=Жүйедегі бүкіл cookie файлдарды бақылау
Comment[km]=តាមដាន​ខូគី​ទាំងអស់​ក្នុង​ប្រព័ន្ធ
Comment[kn]=ವ್ಯವಸ್ಥೆಯಲ್ಲಿನ ಎಲ್ಲಾ ಮಾಹಿತಿಚಿತ್ತಳಿಗಳ (ಕುಕೀಸ್) ಬಗೆಗೂ ತಿಳಿದಿರುತ್ತದೆ
Comment[ko]=시스템의 모든 쿠키를 추적합니다
Comment[ku]=Nîşana hemû cookie ên di pergalê de digire
Comment[lb]=Iwwerwaacht all d'Cookie vum System
Comment[lt]=Seka visus slapukus sistemoje
Comment[lv]=Seko visām sistēmā esošajām sīkdatnēm
Comment[mai]=तंत्र मे सबहि कुकी क' अता-पता बनैने राखैत अछि
Comment[mk]=Води сметка за сите колачиња во системот
Comment[ml]=സിസ്റ്റത്തിലെ കുക്കികളുടെ കണക്കുവയ്ക്കുന്നു
Comment[mr]=प्रणालीवरील सर्व कुकींचे निरीक्षण करतो
Comment[ms]=Memerhati semua cecikut dalam sistem
Comment[nb]=Holder rede på alle informasjonskapsler i systemet
Comment[nds]=Passt all Kookjes in't Systeem
Comment[ne]=प्रणालीमा सबै कुकीको पदचिन्ह राख्दछ
Comment[nl]=Houdt alle cookies in het systeem bij
Comment[nn]=Held orden på infokapslane
Comment[or]=ତନ୍ତ୍ରରେ ଥିବା ସମସ୍ତ କୁକିଗୁଡିକୁ ନିୟନ୍ତ୍ରଣ କରୁଅଛି
Comment[pa]=ਸਿਸਟਮ ਦੇ ਸਾਰੇ ਕੂਕੀਜ਼ ਦਾ ਰਿਕਾਰਡ ਰੱਖੋ
Comment[pl]=Przechowuje wszystkie ciasteczka w systemie
Comment[pt]=Mantém um registo de todos os 'cookies' no sistema
Comment[pt_BR]=Mantém informações sobre todos os cookies do sistema
Comment[ro]=Administrează toate "cookie"-urile din sistem
Comment[ru]=Управление cookie
Comment[se]=Halddaša buot diehtočoahkuid
Comment[sk]=Sleduje všetky cookie v systéme
Comment[sl]=Opazuje vse piškotke v sistemu
Comment[sr]=Води евиденцију о свим колачићима на систему
Comment[sr@latin]=Vodi evidenciju o svim kolačićima na sistemu
Comment[sv]=Håller ordning på alla kakor i systemet
Comment[ta]=கணினியின் எல்லா தற்காலிக நினைவகங்களையும் கண்காணிக்கிறது
Comment[te]=వ్యవస్థలోని అన్ని కుకీల జాడని వుంచుకుంటుంది
Comment[tg]=Ҳамаи воридҳои cookies дар система ҳисоб мекунанд
Comment[th]=ใช้การติดตามคุกกี้ทั้งหมดในระบบ
Comment[tr]=Sistemdeki tüm çerezleri izler
Comment[uk]=Стежить за всіма куками в системі
Comment[uz]=Tizimdagi hamma kukilarni kuzatadi
Comment[uz@cyrillic]=Тизимдаги ҳамма кукиларни кузатади
Comment[vi]=Theo dõi các tập tin cookie trong hệ thống.
Comment[wa]=Wårder ene trace di totes les coûkes sol sistinme
Comment[x-test]=xxKeeps track of all cookies in the systemxx
Comment[zh_CN]=将全部 Cookie 的记录保存在系统中
Comment[zh_TW]=追蹤系統所有的 cookies
X-KDE-ServiceTypes=KDEDModule
Exec=kcookiejar4
X-DBUS-StartupType=Unique
X-KDE-StartupNotify=false
X-KDE-Library=kcookiejar
X-KDE-DBus-ModuleName=kcookiejar
X-KDE-Kded-autoload=false
X-KDE-Kded-load-on-demand=true
