[Desktop Entry]
Type=Service
Name=HTTP Cookie Jar
Name[ca]=Pot de cookies HTTP
Name[cs]=Úschovna HTTP cookie
Name[da]=Http infokagedåse
Name[de]=HTTP-Cookie-Behälter
Name[el]=Βαζάκι για Cookies
Name[eo]=HTTP-kuketo-traktilo
Name[es]=Bote de Galletas HTTP
Name[fi]=HTTP evästesäilö
Name[fr]=Gestionnaire de cookies HTTP
Name[gl]=Xestor de cookies HTTP
Name[he]=HTTP-ה תויגוע תנצנצ
Name[hr]=HTTP staklenica sa kolačićima
Name[hu]=HTTP cookie-tároló
Name[is]=HTTP Smákökubox
Name[ja]=HTTPクッキーJar
Name[mk]=Множество HTTP колачиња
Name[nl]=HTTP Cookie Depot
Name[no_NY]=HTTP-informasjonskapslar
Name[pl]=Słoik na ciasteczka HTTP
Name[pt]=Boião de 'cookies' HTTP
Name[sl]=Posoda s piškoti HTTP
Name[sv]=Kakburk för HTTP
Name[ta]=HTTP À½¢Â¡Ã ¡Ê
Name[tr]=HTTP Cookie Kutusu
Name[uk]=Глечик з куками HTTP
Exec=kcookiejar
X-DCOP-ServiceType=Unique
ServiceTypes=Daemon
