[Desktop Entry]
Name=KFileModule
Name[bg]=Модул KFile
Name[ca]=KFileModule
Name[en_GB]=KFileModule
Name[es]=KFileModule
Name[et]=KFileModule
Name[gl]=KFileModule
Name[hr]=KModulDatoteke
Name[id]=KFileModule
Name[is]=KFile eining
Name[kk]=KFileModule
Name[ko]=KFileModule
Name[ms]=KFileModule
Name[nb]=KFileModule
Name[nds]=K-Dateimoduul
Name[nl]=KFileModule
Name[pt]=KFileModule
Name[pt_BR]=KFileModule
Name[ro]=KFileModule
Name[sv]=Kfil-modul
Name[tr]=KFile Modülü
Name[uk]=KFileModule
Name[x-test]=xxKFileModulexx
Name[zh_TW]=KFile 模組
Comment=The default KDE file module providing the standard file dialog
Comment[bg]=Подразбиращият се файлов модул на KDE, осигуряващ стандартния диалогов прозорец за файлове
Comment[ca]=El mòdul de fitxers per defecte del KDE que proporciona el diàleg de fitxer estàndard
Comment[en_GB]=The default KDE file module providing the standard file dialogue
Comment[es]=El módulo de archivos por omisión de KDE que proporciona el diálogo de archivos estándar
Comment[et]=KDE vaikimisi failimoodul, mis pakub standardset failidialoogi
Comment[gl]=O módulo predeterminado de KDE para ficheiros, que fornece o diálogo estándar de ficheiros
Comment[hr]=Uobičajeni KDE modul za datoteke koji pruža standardni dijalog
Comment[id]=Modul berkas KDE standar menyediakan dialog berkas standar
Comment[is]=Sjálfgefna KDE skráareiningin sem sér um staðlaða skráagluggann
Comment[kk]=Стандартты файл диалогын қамтамасыз ететін KDE файл модулі
Comment[ko]=표준 파일 대화상자를 제공하는 기본 KDE 파일 모듈
Comment[nb]=KDE standard filmodul som skaffer standard fildialog
Comment[nds]=Dat KDE-Standarddateimoduul, dat den Standard-Dateidialoog praatstellt
Comment[nl]=De standaard KDE-bestandsmodule die de standaard bestandsdialoog levert
Comment[pt]=O módulo de ficheiros predefinido do KDE, que fornece a janela de ficheiros normal
Comment[pt_BR]=O módulo de arquivos padrão do KDE, que fornece o diálogo de arquivos padronizado
Comment[ro]=Modulul de fișier KDE implicit, furnizînd dialogul standard de fișiere
Comment[sv]=KDE:s standardmodul för filer som tillhandahåller standarddialogrutan för filer
Comment[tr]=Standart dosya penceresini sağlayan KDE öntanımlı dosya modülü
Comment[uk]=Типовий модуль KDE, що забезпечує роботу стандартного діалогового вікна роботи з файлами
Comment[x-test]=xxThe default KDE file module providing the standard file dialogxx
Comment[zh_TW]=預設的 KDE 檔案模組，提供標準檔案對話框
X-KDE-ServiceTypes=KIO/FileModule
Type=Service
X-KDE-Library=kfilemodule

