[Desktop Entry]
Encoding=UTF-8
Type=ServiceType
X-KDE-ServiceType=DCOP/Text-to-Speech
Comment=Text-to-Speech Service with a DCOP interface
Comment[bg]=Синтез на глас с интерфейс DCOP
Comment[ca]=Servei de síntesi de veu amb una interfície DCOP
Comment[cy]=Gwasanaeth Testun-i-Lafar efo rhyngwyneb DCOP
Comment[da]=Tekst-til-tale tjeneste med DCOP-græbseflade
Comment[de]=Sprachausgabe mit DCOP-Schnittstelle
Comment[et]=Teksti kõneks muutmise teenus DCOP liidesega
Comment[hsb]=konwertowanje teksta na rěč z DCOP-interfejsom
Comment[hu]=Szövegfelolvasó szolgáltatás DCOP-felülettel
Comment[is]=Texti-í-tal þjónusta með DCOP viðmóti
Comment[lt]=Teksto vertimo kalba tarnyba su DCOP sąsaja
Comment[nb]=Tekst til tale-program med DCOP-grensesnitt
Comment[nl]=Tekst-tot-spraak-dienst met een DCOP interface
Comment[nn]=Tekst-til-tale-teneste med DCOP-grensesnitt
Comment[pt]=Servidor Texto-para-Voz com interface DCOP
Comment[pt_BR]=Serviço de conversão de texto para fala com uma interface DCOP
Comment[ru]=Сервис синтеза речи с интерфейсом DCOP
Comment[sl]=Servis, ki spremeni besedilo v govor, z vmesnikom DCOP
Comment[sv]=Text till tal-tjänst med ett DCOP-gränssnitt
Comment[uk]=Служба синтезу мовлення з інтерфейсом DCOP
Comment[xx]=xxText-to-Speech Service with a DCOP interfacexx
