<!DOCTYPE kpartgui>
<kpartgui name="Part">
<MenuBar>
 <Menu name="file"><Text>&amp;File</Text>
  <Action name="p1_blah"/>
 </Menu>
 <Menu name="Part1Menu"><text>Part1's Menu</text>
  <Action name="p1_blah"/>
  <Menu name="Part1Sub"><text>Stupid Submenu</text>
   <Action name="p1_blah"/>
  </Menu>
 </Menu>
</MenuBar>
<ToolBar name="Part1-ToolBar">
 <Action name="p1_blah"/>
</ToolBar>
<StatusBar/>
</kpartgui>
