[Desktop Entry]
Encoding=UTF-8
Type=Service
Comment=Embeddable Personal Certificate Manager
MimeType=application/x-pkcs12;application/x-x509-ca-cert;application/binary-certificate;
Icon=lock
Name=KCertPart
ServiceTypes=KParts/ReadWritePart
X-KDE-Library=libkcertpart
InitialPreference=15
