[Desktop Entry]
Encoding=UTF-8
Exec=kcmshell kcm_phonon
Icon=preferences-desktop-sound
Type=Service
ServiceTypes=KCModule
X-DocPath=kcontrol/phonon/index.html

X-KDE-Library=kcm_phonon
X-KDE-FactoryName=kcm_phonon
X-KDE-ParentApp=kcontrol
X-KDE-System-Settings-Parent-Category=computer-administration

Name=Sound
Name[ga]=Fuaim
Name[nds]=Klang
Name[sv]=Ljud
Comment=Sound System Configuration
Comment[ar]=ضبط نظام الصوت
Comment[ca]=Configuració del sistema de so
Comment[csb]=Systemòwé òdkôzanié w KDE
Comment[de]=Sound-System-Einrichtung
Comment[el]=Ρύθμιση συστήματος ήχου
Comment[es]=Configuración del sistema de sonido
Comment[fa]=پیکربندی سیستم صوت
Comment[ga]=Cumraíocht an Chórais Fuaime
Comment[he]=הגדרות מערכת הצליל
Comment[hu]=Hangrendszer-beállítás
Comment[ja]=サウンドシステムの設定
Comment[kk]=Дыбыстық жүйе баптауы
Comment[kn]=ಧ್ವನಿ ವ್ಯವಸ್ಥೆಯ ಸಂರಚನೆ
Comment[ko]=사운드 시스템 설정
Comment[lv]=Skaņas sistēmas konfigurācija
Comment[nds]=Klangsysteem instellen
Comment[ne]=ध्वनि प्रणाली कन्फिगरेसन
Comment[nl]=Geluidssysteem instellen
Comment[pa]=ਸਾਊਂਡ ਸਿਸਟਮ ਸੰਰਚਨਾ
Comment[pt]=Configuração do Sistema de Som
Comment[pt_BR]=Configurações do Sistema de Som
Comment[sl]=Nastavitev zvočnega sistema
Comment[sv]=Ljudsysteminställning
Comment[te]=శబ్ద వ్యవస్థ అమరిక
Comment[th]=การปรับแต่งระบบเสียง
Comment[vi]=Cấu hình Hệ thống Âm thanh
Comment[x-test]=xxSound System Configurationxx
Comment[zh_CN]=声音系统配置
Comment[zh_TW]=聲音系統設定
Keywords=Sound,Phonon,Audio,Video,Output,Device,Notification,Music,Communication,Media,NMM,GStreamer,Xine
Keywords[ar]=Sound,Phonon,Audio,Video,Output,Device,Notification,Music,Communication,Media,NMM,GStreamer,Xine,صوت,فونون,سمع,فيديو,مرئية,جهاز,تبليغ,اتصال,وسائط,
Keywords[ca]=So,Phonon,Àudio,Vídeo,Sortida,Dispositiu,Notificació,Música,Comunicació,Suport,NMM,GStreamer,Xine
Keywords[el]=Ήχος,Βίντεο,Έξοδος,Συσκευή,Ειδοποίηση,Μουσική,Μέσα,Sound,Phonon,Audio,Video,Output,Device,Notification,Music,Communication,Media,NMM,GStreamer,Xine
Keywords[es]=Sonido,Phonon,Audio,Vídeo,Salida,Dispositivo,Notificación,Música,Comunicación,Medios,NMM,GStreamer,Xine
Keywords[fa]=صوت، Phonon، صوتی، ویدئویی، خروجی، دستگاه، اخطار، موسیقی، ارتباط، رسانه، NMM، GStreamer، Xine
Keywords[ga]=Fuaim,Phonon,Fís,Aschur,Gléas,Fógairt,Ceol,Cumarsáid,Meáin,NMM,GStreamer,Xine
Keywords[he]=צליל,Phonon,שמע,וידאו,פלט,התקן,הודעות,מוזיקה,תקשורת,מדיה,NMM,GStreamer,Xine
Keywords[hu]=hang,Phonon,audió,vidó,kimenet,eszköz,értesítés,zene,kommunikáció,média,NMM,GStreamer,Xine
Keywords[ja]=サウンド,Phonon,オーディオ,ビデオ,動画,出力,デバイス,通知,音楽,通信,メディア,NMM,GStreamer,Xine
Keywords[ko]=소리,Phonon,오디오,비디오,출력,알림,음악,미디어,Xine,GStreamer
Keywords[nds]=Klang,Phonon,Audio,Video,Utgaav,Reedschap,Bescheed,Musik,Kommunikatschoon,Medien,NMM,GStreamer,Xine
Keywords[nl]=Sound,Phonon,Audio,Video,Output,Device,Notification,Music,Communication,Media,NMM,GStreamer,Xine,Geluid,Muziek,Communicatie,Uitvoer
Keywords[pt]=Som,Phonon,Áudio,Vídeo,Saída,Dispositivo,Notificação,Música,Comunicação,Multimédia,NMM,GStreamer,Xine
Keywords[pt_BR]=Som,Phonon,Audio,Vídeo,Saída,Dispositivo,Notificação,Música,Comunicação,Mídia,NMM,GStreamer,Xine
Keywords[sl]=zvok,Phonon,audio,avdio,video,izhod,naprava,glasba,komunikacija,NMM,GStreamer,Xine,obvestila
Keywords[sv]=Ljud,Phonon,video,utmatning,enhet,underrättelse,musik,kommunikation,media,NMM,GStreamer,Xine
Keywords[th]=เสียง,Phonon,เสียง,วิดีโอ,แสดงผล,อุปกรณ์,การแจ้งเตือน,ดนตรี,การสื่อสาร, สื่อ,NMM,Gstreamer,Xine
Keywords[vi]=Sound,Âm thanh,Phonon,Phô-non,Audio,Video,Ảnh động,Output,Xuất,Device,Thiết bị,Notification,Thông báo,Music,Nhạc,Communication,Liên lạc,Giao thông,Media,Vật chứa,Phương tiện,NMM,GStreamer,Xine
Keywords[x-test]=xxSound,Phonon,Audio,Video,Output,Device,Notification,Music,Communication,Media,NMM,GStreamer,Xinexx
