[Desktop Entry]
Exec=kcmshell4 kcm_phonon
Icon=preferences-desktop-sound
Type=Service
X-KDE-ServiceTypes=KCModule
X-DocPath=kcontrol/phonon/index.html

X-KDE-Library=kcm_phonon
X-KDE-FactoryName=kcm_phonon
X-KDE-ParentApp=kcontrol
X-KDE-System-Settings-Parent-Category=computer-administration

Name=Sound
Name[be]=Гук
Name[bg]=Звук
Name[bn_IN]=শব্দ
Name[br]=Son
Name[ca]=So
Name[cs]=Zvuk
Name[csb]=Zwãk
Name[el]=Ήχος
Name[eo]=Sono
Name[es]=Sonido
Name[et]=Heli
Name[eu]=Soinua
Name[fi]=Ääni
Name[fr]=Son
Name[ga]=Fuaim
Name[gl]=Son
Name[hi]=ध्वनि
Name[hu]=Hang
Name[is]=Hljóð
Name[it]=Suono
Name[ja]=サウンド
Name[kk]=Дыбыс
Name[km]=សំឡេង
Name[ko]=소리
Name[ku]=Deng
Name[lv]=Skaņa
Name[mk]=Звук
Name[nb]=Lyd
Name[nds]=Klang
Name[ne]=ध्वनि
Name[nl]=Geluid
Name[nn]=Lyd
Name[oc]=Son
Name[pa]=ਸਾਊਂਡ
Name[pl]=Dźwięk
Name[pt]=Som
Name[pt_BR]=Som
Name[ru]=Звук
Name[se]=Jietna
Name[sl]=Zvok
Name[sr]=Звук
Name[sr@latin]=Zvuk
Name[sv]=Ljud
Name[ta]=ஒலி
Name[tg]=Овоз
Name[th]=เสียง
Name[tr]=Ses
Name[uk]=Звук
Name[wa]=Son
Name[x-test]=xxSoundxx
Name[zh_CN]=声音
Name[zh_TW]=音效
Comment=Sound System Configuration
Comment[ar]=ضبط نظام الصوت
Comment[be]=Настаўленні гукавай сістэмы
Comment[bg]=Системни съобщения
Comment[bn_IN]=শব্দের ব্যবস্থা কনফিগারেশনের প্রণালী
Comment[br]=Kefluniadur ar reizhiad son
Comment[ca]=Configuració del sistema de so
Comment[cs]=Nastavení zvukového systému
Comment[csb]=Systemòwé òdkôzanié w KDE
Comment[de]=Sound-System-Einrichtung
Comment[el]=Ρύθμιση συστήματος ήχου
Comment[eo]=Sonsistema agordo
Comment[es]=Configuración del sistema de sonido
Comment[et]=Helisüsteemi seadistamine
Comment[eu]=Soinu sistema konfigurazioa
Comment[fa]=پیکربندی سیستم صوت
Comment[fi]=Äänijärjestelmän hallinta
Comment[fr]=Configuration du système de son
Comment[ga]=Cumraíocht an Chórais Fuaime
Comment[gl]=Configuración do sistema de son
Comment[he]=הגדרות מערכת הצליל
Comment[hi]=ध्वनि तंत्र कॉनफ़िगरेशन
Comment[hu]=Hangrendszer-beállítás
Comment[is]=Stillingar hljóðkerfisins
Comment[it]=Configurazione sistema sonoro
Comment[ja]=サウンドシステムの設定
Comment[kk]=Дыбыстық жүйе баптауы
Comment[km]=ការ​កំណត់​រចនា​សម្ព័ន្ធ​ប្រព័ន្ធ​សំឡេង
Comment[kn]=ಧ್ವನಿ ವ್ಯವಸ್ಥೆಯ ಸಂರಚನೆ
Comment[ko]=사운드 시스템 설정
Comment[lv]=Skaņas sistēmas konfigurācija
Comment[mk]=Конфигурација на системот за звук
Comment[nb]=Oppsett av lydsystemet
Comment[nds]=Klangsysteem instellen
Comment[ne]=ध्वनि प्रणाली कन्फिगरेसन
Comment[nl]=Geluidssysteem instellen
Comment[nn]=Oppsett av lydsystem
Comment[pa]=ਸਾਊਂਡ ਸਿਸਟਮ ਸੰਰਚਨਾ
Comment[pl]=Konfiguracja systemu dźwięku
Comment[pt]=Configuração do Sistema de Som
Comment[pt_BR]=Configurações do Sistema de Som
Comment[ru]=Настройка звуковой подсистемы
Comment[se]=Heivet jietnavuogádaga
Comment[sl]=Nastavitev zvočnega sistema
Comment[sr]=Постава звучног система
Comment[sr@latin]=Postava zvučnog sistema
Comment[sv]=Ljudsysteminställning
Comment[ta]=ஒலி வடிவமைப்பு
Comment[te]=శబ్ద వ్యవస్థ అమరిక
Comment[tg]=Танзимоти Системаи Овоз
Comment[th]=การปรับแต่งระบบเสียง
Comment[tr]=Ses Sistemi Yapılandırması
Comment[uk]=Налаштування системи звуку
Comment[vi]=Cấu hình Hệ thống Âm thanh
Comment[wa]=Apontiaedje do sistinme di son
Comment[x-test]=xxSound System Configurationxx
Comment[zh_CN]=声音系统配置
Comment[zh_TW]=聲音系統設定
X-KDE-Keywords=Sound,Phonon,Audio,Video,Output,Device,Notification,Music,Communication,Media,NMM,GStreamer,Xine
X-KDE-Keywords[ar]=Sound,Phonon,Audio,Video,Output,Device,Notification,Music,Communication,Media,NMM,GStreamer,Xine,صوت,فونون,سمع,فيديو,مرئية,جهاز,تبليغ,اتصال,وسائط,
X-KDE-Keywords[ca]=So,Phonon,Àudio,Vídeo,Sortida,Dispositiu,Notificació,Música,Comunicació,Suport,NMM,GStreamer,Xine
X-KDE-Keywords[el]=Ήχος,Βίντεο,Έξοδος,Συσκευή,Ειδοποίηση,Μουσική,Μέσα,Sound,Phonon,Audio,Video,Output,Device,Notification,Music,Communication,Media,NMM,GStreamer,Xine
X-KDE-Keywords[es]=Sonido,Phonon,Audio,Vídeo,Salida,Dispositivo,Notificación,Música,Comunicación,Medios,NMM,GStreamer,Xine
X-KDE-Keywords[et]=Heli,Phonon,Audio,Video,Väljund,Seade,Märguanne,Muusika,Suhtlemine,Meedia,NMM,GStreamer,Xine
X-KDE-Keywords[fa]=صوت، Phonon، صوتی، ویدئویی، خروجی، دستگاه، اخطار، موسیقی، ارتباط، رسانه، NMM، GStreamer، Xine
X-KDE-Keywords[ga]=Fuaim,Phonon,Fís,Aschur,Gléas,Fógairt,Ceol,Cumarsáid,Meáin,NMM,GStreamer,Xine
X-KDE-Keywords[he]=צליל,Phonon,שמע,וידאו,פלט,התקן,הודעות,מוזיקה,תקשורת,מדיה,NMM,GStreamer,Xine
X-KDE-Keywords[hu]=hang,Phonon,audió,vidó,kimenet,eszköz,értesítés,zene,kommunikáció,média,NMM,GStreamer,Xine
X-KDE-Keywords[it]=Suono,Phonon,Audio,Video,Output,Dispositivo,Notifica,Musica,Comunicazione,Supporto,Media,NMM,GStreamer,Xine
X-KDE-Keywords[ja]=サウンド,Phonon,オーディオ,ビデオ,動画,出力,デバイス,通知,音楽,通信,メディア,NMM,GStreamer,Xine
X-KDE-Keywords[ko]=소리,Phonon,오디오,비디오,출력,알림,음악,미디어,Xine,GStreamer
X-KDE-Keywords[lv]=Skaņa,Phonon,Audio,Video,Izvade,Iekārta,Paziņojums,Mūzika,Komunikācijas,Mēdiji,NMM,GStreamer,Xine
X-KDE-Keywords[nb]=Lyd,Phonon,Audio,Video,Utgang,Enhet,Varsling,Musikk,Kommunikasjon,Media,NMM,GStreamer,Xine
X-KDE-Keywords[nds]=Klang,Phonon,Audio,Video,Utgaav,Reedschap,Bescheed,Musik,Kommunikatschoon,Medien,NMM,GStreamer,Xine
X-KDE-Keywords[nl]=Sound,Phonon,Audio,Video,Output,Device,Notification,Music,Communication,Media,NMM,GStreamer,Xine,Geluid,Muziek,Communicatie,Uitvoer
X-KDE-Keywords[nn]=Lyd,Phonon,Audio,Video,Utgang,Eining,Varsling,Musikk,Kommunikasjon,Media,Medium,NMM,GStreamer,Xine,Volum
X-KDE-Keywords[pt]=Som,Phonon,Áudio,Vídeo,Saída,Dispositivo,Notificação,Música,Comunicação,Multimédia,NMM,GStreamer,Xine
X-KDE-Keywords[pt_BR]=Som,Phonon,Audio,Vídeo,Saída,Dispositivo,Notificação,Música,Comunicação,Mídia,NMM,GStreamer,Xine
X-KDE-Keywords[sl]=zvok,Phonon,audio,avdio,video,izhod,naprava,glasba,komunikacija,NMM,GStreamer,Xine,obvestila
X-KDE-Keywords[sr]=Sound,Phonon,Audio,Video,Output,Device,Notification,Music,Communication,Media,NMM,GStreamer,Xine,Фонон,звук,аудио,видео,излаз,уређај,обавештења,музика,комуникација,медија,Ксине,Гстример
X-KDE-Keywords[sr@latin]=Sound,Phonon,Audio,Video,Output,Device,Notification,Music,Communication,Media,NMM,GStreamer,Xine,Phonon,zvuk,audio,video,izlaz,uređaj,obaveštenja,muzika,komunikacija,medija,Xine,GStreamer
X-KDE-Keywords[sv]=Ljud,Phonon,video,utmatning,enhet,underrättelse,musik,kommunikation,media,NMM,GStreamer,Xine
X-KDE-Keywords[ta]=ஓசை,போஃனான்,பதிவொலி,பதிவொளி,வெளியீடு,கருவி,அறிவிப்பு,இசை,தகவல் பரிமாற்றம்,ஊடகம்,என்எம்எம்,ஜிஸ்டரீமர்,ஸைைன்
X-KDE-Keywords[th]=เสียง,Phonon,เสียง,วิดีโอ,แสดงผล,อุปกรณ์,การแจ้งเตือน,ดนตรี,การสื่อสาร, สื่อ,NMM,Gstreamer,Xine
X-KDE-Keywords[vi]=Sound,Âm thanh,Phonon,Phô-non,Audio,Video,Ảnh động,Output,Xuất,Device,Thiết bị,Notification,Thông báo,Music,Nhạc,Communication,Liên lạc,Giao thông,Media,Vật chứa,Phương tiện,NMM,GStreamer,Xine
X-KDE-Keywords[wa]=son,Phonon,odio,videyo,rexhowe,éndjin,notifiaedje,muzike,comunicåcion,media,medias,NMM,GStreamer,Xine
X-KDE-Keywords[x-test]=xxSound,Phonon,Audio,Video,Output,Device,Notification,Music,Communication,Media,NMM,GStreamer,Xinexx
X-KDE-Keywords[zh_CN]=Sound,Phonon,Audio,Video,Output,Device,Notification,Music,Communication,Media,NMM,GStreamer,Xine,声音,音频,输出,设备,通知,音乐,通讯,媒体
