[Desktop Entry]
Encoding=UTF-8
Type=ServiceType
X-KDE-ServiceType=KDEDModule
Comment=KDED Module
Comment[fr]=Module KDED
Comment[x-test]=xxKDED Modulexx
[PropertyDef::X-KDE-FactoryName]
Type=QString
[PropertyDef::X-KDE-Kded-autoload]
Type=bool
[PropertyDef::X-KDE-Kded-load-on-demand]
Type=bool
