[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=BZip2 Filter
Name[af]=bzip2 filter
Name[ar]=فلتر BZip2
Name[az]=BZip2 Süzgəci
Name[be]=Фільтар BZip2
Name[bg]=bzip2 филтър
Name[cs]=Filtr BZip2
Name[da]=BZip2-filter
Name[de]=BZip2-Filter
Name[el]=Φίλτρο BZip2
Name[eo]=Bzip2-filtrilo
Name[es]=Filtro BZip2
Name[et]=BZip2 filter
Name[eu]=BZip2 Iragazki
Name[fi]=BZip2-suodin
Name[fr]=Filtre Bzip2
Name[gl]=Filtro BZip2
Name[he]=מסנן BZip2
Name[hu]=BZip2 szűrő
Name[id]=Filter BZip2
Name[is]=BZip2 sía
Name[it]=Filtro BZip2
Name[ja]=BZip2フィルタ
Name[ko]=BZip2 거르개
Name[lt]=BZip2 filtras
Name[lv]=BZip2 Filtrs
Name[mt]=Filtru BZip2
Name[nb]=BZip2-filter
Name[nl]=BZip2-filter
Name[nn]=BZip2-filter
Name[pl]=Filtr BZip2
Name[pt]=Filtro do Bzip2
Name[pt_BR]=Filtro BZip2
Name[ro]=Filtru BZip2
Name[ru]=Фильтр bzip2
Name[sk]=BZip2 filter
Name[sl]=Filter za bzip2
Name[sr]=BZip2 filter
Name[sv]=Bzip2-filter
Name[ta]=BZip2 ÅÊ¸ðÊ
Name[th]=ตัวกรอง BZip2
Name[tr]=BZip2 Filtresi
Name[uk]=Фільтр BZip2
Name[ven]=Filithara ya BZip2
Name[vi]=Trình lọc BZip2
Name[xh]=BZip2 Icebo lokucoca ulwelo
Name[xx]=xx
Name[zh_CN]=BZip2 过滤
Name[zh_TW]=BZip2 過濾器
Name[zu]=BZip2 Icebo Lokuhlanza
X-KDE-Library=kbzip2filter
ServiceTypes=KDECompressionFilter,application/x-bzip2,application/x-tbz
