<!DOCTYPE kpartgui ><kpartgui version="31" name="Konqueror" >
 <ToolBar newline="true" name="mainToolBar" fullWidth="true" >
  <text>Main Toolbar</text>
  <Merge/>
  <Action name="splitviewh" />
 </ToolBar>
</kpartgui>
