[Desktop Entry]
Encoding=UTF-8
Name=LDAP
Name[bn]=এল-ডি-এ-পি (LDAP)
Name[hi]=एलडीएपी (LDAP)
X-KDE-Library=kabc_ldapkio
Type=Service
ServiceTypes=KResources/Plugin
X-KDE-ResourceFamily=contact
X-KDE-ResourceType=ldapkio
