[Desktop Entry]
Encoding=UTF-8
Version=1.0
Name=The DCMI Types
Name[de]=Die DCMI-Typen
Name[el]=Οι τύποι DCMI
Name[es]=Los tipos DCMI
Name[zh_TW]=DCMI 型態
Comment=The Dublin Core Types namespace provides URIs for the entries of the DCMI Type Vocabulary.
Comment[de]=Der Namensraum der Dublin Core Types stellt URIs für die Einträge des DCMI-Typ-Vokabulars bereit.
Comment[el]=Ο χώρος ονομάτων τύπων Dublin Core προσφέρει URI των καταχωρήσεων του λεξικού τύπων DCMI.
Comment[es]=El espacio de nombres Dublin Core proporciona URI para las entradas del vocabulario de tipos DCMI.
Comment[zh_TW]=Dublin 核心型態命名空間提供了 DCMI 型態字彙的項目的 URI
URL=http://purl.org/dc/dcmitype/
Path=dctype.rdf
MimeType=application/rdf+xml
Type=Link
