[Desktop Entry]
Encoding=UTF-8
Version=1.0
Name=Nepomuk Annotation Ontology
Comment=The Nepomuk Annotation Ontology defines the basic annotation properties like tagging or rating.
URL=http://semanticdesktop.org/ontologies/2007/03/31/nao
Path=nao.nrl
MimeType=application/rdf+xml
Type=Link
