[Desktop Entry]
Comment=Printer
Comment[az]=Çap Edici
Comment[cs]=Tiskárna
Comment[de]=Drucker
Comment[eo]=Presilo
Comment[es]=Impresora
Comment[fi]=Tulostin
Comment[fr]=Imprimante
Comment[he]=תספדמ
Comment[hu]=Nyomtató
Comment[is]=Prentari
Comment[it]=Stampante
Comment[ja]=プリンター
Comment[ko]=프린터
Comment[lt]=Spausdintuvas
Comment[lv]=Drukas Iekārta
Comment[nl]=printer
Comment[no]=Skriver
Comment[no_NY]=Skrivar
Comment[pl]=Drukarka
Comment[pt_BR]=Impressora
Comment[pt]=Impressora
Comment[sk]=Tlačiareň
Comment[sl]=Tiskalnik
Comment[sr]=Štampač
Comment[sv]=Skrivare
Comment[ta]=«îÍô¦À¡È¢
Comment[tr]=Yazıcı
Comment[uk]=Принтер
Comment[wa]=Sicrirece
Comment[xh]=Umshicileli
Comment[zh_CN.GB2312]=打印机
Icon=print_printer
Type=MimeType
MimeType=print/printer
Patterns=
