[Desktop Entry]
Type=Service
Exec=/bin/false
Name=PostgreSQL
Comment=kdbcore database plugin for PostgreSQL
Comment[az]=PostgreSQL üçün kdbcore databeyz əlavəsi
Comment[ca]=Endollat de base de dades PostgreSQL kdbcore
Comment[cs]=Databázový modul KDBCore pro PostgreSQL
Comment[da]=kdbcore database indstik for PostgreSQL
Comment[de]=Datenbank-Plugin für PostgreSQL
Comment[el]=kdbcore database plugin για PostgreSQL
Comment[eo]=kdbcore datumbaza kromaĵo por PostgreSQL
Comment[es]=Plugin de la base de datos Kdbcore para PostgreSQL
Comment[et]=kdbcore andmebaasi plugin PostgreSQL serverile
Comment[fi]=kdbcore tietokantasovelma PostgreSQL
Comment[fr]=Module kdbcore de base de données pour PostgreSQL
Comment[he]=PostgreSQL לש םינותנ יסיסבל kdbcore עקת ןקתה
Comment[hu]=kdbcore adatbázis-kezelő beilleszkedő modul PostgreSQL-hez
Comment[is]=kdbcore gagnagrunnstenging við PostgreSQL
Comment[it]=Plugin database kdbcore per PostgreSQL
Comment[ja]=PostgreSQL用の KDBコアデータベースプラグイン
Comment[ko]=kdbcore 포스트그레스 데이타베이스 플러그인
Comment[lt]=kdbcore duombazės priedas PostgreSQL
Comment[lv]=PostgreSQL kdbcore datubāzes iespraudnis
Comment[nl]=kdbcore database plugin voor PostgreSQL
Comment[no_NY]=kdbcore database-modul for PostgreSQL
Comment[pt]='plugin' de bases de dados PostgreSQL para o kdbcore
Comment[pt_BR]=Plug-in de banco de dados kdbcore para PostgreSQL
Comment[ro]=Modul bază de date KDBcore pentru PostgreSQL
Comment[ru]=Плагин базы данных kdbcore для PostgreSQL
Comment[sk]=Kdbcore databázový plugin pre PostgreSQL
Comment[sl]=Vstavek kdbcore za zbirko podatkov PostgreSQL
Comment[sr]=kdbcore database plugin za PostgreSQL
Comment[sv]=kdbcore insticksprogram för PostgreSQL-databas
Comment[ta]=PostgreSQLs'ü¸¡É kdbcore ¸Åø¾Çî ¦ºÕ¸ø
Comment[tr]=PostgreSQL için kdbcore veritabanı eklentisi
Comment[uk]=додаток kdbcore бази даних для PostgreSQL
Comment[zh_CN.GB2312]=kdbcore PostgreSQL 数据库插件
Comment[zh_TW.Big5]=PostgreSQL 的 kdbcore 資料庫外掛程式
MimeType=inode/directory
ServiceTypes=KDB/DBPlugin
X-KDE-Library=libkdb_postgres
