[Desktop Entry]
Encoding=UTF-8
Type=Service
ServiceTypes=SolidBluetoothManager
X-KDE-Library=solid_fakebluetooth
InitialPreference=10
Icon=system
Name=Fake Bluetooth
Comment=Fake Bluetooth Management
