[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=GZip Filter
Name[af]=gzip filter
Name[ar]=فلتر GZip
Name[az]=GZip Süzgəci
Name[be]=Фільтар GZip
Name[bg]=gzip филтър
Name[cs]=Filtr GZip2
Name[da]=GZip-filter
Name[de]=GZip-Filter
Name[el]=Φίλτρο GZip
Name[eo]=GZip-filtrilo
Name[es]=Filtro GZip
Name[et]=GZip filter
Name[eu]=GZip Iragazki
Name[fi]=GZip-suodin
Name[fr]=Filtre Gzip
Name[gl]=Filtro GZip
Name[he]=מסנן GZip
Name[hu]=GZip szűrő
Name[id]=Filter Gzip
Name[is]=GZip sía
Name[it]=Filtro GZip
Name[ja]=GZipフィルタ
Name[ko]=GZip 거르개
Name[lt]=GZip filtras
Name[lv]=GZip Filtrs
Name[mt]=Filtru GZip
Name[nb]=GZip-filter
Name[nl]=GZip-filter
Name[nn]=GZip-filter
Name[pl]=Filtr GZipa
Name[pt]=Filtro GZip
Name[pt_BR]=Filtro GZip
Name[ro]=Filtru GZip
Name[ru]=Фильтр gzip
Name[sk]=GZip filter
Name[sl]=Filter za gzip
Name[sr]=GZip filter
Name[sv]=Gzip-filter
Name[ta]=GZip ÅÊ¸ðÊ
Name[th]=ตัวกรอง GZip
Name[tr]=GZip Filtresi
Name[uk]=Фільтр GZip
Name[ven]=Filithara ya GZip
Name[vi]=Trình lọc Gzip
Name[xh]=GZip Icebo lokucoca ulwelo
Name[xx]=xx
Name[zh_CN]=GZip 过滤
Name[zh_TW]=GZip 過濾器
Name[zu]=GZip Icebo lokuhlanza
X-KDE-Library=kgzipfilter
ServiceTypes=KDECompressionFilter,application/x-gzip,application/x-tgz
