[Desktop Entry]
Encoding=UTF-8
Type=MimeType
MimeType=uri/pnm
Icon=video
Comment=pnm: URIs
Comment[br]=URIoù pnm:
Comment[cs]=pnm: URI
Comment[da]=pnm: URI'er
Comment[et]=pnm: URI-d
Comment[eu]=pnm: URIak
Comment[fi]=pnm: URI
Comment[fr]=URIs pnm:
Comment[fy]=pnm: URI-adresse
Comment[hu]=pnm: URI-k
Comment[is]=pnm: slóðir
Comment[it]=URI pnm:
Comment[lt]=pnm: URI
Comment[nb]=pnm: nettadresse
Comment[nl]=pnm: URI-adressen
Comment[nn]=pnm:-URI-ar
Comment[pl]=pnm: URI
Comment[pt]=URIs pnm:
Comment[pt_BR]=URIs do tipo pnm:
Comment[ro]=URI-uri pnm:
Comment[ru]=pnm: ссылки
Comment[sk]=URI typu pnm:
Comment[sl]=pnm: URI-ji
Comment[sr]=pnm: URI-ији
Comment[sr@Latn]=pnm: URI-iji
Comment[sv]=pnm: webbadresser
Comment[tr]=pnm: adresi
Comment[uk]=pnm: URI
Comment[xx]=xxpnm: URIsxx
Comment[zh_CN]=pnm: URI
