[Desktop Entry]
Encoding=UTF-8
Type=MimeType
MimeType=uri/pnm
Icon=video
Comment=pnm: URIs
Comment[da]=pnm: URI'er
Comment[et]=pnm: URI-d
Comment[hu]=pnm: URI-k
Comment[is]=pnm: slóðir
Comment[it]=URI pnm:
Comment[lt]=pnm: URI
Comment[nb]=pnm: nettadresse
Comment[nl]=pnm: URI-adressen
Comment[nn]=pnm:-URI-ar
Comment[pt]=URIs pnm:
Comment[pt_BR]=URIs do tipo pnm:
Comment[ru]=pnm: ссылки
Comment[sv]=pnm: webbadresser
Comment[uk]=pnm: URI
Comment[xx]=xxpnm: URIsxx
