[Desktop Entry]
Encoding=UTF-8
Type=MimeType
MimeType=uri/rtspt
Icon=video
Comment=rtspt: URIs
Comment[br]=URIoù rtspt:
Comment[cs]=rtspt: URI
Comment[da]=rtspt: URI'er
Comment[et]=rtspt: URI-d
Comment[eu]=rtspt: URIak
Comment[fi]=rtspt: URI
Comment[fr]=URIs rtspt:
Comment[fy]=rtspt: URI-adresse
Comment[hu]=rtspt: URI-k
Comment[is]=rtspt: slóðir
Comment[it]=URI rtspt:
Comment[lt]=rtspt: URI
Comment[nb]=rtspt: nettadresse
Comment[nl]=rtspt: URI-adressen
Comment[nn]=rtspt:-URI-ar
Comment[pa]=rtspt: URI
Comment[pl]=rtspt: URI
Comment[pt]=URIs rtspt:
Comment[pt_BR]= URIs do tipo rtspt:
Comment[ro]=URI-uri rtspt:
Comment[ru]=rtspt: ссылки
Comment[se]=rtspt:-URI:at
Comment[sk]=URI typu rtspt:
Comment[sl]=rtspt: URI-ji
Comment[sr]=rtspt: URI-ији
Comment[sr@Latn]=rtspt: URI-iji
Comment[sv]=rtspt: webbadresser
Comment[tg]=rtspt: URI-ҳо
Comment[tr]=rtspt: adresi
Comment[tt]=rtspt: URI'lar
Comment[uk]=rtspt: URI
Comment[zh_CN]=rtspt: URI
Comment[zh_HK]=rtspt: 格式 URI
