[Desktop Entry]
Encoding=UTF-8
Type=MimeType
MimeType=all/allfiles
Comment=All Files
Comment[af]=Alle Lêers
Comment[ar]=كل الملفات
Comment[az]=Bütün Fayllar
Comment[be]=Усе файлы
Comment[bg]=Всички файлове
Comment[bn]=সব ফাইল
Comment[br]=An holl restroù
Comment[bs]=Sve datoteke
Comment[ca]=Tots els fitxers
Comment[cs]=Všechny soubory
Comment[cy]=Pob Ffeil
Comment[da]=Alle filer
Comment[de]=Sämtliche Dateien
Comment[el]=Όλα τα αρχεία
Comment[eo]=Ĉiuj dosieroj
Comment[es]=Todos los archivos
Comment[et]=Kõik failid
Comment[eu]=Fitxategi guztiak
Comment[fa]=تمام پرونده‌ها
Comment[fi]=Kaikki tiedostot
Comment[fr]=Tous les fichiers
Comment[fy]=Alle triemen
Comment[ga]=Gach Comhad
Comment[gl]=Todos os Arquivos
Comment[he]=כל הקבצים
Comment[hi]=सभी फ़ाइलें
Comment[hr]=Sve datoteke
Comment[hu]=Minden fájl
Comment[is]=Allar skrár
Comment[it]=Tutti i file
Comment[ja]=全てのファイル
Comment[km]=ឯកសារ​ទាំងអស់
Comment[ko]=모든 파일
Comment[lb]=All Dateien
Comment[lt]=Visos bylos
Comment[lv]=Visi faili
Comment[mk]=Сите датотеки
Comment[mn]=TcL-Программ
Comment[ms]=Semua Fail
Comment[mt]=Fajls kollha
Comment[nb]=Alle filer
Comment[nds]=All Dateien
Comment[nl]=Alle bestanden
Comment[nn]=Alle filer
Comment[nso]=Difaele Kamoka
Comment[pa]=ਸਭ ਫਾਇਲ਼ਾਂ
Comment[pl]=Wszystkie pliki
Comment[pt]=Todos os Ficheiros
Comment[pt_BR]=Todos os arquivos
Comment[ro]=Toate fişierele
Comment[ru]=Все файлы
Comment[rw]=Amadosiye yose
Comment[se]=Buot fiillat
Comment[sk]=Všetky súbory
Comment[sl]=Vse datoteke
Comment[sq]=Të gjitha Skedat
Comment[sr]=Сви фајлови
Comment[sr@Latn]=Svi fajlovi
Comment[ss]=Emafayela wonkhe
Comment[sv]=Alla filer
Comment[ta]=எல்லாக் கோப்புகள்
Comment[tg]=Ҳама Файлҳо
Comment[th]=ทุกแฟ้ม
Comment[tr]=Tüm Dosyalar
Comment[tt]=Bar Biremnär
Comment[uk]=Всі файли
Comment[uz]=Ҳамма файллар
Comment[ven]=Faela dzothe
Comment[wa]=Tos les fitchîs
Comment[xh]=Zonke IifayiIe
Comment[zh_CN]=全部文件
Comment[zh_TW]=所有的檔案
Comment[zu]=Wonke Amafayela
