[Desktop Entry]
Encoding=UTF-8
Type=Service
ServiceTypes=KDESmartcard
X-KDE-ModuleType=Library
X-KDE-Library=gemsafe
X-KDE-FactoryName=gemsafe
X-KDE-Smartcard-Type=gem1
X-KDE-Smartcard-SubType=gem2
X-KDE-Smartcard-SubSubType=gem3
Name=GemSafe Card implementation
Name[az]=GemSafe Kart implementasiyası
Name[da]=GemSafe Kortimplementering
Name[de]=GemSafe-Kartenfunktion
Name[es]=Implementación de tarjetas GemSafe
Name[fi]=GemSafe älykortin toteutus
Name[fr]=Implentation des cartes «GemSafe»
Name[he]=יישום כרטיסי GemSafe
Name[hu]=GemSafe kártyaimplementáció
Name[lt]=GemSafe kortos realizacija
Name[lv]=GemSafe Karšu realizācija
Name[nl]=GemSafe kaartimplementatie
Name[nn]=GemSafe-kortimplementasjon
Name[pt]=Implementação da placa GemSafe
Name[pt_BR]=Implementação da placa GemSafe
Name[sk]=Implementácia GemSafe Card
Name[sl]=Implementacija kartice GemSafe
Name[sv]=GemSafe-kortimplementation
Name[xh]=GemSafe Uzalisekiso lwekhadi
Name[xx]=xx
Name[zu]=Ukufakelwa kwe Khadi leGemSafe 
