[Desktop Entry]
Encoding=UTF-8
Type=Service
ServiceTypes=KDESmartcard
X-KDE-ModuleType=Library
X-KDE-Library=gemsafe
X-KDE-FactoryName=gemsafe
X-KDE-Smartcard-Type=gem1
X-KDE-Smartcard-SubType=gem2
X-KDE-Smartcard-SubSubType=gem3
Name=GemSafe Card implementation
Name[az]=GemSafe Kart implementasiyası
Name[bg]=Имплементация на Картата GemSafe 
Name[bs]=GemSafe Card implementacija
Name[cs]=Implementace karty GemSafe
Name[da]=GemSafe Kortimplementering
Name[de]=GemSafe-Kartenfunktion
Name[el]=Υλοποίηση Κάρτας GemSafe
Name[eo]=GemSafe-karta implemento
Name[es]=Implementación de tarjetas GemSafe
Name[et]=GemSafe Card implementatsioon
Name[eu]=GemSafe Txartelarako implementazioa
Name[fi]=GemSafe älykortin toteutus
Name[fr]=Implentation des cartes «GemSafe»
Name[he]=יישום כרטיסי GemSafe
Name[hu]=GemSafe kártyaimplementáció
Name[is]=GemSafe Card útfærsla
Name[it]=Implementazione delle schede GemSafe
Name[ja]=GemSafeカードインプリメンテーション
Name[lt]=GemSafe kortos realizacija
Name[lv]=GemSafe Karšu realizācija
Name[nb]=GemSafe-kortimplementasjon
Name[nl]=GemSafe kaartimplementatie
Name[nn]=GemSafe-kortimplementasjon
Name[pl]=Obsługa karty GemSafe
Name[pt]=Implementação da placa GemSafe
Name[pt_BR]=Implementação da Placa GemSafe
Name[ro]=Implementare card GemSafe
Name[ru]=GemSafe Card
Name[sk]=Implementácia GemSafe Card
Name[sl]=Implementacija kartice GemSafe
Name[sv]=GemSafe-kortimplementation
Name[tr]=GemSafe Kart gerçekleştirmesi
Name[uk]=Впровадження карток GemSafe
Name[ven]=U ita garata ya GemSafe
Name[xh]=GemSafe Uzalisekiso lwekhadi
Name[xx]=xx
Name[zh_CN]=GemSafe卡实现
Name[zh_TW]=GemSafe 卡實作
Name[zu]=Ukufakelwa kwe Khadi leGemSafe 
