[Desktop Entry]
Encoding=UTF-8
Icon=encrypted
Type=Application
Exec=kcmshell crypto
DocPath=kcontrol/crypto/index.html

X-KDE-Library=crypto
X-KDE-ParentApp=kcontrol

Name=Crypto
Name[x-test]=xxCryptoxx
Comment=Configure SSL, manage certificates, and other cryptography settings
Comment[x-test]=xxConfigure SSL, manage certificates, and other cryptography settingsxx

Keywords=Crypto,Krypto,Cryptography,encryption,SSL,https,certificates,ciphers,TLS,secure,security
Keywords[x-test]=xxCrypto,Krypto,Cryptography,encryption,SSL,https,certificates,ciphers,TLS,secure,securityxx

Categories=Qt;KDE;X-KDE-settings-security;
