[Desktop Entry]
Encoding=UTF-8
Icon=encrypted
Type=Application
Exec=kcmshell crypto
DocPath=kcontrol/crypto/index.html

X-KDE-Library=crypto
X-KDE-ParentApp=kcontrol

Name=Crypto
Comment=Configure SSL, manage certificates, and other cryptography settings

Keywords=Crypto,Krypto,Cryptography,encryption,SSL,https,certificates,ciphers,TLS,secure,security

Categories=Qt;KDE;X-KDE-settings-security;
