[Desktop Entry]
Encoding=UTF-8
Name=Network
Name[af]=Netwerk
Name[ar]=الشبكة
Name[az]=Şəbəkə
Name[be]=Сетка
Name[bn]=নেটওয়ার্ক
Name[br]=Rouedad
Name[bs]=Mreža
Name[ca]=Xarxa
Name[cs]=Síť
Name[cy]=Rhydwaith
Name[da]=Netværk
Name[de]=Netzwerk
Name[el]=Δίκτυο
Name[eo]=Reto
Name[es]=Red
Name[et]=Võrk
Name[eu]=Sarea
Name[fa]=شبکه
Name[fi]=Verkko
Name[fr]=Réseau
Name[fy]=Netwurk
Name[ga]=Líonra
Name[gl]=Rede
Name[he]=רשת
Name[hi]=नेटवर्क
Name[hr]=Mreža
Name[hsb]=Syć
Name[hu]=Hálózat
Name[id]=Jaringan
Name[is]=Net
Name[it]=Rete
Name[ja]=ネットワーク
Name[km]=បណ្តាញ
Name[ko]=네트워크
Name[lb]=Netzwierk
Name[lt]=Tinklas
Name[lv]=Tīkls
Name[mi]=Hao
Name[mk]=Мрежа
Name[mn]=Сүлжээ
Name[ms]=Jaringan
Name[nds]=Nettwark
Name[nl]=Netwerk
Name[nn]=Nettverk
Name[nso]=Kgokagano
Name[oc]=Resèu
Name[pa]=ਨੈੱਟਵਰਕ
Name[pl]=Sieć
Name[pt]=Rede
Name[pt_BR]=Rede
Name[ro]=Reţea
Name[ru]=Сеть
Name[rw]=Urusobe
Name[se]=Fierbmi
Name[sk]=Sieť
Name[sl]=Omrežje
Name[sq]=Rrjeta
Name[sr]=Мрежа
Name[sr@Latn]=Mreža
Name[ss]=Luchungechunge
Name[sv]=Nätverk
Name[ta]=பிணையம்
Name[tg]=Шабақа
Name[th]=ระบบเครือข่าย
Name[tr]=Ağ
Name[tt]=Çeltär
Name[uk]=Мережа
Name[uz]=Tarмоқ
Name[ven]=Vhukwamani
Name[vi]=Mạng 
Name[wa]=Rantoele
Name[xh]=Umsebenzi womnatha
Name[zh_CN]=网络
Name[zh_TW]=網路
Name[zu]=Umsebenzi wokuxhumana okusakazekile
X-KDE-Library=kabc_net
Type=Service
ServiceTypes=KResources/Plugin
X-KDE-ResourceFamily=contact
X-KDE-ResourceType=net
