[Desktop Entry]
Encoding=UTF-8
Type=ServiceType
X-KDE-ServiceType=Sonnet/SpellClient
X-KDE-Derived=KPluginInfo
Comment=Sonnet Spell Client
Comment[af]=KSpel Klient
Comment[be]=Кліент спраўджвання правапісу Sonnet
Comment[br]=Kliant Sonnet
Comment[ca]=Client de Sonnet
Comment[cs]=Sonnet klient
Comment[csb]=Klient Sonnet
Comment[da]=Sonnet-klient
Comment[de]=Sonnet-Dienstprogramm
Comment[el]=Πελάτης Sonnet
Comment[eo]=Sonnet-Kliento
Comment[es]=Cliente Sonnet
Comment[et]=Sonneti klient
Comment[eu]=Sonnet bezeroa
Comment[fa]=کارخواه Sonnet
Comment[fi]=Sonnet-asiakasohjelma
Comment[fr]=Client Sonnet
Comment[fy]=Sonnet Klant
Comment[ga]=Cliant Sonnet
Comment[gl]=Cliente Sonnet
Comment[he]=לקוח Sonnet
Comment[hr]=Sonnet klijent
Comment[hu]=Sonnet-kliens
Comment[is]=Sonnet biðlarinn
Comment[it]=Client Sonnet
Comment[ja]=Sonnet クライアント
Comment[kk]=Sonnet клиенті
Comment[lb]=Sonnet-Zougrëffsprogramm
Comment[lt]=Sonnet klientas
Comment[lv]=Sonnet klients
Comment[mk]=Sonnet клиент
Comment[ms]=Klien Sonnet
Comment[nb]=Sonnet-klient
Comment[nds]=Sonnet-Deenstprogramm
Comment[ne]=केस्पेल क्लाइन्ट
Comment[nn]=Sonnet-klient
Comment[pa]=Sonnet ਕਲਾਂਇਟ
Comment[pl]=Klient Sonnet
Comment[pt]=Cliente do Sonnet
Comment[pt_BR]=Cliente Sonnet
Comment[ro]=Client Sonnet
Comment[ru]=Клиент Sonnet
Comment[se]=Sonnet-klienta
Comment[sl]=Odjemnik Sonnet
Comment[sr]=Sonnet-ов клијент
Comment[sr@latin]=Sonnet-ov klijent
Comment[sv]=Kspell-klient
Comment[ta]=ஓட்டு எழுத்தாக்கம்
Comment[te]=కెస్పెల్ క్లైట్
Comment[tg]=Клиенти Sonnet
Comment[th]=ไคลเอนท์ของ Sonnet
Comment[tr]=Sonnet Programcığı
Comment[uk]=Клієнт Sonnet
Comment[uz]=Sonnet клиенти
Comment[x-test]=xxSonnet Clientxx
Comment[zh_CN]=Sonnet 客户
Comment[zh_TW]=KShell 客戶端程式
