[KDE Print Filter Entry]
Name=imagetops
Name[af]=beeldpieke
Name[az]=rəsmlər
Name[da]=billedtoppe
Name[eo]=Bildsuproj
Name[fr]=Imagetops
Name[fy]=Imagetops
Name[hi]=इमेजटॉप्स
Name[hr]=vrhslike
Name[nds]=Imagetops
Name[nl]=Imagetops
Name[nso]=mabogodimo a diponagalo
Name[pt_BR]=Imagenstops
Name[sr]=врхови слика
Name[sr@Latn]=vrhovi slika
Name[sv]=Bildtoppar
Name[ta]=மேல்பிம்பங்கள்
Name[ven]=Zwa ntha zwa zwifanyiso
Name[zu]=uphahla lwesithombe
Require=exec:/imagetops
Comment=Generic Image to PS Filter
Comment[af]=Generies Beeld na Ps Filter
Comment[ar]=مرشح الصور الى بوست سكريبت
Comment[az]=Ümumi Rəsm-PS Filtri
Comment[bn]=জেনেরিক চিত্র থেকে পোস্টস্ক্রিপ্ট ফিল্টার
Comment[br]=Sil rummel skeudenn da PS
Comment[bs]=Opšti Image-to-PS filter
Comment[ca]=Imatge genèrica per al filtre PS
Comment[cs]=Obecný filtr pro převod obrázku do PS souboru
Comment[cy]=Hidl Cyffredinol Delwedd i PS
Comment[da]=Generisk billede-til-PS-filter
Comment[de]=Umwandlung von Bildern in PostScript
Comment[el]=Γενικό φίλτρο εικόνας σε PS
Comment[eo]=Ĝenerala filtrilo de bildo al PS
Comment[es]=Imagen genérica a filtro PS
Comment[et]=Lihtne pilt->PostScript filter
Comment[eu]=Irudi generikoa PS iragazkira
Comment[fa]=صافی عمومی تصویر به PS
Comment[fi]=Muunnin yleisestä kuvasta PS-muotoon
Comment[fr]=Filtre d'image générique vers PS
Comment[fy]=Algemiene ôfbylding nei PS-filter
Comment[ga]=Scagaire cineálach Íomhá go PS
Comment[gl]=Imaxe Xenérica para o Filtro PS
Comment[he]=מסנן כללי מתמונה ל־PS
Comment[hi]= जेनरिक छवि से PS  फ़िल्टर
Comment[hr]=Generički filtar za sliku u PS
Comment[hsb]=Generiski konwerter wobrazow na PS
Comment[hu]=Általános PS szűrő képekhez
Comment[id]=Fiter Gambar ke PS
Comment[is]=Almenn sía til að breyta mynd í Postscript
Comment[it]=Filtro generico da immagine a PostScript
Comment[ja]=一般的な画像->PSフィルタ
Comment[km]=រូបភាព Generic ទៅ​តម្រង PS
Comment[ko]=일반 그림을 PS로 바꿔주는 거르개
Comment[lb]=Allgemenge Filter vu Biller zu PS
Comment[lt]=Bendras filtras iš paveiksliukų į PS
Comment[lv]=Vispārējs attēla uz PS filtrs
Comment[mk]=Општ филтер од слика во PS
Comment[mn]=Ерөнхий зургаас PostScript-файл руу хөрвүүлэх шүүлтүүр
Comment[ms]=Imej Generik kepada Penyaring PS
Comment[mt]=Filtru ġeneriku minn stampa għal PS
Comment[nb]=Bilder til PS-filter
Comment[nds]=Standardfilter för't ümwanneln vun'n Bild na PostScript
Comment[nl]=Generieke afbeelding naar PS-filter
Comment[nn]=Generelt bilete-til-PS-filter
Comment[nso]=Ponagalo ya Kakaretso go Sesekodi sa PS
Comment[pa]=ਆਮ ਚਿੱਤਰ ਤੋਂ PS ਫਿਲਟਰ
Comment[pl]=Filtr obrazków do Postscriptu
Comment[pt]=O filtro genérico de imagens para PS
Comment[pt_BR]=Imagem genérica para filtro PS
Comment[ro]=Filtru generic de imagine către PS
Comment[ru]=Преобразование изображений в PostScript
Comment[rw]=Ishusho Rusange kuri Muyunguruzi PS
Comment[se]=Oppalaš govva PS:ai filter
Comment[sk]=Generický filter z obrázku do PS
Comment[sl]=Filter iz splošnih slik v postscript
Comment[sq]=Filter i përgjithshëm për Shëndrimin e imazheve në skeda PS
Comment[sr]=Генерички „слика у PS“ филтер
Comment[sr@Latn]=Generički „slika u PS“ filter
Comment[ss]=Umfanekiso lobanti kusisefo sePS
Comment[sv]=Generell bild till PS-filter
Comment[ta]=பிஎஸ்க்கான வடிகட்டிக்கான பொது பிம்பம்
Comment[tg]=Табодули тасвирот ба Post Script
Comment[th]=ตัวกรองภาพทั่วไปไปเป็นโพสต์สคริปต์
Comment[tr]=Genel Resimden PS'e Süzgeç
Comment[tt]=Sürätlärne PS'qa äyländerü Sözgeçe
Comment[uk]=Загальний фільтр зображень в файли PS
Comment[uz]=Расмни PS'га айлантирадиган оддий филтр
Comment[ven]=Tshifanyiso kha tshigwada kha filithara ya PS
Comment[wa]=Passete djenerike imådjes viè PostScript
Comment[xh]=Umfanekiso ngokubanzi kwicebo lokucoca ulwelo le PS
Comment[zh_CN]=通用图像到 PS 过滤程序
Comment[zh_HK]=將一般圖檔轉成 PS 的過濾器
Comment[zh_TW]=一般圖檔轉成 PS 的過濾器
Comment[zu]=Isithombe Sawowonke Sehluzo le-PS
MimeTypeIn=image/jpeg,image/png,image/x-png,image/bmp,image/x-bmp,image/gif,image/tiff
MimeTypeOut=application/postscript
