[KDE Print Filter Entry]
Name=imagetops
Name[az]=rəsmlər
Name[da]=billedtopper
Name[eo]=Bildsuproj
Name[fr]=Image vers Postscript
Name[is]=Myndatoppar
Name[sr]=slika u ps
Name[sv]=Bildtoppar
Name[xh]=imiphezulu yemifanekiso
Require=exec:/imagetops
Comment=Generic image to PS filter
Comment[az]=PS üçün ümumi rəsm
Comment[bg]=Преобразуване на картинки в PS
Comment[cs]=Obecný filtr pro převod obrázku do PS souboru
Comment[da]=Generisk billed til PS filter
Comment[de]=Filter für die Konvertierung von Bildern in PostScript-Dateien
Comment[el]=Γενικό φίλτρο Εικόνας σε PS
Comment[eo]=Ĝenerala bildfiltrilo por PS
Comment[es]=Imagen genérica a filtro PS
Comment[et]=Lihtne pildist PostScripti filter
Comment[fi]=Yleinen kuvasta PS muotoon suodattaja
Comment[fr]=Filtre d'image générique vers Postscript
Comment[he]=יללכ PS-ל הנומת ןנסמ
Comment[hu]=Általános PS szűrő képekhez
Comment[is]=Almenn sía til að breyta mynd í Postscript
Comment[it]=Filtro generico da immagine a PS
Comment[ja]=一般的な画像->PSフィルタ
Comment[lt]=Bendras filtras iš paveiksliukų į PS
Comment[lv]=Vispārējs attēls uz PS filtru
Comment[mt]=Filtru minn stampa għal PS ġeneriku
Comment[nl]=Generieke plaatjes naar PS filter
Comment[no]="Vanlige bilder til PS"-filter
Comment[no_NY]=Generelt  bilete-til-PS-filter
Comment[pl]=Filtr obrazków do Postscriptu
Comment[pt_BR]=Filtro genérico de imagens para PS
Comment[pt]=Filtro genérico de imagens para PS
Comment[ru]=Стандартный фильтр преобразования изображений в PS
Comment[sk]=Generický filter z obrázku do PS
Comment[sl]=Filter iz splošnih slik v postscript
Comment[sr]=Generički filter za pravljenje PS-a od slike
Comment[sv]=Generell bild till PS-filter
Comment[tr]=Genel imajdan PS'e süzgec
Comment[uk]=Загальний фільтр образів в файли PS
Comment[vi]=Trình lọc file ảnh thành PS nói chung 
Comment[xh]=Umfanekiso ngokubanzi kwicebo lokucoca ulwelo le PS
Comment[zh_CN.GB2312]=通用图像到 PS 过滤程序
