[KDE Print Filter Entry]
Name=pdf2ps
Name[sv]=Pdf2ps
Require=exec:/gs
Comment=PDF to PostScript Converter
Comment[bg]=Конвертор от PDF в PostScript 
Comment[el]=Μετατροπέας από PostScript σε PDF
Comment[km]=កម្មវិធីបម្លែង PDF ទៅ​ជា PostScript
Comment[nds]=Wannelt PDF na PostScript üm
Comment[pt]=Conversor de PDF para PostScript
Comment[pt_BR]=Conversor de PDF para PostScript
Comment[sk]=Prevod súborov z PDF do PostScript
Comment[sv]=PDF till Postscript-konverterare
MimeTypeIn=application/pdf
MimeTypeOut=application/postscript
