[KDE Print Filter Entry]
Name=pdf2ps
Require=exec:/gs
Comment=PDF to PostScript Converter
MimeTypeIn=application/pdf
MimeTypeOut=application/postscript
