[KDE Print Filter Entry]
Name=pdfwrite
Name[de]=PDF-Write
Name[eo]=PDF-skribilo
Name[fr]=Impression en PDF
Name[nb]=pdfskriver
Name[nl]=PDFwrite
Name[pt_BR]=PDFWrite
Name[sv]=PDFwrite
Name[tr]=pdfyaz
Name[xh]=bhala pdf
Name[xx]=xx
Name[zu]=bhala pdf
Require=exec:/gs
Comment=PDF Writer (needs Ghostscript)
MimeTypeIn=application/postscript
MimeTypeOut=application/pdf
