[KDE Print Filter Entry]
Comment=Poster Printing
Comment[fr]=Impression d'affiches
Comment[x-test]=xxPoster Printingxx
Description=Utility to print large posters on multiple small paper sheets. To use this command, the <b>poster</b> executable must be accessible in your <tt>PATH</tt>. Source code for this utility can be on the <a href="http://printing.kde.org/downloads">KDEPrint web site</a>. <p><b><u>WARNING:</u></b> The package found on the KDEPrint web site is a modified version of the original one that can be found on any CTAN archive mirror, but the original package will <b>not</b> work with KDE. You <b>must</b> use the package found on the <a href="http://printing.kde.org/downloads">KDEPrint web site</a>.
Description[fr]=Utilitaire pour imprimer de grandes affiches sur de multiples petites feuilles de papier. Pour utiliser cette commande, l'exécutable <b>poster</b> doit être accessible dans votre <tt>PATH</tt>. Vous pouvez trouver le code source de cet utilitaire à l'adresse <a href="http://printing.kde.org/downloads">KDEPrint web site</a>. <p><b><u>Attention :</u></b> le paquetage présent sur le site web de KDEPrint est une version modifiée de l'original se trouvant sur n'importe quel miroir des archives du CTAN, mais le paquetage d'origine <b>ne fonctionnera pas</b> avec KDE. Vous <b>devez</b> utiliser le paquetage qui se trouve sur le <a href="http://printing.kde.org/downloads">site web de KDEPrint</a>.
Description[x-test]=xxUtility to print large posters on multiple small paper sheets. To use this command, the <b>poster</b> executable must be accessible in your <tt>PATH</tt>. Source code for this utility can be on the <a href="http://printing.kde.org/downloads">KDEPrint web site</a>. <p><b><u>WARNING:</u></b> The package found on the KDEPrint web site is a modified version of the original one that can be found on any CTAN archive mirror, but the original package will <b>not</b> work with KDE. You <b>must</b> use the package found on the <a href="http://printing.kde.org/downloads">KDEPrint web site</a>.xx
MimeTypeIn=application/postscript
MimeTypeOut=application/postscript
Require=exec:/poster
