[KDE Print Filter Entry]
Name=psbook
Name[af]=psboek
Name[de]=PS-Book
Name[eo]=PS-libro
Name[fr]=Carnet PostScript
Name[lv]=psgrāmata
Name[sv]=broschyr
Name[ven]=Bugu ya ps
Name[xh]=incwadi ye ps
Name[xx]=xx
Name[zu]=incwadi ye ps
Require=exec:/psbook,exec:/psnup
Comment=Pamphlet printing (use with small side duplex printing)
Comment[af]=pamflet besig om te druk (gebruik met klein kant dupleks besig om te druk)
Comment[ar]=طباعة الكتيبات (استخدم طباعة small side duplex)
Comment[az]=Pamphlet çap etmə (kiçik dupleks çap üçün işlədin)
Comment[bs]=Štampanje pamfleta (koristiti sa small side duplex štampanjem)
Comment[cs]=Tisk letáku (použití pro oboustranný tisk s úzkými okraji)
Comment[da]=Pamflet-udskrift - (brug med lille sidedupleks-udskrift)
Comment[de]="Pamphlet"-Druck: Zur Benutzung mit Duplexdruck
Comment[eo]=Pamflet-presado (uzu kun duflanka laŭlarĝa presado)
Comment[es]=Impresión de folleto (usar con impresión de doble cara pequeña)
Comment[et]=Brošüüri trükkimine - (kasutatakse dupleks trükkimisel)
Comment[fi]=Lentolehtistulostus (käytä lyhyen sivun kaksipuoleistulostusta)
Comment[fr]=Impression au format carnet (avec un petit index latéral)
Comment[he]=הדפסת חוברות (לשימוש עם הדפסה משני הצדדים)
Comment[hu]=Szórólapnyomtatás (duplex nyomtatáshoz)
Comment[is]=Bæklingaprentun (nota með smárri tvíhliðaprentun)
Comment[it]=Stampa libretto (usa la stampa fronte/retro dal lato corto)
Comment[ja]=小冊子の印刷 - (端の短い折り重ね印刷を使用)
Comment[lt]=Brošiūros spausdinimas (naudokite dvipusiam spausdinimui)
Comment[lv]=Pamfleta drukāšana (izmanto ar mazās puses duplekso drukāšanu)
Comment[nb]=Brosjyreutskrift (bruk ved dupleksutskrift på små sider)
Comment[nl]=Pamflet afdrukken (gebruik i.c.m. smalle kant duplex afdrukken)
Comment[nn]=Brosjyreutskrift (bruk ved dupleksutskrift på små sider)
Comment[pl]=Drukowanie dwustronne
Comment[pt]=Impressão de panfletos (usar na impressão duplex pelo lado menor)
Comment[pt_BR]= Impressão de Panfletos (usar o modo de impressão lateral pequeno)
Comment[ro]=Tipăreşte pamflete (utilizează tipărire duplex cu margini mici)
Comment[ru]=Памфлетная печать (с использованием дуплексной печати по короткой стороне)
Comment[sk]=Tlač brožúry (použitie s obojstrannou tlačou na krátkom okraji)
Comment[sl]=Tiskanje pamfletov (uporabljajte pri dupleksnem tiskanju z malim robom)
Comment[sr]=Štampanje pamfleta (koristite sa duplex štampanjem malih strana)
Comment[sv]=Broschyrutskrift (använd med duplexutskrift längs kortsidan)
Comment[ta]=¨¸áø À¾¢ôÒ - (º¢Ú Àì¸ ­Ãð¨¼ «îÍ¼ý À¡Å¢ì¸×õ)
Comment[tr]=Broşür yazdırma (küçük yan dubleks yazdırmayla kullanın)
Comment[uk]=Друк брошури - (використовуйте з двостороннім друком за меншою стороною)
Comment[ven]=U phirintha ha tshibugwana (shumisa na lurumbu lutuku lwa u phirintha a duplex)
Comment[vi]=In ấn Pamphlet( dùng in kép cỡ nhỏ)
Comment[xh]=Ushicilelo lwencwadana egqunywe ngephepha (yisebenzise ngoshicilelo oluncinane olusecaleni oluphindwe kabini)
Comment[xx]=xx
Comment[zh_CN]=打印小册 (使用小张双面打印)
Comment[zh_TW]=列印小冊 (使用小張雙面列印)
Comment[zu]=Ushicilelo lwamapheshana anomlayezo (yisebenzise ngoshicilelo oluncane olusecaleni oluphindwe kabini)
MimeTypeIn=application/postscript
MimeTypeOut=application/postscript
