[KDE Print Filter Entry]
Name=psbook
Name[af]=psboek
Name[de]=PS-Book
Name[eo]=PS-libro
Name[lv]=psgrāmata
Name[nso]=psbuka
Name[sv]=broschyr
Name[ven]=Bugu ya ps
Name[zu]=incwadi ye-ps
Require=exec:/psbook,exec:/psnup
Comment=Pamphlet Printing (use with small side duplex printing)
Comment[af]=Pamflet Besig om te druk (gebruik met klein kant dupleks Besig om te druk)
Comment[ar]=طباعة الكتيبات (استخدمه مع الطباعة المزدوجة الصغيرة)
Comment[bs]=Štampanje pamfleta (koristiti sa small side duplex štampanjem)
Comment[ca]=Impressor de pamflets (emprar amb la impressió a doble cara petita)
Comment[cs]=Tisk letáku (použití pro oboustranný tisk s úzkými okraji)
Comment[da]=Pamflet-udskrivning - (brug med lille sidedupleks-udskrivning)
Comment[de]=Booklet-Druck (mit schmalseitigem Duplexdruck verwendbar)
Comment[el]=Εκτύπωση φυλλαδίου (χρήση μαζί με εκτύπωση διπλής όψης μικρής πλευράς)
Comment[eo]=Pamflet-presado (uzu kun duflanka laŭlarĝa presado)
Comment[es]=Impresión de folleto (usar con impresión de doble cara pequeña)
Comment[et]=Brošüüri trükkimine - (kasutatakse dupleks trükkimisel)
Comment[eu]=Pamplhlet Inprimatzea (alde txikia inprimatze duplexarekin erabili)
Comment[fa]=چاپ Pamphlet (در چاپ‌های کوچک یک طرفه استفاده کنید)
Comment[fi]=Lentolehtistulostus (käytä lyhyen sivun kaksipuoleistulostusta)
Comment[fr]=Impression au format livret (à utiliser avec l'impression duplex de petits feuillets)
Comment[he]=הדפסת חוברות (לשימוש עם הדפסה דו-כיוונית בצד הקטן)
Comment[hu]=Szórólapnyomtatás (kisalakú duplex nyomtatáshoz)
Comment[it]=Stampa libretto (usa la stampa fronte/retro dal lato corto)
Comment[ja]=小冊子の印刷 - (端の短い折り重ね印刷を使用)
Comment[lt]=Brošiūros spausdinimas (naudokite dvipusiam spausdinimui)
Comment[mt]=Printjar ta' fuljett (uża printjar dupleks min-naħa l-qasira)
Comment[nb]=Brosjyreutskrift (brukes for dobbeltsidig utskrift med liten papirstørrelse)
Comment[nl]=Pamflet afdrukken (gebruik i.c.m. smalle kant duplexafdruk)
Comment[nn]=Brosjyreutskrift (bruk ved dupleksutskrift på små sider)
Comment[nso]=Kgatiso ya Pamphlet (sumisa le kgatiso ya duplex ya lehlakori le lennyane)
Comment[pl]=Drukowanie pamfletów (użyteczne z wydrukiem dwustronnym)
Comment[pt]=Impressão de panfletos (usar na impressão duplex pelo lado menor)
Comment[pt_BR]= Impressão de Panfletos (usar o modo de impressão lateral pequeno)
Comment[ro]=Tipărire pamflete (utilizează tipărire duplex cu margini mici)
Comment[ru]=Памфлетная печать (с использованием дуплексной печати по короткой стороне)
Comment[sk]=Tlač brožúry (použitie s obojstrannou tlačou na krátkom okraji)
Comment[sl]=Tiskanje pamfletov (uporabljajte pri dupleksnem tiskanju z malim robom)
Comment[ss]=Kushicelela emapheshana (sebentisa nelicadzi lelincane lekushicelela lokuphindaphindziwe)
Comment[sv]=Broschyrutskrift (använd med duplexutskrift längs kortsidan)
Comment[ta]=¨¸áø À¾¢ôÒ (º¢Ú Àì¸ þÃð¨¼ «îÍ¼ý À¡Å¢ì¸×õ)
Comment[tr]=Broşür Yazdırma
Comment[uk]=Друк брошури (використовуйте з двостороннім друком за меншою стороною)
Comment[ven]=U phirintha ha tshibugwana (shumisa na lurumbu lutuku lwa u phirintha a duplex)
Comment[xh]=Ushicilelo Lwephetshana (sebenzisa ngoshicilelo oluncinane olusecaleni oluphindwe kabini)
Comment[zh_CN]=打印小册 (使用小张双面打印)
Comment[zh_TW]=列印小冊 (使用小張雙面列印)
Comment[zu]=Ibhukwana Lokushicilela (sebenzisa ngecala elincane lukushicilela okuphindwe kabili)
MimeTypeIn=application/postscript
MimeTypeOut=application/postscript
