[KDE Print Filter Entry]
Name=psnup
Require=exec:/psnup
Comment=Multiple Pages per Sheet Filter
Comment[af]=Veelvuldige Bladsye per Staat Filter
Comment[ar]=مرشّح صفحات متعددة في ورقة واحدة
Comment[bs]=Filter za više strana po listu
Comment[ca]=Filtre per a múltiples pàgines per fulla
Comment[cs]=Filtr pro tisk více stran na jeden list papíru
Comment[da]=Flere sider pr. arkfilter
Comment[de]=Ausdruck mehrerer Seiten auf einem Blatt
Comment[el]=Φίλτρο πολλών σελίδων ανά φύλλο
Comment[eo]=Filtrilo por aranĝi plurajn paĝojn sur folio
Comment[es]=Filtro para múltiples páginas por hoja
Comment[et]=Mitme lehekülje ühele lehele trükkimise filter
Comment[eu]=Orriko Orrialde Anitzerako Iragazki
Comment[fa]=صافی صفحات متعدد در برگ
Comment[fi]=Useita sivuja samalle arkille -suodin
Comment[fr]=Plusieurs pages par feuille
Comment[he]=מסנן עמודים מרובים לגיליון
Comment[hu]=Szűrő több lap egy oldalra helyezéséhez
Comment[it]=Più pagine sullo stesso foglio
Comment[ja]=シートフィルタ毎に複数ページ
Comment[lt]=Kelių puslapių popieriaus lakšte filtras
Comment[mt]=Filtru għal iżjed minn paġna waħda fuq kull karta
Comment[nb]=Filter for flere sider på hvert ark
Comment[nl]=Meerdere pagina's per vel afdrukken
Comment[nn]=Filter for fleire sider på kvart ark
Comment[nso]=Matlakala A Mantshintshi ka Sesekodi sa Letlakala
Comment[pl]=Filtr do wydruku wielu stron na jednej kartce
Comment[pt]=Filtro de múltiplas páginas por folha
Comment[pt_BR]= Múltiplas páginas por filtro da planilha
Comment[ro]=Filtru pentru mai multe pagini pe o foaie de hîrtie
Comment[ru]=Фильтр многостраничной таблицы
Comment[sk]=Filter pre viac strán na jednom liste
Comment[sl]=Filter za več strani na enem listu papirja.
Comment[ss]=Emakhasi laphindzaphindziwe kuya ngelishidi lesisefo
Comment[sv]=Filter för flera sidor per blad
Comment[tr]=Her Kağıda Birden Çok Sayfa Süzgeci
Comment[uk]=Фільтр укладання декількох сторінок на аркуш
Comment[ven]=Masiatari manzhi kha filithara ya bammbiri
Comment[xh]=Amaphepha Amaninzi Ngekhasi Lesihluzi ngasinye 
Comment[zh_CN]=每张多页过滤程序
Comment[zh_TW]=單張多頁過濾器
Comment[zu]=Amakhasi Amaningana Kumhlaziyi Wepheshana ngamunye
MimeTypeIn=application/postscript
MimeTypeOut=application/postscript
