[KDE Print Filter Entry]
Name=psnup
Name[fr]=Psnup
Require=exec:/psnup
Comment=Multiple pages per sheet filter
Comment[az]=Süzgəc səthi başına çoxlu cərgələr
Comment[bg]=Филтър за многостранни таблици
Comment[cs]=Filtr pro tisk více stran na jeden list papíru
Comment[da]=Flere sider pr ark filter
Comment[de]=Filter zum Drucken von mehreren Seiten auf einem Blatt
Comment[el]=Φίλτρω πολλών σελίδων ανά φύλλο
Comment[eo]=Filtrilo por aranĝi plurajn paĝojn sur folio
Comment[es]=Filtro para múltiples páginas por hoja
Comment[et]=Mitme lehekülje ühele lehele trükkimise filter
Comment[fi]=Useita sivuja samalle arkille -suodin
Comment[fr]=Plusieurs pages sur une feuille
Comment[he]=ןויליגל םיבורמ םידומע ןנסמ
Comment[hu]=Szűrő több lap egy oldalra helyezéséhez
Comment[is]=Margar síður á hvert blað
Comment[it]=Filtro pagine multiple per foglio
Comment[ja]=シートフィルタ毎に複数ページ
Comment[lt]=Kelių puslapių popieriaus lakšte filtras
Comment[lv]=Vairākas lapas tabulā filtrs
Comment[mt]=Filtru għal iżjed minn paġna waħda fuq kull karta
Comment[nl]=Meerdere paginas per vel filter
Comment[no]=Flere sider per arkfilter
Comment[no_NY]=Filter for fleire sider på kvart ark
Comment[pl]=Filtr do wydruku wielu stron na jednej kartce
Comment[pt_BR]=Filtro de múltiplas páginas por folha
Comment[pt]=Filtro de múltiplas páginas por folha
Comment[ru]=Фильтр многостраничной таблицы
Comment[sk]=Filter pre viac strán na jednom liste
Comment[sl]=Filter za več strani na enem listu papirja.
Comment[sr]=Filter za višestruke strane po listu
Comment[sv]=Filter för flera sidor per blad
Comment[tr]=Her kağıda birden çok sayfa süzgeci
Comment[uk]=Фільтр укладання декількох сторінок на аркуш
Comment[vi]=Nhiều trang trên một bềElọc sheet 
Comment[xh]=Amaphepha amaninzi ngecebo lokucoca ulwelo kwikhasi ngalinye
Comment[zh_CN.GB2312]=每张多页过滤程序
