[KDE Print Filter Entry]
Name=psselect
Name[x-test]=xxpsselectxx
Require=exec:/psselect
Comment=Page Selection/Ordering Filter
Comment[x-test]=xxPage Selection/Ordering Filterxx
MimeTypeIn=application/postscript
MimeTypeOut=application/postscript
