[KDE Print Filter Entry]
Name=psselect
Name[af]=ps-kies
Name[ar]=psseleect
Name[eo]=PS-elektilo
Name[fr]=PsSelect
Name[pl]=Wybór stron wydruku
Name[ven]=U nanga ha ps
Name[xx]=xx
Name[zu]=pskhetha
Require=exec:/psselect
Comment=Page selection/ordering filter
Comment[af]=Bladsy keuse/rangskikking filter
Comment[ar]=فلتر اختيار/ترتيب الصفحات
Comment[az]=Səhifə seçmə/sıralama süzgəci
Comment[bs]=Filter za izbor/poredak stranica
Comment[cs]=Filtr pro výběr a uspořádání stran
Comment[da]=Side-udvalg/rækkefølge-filter
Comment[de]=Filter für die Seitenauswahl und -reihenfolge
Comment[eo]=Paĝelektilo/paĝordigilo
Comment[es]=Filtro de selección/ordenamiento de página
Comment[et]=Lehekülgede valimise/järjestamise filter
Comment[eu]=Orrialde aukeratu/ordena iragazi
Comment[fi]=Sivun valinta/järjestys suodatin
Comment[fr]=Pour sélectionner des pages et les trier
Comment[he]=מסנן בחירת\סידור עמודים
Comment[hu]=Oldalkijelölő és -rendező szűrő
Comment[is]=Blaðsíðuvals- og röðunarsía
Comment[it]=Filtro per la selezione e l'ordinamento delle pagine
Comment[ja]=ページ選択/並べ替えフィルター
Comment[lt]=Puslapių pasirinkimo/rūšiavimo filtras
Comment[lv]=Lapu izvēles/kārtošanas filtrs
Comment[nb]=Filter for sidevalg/siderekkefølge
Comment[nl]=Pagina selectie/ordenen-filter
Comment[nn]=Filter for sideval/siderekkjefølgje
Comment[pl]=Filtr do wyboru i porządkowania stron wydruku
Comment[pt]=Um filtro de ordenação/selecção de páginas
Comment[pt_BR]=Seleção de Página/ordenar filtro
Comment[ro]=Filtru de selecţie/ordonare pagini
Comment[ru]=Напечать выделение/фильтр задач
Comment[sk]=Filter pre výber strán a ich poradie
Comment[sl]=Filter za izbiranje/naročanje strani
Comment[sv]=Filter för sidval och sidordning
Comment[th]=ตัวกรองการเลือกหน้า/การจัดลำดับ
Comment[tr]=Sayfa seçim filtresi
Comment[uk]=Фільтр вибору/порядку сторінок
Comment[ven]=U nanga ha siatari/u oda filithara
Comment[vi]=Trình lọc chọn và thứ tự của trang in
Comment[xh]=Ukhetho lwephepha/icebo lokucoca elilufunwayo
Comment[xx]=xx
Comment[zh_CN]=页面选择/排序过滤程序
Comment[zh_TW]=紙張選擇/排序過濾器
Comment[zu]=Isikhetha sephepha/ukulandelwaniswa kwokhlanzisisa
MimeTypeIn=application/postscript
MimeTypeOut=application/postscript
