[Desktop Entry]
Encoding=UTF-8
Type=Service
ServiceTypes=SolidDeviceManager
X-KDE-Library=solid_hal_discovery
InitialPreference=100
Name=HAL-Discovery
Name[de]=HAL-Geräteerkennung
Name[el]=Εύρεση υπηρεσιών HAL
Name[nds]=HAL-Opdecken
Name[sv]=HAL-upptäckt
Name[x-test]=xxHAL-Discoveryxx
Name[zh_TW]=HAL 硬體偵測
Comment=Hardware discovery using freedesktop.org HAL daemon
Comment[de]=Geräte-Erkennung mit Hilfe des HAL-Dienstes von freedesktop.org
Comment[el]=Ανίχνευση υλικού με χρήση του δαίμονα HAL του freedesktop.org
Comment[nds]=Hardware mit den HAL-Dämoon vun freedesktop.org opdecken
Comment[sv]=Upptäck hårdvara med HAL-demon från freedesktop.org
Comment[x-test]=xxHardware discovery using freedesktop.org HAL daemonxx
Comment[zh_TW]=使用 freedesktop.org 的 HAL 伺服程式做硬體偵測

