[aa]
Name=Afar
[ab]
Name=Abkhazian
[af]
Name=Afrikaans
[sq]
Name=Albanian
[am]
Name=Amharic
[ar]
Name=Arabic
[hy]
Name=Armenian
[as]
Name=Assamese
[ae]
Name=Avestan
[ay]
Name=Aymara
[az]
Name=Azerbaijani
[ba]
Name=Bashkir
[eu]
Name=Basque
[be]
Name=Belarusian
[bn]
Name=Bengali
[bh]
Name=Bihari
[bi]
Name=Bislama
[bs]
Name=Bosnian
[br]
Name=Breton
[bg]
Name=Bulgarian
[my]
Name=Burmese
[ca]
Name=Catalan
[ch]
Name=Chamorro
[ce]
Name=Chechen 
[zh]
Name=Chinese
[cu]
Name=Church Slavic
[cv]
Name=Chuvash
[kw]
Name=Cornish
[co]
Name=Corsican
[cs]
Name=Czech
[da]
Name=Danish 
[nl]
Name=Dutch
[dz]
Name=Dzongkha
[en]
Name=English
[eo]
Name=Esperanto
[et]
Name=Estonian
[fo]
Name=Faroese
[fj]
Name=Fijian
[fi]
Name=Finnish
[fr]
Name=French
[fy]
Name=Frisian
[ka]
Name=Georgian
[de]
Name=German
[gd]
Name=Gaelic
[ga]
Name=Irish
[gl]
Name=Gallegan
[gv]
Name=Manx
[el]
Name=Greek
[gn]
Name=Guarani
[gu]
Name=Gujarati
[ha]
Name=Hausa
[he]
Name=Hebrew
[hz]
Name=Herero
[hi]
Name=Hindi 
[ho]
Name=Hiri Motu
[hu]
Name=Hungarian
[is]
Name=Icelandic
[io]
Name=Ido
[iu]
Name=Inuktitut
[ie]
Name=Interlingue
[ia]
Name=Interlingua 
[id]
Name=Indonesian
[ik]
Name=Inupiaq
[it]
Name=Italian
[jv]
Name=Javanese
[ja]
Name=Japanese
[kl]
Name=Kalaallisut
[kn]
Name=Kannada
[ks]
Name=Kashmiri
[kk]
Name=Kazakh
[km]
Name=Khmer
[ki]
Name=Kikuyu
[rw]
Name=Kinyarwanda
[ky]
Name=Kirghiz
[kv]
Name=Komi
[ko]
Name=Korean
[ku]
Name=Kurdish
[lo]
Name=Lao
[la]
Name=Latin
[lv]
Name=Latvian
[li]
Name=Limburgan
[ln]
Name=Lingala
[lt]
Name=Lithuanian
[lb]
Name=Luxembourgish
[mk]
Name=Macedonian
[mh]
Name=Marshallese
[ml]
Name=Malayalam
[mi]
Name=Maori
[mr]
Name=Marathi
[ms]
Name=Malay
[mg]
Name=Malagasy
[mt]
Name=Maltese
[mo]
Name=Moldavian
[mn]
Name=Mongolian
[na]
Name=Nauru
[nv]
Name=Navajo
[nr]
Name=Ndebele, South
[nd]
Name=Ndebele, North
[ng]
Name=Ndonga
[ne]
Name=Nepali
[no]
Name=Norwegian
[nn]
Name=Norwegian Nynorsk
[nb]
Name=Norwegian Bokmål
[ny]
Name=Chichewa
[oc]
Name=Occitan 
[or]
Name=Oriya
[om]
Name=Oromo
[os]
Name=Ossetian
[pa]
Name=Panjabi
[fa]
Name=Persian
[pi]
Name=Pali
[pl]
Name=Polish 
[pt]
Name=Portuguese 
[ps]
Name=Pushto
[qu]
Name=Quechua
[ro]
Name=Romanian
[rn]
Name=Rundi
[ru]
Name=Russian
[sg]
Name=Sango
[sa]
Name=Sanskrit
[sr]
Name=Serbian
[hr]
Name=Croatian
[si]
Name=Sinhalese
[sl]
Name=Slovenian
[se]
Name=Northern Sami
[sm]
Name=Samoan 
[sn]
Name=Shona
[sd]
Name=Sindhi
[so]
Name=Somali
[st]
Name=Sotho, Southern 
[es]
Name=Spanish
[sc]
Name=Sardinian
[ss]
Name=Swati
[su]
Name=Sundanese 
[sw]
Name=Swahili
[sv]
Name=Swedish
[ty]
Name=Tahitian
[ta]
Name=Tamil
[tt]
Name=Tatar 
[te]
Name=Telugu
[tg]
Name=Tajik
[th]
Name=Thai
[bo]
Name=Tibetan
[ti]
Name=Tigrinya
[to]
Name=Tonga 
[tn]
Name=Tswana
[ts]
Name=Tsonga
[tk]
Name=Turkmen
[tr]
Name=Turkish
[tw]
Name=Twi
[ug]
Name=Uighur
[uk]
Name=Ukrainian
[ur]
Name=Urdu
[uz]
Name=Uzbek
[vi]
Name=Vietnamese
[vo]
Name=Volapük
[cy]
Name=Welsh
[wa]
Name=Walloon
[wo]
Name=Wolof
[xh]
Name=Xhosa
[yi]
Name=Yiddish
[yo]
Name=Yoruba
[za]
Name=Zhuang
[zu]
Name=Zulu
