[aa]
Name=Afar
[ab]
Name=Abkhazian
[ae]
Name=Avestan
[af]
Name=Afrikaans
[am]
Name=Amharic
[ar]
Name=Arabic
[as]
Name=Assamese
[ay]
Name=Aymara
[az]
Name=Azerbaijani
[ba]
Name=Bashkir
[be]
Name=Belarusian
[bg]
Name=Bulgarian
[bh]
Name=Bihari
[bi]
Name=Bislama
[bn]
Name=Bengali
[bo]
Name=Tibetan
[br]
Name=Breton
[bs]
Name=Bosnian
[ca]
Name=Catalan
[ce]
Name=Chechen
[ch]
Name=Chamorro
[co]
Name=Corsican
[cs]
Name=Czech
[cu]
Name=Church Slavic
[cv]
Name=Chuvash
[cy]
Name=Welsh
[da]
Name=Danish
[de]
Name=German
[dz]
Name=Dzongkha
[el]
Name=Greek
[en]
Name=English
[en_GB]
Name=British English
[eo]
Name=Esperanto
[es]
Name=Spanish
[et]
Name=Estonian
[eu]
Name=Basque
[fa]
Name=Farsi (Persian)
[fi]
Name=Finnish
[fj]
Name=Fijian
[fo]
Name=Faroese
[fr]
Name=French
[fy]
Name=Frisian
[ga]
Name=Irish Gaelic
[gd]
Name=Gaelic
[gl]
Name=Galician
[gn]
Name=Guarani
[gu]
Name=Gujarati
[gv]
Name=Manx
[ha]
Name=Hausa
[he]
Name=Hebrew
[hi]
Name=Hindi
[ho]
Name=Hiri Motu
[hr]
Name=Croatian
[hsb]
Name=Upper Sorbian
[hu]
Name=Hungarian
[hy]
Name=Armenian
[hz]
Name=Herero
[ia]
Name=Interlingua
[id]
Name=Indonesian
[ie]
Name=Interlingue
[ik]
Name=Inupiaq
[io]
Name=Ido
[is]
Name=Icelandic
[it]
Name=Italian
[iu]
Name=Inuktitut
[ja]
Name=Japanese
[jv]
Name=Javanese
[ka]
Name=Georgian
[ki]
Name=Kikuyu
[kk]
Name=Kazakh
[kl]
Name=Kalaallisut
[km]
Name=Khmer
[kn]
Name=Kannada
[ko]
Name=Korean
[ks]
Name=Kashmiri
[ku]
Name=Kurdish
[kv]
Name=Komi
[kw]
Name=Cornish
[ky]
Name=Kirghiz
[la]
Name=Latin
[lb]
Name=Luxembourgish
[li]
Name=Limburgan
[ln]
Name=Lingala
[lo]
Name=Lao
[lt]
Name=Lithuanian
[lv]
Name=Latvian
[mg]
Name=Malagasy
[mh]
Name=Marshallese
[mi]
Name=Maori
[mk]
Name=Macedonian
[ml]
Name=Malayalam
[mn]
Name=Mongolian
[mo]
Name=Moldavian
[mr]
Name=Marathi
[ms]
Name=Malay
[mt]
Name=Maltese
[my]
Name=Burmese
[na]
Name=Nauru
[nb]
Name=Norwegian Bokmål
[nd]
Name=Ndebele, North
[nds]
Name=Low Saxon
[ne]
Name=Nepali
[ng]
Name=Ndonga
[nl]
Name=Dutch
[nn]
Name=Norwegian Nynorsk
[nr]
Name=Ndebele, South
[nso]
Name=Northern Sotho
[nv]
Name=Navajo
[ny]
Name=Chichewa
[oc]
Name=Occitan
[om]
Name=Oromo
[or]
Name=Oriya
[os]
Name=Ossetian
[pa]
Name=Panjabi
[pi]
Name=Pali
[pl]
Name=Polish
[ps]
Name=Pushto
[pt]
Name=Portuguese
[pt_BR]
Name=Brazilian Portuguese
[qu]
Name=Quechua
[rn]
Name=Rundi
[ro]
Name=Romanian
[ru]
Name=Russian
[rw]
Name=Kinyarwanda
[sa]
Name=Sanskrit
[sc]
Name=Sardinian
[sd]
Name=Sindhi
[se]
Name=Northern Sami
[sg]
Name=Sango
[si]
Name=Sinhalese
[sk]
Name=Slovak
[sl]
Name=Slovenian
[sm]
Name=Samoan
[sn]
Name=Shona
[so]
Name=Somali
[sq]
Name=Albanian
[sr]
Name=Serbian
[ss]
Name=Swati
[st]
Name=Sotho, Southern
[su]
Name=Sundanese
[sv]
Name=Swedish
[sw]
Name=Swahili
[ta]
Name=Tamil
[te]
Name=Telugu
[tg]
Name=Tajik
[th]
Name=Thai
[ti]
Name=Tigrinya
[tk]
Name=Turkmen
[tn]
Name=Tswana
[to]
Name=Tonga
[tr]
Name=Turkish
[ts]
Name=Tsonga
[tt]
Name=Tatar
[tw]
Name=Twi
[ty]
Name=Tahitian
[ug]
Name=Uighur
[uk]
Name=Ukrainian
[ur]
Name=Urdu
[uz]
Name=Uzbek
[ven]
Name=Venda
[vi]
Name=Vietnamese
[vo]
Name=Volapük
[wa]
Name=Walloon
[wo]
Name=Wolof
[xh]
Name=Xhosa
[yi]
Name=Yiddish
[yo]
Name=Yoruba
[za]
Name=Zhuang
[zh]
Name=Chinese
[zh_CN]
Name=Chinese Simplified
[zh_TW]
Name=Chinese Traditional
[zu]
Name=Zulu
