[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=Dummy Meta
Name[fr]=Données factices
Name[x-test]=xxDummy Metaxx
ServiceTypes=KFilePlugin
X-KDE-Library=dummymeta
MimeType=text/plain
PreferredItems=Author,Title,Date
