[Desktop Entry]
Encoding=UTF-8
Type=ServiceType
X-KDE-ServiceType=KParts/ReadWritePart
X-KDE-Derived=KParts/ReadOnlyPart
Comment=KDE Component
Comment[x-test]=xxKDE Componentxx
