[Desktop Entry]
Encoding=UTF-8
Type=ServiceType
X-KDE-ServiceType=KParts/ReadWritePart
X-KDE-Derived=KParts/ReadOnlyPart
Comment=KDE Component
Comment[af]=Kde Komponent
Comment[ar]=مكون كيدي
Comment[be]=Кампанент KDE
Comment[br]=Parzhioù KDE
Comment[ca]=Component del KDE
Comment[cs]=Komponenta KDE
Comment[csb]=Kòmpònent KDE
Comment[cy]=Cydran KDE
Comment[da]=KDE-komponent
Comment[de]=KDE-Komponente
Comment[el]=Στοιχείο του KDE
Comment[eo]=PDF-komponento
Comment[es]=Componente de KDE
Comment[et]=KDE komponent
Comment[eu]=KDEren osagaia
Comment[fa]=مؤلفۀ KDE
Comment[fi]=KDE-komponentti
Comment[fr]=Composant de KDE
Comment[fy]=KDE-komponint
Comment[ga]=Comhpháirt KDE
Comment[gl]=Compoñente de KDE
Comment[he]=רכיב של KDE
Comment[hr]=KDE komponenta
Comment[hu]=KDE-komponens
Comment[is]=KDE eining
Comment[it]=Componente KDE
Comment[ja]=KDE コンポーネント
Comment[kk]=KDE компоненті
Comment[km]=សមាសភាគ KDE
Comment[kn]=ಕೆಡಿಇ ಅಂಗ
Comment[ko]=KDE 구성 요소
Comment[lb]=KDE-Komponent
Comment[lt]=KDE komponentas
Comment[lv]=KDE komponente
Comment[mk]=KDE компонента
Comment[ms]=Komponen KDE
Comment[nb]=KDE-komponent
Comment[nds]=KDE-Komponent
Comment[ne]=केडीई अवयव
Comment[nl]=KDE-component
Comment[nn]=KDE-komponent
Comment[pa]=KDE ਭਾਗ
Comment[pl]=Składnik KDE
Comment[pt]=Componente do KDE
Comment[pt_BR]=Componente KDE
Comment[ro]=Componentă KDE
Comment[ru]=Компонент KDE
Comment[se]=KDE oassi
Comment[sl]=Komponenta KDE
Comment[sr]=KDE-ова компонента
Comment[sr@latin]=KDE-ova komponenta
Comment[sv]=KDE-komponent
Comment[ta]=கேடிஇ பகுதி
Comment[te]=కెడిఈ అంశం
Comment[tg]=Қисмати KDE
Comment[th]=ส่วนประกอบของ KDE
Comment[tr]=KDE Bileşeni
Comment[uk]=Компонент KDE
Comment[uz]=KDE компоненти
Comment[vi]=Thành phần KDE.
Comment[wa]=Componint di KDE
Comment[x-test]=xxKDE Componentxx
Comment[xh]=Ingxenye ye KDE
Comment[zh_CN]=KDE 组件
Comment[zh_HK]=KDE 元件
Comment[zh_TW]=KDE 元件
