@PACKAGE_INIT@

find_dependency(KCodecs "${PACKAGE_VERSION}")
find_dependency(KWidgetsAddons "${PACKAGE_VERSION}")
find_dependency(KConfig "${PACKAGE_VERSION}")
find_dependency(KAuth "${PACKAGE_VERSION}")


include("${CMAKE_CURRENT_LIST_DIR}/KConfigWidgetsTargets.cmake")

