# A common misrepresentation of video/x-msvideo
[Desktop Entry]
Encoding=UTF-8
Type=MimeType
MimeType=video/avi
Icon=video
X-KDE-IsAlso=video/x-msvideo
Comment=Microsoft AVI Video
Comment[fr]=Vidéo Microsoft AVI
Comment[x-test]=xxMicrosoft AVI Videoxx
