[Desktop Entry]
Encoding=UTF-8
Type=MimeType
MimeType=video/mp4
Icon=video
Patterns=*.mp4;*.MP4;*.m4v;*.M4V;
Comment=MPEG-4 Video
Comment[x-test]=xxMPEG-4 Videoxx
X-KDE-IsAlso=video/quicktime
