[Desktop Entry]
Type=MimeType
MimeType=video/mpeg
Icon=video.png
Patterns=*.mpeg;*.mpg;*.MPEG;*.MPG;
DefaultApp=aktion
Comment=MPEG Video
Comment[ca]=Vídeo MPEG
Comment[cs]=Filmy ve formátu MPEG
Comment[da]=MPEG-video
Comment[de]=MPEG-Video
Comment[eo]=MPEG-video
Comment[es]=Video MPEG
Comment[fi]=MPEG -elokuva
Comment[fr]=Vidéo MPEG
Comment[hu]=MPEG Videó
Comment[is]=MPEG-kvikmynd
Comment[it]=Video MPEG
Comment[ja]=MPEG¥Ó¥Ç¥ª
Comment[no]=MPEG-film
Comment[pl]=Film w formacie MPEG
Comment[pt]=Video MPEG
Comment[pt_BR]=Vídeo MPEG
Comment[ro]=Fiºier video MPEG
Comment[ru]=æÉÌØÍ MPEG
Comment[sl]=Video MPEG
Comment[sv]=Komprimerad film i MPEG-format
