[Desktop Entry]
Encoding=UTF-8
Type=MimeType
MimeType=video/mpeg
Icon=video
Patterns=*.mpeg;*.mpg;*.MPEG;*.MPG;
Comment=MPEG Video
Comment[x-test]=xxMPEG Videoxx
