[Desktop Entry]
Encoding=UTF-8
Type=MimeType
MimeType=video/mpeg
Icon=video
Patterns=*.mpeg;*.mpg;*.MPEG;*.MPG;
Comment=MPEG Video
Comment[af]=Mpeg Video
Comment[ar]=ملف فيديو MPEG
Comment[az]=MPEG Video Faylı
Comment[be]=MPEG відэа
Comment[bg]=Видео файл MPEG
Comment[bn]=এমপেগ ভিডিও
Comment[br]=Video MPEG
Comment[ca]=Vídeo MPEG
Comment[cs]=Video ve formátu MPEG
Comment[cy]=Fideo MPEG
Comment[da]=MPEG-video
Comment[de]=MPEG-Video
Comment[el]=Βίντεο MPEG
Comment[eo]=MPEG-video
Comment[es]=Vídeo MPEG
Comment[et]=MPEG videofail
Comment[eu]=MPEG bideoa
Comment[fa]=پخش MPEG
Comment[fi]=MPEG-video
Comment[fr]=Vidéo MPEG
Comment[fy]=MPEG-fideo
Comment[ga]=Físeán MPEG
Comment[gl]=Vídeo MPEG
Comment[he]=סרט MPEG
Comment[hi]=MPEG वीडियो
Comment[hu]=MPEG-videó
Comment[id]=Video MPEG
Comment[is]=MPEG-kvikmynd
Comment[it]=Video MPEG
Comment[ja]=MPEGビデオ
Comment[km]=MPEG វីដេអូ
Comment[ko]=MPEG 비디오
Comment[lb]=MPEG-Video
Comment[mi]=Ataata MPEG
Comment[mk]=MPEG видео
Comment[mn]=MPEG-Video
Comment[ms]= Video MPEG
Comment[mt]=Video MPEG
Comment[nb]=MPEG-video
Comment[nds]=MPEG-Video
Comment[nl]=MPEG-video
Comment[nn]=MPEG-video
Comment[nso]=Video ya MPEG
Comment[oc]=Video MPEG
Comment[pa]=MPEG ਵੀਡਿਓ
Comment[pl]=Film w formacie MPEG
Comment[pt]=Vídeo MPEG
Comment[pt_BR]=Vídeo MPEG
Comment[ro]=Fişier video MPEG
Comment[ru]=Видеофайл MPEG
Comment[rw]=MPEG Inyerekanamashusho
Comment[se]=MPEG-video
Comment[sl]=Video MPEG
Comment[sr]=MPEG видео фајл
Comment[sr@Latn]=MPEG video fajl
Comment[sv]=MPEG-video
Comment[ta]=MPEG வீடியோ
Comment[tg]=MPEG Видео
Comment[th]=วิดีโอ MPEG
Comment[uk]=MPEG-відео
Comment[uz]=MPEG видео
Comment[ven]=Vidio ya MPEG
Comment[vi]=Video MPEG 
Comment[wa]=Videyo MPEG
Comment[zh_CN]=MPEG 视频
Comment[zh_HK]=MPEG 視像檔
Comment[zh_TW]=MPEG 視頻文件
Comment[zu]=Ividiyo lwe-MPEG
