[Desktop Entry]
Type=MimeType
MimeType=video/quicktime
Icon=video
Patterns=*.qt;*.mov;*.moov;*.hqx;*.qtvr;*.QT;*.MOV;*.MOOV;*.MooV;*.HQX;*.QTVR;
DefaultApp=aktion
Comment=Quicktime Video
Comment[ca]=Vídeo Quicktime
Comment[cs]=Filmy ve formátu Quicktime
Comment[de]=Quicktime-Video
Comment[eo]=Quicktime-video
Comment[fi]=Quicktime-elokuva
Comment[fr]=Vidéo Quicktime
Comment[hu]=Quicktime Videó
Comment[ja]=Quicktimeビデオ
Comment[no]=Quicktime-film
Comment[no_NY]=Quicktime-video
Comment[pt]=Video Quicktime
Comment[ro]=Fişier video Quicktime
Comment[sl]=Video QuickTime
Comment[sv]=Film i quicktime-format
