[Desktop Entry]
Type=MimeType
MimeType=video/quicktime
Icon=video
Patterns=*.qt;*.mov;*.moov;*.qtvr;*.QT;*.MOV;*.MOOV;*.MooV;*.QTVR;
Comment=Quicktime Video
Comment[bg]=Файл на QuickTime
Comment[br]=Video Quicktime
Comment[ca]=Vídeo Quicktime
Comment[cs]=Filmy ve formátu Quicktime
Comment[da]=Quicktime video
Comment[de]=Quicktime-Video
Comment[eo]=Quicktime-video
Comment[es]=Vídeo QuickTime
Comment[et]=Quictime videofail
Comment[eu]=Quicktime Bideoa
Comment[fi]=Quicktime-elokuva
Comment[fr]=Vidéo QuickTime
Comment[gl]=Vídeo Quicktime
Comment[he]=Quicktime טרס
Comment[hu]=QuickTime videó
Comment[is]=Quicktime-kvikmynd(ir)
Comment[it]=Video Quicktime
Comment[ja]=Quicktimeビデオ
Comment[ko]=퀵타임 비디오
Comment[mi]=Ataata Quicktime
Comment[mk]=Quicktime видео
Comment[mt]=Video Quicktime
Comment[nl]=Quicktime-video
Comment[no]=Quicktime-film
Comment[no_NY]=Quicktime-video
Comment[oc]=Video Quicktime
Comment[pl]=Film w formacie Quicktime
Comment[pt_BR]=Filme QuickTime
Comment[pt]=Vídeo Quicktime
Comment[ru]=Файл видео QuickTime
Comment[sl]=Video QuickTime
Comment[sr]=QuickTime Video
Comment[sv]=Film i quicktime-format
Comment[ta]=Quicktime Å£Ê§Â¡
Comment[uk]=Quicktime-Відео
Comment[vi]=Video QuickTime 
Comment[xh]=Ivideo yexesha elikhawulezayo
Comment[zh_CN.GB2312]=Quicktime 视频文件
