[Desktop Entry]
Encoding=UTF-8
Type=MimeType
MimeType=video/vnd.rn-realvideo
Icon=video
Patterns=*.rv;*.RV;
Comment=RealVideo File
Comment[x-test]=xxRealVideo Filexx

