[Desktop Entry]
Encoding=UTF-8
Type=MimeType
MimeType=video/x-flic
Icon=video
Patterns=*.fli;*.flc;*.FLI;*.FLC;
Comment=Autodesk's FLIC File
Comment[ar]=ملف أوتوديسك FLIC
Comment[az]=Autodesk'in FLIC faylları
Comment[be]=Autodesk FLIC файл
Comment[bg]=FLIC файлове на Autodesk
Comment[br]=Restr FLIC Autodesk
Comment[bs]=Autodeskove FLIC datoteke
Comment[ca]=Fitxers Autodesk FLIC
Comment[cs]=FLIC soubory programu Autodesk
Comment[da]=Autodesks FLIC-filer
Comment[de]=FLIC-Dateien (Autodesk)
Comment[el]=Αρχεία Autodesk FLIC
Comment[eo]=Autodesk-FLIC-dosiero
Comment[es]=Animación FLIC de Autodesk
Comment[et]=Autodesk'i FLIC-fail
Comment[eu]=Autodesk FLIC animazioa
Comment[fi]=Autodeskin FLIC tiedosto
Comment[fr]=Fichier FLIC d'Autodesk
Comment[gl]=Ficheiro FLIC de Autodesk
Comment[he]=קבצי FLIC של Autodesk
Comment[hr]=Autodeskove FLIC datoteke
Comment[hu]=Autodesk FLIC fájl
Comment[id]=File Autodesk's FLIC
Comment[is]=Autodesk FLIC-skrár
Comment[it]=Animazione FLIC di Autodesk
Comment[ja]=Autodesk's FLIC ファイル
Comment[ko]=오토데스크에서 만든 FLIC 파일
Comment[lt]=Autodesk FLIC bylos
Comment[lv]=Autodeska FLIC faili
Comment[mi]=Könae Autodesk FLIC
Comment[mk]=Autodesk's FLIC датотеки
Comment[mt]=Fajl FLIC ta' Autodesk
Comment[nb]=Autodesks FLIC-filer
Comment[nl]=Autodesk-FLIC-bestanden
Comment[nn]=FLIC-filer frå Autodesk
Comment[oc]=FiquièRs Autodesk FLIC
Comment[pl]=Plik FLIC Autodesku
Comment[pt]=Ficheiro FLIC da Autodesk
Comment[pt_BR]=Arquivos FLIC do Autodesk
Comment[ro]=Fişiere FLIC Autodesk
Comment[ru]=FLIC файлы Autodesk
Comment[sk]=FLIC súbory produktov spoločnosti Autodesk
Comment[sl]=Animacije Autodesk FLIC
Comment[sr]=Autodesk's FLIC fajlovi
Comment[sv]=Autodesks FLIC-filer
Comment[ta]=¾ýÉ¢Âì¸§Á¨ºÂ¢ý FLIC §¸¡ôÒì¸û
Comment[th]=แฟ้มออโตเดสก์ FLIC
Comment[tr]=Autodesk'in FLIC dosyaları
Comment[uk]=Файли FLIC (Autodesk)
Comment[ven]=FLIC faela ya Autodesk
Comment[vi]=File FLIC của Autodesk 
Comment[xh]=Iifayile zedesk ezenzekelayo ze FLIC
Comment[xx]=xx
Comment[zh_CN]=Autodesk FLIC 文件
Comment[zh_TW]=Autodesk 的 FLIC 文件
Comment[zu]=Amafayela e Autodesk's FLIC files

