[Desktop Entry]
Encoding=UTF-8
Type=MimeType
MimeType=video/x-mng
Icon=image
Patterns=*.mng;*.MNG;
Comment=MNG Image
Comment[af]=mng beeld
Comment[ar]=رسم MNG
Comment[az]=MNG rəsmi
Comment[be]=Малюнак MNG
Comment[bg]=Графичен файл на MNG
Comment[bs]=MNG slika
Comment[cs]=Obrázek ve formátu MNG
Comment[da]=MNG-billede
Comment[de]=MNG-Bild
Comment[el]=εικόνα MNG
Comment[eo]=MNG-grafiko
Comment[es]=Imagen MNG
Comment[et]=MNG pildifail
Comment[eu]=MNG irudia
Comment[fi]=MNG-kuva
Comment[fr]=Image MNG
Comment[he]=תמונת MNG
Comment[hr]=MNG slika
Comment[hu]=MNG kép
Comment[id]=Gambar MNG
Comment[is]=MNG-mynd(ir)
Comment[it]=Immagine MNG
Comment[ja]=MNGイメージ
Comment[ko]=MNG 그림 (움직이는 PNG)
Comment[lt]=MNG paveiksliukas
Comment[lv]=MNG attēls
Comment[mt]=Stampa MNG
Comment[nb]=MNG-bilde
Comment[nl]=MNG-afbeelding
Comment[nn]=MNG-bilete
Comment[pl]=Obraz MNG
Comment[pt]=Imagem MNG
Comment[pt_BR]=Imagem MNG
Comment[ro]=Imagine MNG
Comment[ru]=Графический файл MNG
Comment[sk]=MNG obrázok
Comment[sl]=Slika MNG
Comment[sr]=MNG slika
Comment[sv]=MNG-bild
Comment[ta]=MNG ¯ÕÅõ
Comment[th]=แฟ้มภาพ MNG
Comment[tr]=MNG resmi
Comment[uk]=Образ MNG
Comment[ven]=Tshifanyiso tsha MNG
Comment[vi]=A?nh MNG 
Comment[xh]=Umfanekiso we MNG
Comment[xx]=xx
Comment[zh_CN]=MNG 图像
Comment[zh_TW]=MNG 影像
Comment[zu]=Umfanekiso we MNG
