[Desktop Entry]
Type=MimeType
MimeType=video/x-msvideo
Icon=video
Patterns=*.avi;*.AVI;
DefaultApp=aktion
Comment=Microsoft AVI Video
Comment[ca]=Vídeo Microsoft AVI
Comment[cs]=Filmy ve formátu Microsoft AVI
Comment[de]=AVI-Video (Microsoft)
Comment[eo]=Mikrosoft-AVI-video
Comment[fi]=Microsoft AVI -elokuva
Comment[fr]=Vidéo Microsoft AVI
Comment[hu]=Microsoft AVI Videó
Comment[ja]=MS AVIビデオ
Comment[no]=Microsoft AVI-film
Comment[no_NY]=Microsoft AVI-video
Comment[pt]=Video Microsoft AVI
Comment[ro]=Fişier video AVI
Comment[sl]=Video Microsoft AVI
Comment[sv]=Film i formatet Microsoft AVI
