[Desktop Entry]
Encoding=UTF-8
Type=MimeType
MimeType=video/x-ms-asf
Icon=video
Patterns=*.asf;*.ASF;*.asx;*.ASX
X-KDE-IsAlso=application/vnd.ms-asf
Comment=ASF Media
Comment[fr]=Support ASF
Comment[x-test]=xxASF Mediaxx
