[Desktop Entry]
Encoding=UTF-8
Type=MimeType
MimeType=video/x-ogm
Icon=video
Patterns=*.ogm;*.OGM;
X-KDE-IsAlso=application/ogg
Comment=Ogg/Ogm Video
Comment[ar]=ملف فيديو Ogg/Ogm
Comment[be]=Ogg/Ogm відэа
Comment[bg]=Видео файл Ogg/Ogm
Comment[bn]=অগ/ও-জি-এম ভিডিও
Comment[br]=Video Ogg/Ogm
Comment[bs]=Ogg/Ogm video
Comment[ca]=Vídeo Ogg/Ogm
Comment[cs]=Video ve formátu Ogg/Ogm
Comment[cy]=Fideo Ogg/Ogm
Comment[de]=Ogg/Ogm-Video
Comment[el]=Βίντεο Ogg/Ogm
Comment[eo]=Ogg/Ogm-video
Comment[es]=Vídeo de Ogg/Ogm
Comment[et]=Ogg/Ogm videofail
Comment[eu]=Ogg/Ogm bideoa
Comment[fa]=تصویری Ogg/Ogm
Comment[fi]=Ogg/Ogm-video
Comment[fr]=Vidéo Ogg / Ogm
Comment[fy]=Ogg/Ogm Fideo
Comment[ga]=Físeán Ogg/Ogm
Comment[gl]=Vídeo Ogg/Ogm
Comment[he]=סרט Ogg/Ogm
Comment[hi]=Ogg/Ogm वीडियो
Comment[hr]=Ogg/Ogm video
Comment[hu]=Ogg/Ogm-videó
Comment[is]=Ogg/Ogm kvikmynd
Comment[it]=Video Ogg/Ogm
Comment[ja]=Ogg/Ogm ビデオ
Comment[km]=Ogg/Ogm វីដេអូ
Comment[ko]=Ogg/Ogm 비디오
Comment[lb]=Ogg/Ogm-Video
Comment[mk]=Ogg/Ogm видео
Comment[mn]=Ogg/Ogm Видео
Comment[ms]=Video Ogg/Ogm
Comment[nb]=Ogg/Ogm-video
Comment[nds]=Ogg/Ogm-Video
Comment[nl]=Ogg/Ogm-video
Comment[nn]=Ogg/Ogm-video
Comment[pa]=Ogg/Ogm ਵੀਡਿਓ
Comment[pl]=Film w formacie Ogg/Ogm
Comment[pt]=Vídeo Ogg/Ogm
Comment[pt_BR]=Vídeo Ogg/Ogm
Comment[ro]=Fişier video Ogg/Ogm
Comment[ru]=Видеофайл Ogg/Ogm
Comment[rw]=Ogg/Ogm Inyerekanamashusho
Comment[se]=Ogg/Ogm-video
Comment[sk]=Vide Ogg/Ogm
Comment[sl]=Video Ogg/Ogm
Comment[sr]=Ogg/Ogm видео
Comment[sr@Latn]=Ogg/Ogm video
Comment[sv]=Ogg/Ogm-video
Comment[ta]=Ogg/Ogm வீடியோ
Comment[tg]=Ogg/Ogm Видео
Comment[th]=วิดีโอ Ogg/Ogm
Comment[tr]=Ogg/Ogm Video Dosyası
Comment[uk]=Відео Ogg/Ogm
Comment[uz]=Ogg/Ogm видео
Comment[wa]=Videyo Ogg/Ogm
Comment[zh_CN]=Ogg/Ogm 视频
Comment[zh_TW]=Ogg/Ogm 視頻檔案
