[Desktop Entry]
Encoding=UTF-8
Type=MimeType
MimeType=video/x-theora
Icon=video
X-KDE-IsAlso=application/ogg
Comment=Theora Video
Comment[ar]=ملف فيديو Theora
Comment[be]=Theora відэа
Comment[bg]=Видео файл Theora
Comment[bn]=থিওরা ভিডিও
Comment[br]=Video Theora
Comment[bs]=Theora video
Comment[ca]=Vídeo Theora
Comment[cs]=Video ve formátu Theora
Comment[cy]=Fideo Theora
Comment[de]=Theora-Video
Comment[el]=Βίντεο Theora
Comment[eo]=Theora-video
Comment[es]=Vídeo de Theora
Comment[et]=Theora videofail
Comment[eu]=Theora bideoa
Comment[fa]=تصویری Theora
Comment[fi]=Theora-video
Comment[fr]=Vidéo Theora
Comment[fy]=Theora Fideo
Comment[ga]=Físeán Theora
Comment[gl]=Vídeo Theroa
Comment[he]=סרט Theora
Comment[hi]=थिओरा वीडियो
Comment[hr]=Theora video
Comment[hu]=Theora-videó
Comment[is]=Theora kvikmynd
Comment[it]=Video Theora
Comment[ja]=Theora ビデオ
Comment[ka]=Theora ვიდეოფაილი
Comment[km]=Theora វីដេអូ
Comment[lb]=Theora-Video
Comment[mk]=Theora видео
Comment[mn]=Theora Видео
Comment[ms]=Video Theora
Comment[nb]=Theora-video
Comment[nds]=Theora-Video
Comment[nl]=Theora-video
Comment[nn]=Theora-video
Comment[pa]=Theora ਵੀਡਿਓ
Comment[pl]=Film w formacie Theora
Comment[pt]=Vídeo Theora
Comment[pt_BR]=Vídeo Theora
Comment[ro]=Fişier video Theora
Comment[ru]=Видеофайл Theora
Comment[rw]=Theora Inyerekanamashusho
Comment[se]=Theora-video
Comment[sk]=Video Theora
Comment[sl]=Video Theora
Comment[sr]=Theora видео
Comment[sr@Latn]=Theora video
Comment[sv]=Theora-video
Comment[ta]=தியோரா வீடியோ
Comment[tg]=Theora Видео
Comment[th]=วิดีโอ Theora
Comment[tr]=Theora Video Dosyası
Comment[uk]=Відео Theora
Comment[uz]=Theora видео
Comment[wa]=Videyo Theora
Comment[xx]=xxTheora Videoxx
Comment[zh_CN]=Theora 文件
Comment[zh_TW]=Theora 視頻檔案
