<!DOCTYPE kpartgui SYSTEM "kpartgui.dtd">
<kpartgui name="khtmlpart" version="3">
<MenuBar>
 <Menu name="edit"><text>&amp;Edit</text>
  <Action name="selectAll" />
  <Separator />
  <Action name="find" />
  <Action name="findNext" />
 </Menu>
</MenuBar>
</kpartgui>
