<!DOCTYPE kpartgui SYSTEM "kpartgui.dtd"><kpartgui name="khtmlpart_popupmenu" version="10">
<Menu name="popupmenu">
 <Menu name="frame"><text>Frame</text>
  <Action name="frameinwindow"/>
  <Action name="frameintab"/>
  <Separator weakSeparator="1" />
  <Action name="reloadframe"/>
  <Action name="printFrame"/>
  <Action name="viewFrameSource" />
  <Action name="viewFrameInfo" />
 </Menu>
 <Separator weakSeparator="1" />
 <Menu name="frame"><text>Image</text>
  <Action name="saveimageas" />
  <Action name="sendimage" />
  <Action name="copyimagelocation" />
  <Action name="viewimage" />
 </Menu>
 <Separator weakSeparator="1" />
 <Action name="savelinkas" />
 <Separator weakSeparator="1" />
 <Action name="selectAll" />
 <Separator weakSeparator="1" />
 <Action name="copylinklocation" />
 <Action name="stopanimations" />
 <Separator weakSeparator="1" />
 <Action name="security" />
 <Action name="setEncoding" />
</Menu>
</kpartgui>
