[Desktop Entry]
Name=KHTML Extension Adaptor
Name[ca]=Adaptador d'extensió KHTML
Name[de]=Adapter für KHTML-Erweiterungen
Name[el]=Προσαρμογέας επέκτασης KHTML
Name[es]=Adaptador de extensiones KHTML
Name[et]=KHTML-i laiendi adapter
Name[ga]=Cuibheoir Eisínteacht KHTML
Name[hu]=KHTML kiterjesztésadapter
Name[ja]=KHTML エクステンションアダプタ
Name[km]=អាដាប់ទ័រ​ផ្នែក​បន្ថែម KHTML
Name[ko]=KHTML 확장 기능 어댑터
Name[lv]=KHTML paplašinājumu adapteris
Name[nb]=KHTML-filutvidelsesadapter
Name[nds]=Koppelsteed för KHTML-Verwiedern
Name[ne]=केडीई एचटीएमएल विस्तार समायोजक
Name[nn]=KHTML-utvidingstilpassar
Name[pl]=Adapter rozszerzeń KHTML
Name[pt]=Adaptação da Extensão KHTML
Name[pt_BR]=Adaptador de Extensão KHTML
Name[sr]=Адаптор проширења за КХТМЛ
Name[sr@latin]=Adaptor proširenja za KTHML
Name[sv]=KHTML-utökningsanpassning
Name[ta]=KHTML விரிவு ஏற்பர்
Name[th]=ตัวแปลงส่วนขยาย KHTML
Name[x-test]=xxKHTML Extension Adaptorxx
Name[zh_CN]=KHTML 扩展适配器
Name[zh_TW]=KHTML 延伸裝置
X-KDE-Library=khtmladaptorpart
MimeType=application/x-khtml-adaptor;
X-KDE-ServiceTypes=KParts/ReadOnlyPart,Browser/View
Type=Service
InitialPreference=4
