<!DOCTYPE kpartgui SYSTEM "kpartgui.dtd"><kpartgui name="khtmlpart_popupmenu" version="15">
<Menu name="popupmenu">
 <Action name="copy" group="editactions"/>
 <Action name="selectAll" group="editactions"/>
 <Action name="searchProvider" group="editactions"/>
 <Action name="searchProviderList" group="editactions"/>
 <Action name="openSelection" group="editactions"/>
 <Separator weakSeparator="1" group="editactions"/>
 <Action name="savelinkas" group="linkactions"/>
 <Action name="copylinklocation" group="linkactions"/>
 <Menu name="frame"><text>Frame</text>
  <Action name="frameinwindow"/>
  <Action name="frameintop"/>
  <Action name="frameintab"/>
  <Separator weakSeparator="1" />
  <Action name="reloadframe"/>
  <Action name="printFrame"/>
  <Action name="saveFrame"/>
  <Action name="viewFrameSource" />
  <Action name="viewFrameInfo" />
  <Separator weakSeparator="1" />
  <Action name="blockiframe" />
 </Menu>
 <Separator weakSeparator="1" />
 <Action name="saveimageas" />
 <Action name="sendimage" />
 <Action name="copyimage" />
 <Action name="copyimagelocation" />
 <Action name="viewimage" />
 <Action name="blockimage" />
 <Action name="blockhost" />
 <Separator weakSeparator="1" />
 <Action name="stopanimations" />
 <Separator weakSeparator="1" />
 <Action name="viewDocumentSource" />
 <Action name="setEncoding" />
</Menu>
</kpartgui>
