[Desktop Entry]
Encoding=UTF-8
MimeType=text/css
Comment=Cascading Style Sheet
Comment[af]=Gekaskade Styl Staat
Comment[az]=Pilləli Tərz Səhifəsi
Comment[bg]=Файл със стилове (CSS)
Comment[bn]=ক্যাসকেডিং স্টাইল শিট
Comment[br]=Folenn c'hiz ensoc'het
Comment[ca]=Full d'estil en cascada
Comment[cy]=Dalen Arddull Rhaeadru (CSS)
Comment[da]=Kaskade-stilark (Cascading Style Sheet)
Comment[el]=Διαδοχικό φύλλο στυλ
Comment[eo]=CSS - Stildifino
Comment[es]=Hoja de estilo en cascada
Comment[et]=CSS-dokument
Comment[fa]=سبک صفحه‌ی آبشاری
Comment[fi]=CSS-tyylisivu
Comment[fr]=Feuille de style en cascade
Comment[fy]=Cascading Style Sheet (stylblêd)
Comment[gl]=Folla de Estilo en Cascada
Comment[he]=גיליון סגנון מדורג
Comment[hi]=कास्केडिंग स्टाइल शीट
Comment[hu]=CSS-stíluslap
Comment[is]=CSS skjal
Comment[it]=Foglio di stile a cascata (CSS)
Comment[km]=CSS
Comment[ko]=계단형 스타일시트
Comment[lt]=Pakopinis stiliaus aprašymas (CSS)
Comment[lv]=Kaskadētu Stilu Saraksts
Comment[mk]=CSS (страница со дизајн)
Comment[ms]=Lembaran Gaya Lata (CSS)
Comment[nb]=Stilsett (css)
Comment[nds]=Stilvörlaag-Datei (Cascading Style Sheet)
Comment[nl]=Cascading Style Sheet (stijlbladen)
Comment[nn]=Stilark
Comment[nso]=Letlakala la Mokgwa wo o Falatsago
Comment[pl]=Arkusz stylu kaskadowego (dla stron HTML)
Comment[pt_BR]=Folha de estilo em cascata (CSS)
Comment[ro]=Fişier CSS
Comment[ru]=Файл CSS
Comment[rw]=Kugerekeranya Urupapuro rw'Imisusire
Comment[se]=Stiilaárka
Comment[sk]=Kaskádový štýl
Comment[sl]=Kaskadni stilni list (CSS)
Comment[sq]=Tabak i Shkallëzuar Stilesh
Comment[sr]=Каскадни опис стила
Comment[sr@Latn]=Kaskadni opis stila
Comment[sv]=Stilmallar (CSS)
Comment[ta]=அடுக்குப் பாணித்தாள்
Comment[tg]=Сабқи Сафҳаи Обшорӣ
Comment[tr]=Kademeli Stil Sayfası
Comment[uk]=Таблиця каскадного стилю (CSS)
Comment[ven]=Tshitaela tshau peta kana u khavhisa bammbiri
Comment[vi]=CSS(Cascading Style Sheet) 
Comment[xh]=Uhlobo lwekhasi Elingxangxazayo
Comment[xx]=xxCascading Style Sheetxx
Comment[zh_CN]=层叠样式表单
Comment[zu]=Iphepha Lesitayela Lokulandelanisa
Icon=txt
Type=MimeType
Patterns=*.css;*.CSSL;

[Property::X-KDE-text]
Type=bool
Value=true
