[Desktop Entry]
Encoding=UTF-8
MimeType=text/css
Comment=Cascading Style Sheet
Comment[fr]=Feuille de style en cascade
Comment[x-test]=xxCascading Style Sheetxx
Icon=txt
Type=MimeType
Patterns=*.css;*.CSSL;

[Property::X-KDE-text]
Type=bool
Value=true
