[Desktop Entry]
Encoding=UTF-8
MimeType=text/css
Comment=Cascading Style Sheet
Comment[af]=Gekaskade Styl Staat
Comment[az]=Pilləli Tərz Səhifəsi
Comment[bg]=Файл на CSS
Comment[br]=Folenn c'hiz ensoc'het
Comment[da]=Kaskade-stilark
Comment[eo]=CSS - Stildifino
Comment[es]=Hoja de estilo en cascada
Comment[et]=CSS dokument
Comment[fi]=CSS-tyylisivu
Comment[fr]=Feuille de style en cascade
Comment[gl]=Folla de Estilo en Cascada
Comment[he]=גיליון סגנון מדורג
Comment[hu]=CSS stíluslap
Comment[is]=CSS-skjal
Comment[it]=Foglio di stile a cascata (CSS)
Comment[ko]=계단형 스타일 시트
Comment[lt]=Pakopinis stiliaus aprašymas (CSS)
Comment[lv]=Kaskadētu Stilu Saraksts
Comment[mk]=CSS (список на стилови)
Comment[nb]=CSS stilark
Comment[nl]=Cascading Style Sheet (stijlbladen)
Comment[nn]=Stilark
Comment[pl]=Arkusz stylu kaskadowego (dla stron HTML)
Comment[pt_BR]=Folha de estilo em cascata
Comment[ro]=Fişier CSS
Comment[ru]=Файл CSS
Comment[sk]=Kaskádový štýl
Comment[sl]=Podedovane slogovne predloge (CSS)
Comment[sv]=Stilmallar
Comment[ta]=«ÎìÌô À¡ó¾ò ¾¡û
Comment[tr]=Kademeli Stil Sayfası
Comment[uk]=Таблиця каскадного стилю (CSS)
Comment[ven]=Tshitaela tshau peta kana u khavhisa bammbiri
Comment[vi]=CSS (Cascading Style Sheet)
Comment[xh]=Uhlobo lwekhasi elingxangxazayo
Comment[xx]=xx
Comment[zh_CN]=层叠样式单
Comment[zu]=Isitayela lwekhasi eli Cascading
Icon=txt
Type=MimeType
Patterns=*.css;*.CSSL;
