[Desktop Entry]
MimeType=text/english
Comment=English Text
Comment[ca]=Text anglès
Comment[cs]=Anglickı text
Comment[da]=Engelsk tekst
Comment[de]=Englischer Text
Comment[eo]=Angla teksto
Comment[es]=Texto en Inglés
Comment[fi]=Englanninkielinen teksti
Comment[fr]=Texte en anglais
Comment[hr]=Tekst na engleskom
Comment[hu]=Angol szöveg
Comment[is]=Enskur texti
Comment[it]=Testo Inglese
Comment[ja]=±ÑÊ¸¥Æ¥­¥¹¥È
Comment[nl]=english tekst
Comment[no]=Engelsk tekst
Comment[pl]=Tekst angielski
Comment[pt]=Texto em Inglês
Comment[pt_BR]=Texto em Inglês
Comment[ro]=Text
Comment[ru]=áÎÇÌÉÊÓËÉÊ ÔÅËÓÔ
Comment[sk]=Anglickı text
Comment[sl]=Angle¹ko besedilo
Comment[sv]=Engelsk text
DefaultApp=KEdit
Icon=txt.png
Type=MimeType
Patterns=README;
