[Desktop Entry]
Encoding=UTF-8
MimeType=text/enriched
Comment=Lightly Enriched Text Document
Comment[af]='Lightly Enriched' Teks Dokument
Comment[az]=Həfifcə Zənginləşdirilmiş Mətn Sənədi
Comment[bg]=Леко разширен текстов файл (Lightly Enriched)
Comment[bs]=Lightly Enriched tekst dokument
Comment[ca]=Document de text lleugerament enriquit
Comment[cs]=Lehce obohacený textový dokument
Comment[cy]=Dogfen Testun wedi ei Chyfoethogi Rhywfaint
Comment[da]=Let beriget tekstdokument
Comment[de]=Textdokument mit zusätzlichen Formatierungen
Comment[el]=Ελαφρώς εμπλουτισμένο έγγραφο κειμένου
Comment[eo]=Iomete riĉigita tekstdokumento
Comment[es]=Documento de texto ligeramente enriquecido
Comment[et]=Vormindatud tekstidokument
Comment[eu]=Arinki hobetutako testu dokumentua
Comment[fa]=سند متنی، که سبک غنی‌شده
Comment[fi]=Kevyesti rikastettu tekstiasiakirja
Comment[fr]=Document en texte légèrement enrichi
Comment[fy]=Licht opmakke tekst Dokumint
Comment[gl]=Documento de Texto Lixeiramente Enriquecido
Comment[he]=טקסט עשיר במקצת
Comment[hi]=लाइटली एनरिच्ड पाठ दस्तावेज़
Comment[hr]=Malo obogaćeni tekstualni dokument
Comment[hu]=Lightly Enriched szöveges fájl
Comment[is]=Lítillega viðbætt textaskjal
Comment[it]=Documento di testo arricchito semplicemente
Comment[ja]=Lightly Enriched テキストドキュメント
Comment[km]=ឯកសារ​អត្ថបទ Lightly Enriched
Comment[lb]=Textdokument mat zousätzleche Formatéierungen
Comment[lt]=Lengvai raiškus teksto dokumentas
Comment[lv]=Paplašināts teksta dokuments
Comment[mk]=Лесно збогатен текстуален документ
Comment[mn]=Хялбар баяжуулсан текст баримт
Comment[ms]=Dokument Teks Diperkayakan Minimum
Comment[nb]=Utvidet tekstdokument
Comment[nds]=Textdokment mit Formateren
Comment[nl]=Licht opgemaakt tekstdocument
Comment[nn]=Lightly Enriched-tekstdokument
Comment[pa]=ਹਲਕਾ ਤਕਨੀਕੀ ਪਾਠ ਦਸਤਾਵੇਜ਼
Comment[pl]=Lekko wzbogacony dokument tekstowy
Comment[pt]=Documento de Texto Enriquecido
Comment[pt_BR]=Documento de Texto Puro
Comment[ro]=Document text LET (Lightly Enriched Text)
Comment[ru]=Документ Lightly Enriched
Comment[rw]=Inyandiko Mwandiko Ikize Byoroheje
Comment[se]=Lightly Enriched-teakstadokumeanta
Comment[sk]=Čiastočne rozšírený textový dokument
Comment[sl]=Besedilni dokument Lightly Enriched
Comment[sr]=Мало обогаћени текстуални документ
Comment[sr@Latn]=Malo obogaćeni tekstualni dokument
Comment[sv]=Något berikat textdokument
Comment[ta]=லேசாக செறிவூட்டப்பட்ட உரை ஆவணம்
Comment[tg]=Хуҷҷати Матни Lightly Enriched
Comment[tr]=Biraz Zenginleştirilmiş Metin Dosyası
Comment[tt]=Lightly Enriched İstälege
Comment[uk]=Злегка збагачений текстовий документ
Comment[wa]=Documint tecse ledjirmint eritchî
Comment[zh_CN]=轻装的丰富文本文档
Comment[zh_HK]=Lightly Enriched 文件檔案
Comment[zh_TW]=Lightly Enriched 文件檔案
Icon=txt
Type=MimeType
Patterns=

[Property::X-KDE-text]
Type=bool
Value=true
