[Desktop Entry]
Encoding=UTF-8
MimeType=text/enriched
Comment=Lightly Enriched Text Document
Comment[x-test]=xxLightly Enriched Text Documentxx
Icon=txt
Type=MimeType
Patterns=

[Property::X-KDE-text]
Type=bool
Value=true
