[Desktop Entry]
Comment=HTML Page
Comment[az]=HTML Səhifəsi
Comment[bg]=HTML страница
Comment[br]=Pajenn HTML
Comment[bs]=HTML stranica
Comment[ca]=Pàgina HTML
Comment[cs]=HTML dokument
Comment[da]=HTML-side
Comment[de]=HTML-Seite
Comment[el]=Σελίδα HTML
Comment[eo]=HTML-teksto
Comment[es]=Página HTML
Comment[et]=HTML lehekülg
Comment[eu]=HTML Orria
Comment[fi]=HTML-sivu
Comment[fr]=Page HTML
Comment[gl]=Páxina en HTML
Comment[he]=HTML ףד
Comment[hr]=HTML stranica
Comment[hu]=HTML fájl
Comment[is]=HTML-síða
Comment[it]=Pagina HTML
Comment[ja]=HTMLテキスト
Comment[ko]=HTML 쪽
Comment[lt]=HTML Puslapis
Comment[lv]=HTML Lapa
Comment[mi]=Whärangi HTML
Comment[mk]=HTML страница
Comment[mt]=Paġna HTML
Comment[nl]=HTML-pagina
Comment[no]=HTML-side
Comment[no_NY]=HTML-side
Comment[oc]=Pagina HTML
Comment[pl]=Strona HTML
Comment[pt_BR]=Página HTML
Comment[pt]=Página HTML
Comment[ru]=Страница HTML
Comment[sk]=HTML stránka
Comment[sl]=Dokument v HTML
Comment[sr]=HTML strana
Comment[sv]=HTML-sida
Comment[ta]=HTML Àì¸õ
Comment[tr]=HTML Sayfası
Comment[uk]=Сторінка HTML
Comment[vi]=Trang HTML 
Comment[wa]=Pådje HTML
Comment[xh]=Iphepha le HTML
Comment[zh_CN.GB2312]=HTML 页面
Icon=html
Type=MimeType
MimeType=text/html
Patterns=*.html;*.HTML;*.htm;*.HTM;
X-KDE-AutoEmbed=true
