[Desktop Entry]
Encoding=UTF-8
Comment=HTML Document
Comment[af]=HTML Dokument
Comment[ar]=مستند HTML
Comment[az]=HTML Sənədi
Comment[be]=Дакумэнт HTML
Comment[bg]=Уеб страница (HTML)
Comment[bn]=এইচ-টি-এম-এল (HTML) নথী
Comment[br]=Teul HTML
Comment[bs]=HTML dokument
Comment[ca]=Document HTML
Comment[cs]=HTML dokument
Comment[cy]=Dogfen HTML
Comment[da]=HTML-dokument
Comment[de]=HTML-Dokument
Comment[el]=Έγγραφο HTML
Comment[eo]=HTML-dokumento
Comment[es]=Documento HTML
Comment[et]=HTML-dokument
Comment[eu]=HTML dokumentua
Comment[fa]=سند HTML
Comment[fi]=HTML-asiakirja
Comment[fr]=Document HTML
Comment[fy]=HTML Dokumint
Comment[ga]=Cáipéis HTML
Comment[gl]=Documento HTML
Comment[he]=מסמך HTML
Comment[hi]=HTML दस्तावेज़ 
Comment[hr]=HTML dokument
Comment[hu]=HTML-dokumentum
Comment[is]=HTML skjal
Comment[it]=Documento HTML
Comment[ja]=HTML ドキュメント
Comment[km]=ឯកសារ HTML
Comment[ko]=HTML 문서
Comment[lb]=HTML-Dokument
Comment[lt]=HTML dokumentas
Comment[lv]=HTML dokuments
Comment[mk]=HTML документ
Comment[mn]=HTML Баримт
Comment[ms]=Dokumen HTML
Comment[nb]=HTML-dokument
Comment[nds]=HTML-Dokment
Comment[nl]=HTML-document
Comment[nn]=HTML-dokument
Comment[pa]=HTML ਦਸਤਾਵੇਜ਼
Comment[pl]=Dokument HTML
Comment[pt]=Documento em HTML
Comment[pt_BR]=Documento HTML
Comment[ro]=Document HTML
Comment[ru]=Документ HTML
Comment[rw]=HTML Inyandiko
Comment[se]=HTML-dokumeanta
Comment[sk]=HTML dokument
Comment[sl]=Dokument HTML
Comment[sq]=HTML Dokument
Comment[sr]=HTML документ
Comment[sr@Latn]=HTML dokument
Comment[sv]=HTML-dokument
Comment[ta]=HTML ஆவணம்
Comment[tg]=Хуҷҷати HTML 
Comment[th]=เอกสาร HTML
Comment[tr]=HTML Belgesi
Comment[tt]=HTML İstälek
Comment[uk]=Документ HTML
Comment[uz]=HTML ҳужжати
Comment[wa]=Documint HTML
Comment[zh_CN]=HTML 文档
Comment[zh_HK]=HTML 文件
Comment[zh_TW]=HTML 文件
Icon=html
Type=MimeType
MimeType=text/html
Patterns=*.html;*.HTML;*.htm;*.HTM;*.shtml;
X-KDE-AutoEmbed=true

[Property::X-KDE-text]
Type=bool
Value=true
