[Desktop Entry]
Type=MimeType
MimeType=text/javascript
Icon=javascript
Comment=JavaScript File
Comment[x-test]=xxJavaScript Filexx
X-KDE-IsAlso=application/x-javascript
