[Desktop Entry]
Encoding=UTF-8
MimeType=text/plain
Comment=Plain Text Document
Comment[fr]=Texte simple
Comment[x-test]=xxPlain Text Documentxx
Icon=txt
Type=MimeType
Patterns=*.txt;*.TXT;

[Property::X-KDE-text]
Type=bool
Value=true
