[Desktop Entry]
MimeType=text/plain
Comment=Plain Text
Comment[az]=Düz Mətn
Comment[bg]=Обичаен текст
Comment[br]=Skrid eeun
Comment[bs]=Čisti tekst
Comment[ca]=Text planer
Comment[cs]=Prostý text
Comment[da]=Almindelig tekst
Comment[de]=Einfacher Text
Comment[el]=Σκέτο Κείμενο
Comment[eo]=Plena teksto
Comment[es]=Texto sin formato
Comment[et]=Tavaline tekstifail
Comment[eu]=Textu fitxategia
Comment[fi]=Normaali teksti
Comment[fr]=Texte simple
Comment[gl]=Texto Plano
Comment[he]=טושפ טסקט
Comment[hr]=Čisti tekst
Comment[hu]=Egyszerű szöveg
Comment[is]=Texti
Comment[it]=Testo semplice
Comment[ja]=プレーンテキスト
Comment[ko]=보통 글월
Comment[lt]=Paprastas Tekstas
Comment[lv]=Atklāts Teksts
Comment[mi]=Panui Mäori
Comment[mk]=Обичен текст
Comment[mt]=Test Sempliċi
Comment[nl]=Platte tekst
Comment[no]=Enkel tekst
Comment[no_NY]=Rein tekst
Comment[oc]=Text planer
Comment[pl]=Zwykły tekst
Comment[pt_BR]=Texto Plano
Comment[pt]=Texto simples
Comment[ru]=Обычный текст
Comment[sk]=Jednoduchý text
Comment[sl]=Navadno besedilo
Comment[sr]=Običan tekst
Comment[sv]=Vanlig text
Comment[ta]=¦ÅÚõ ¯¨Ã
Comment[tr]=Düz Metin
Comment[uk]=Звичайний текст
Comment[vi]=Văn bản thuần tuý(plain text) 
Comment[wa]=Peur tecse
Comment[xh]=Umongo owodwa
Comment[zh_CN.GB2312]=普通文本
Icon=txt
Type=MimeType
Patterns=*.txt;
