[Desktop Entry]
MimeType=text/rdf
Comment=Resource Definition File
Comment[cs]=Soubor s definicemi zdrojů
Comment[da]=Ressource Definitionsfil
Comment[de]=Ressource-Definitions-Datei
Comment[eo]=Enhavdifina dosiero (RDF)
Comment[es]=Archivo de Definición de Recursos
Comment[et]=Ressursi definitsiooni fail
Comment[fi]=Resurssitiedosto
Comment[fr]=Fichier de définition de ressource
Comment[he]=םיבאשמ תרדגה ץבוק
Comment[hu]=Erőforrás-leíró fájl
Comment[is]=Skilgreiningaskrá auðlinda
Comment[it]=File di definizione risorse
Comment[ja]=リソース定義ファイル
Comment[ko]=자원 정의 파일
Comment[lt]=resursų aprašymo failas
Comment[lv]=Resursa Definīciju Fails
Comment[nl]=Ressource Definition-bestand
Comment[no]=Ressursdefinisjonsfil
Comment[no_NY]=Ressursdefinisjonsfil
Comment[pl]=Plik definicji zasobów
Comment[pt]=Ficheiro de Definição de Recursos (RDF)
Comment[pt_BR]=Arquivo de definições de recursos
Comment[ro]=Fişier de definiţii resurse
Comment[ru]=файл описания ресурсов rdf
Comment[sk]=Definičný súbor zdroja
Comment[sl]=Datoteka z definicijami virov
Comment[sr]=Fajl sa definicijama resursa
Comment[sv]=Resursdefinitionsfil
Comment[tr]=Kaynak Tanım Dosyası
Comment[uk]=Файл опису ресурсів
Comment[zh_CN.GB2312]=资源定义文件
Comment[zh_TW.Big5]=資源定義檔案
Icon=news
Type=MimeType
Patterns=*.rdf;*.RDF;
