[Desktop Entry]
Encoding=UTF-8
MimeType=text/rss
Comment=RDF Site Summary
Comment[fr]=Résumé de site RDF
Comment[x-test]=xxRDF Site Summaryxx
Icon=news
Type=MimeType
Patterns=*.rss;*.RSS;

[Property::X-KDE-text]
Type=bool
Value=true
