[Desktop Entry]
Encoding=UTF-8
MimeType=text/rtf
Comment=RTF Document
Comment[af]=RTF Dokument
Comment[ar]=مستند RTF
Comment[az]=RTF Sənədi
Comment[be]=Дакумэнт RTF
Comment[bg]=Документ RTF
Comment[bn]=রিচ টেক্সট ফর্ম্যাট (RTF) নথী
Comment[br]=Teul RTF
Comment[bs]=RTF dokument
Comment[ca]=Document RTF
Comment[cs]=Dokument RTF
Comment[cy]=Dogfen RTF
Comment[da]=RTF-dokument
Comment[de]=RTF-Dokument
Comment[el]=Έγγραφο RTF
Comment[eo]=RTF-dokumento
Comment[es]=Documento RTF
Comment[et]=RTF-dokument
Comment[eu]=RTF dokumentua
Comment[fa]=سند RTF
Comment[fi]=RTF-asiakirja
Comment[fr]=Document RTF
Comment[fy]=RTF Dokumint
Comment[ga]=Cáipéis RTF
Comment[gl]=Documento RTF
Comment[he]=מסמך RTF
Comment[hi]=RTF दस्तावेज़ 
Comment[hr]=RTF Dokument
Comment[hu]=RTF-dokumentum
Comment[is]=RTF skjal
Comment[it]=Documento RTF
Comment[ja]=RTF ドキュメント
Comment[ka]=RTF დოკუმენტი
Comment[km]=ឯកសារ RTF
Comment[ko]=RTF 문서
Comment[lt]=RTF dokumentas
Comment[lv]=RTF dokuments
Comment[mk]=RTF документ
Comment[mn]=RTF Баримт
Comment[ms]=Dokumen RTF
Comment[nb]=RTF-dokument
Comment[nds]=RTF-Dokment
Comment[nl]=RTF-document
Comment[nn]=RTF-dokument
Comment[pa]=RTF ਦਸਤਾਵੇਜ਼
Comment[pl]=Dokument RTF
Comment[pt]=Documento RTF
Comment[pt_BR]=Documento RTF
Comment[ro]=Document RTF
Comment[ru]=Документ RTF
Comment[rw]=RTF Inyandiko
Comment[se]=RTF-dokumeanta
Comment[sk]=RTF dokument
Comment[sl]=Dokument RTF
Comment[sq]=Dokument RTF
Comment[sr]=RTF Документ
Comment[sr@Latn]=RTF Dokument
Comment[sv]=RTF-dokument
Comment[ta]=RTF ஆவணம்
Comment[tg]=Хуҷҷати RTF 
Comment[th]=เอกสาร RTF
Comment[tr]=RTF Belgesi
Comment[tt]=RTF İstälek
Comment[uk]=Документ RTF
Comment[uz]=RTF ҳужжати
Comment[wa]=Documint RTF
Comment[xx]=xxRTF Documentxx
Comment[zh_CN]=RTF 文档
Comment[zh_TW]=RTF 文件
Icon=wordprocessing
Type=MimeType
Patterns=*.rtf;*.RTF;
[Property::X-KDE-text]
Type=bool
Value=true
[Property::X-KDE-NativeExtension]
Type=QString
Value=.rtf
[Property::X-KDE-CompatibleApplication]
Type=QString
Value=Microsoft Word

