[Desktop Entry]
MimeType=text/rtf
Comment=Rich Text Format
Comment[ca]=Format RTF
Comment[eo]=RTF-teksto
Comment[fi]=Rich Text -formaatti
Comment[fr]=Format de texte enrichi
Comment[hu]=Gazdag szöveg formátum
Comment[ja]=リッチテキストフォーマット
Comment[no]=Rikt tekstformat
Comment[no_NY]=Rikt tekstformat
Comment[ro]=Document RTF
Comment[sl]=Besedilo v RTF (Rich Text Format)
Comment[sv]=Dokument i RTF-format (Rich Text)
DefaultApp=kwrite
Icon=txt
Type=MimeType
Patterns=*.rtf;*.RTF;
