[Desktop Entry]
Encoding=UTF-8
Icon=html
Type=MimeType
MimeType=text/vnd.wap.wml
Patterns=*.wml;*.WML;
Comment=WML Document
Comment[ar]=مستند WML
Comment[be]=Дакумэнт WML
Comment[bs]=WML dokument
Comment[ca]=Document WML
Comment[cs]=WML dokument
Comment[da]=WML-dokument
Comment[de]=WML-Dokument
Comment[el]=Έγγραφο WML
Comment[eo]=WML-dokumento
Comment[es]=Documento de WML
Comment[et]=WML dokument
Comment[eu]=WML Dokumentua
Comment[fa]=سند WML
Comment[fi]=WML-asiakirja
Comment[fr]=Document WML
Comment[he]=מסמך WML
Comment[hu]=WML dokumentum
Comment[it]=Documento WML
Comment[ja]=WMLドキュメント
Comment[ko]=WML 문서
Comment[lt]=WML dokumentas
Comment[mt]=Dokument WML
Comment[nb]=WML-dokument
Comment[nl]=WML-document
Comment[nn]=WML-dokument
Comment[nso]=Tokomane ya WML
Comment[pl]=Dokument WML
Comment[pt]=Documento WML
Comment[pt_BR]=Documento WML
Comment[ro]=Document WML
Comment[ru]=Документ WML
Comment[sk]=WML dokument
Comment[sl]=Dokument WML
Comment[ss]=Lidokhumente le WML 
Comment[sv]=WML-dokument
Comment[ta]=WML ¬Å½õ
Comment[tr]=WML Belgesi
Comment[uk]=Документ WML
Comment[ven]=Manwalwa a WML
Comment[wa]=Documint WML
Comment[xh]=Uxwebhu lwe WML
Comment[zh_CN]=WML 文档
Comment[zh_TW]=WML 文件
Comment[zu]=Uhlu lwamafayela lwe-WML
