[Desktop Entry]
Encoding=UTF-8
Icon=html
Type=MimeType
MimeType=text/vnd.wap.wml
Patterns=*.wml;*.WML;
Comment=WML Document
Comment[af]=WML Dokument
Comment[ar]=مستند WML
Comment[az]=WML Sənədi
Comment[be]=Дакумэнт WML
Comment[bg]=Документ WML
Comment[bn]=ডাব্লিউ-এম-এল (WML) নথী
Comment[br]=Teul WML
Comment[bs]=WML dokument
Comment[ca]=Document WML
Comment[cs]=WML dokument
Comment[cy]=Dogfen WML
Comment[da]=WML-dokument
Comment[de]=WML-Dokument
Comment[el]=Έγγραφο WML
Comment[eo]=WML-dokumento
Comment[es]=Documento de WML
Comment[et]=WML-dokument
Comment[eu]=WML dokumentua
Comment[fa]=سند WML
Comment[fi]=WML-asiakirja
Comment[fr]=Document WML
Comment[fy]=WML-Dokumint
Comment[ga]=Cáipéis WML
Comment[gl]=Documento WML
Comment[he]=מסמך WML
Comment[hi]=WML दस्तावेज़
Comment[hr]=WML dokument
Comment[hu]=WML-dokumentum
Comment[is]=WML skjal
Comment[it]=Documento WML
Comment[ja]=WMLドキュメント
Comment[km]=ឯកសារ WML
Comment[ko]=WML 문서
Comment[lt]=WML dokumentas
Comment[lv]=WML dokuments
Comment[mk]=WML документ
Comment[mn]=WML-Баримт
Comment[ms]=Dokumen WML
Comment[mt]=Dokument WML
Comment[nb]=WML-dokument
Comment[nds]=WML-Dokment
Comment[nl]=WML-document
Comment[nn]=WML-dokument
Comment[nso]=Tokomane ya WML
Comment[pa]=WML ਦਸਤਾਵੇਜ਼
Comment[pl]=Dokument WML
Comment[pt]=Documento WML
Comment[pt_BR]=Documento WML
Comment[ro]=Document WML
Comment[ru]=Документ WML
Comment[rw]=WML Inyandiko
Comment[se]=WML-dokumeanta
Comment[sk]=WML dokument
Comment[sl]=Dokument WML
Comment[sq]=Dokument WML
Comment[sr]=WML документ
Comment[sr@Latn]=WML dokument
Comment[ss]=Lidokhumente le WML 
Comment[sv]=WML-dokument
Comment[ta]=WML ஆவணம்
Comment[tg]=Хуҷҷати WML
Comment[th]=เอกสาร WML
Comment[tr]=WML Belgesi
Comment[uk]=Документ WML
Comment[uz]=WML ҳужжати
Comment[ven]=Manwalwa a WML
Comment[wa]=Documint WML
Comment[xh]=Uxwebhu lwe WML
Comment[xx]=xxWML Documentxx
Comment[zh_CN]=WML 文档
Comment[zh_TW]=WML 文件
Comment[zu]=Uhlu lwamafayela lwe-WML

[Property::X-KDE-text]
Type=bool
Value=true
