[Desktop Entry]
Encoding=UTF-8
Comment=ABC Music File
Comment[af]=ABC Musiek Lêer
Comment[bg]=Аудио файл ABC
Comment[bn]=এ-বি-সি মিউজিক ফাইল
Comment[br]=Restr ar sonerezh ABC
Comment[ca]=Fitxer de música ABC
Comment[cs]=Hudební soubor ABC
Comment[da]=ABC Musikfil
Comment[de]=ABC-Musikdatei
Comment[el]=Αρχείο ήχου ABC
Comment[es]=Archivo de música ABC
Comment[et]=ABC muusikafail
Comment[eu]=ABC musika fitxategia
Comment[fi]=ABC-musiikkitiedosto
Comment[fr]=Fichier musique ABC
Comment[fy]=ABC-Muzyktriem
Comment[gl]=Arquivo de Música ABC
Comment[he]=קובץ מוסיקה של ABC
Comment[hi]=एबीसी संगीत फ़ाइल
Comment[hu]=ABC-zenefájl
Comment[is]=ABC tónlistarskrá
Comment[it]=File ABC Music
Comment[km]=ឯកសារ​តន្ត្រី ABC
Comment[lt]=ABC muzikos byla
Comment[lv]=ABC mūzikas fails
Comment[mk]=Музичка датотека ABC
Comment[nb]=ABC musikkfil
Comment[nds]=ABC-Musikdatei
Comment[nl]=ABC Music-bestand
Comment[nn]=ABC-musikkfil
Comment[pa]=ABC ਸੰਗੀਤ ਫਾਇਲ
Comment[pl]=Plik muzyczny ABC
Comment[pt]=Ficheiro de Música ABC
Comment[pt_BR]=Arquivo de Música ABC
Comment[ro]=Fişier de muzică ABC
Comment[ru]=Звуковой файл ABC
Comment[rw]=Idosiye y'Umuziki ABC
Comment[se]=ABC-musihkkafiila
Comment[sk]=Hudobný súbor ABC
Comment[sl]=Glasbena datoteka ABC
Comment[sr]=ABC музички фајл
Comment[sr@Latn]=ABC muzički fajl
Comment[sv]=ABC-musikfil
Comment[ta]=ஏபிசி இசை கோப்பு
Comment[tg]=Файли Мусикии ABC
Comment[tr]=ABC Müzik Dosyası
Comment[uk]=Файл музики ABC
Comment[uz]=ABC аудио-файл
Comment[xx]=xxABC Music Filexx
Comment[zh_CN]=ABC 音乐文件
Icon=sound
Type=MimeType
MimeType=text/vnd.abc
Patterns=*.abc;*.ABC;


[Property::X-KDE-text]
Type=bool
Value=true
