[Desktop Entry]
Encoding=UTF-8
Comment=Ada Source File
Comment[fr]=Fichier source Ada
Comment[x-test]=xxAda Source Filexx
Icon=source_cpp
Type=MimeType
MimeType=text/x-adasrc
Patterns=*.adb;*.ads;

[Property::X-KDE-text]
Type=bool
Value=true
