[Desktop Entry]
Comment=C++ sources
Comment[ca]=Fonts C++
Comment[cs]=Zdrojový kód v jazyku C++
Comment[da]=C++ kilder
Comment[de]=C++ Quellcode
Comment[eo]=C++-fontkodo
Comment[es]=Código C++
Comment[fi]=C++ -lähdekoodi
Comment[fr]=Fichier source C++
Comment[hr]=C++ izvorne datoteke
Comment[hu]=C++ forrás
Comment[is]='C++'-forritstexti
Comment[it]=Sorgenti C++
Comment[ja]=C++¥½¡¼¥¹¥Õ¥¡¥¤¥ë
Icon=c_src.png
Type=MimeType
MimeType=text/x-c++
Patterns=
