[Desktop Entry]
Encoding=UTF-8
Comment=C++ Source File
Comment[x-test]=xxC++ Source Filexx
Icon=source_cpp
Type=MimeType
MimeType=text/x-c++src
Patterns=*.cpp;*.cxx;*.cc;*.C;*.CPP;
X-KDE-IsAlso=text/plain

[Property::X-KDE-text]
Type=bool
Value=true
