[Desktop Entry]
Comment=C headers
Comment[ca]=Capçaleres C
Comment[cs]=Hlavičkový soubor jazyka C
Comment[de]=C-Header
Comment[eo]=C-difinoj
Comment[fi]=C-otsikot
Comment[fr]=Fichier d'en-tête C
Comment[hu]=C fejléc
Comment[ja]=Cヘッダーファイル
Comment[no]=C-hodefil
Comment[no_NY]=C-'header'-fil
Comment[pt]=Header C
Comment[ro]=Fişier antet C
Comment[sl]=Glava C
Comment[sv]=C-headerfil
DefaultApp=kwrite
Icon=h_src
Type=MimeType
MimeType=text/x-chdr
Patterns=*.h;
