[Desktop Entry]
Comment=C headers
Comment[az]=C başlıq faylları
Comment[bg]=Файл-заглавия на C
Comment[br]=Reollin C
Comment[bs]=C datoteke sa zaglavljima
Comment[ca]=Capçaleres C
Comment[cs]=Hlavičkový soubor jazyka C
Comment[da]=C hovedfiler
Comment[de]=C-Header
Comment[el]=κεφαλίδες C
Comment[eo]=C-difinoj
Comment[es]=Cabecera C
Comment[et]=C päised
Comment[eu]=C burukoa
Comment[fi]=C-otsikot
Comment[fr]=Fichier d'en-tête C
Comment[gl]=Cabeceiras en C
Comment[he]=C תורתוכ
Comment[hr]=C datoteke sa zaglavljima
Comment[hu]=C header fájl
Comment[is]=C-skilgreiningar
Comment[it]=Header C
Comment[ja]=Cヘッダーファイル
Comment[ko]=C 머리글
Comment[lt]=C antraštės
Comment[lv]=C hederi
Comment[mi]=Üpoko C
Comment[mk]=C заглавје
Comment[nl]=C-kopteksten
Comment[no]=C-deklarasjonsfil
Comment[no_NY]=C-deklarasjonsfil
Comment[oc]=En-testas C
Comment[pl]=Nagłówek C
Comment[pt_BR]=Cabeçalhos C
Comment[pt]=Header C
Comment[ru]=Файл-заголовок C
Comment[sk]=C hlavička
Comment[sl]=Glave C
Comment[sr]=C zaglavlje
Comment[sv]=C-headerfil
Comment[ta]=C ¾¨ÄôÒ¸û
Comment[tr]=C başlık dosyaları
Comment[uk]=Файли заголовків C
Comment[vi]=Header của file C 
Comment[zh_CN.GB2312]=C 头文件
Icon=source_h
Type=MimeType
MimeType=text/x-chdr
Patterns=*.h;
