[Desktop Entry]
Comment=C sources
Comment[az]=C mənbə kodları
Comment[bg]=Файл на C
Comment[br]=Tarzh C
Comment[bs]=C izvorne datoteke
Comment[ca]=Fonts C
Comment[cs]=Zdrojový kód v jazyku C
Comment[da]= C-kilder
Comment[de]=C-Quellcode
Comment[el]=κώδικας C
Comment[eo]=C-fontoj
Comment[es]=Código C
Comment[et]=C lähtetekst
Comment[eu]=C kodea
Comment[fi]=C-lähdekoodi
Comment[fr]=Fichier source C
Comment[gl]=Código fonte en C
Comment[he]=C לש רוקמ ידוק
Comment[hr]=C izvorne datoteke
Comment[hu]=C forrásfájl
Comment[is]=C-kóði
Comment[it]=Sorgenti C
Comment[ja]=Cソースファイル
Comment[ko]=C 밑그림
Comment[lt]=C išeities tekstai
Comment[lv]=C avoti
Comment[mi]=Mätäpuna C
Comment[mk]=C изворен код
Comment[mt]=Sorsi C
Comment[nl]=C-bronnen
Comment[no]=C-kildekode
Comment[no_NY]=C-kjelde
Comment[oc]=Sorças C
Comment[pl]=Źródło C
Comment[pt_BR]=Programas C
Comment[pt]=Código C
Comment[ru]=Файл на C
Comment[sk]=Zdrojový kód v jazyku C
Comment[sl]=Izvorna koda C
Comment[sr]=C izvorni kod
Comment[sv]=C-källkod
Comment[ta]=C ãÄí¸û
Comment[tr]=C kaynak kodları
Comment[uk]=Вихідний файл C
Comment[vi]=Nguồn C 
Comment[xh]=C iimvelaphi
Comment[zh_CN.GB2312]=C 源文件
Icon=source_c
Type=MimeType
MimeType=text/x-csrc
Patterns=*.c;
