[Desktop Entry]
Encoding=UTF-8
MimeType=text/x-diff
Comment=Differences Between Files
Comment[af]=Verskille Tussen Lêers
Comment[ar]=الاختلاف بين الملفات
Comment[be]=Розьніца паміж файламі
Comment[bs]=Razlika između datoteka
Comment[ca]=Diferències entre fitxers
Comment[cs]=Souhrn rozdílů mezi soubory
Comment[da]=Forskelle mellem filer
Comment[de]=Unterschiede zwischen Dateien
Comment[el]=Διαφορές μεταξύ αρχείων
Comment[eo]=Diferencoj inter dosieroj
Comment[es]=Diferencias entre archivos
Comment[et]=Failidevaheline erinevus
Comment[eu]=Bi fitxategien arteko ezberdintasunak erakusten ditu
Comment[fa]=اختلاف‌های میان پرونده‌ها
Comment[fi]=Tiedostojen väliset erot
Comment[fr]=Différences entre fichiers
Comment[he]=הבדלים בין קבצים
Comment[hu]=Diff különbségfájl
Comment[it]=Differenze tra file
Comment[ja]=2つのファイルの差分
Comment[ko]=두 파일 차이를 기록한 파일
Comment[lt]=Skirtumai tarp bylų
Comment[mt]=Differenzi bejn fajls
Comment[nb]=Forskjell mellom to filer
Comment[nl]=Verschil tussen bestanden
Comment[nn]=Skilnadar mellom to filer
Comment[nso]=Diphapano Magareng ga Difaele
Comment[pl]=Różnice między dwoma plikami
Comment[pt]=Diferenças entre ficheiros
Comment[pt_BR]=Diferenças entre arquivos
Comment[ro]=Diferenţe între fişiere
Comment[ru]=Различия между файлами
Comment[sk]=Rozdiely medzi dvoma súbormi
Comment[sl]=Razlike med datotekami
Comment[sv]=Skillnader mellan filer
Comment[ta]=§¸¡ôÒ¸Ùì¸¢¨¼§Â ¯ûÇ §ÅÚÀ¡Î¸û
Comment[tr]=İki Dosya Arasındaki Farklar
Comment[uk]=Різниця двох файлів
Comment[ven]=Phambano vhukati ha dzifaela
Comment[xh]=Iyantlukwano Phakathi Kweefayile
Comment[zh_CN]=文件的差异
Comment[zh_TW]=在檔案間的差異
Comment[zu]=Amafayela phakathi komehluko
Icon=txt
Type=MimeType
Patterns=*.dif;*.diff;*.patch
