[Desktop Entry]
Encoding=UTF-8
MimeType=text/x-diff
Comment=Differences Between Files
Comment[af]=Verskille Tussen Lêers
Comment[ar]=الاختلاف بين الملفات
Comment[az]=Fayllar Arasındakı Fərq
Comment[be]=Розьніца паміж файламі
Comment[bg]=Различия между файлове (diff)
Comment[bn]=একাধিক ফাইলের মধ্যে পার্থক্য
Comment[bs]=Razlika između datoteka
Comment[ca]=Diferències entre fitxers
Comment[cs]=Souhrn rozdílů mezi soubory
Comment[cy]=Gwahaniaethau Rhwng Ffeiliau
Comment[da]=Forskelle mellem filer
Comment[de]=Unterschiede zwischen Dateien
Comment[el]=Διαφορές μεταξύ αρχείων
Comment[eo]=Diferencoj inter dosieroj
Comment[es]=Diferencias entre archivos
Comment[et]=Failidevaheline erinevus
Comment[eu]=Fitxategien arteko desberdintasunak
Comment[fa]=اختلاف‌های میان پرونده‌ها
Comment[fi]=Tiedostojen väliset erot
Comment[fr]=Différences entre fichiers
Comment[fy]=Ferskil tusken triemen
Comment[ga]=Difríochtaí idir chomhaid
Comment[gl]=Diferéncias Entre Arquivos
Comment[he]=הבדלים בין קבצים
Comment[hi]=फ़ाइलों के बीच में अंतर
Comment[hr]=Razlike između datoteka
Comment[hu]=Diff-különbségfájl
Comment[is]=Skjal sem lýsir mun tveggja annarra skráa
Comment[it]=Differenze tra file
Comment[ja]=2つのファイルの差分
Comment[km]=ភាព​ខុស​គ្នា​រវាង​ឯកសារ
Comment[ko]=두 파일 차이를 기록한 파일
Comment[lb]=Ënnerscheeder zwëschen Dateien
Comment[lt]=Skirtumai tarp bylų
Comment[lv]=Atšķirības starp failiem
Comment[mk]=Разлики помеѓу датотеки
Comment[mn]=Файлуудын хоорондох ялгаа
Comment[ms]=Beza Antara Fail
Comment[mt]=Differenzi bejn fajls
Comment[nb]=Forskjell mellom to filer
Comment[nds]=Verscheel twischen Dateien
Comment[nl]=Verschil tussen bestanden
Comment[nn]=Skilnadar mellom to filer
Comment[nso]=Diphapano Magareng ga Difaele
Comment[pa]=ਫਾਇਲਾਂ ਵਿਚਕਾਰ ਅੰਤਰ
Comment[pl]=Różnice między dwoma plikami
Comment[pt]=Diferenças entre ficheiros
Comment[pt_BR]=Diferenças entre arquivos
Comment[ro]=Diferenţe între fişiere
Comment[ru]=Различия между файлами
Comment[rw]=Ibinyuranyo hagati y'Amadosiye
Comment[se]=Erohusat fiillaid gaskkas
Comment[sk]=Rozdiely medzi dvoma súbormi
Comment[sl]=Razlike med datotekami
Comment[sq]=Dallimet Ndërmjet Skedarëve
Comment[sr]=Разлике између фајлова
Comment[sr@Latn]=Razlike između fajlova
Comment[sv]=Skillnader mellan filer
Comment[ta]=கோப்புகளுக்கிடையே உள்ள வேறுபாடுகள்
Comment[tg]=Дигаргунӣ байни файлҳо
Comment[th]=ความแตกต่างระหว่างแฟ้ม
Comment[tr]=İki Dosya Arasındaki Farklar
Comment[tt]=Biremnär Arasında Ayırma
Comment[uk]=Різниця двох файлів
Comment[uz]=Файллар ўртасидаги фарқ
Comment[ven]=Phambano vhukati ha dzifaela
Comment[wa]=Diferinces etur des fitchîs
Comment[xh]=Iyantlukwano Phakathi Kweefayile
Comment[zh_CN]=文件的差异
Comment[zh_TW]=在檔案間的差異
Comment[zu]=Amafayela phakathi komehluko
Icon=txt
Type=MimeType
Patterns=*.dif;*.diff;*.patch
X-KDE-IsAlso=text/plain

[Property::X-KDE-text]
Type=bool
Value=true
