[Desktop Entry]
Comment=Java sources
Comment[ca]=Fonts Java
Comment[cs]=Zdrojovı kód v jazyku Java
Comment[da]=Java kilder
Comment[eo]=Java-fontoj
Comment[es]=Código java
Comment[fi]=Java -lähdekoodi
Comment[fr]=Fichier source Java
Comment[hr]=Java izvorni kod
Comment[hu]=Java forrás
Comment[is]=Java-forritstexti
Comment[it]=Sorgente Java
Comment[ja]=Java¥½¡¼¥¹¥Õ¥¡¥¤¥ë
Comment[mi]=Java forrás
Comment[nl]=Java bronbestand
Comment[no]=Java-kildekode
Comment[no_NY]=Java-kjelde
Comment[pl]=¬ród³o Javy
Comment[pt]=Programa Java
Comment[pt_BR]=Programas Java
Comment[ro]=Sursã Java
Comment[ru]=ğÒÏÇÒÁÍÍÁ ÎÁ ÑÚÙËÅ Java
Comment[sk]=Zdrojovı kód v jazyku Java
Comment[sl]=Izvorna koda Java
Comment[sr]=Java sorsovi
Comment[sv]=Java-källkod
Icon=java_src
Type=MimeType
MimeType=text/x-java
Patterns=*.java;
