[Desktop Entry]
Encoding=UTF-8
Comment=File List (for the Kate File List Loader Plugin)
Comment[x-test]=xxFile List (for the Kate File List Loader Plugin)xx
Icon=unknown
Type=MimeType
MimeType=text/x-katefilelist
Patterns=*.katefl;

[Property::X-KDE-text]
Type=bool
Value=true
