[Desktop Entry]
Encoding=UTF-8
Comment=File List (for the Kate File List Loader Plugin)
Comment[af]=Lêer Lys (vir die Kate Lêer Lys Laaier Inplak)
Comment[ar]=قائمة الملفات (لملحق محمل قائمة ملفات كيت)
Comment[bs]=Lista datoteka (za Kate Učitavač liste datoteka)
Comment[ca]=Llista de fitxers (pel mòdul carregador de la llista de fitxers del Kate)
Comment[cs]=Seznam souborů (modul pro Kate)
Comment[da]=Filliste (for Kate-plugin Fillisteindlæser)
Comment[de]=Dateiliste (für Kate-Dateien-Plugin)
Comment[el]=Λίστα αρχείων (Για το πρόσθετο φόρτωσης λίστας αρχείων του Kate)
Comment[eo]=Dosierlisto (por la "Kate"-dosierlista-kromaĵo)
Comment[es]=Lista de archivos (para el módulo cargador de lista de arhivos de Kate)
Comment[et]=Failide nimekiri (Kate'i failide nimekirja plugina jaoks)
Comment[eu]= Fitxategi Zerrenda (Kate File List Loader Pluginerako)
Comment[fa]=سیاهه‌ی پرونده (برای متصل‌کننده‌ی بارکننده‌ی سیاهه‌ی پرونده‌ی Kate)
Comment[fi]=Tiedostolista (Kate tiedostolistasovelmalle)
Comment[fr]=Liste des fichiers (pour le module externe du chargeur de liste de fichiers de Kate)
Comment[he]=רשימת קבצים (עבור תוסף טעינת רשימות הקבצים של Kate)
Comment[hu]=Fájllista (a Kate fájllista-betöltő bővítőmodulhoz)
Comment[it]=Lista di file (per il plugin Caricamento lista file di Kate)
Comment[ja]=ファイルリスト(Kate ファイルリスト読み込みプラグイン)
Comment[ko]=(카테용 파일 목록 부름이 플러그인에서 쓰는) 파일 목록
Comment[lt]=Bylų sąrašas (skirtas Kate bylų sąrašo pakrovėjo priedui)
Comment[mt]=Lista ta' fajls għal Kate
Comment[nb]=Filliste (Til Kate fillistelaster-programtillegget)
Comment[nl]=Bestandslijst (voor de Kate-bestandenplugin)
Comment[nn]=Filliste (for Kate-programtillegget for fillistelasting)
Comment[nso]=Palo ya Faele (ya Tsenyo ya Selaisi sa Palo ya Faele ya Kate)
Comment[pl]=Lista plików (dla wtyczki wczytującej pliki w Kate)
Comment[pt]=Lista de Ficheiros (para o 'plugin' da Lista de Ficheiros do Kate)
Comment[pt_BR]=Lista de Arquivos (para o Plugin carregador de Lista de Arquivos do Kate)
Comment[ro]=Listă de fişiere (pentru modulul de listă de fişiere Kate)
Comment[ru]=Список файлов (для модуля загрузки списка файлов Kate)
Comment[sk]=Zoznam súborov (pre modul Kate pre zoznam súborov)
Comment[sl]=Seznam datotek (za vstavek seznama datotek Kate)
Comment[sv]=Fillista för (insticksprogram för Kates fillistladdare)
Comment[ta]=§¸¡ôÒô ÀðÊÂø (§¸ð §¸¡ôÒô ÀðÊÂø ²üÈî ¦ºÕ¸¢ìÌ)
Comment[tr]=Dosya Listesi
Comment[uk]=Список файлів (для втулка списку файлів Kate)
Comment[ven]=Mutevhe wa Faela (Uitela pulagini ya tshihwesi tsha mutevhe wa faela wa Kate)
Comment[xh]=Uluhlu Lwefayile (zoluhlu Yomlayishi Weplagi efakwayo Yefayile ka Kate) 
Comment[zh_CN]=文件列表(用于 Kate 文件列表装入器插件)
Comment[zh_TW]=檔案清單 (供 Kate 檔案清單載入器)
Comment[zu]=Uhlu Lwamafayela (Ukungena ngaphakathi Komlayishi Kwefayela Lohlu)
Icon=unknown
Type=MimeType
MimeType=text/x-katefilelist
Patterns=*.katefl;
