[Desktop Entry]
Encoding=UTF-8
Comment=LDAP Addressbook
Icon=vcard
Type=MimeType
MimeType=text/x-ldif
Patterns=*.ldif;*.LDIF

[Property::X-KDE-text]
Type=bool
Value=true
