[Desktop Entry]
MimeType=text/x-makefile
Comment=Makefile
Comment[da]=Makefil
Comment[eo]=Muntdosiero
Comment[hu]=Makefájl
Comment[is]=Make-skrá
Comment[mi]=Makefájl
Comment[no_NY]='Make'-fil
Comment[ro]=Fiºier Makefile
DefaultApp=kwrite
Type=MimeType
Patterns=Makefile*;makefile*;
