[Desktop Entry]
MimeType=text/x-makefile
Comment=Makefile
Comment[eo]=Muntdosiero
Comment[hu]=Makefájl
Comment[no_NY]='Make'-fil
Comment[ro]=Fişier Makefile
DefaultApp=kwrite
Type=MimeType
Patterns=Makefile*;makefile*;
Icon=make
