# KDE Config File
[Desktop Entry]
Encoding=UTF-8
Comment=Objective-C Source File
Comment[x-test]=xxObjective-C Source Filexx
Icon=source_c
Type=MimeType
MimeType=text/x-objcsrc
Patterns=*.m;
X-KDE-IsAlso=text/plain

[Property::X-KDE-text]
Type=bool
Value=true
