[Desktop Entry]
Comment=Pascal sources
Comment[az]=Pascal mənbə kodları
Comment[bg]=Програма на Паскал
Comment[br]=Tarzh Pascal
Comment[bs]=Pascal izvorni kod
Comment[ca]=Fonts Pascal
Comment[cs]=Zdrojový kód v jazyku Pascal
Comment[da]=Pascal kilder
Comment[de]=Pascal-Quellcode
Comment[el]=Πηγαίος κώδικας Pascal
Comment[eo]=Paskal-fontoj
Comment[es]=Código Pascal
Comment[et]=Pascali lähtetekst
Comment[eu]=Pascal kodea
Comment[fi]=Pascal-lähdekoodi
Comment[fr]=Fichier source Pascal
Comment[gl]=Código fonte en Pascal
Comment[he]=לקספ לש רוקמ ידוק
Comment[hr]=Pascal izvorni kod
Comment[hu]=Pascal forrásfájl
Comment[is]=Pascal-kóði
Comment[it]=Sorgenti Pascal
Comment[ja]=Pascalファイル
Comment[ko]=파스칼 밑그림
Comment[lt]=Pascal išeities tekstai
Comment[lv]=Paskāla avoti
Comment[mi]=Mätäpuna Pascal
Comment[mk]=Pascal изворен код
Comment[mt]=Sorsi Pascal
Comment[nl]=Pascal-bronnen
Comment[no]=Pascal-kildekode
Comment[no_NY]=Pascal-kjelde
Comment[oc]=Sorças Pascal
Comment[pl]=Źródło Pascala
Comment[pt_BR]=Programas Pascal
Comment[pt]=Programa em Pascal
Comment[ru]=Программа на Паскале
Comment[sk]=Zdrojový kód v jazyku Pascal
Comment[sl]=Izvorna koda Pascal
Comment[sr]=Pascal izvorni kod
Comment[sv]=Pascal-källkod
Comment[ta]=Pascal ãÄí¸û
Comment[tr]=Pascal kaynak kodları
Comment[uk]=Вихідний файл Pascal
Comment[vi]=Mã nguồn Pascal 
Comment[xh]=Iimvelaphi ze Pascal
Comment[zh_CN.GB2312]=Pascal 源代码
Icon=source_p
Type=MimeType
MimeType=text/x-pascal
Patterns=*.p;*.pas;
