[Desktop Entry]
Encoding=UTF-8
Comment=Pascal Source File
Comment[af]=pascal bronkodes
Comment[ar]=شفرة باسكال
Comment[az]=Pascal mənbə kodları
Comment[bg]=Програма на Паскал
Comment[br]=Tarzh Pascal
Comment[bs]=Pascal izvorni kod
Comment[ca]=Fonts Pascal
Comment[cs]=Zdrojový kód v jazyku Pascal
Comment[da]=Pascal-kilder
Comment[de]=Pascal-Quellcode
Comment[el]=Πηγαίος κώδικας Pascal
Comment[eo]=Paskal-fontoj
Comment[es]=Código Pascal
Comment[et]=Pascali lähtetekst
Comment[eu]=Pascal kodea
Comment[fi]=Pascal-lähdekoodi
Comment[fr]=Fichier source Pascal
Comment[gl]=Código fonte en Pascal
Comment[he]=קודי מקור של פסקל
Comment[hr]=Pascal izvorni kod
Comment[hu]=Pascal forrásfájl
Comment[id]=Sumber Pascal
Comment[is]=Pascal-kóði
Comment[it]=Sorgenti Pascal
Comment[ja]=Pascalファイル
Comment[ko]=파스칼 밑그림
Comment[lt]=Pascal išeities tekstai
Comment[lv]=Paskāla avoti
Comment[mi]=Mätäpuna Pascal
Comment[mk]=Pascal изворен код
Comment[mt]=Sorsi Pascal
Comment[nb]=Pascal-kildekode
Comment[nl]=Pascal-bronnen
Comment[nn]=Pascal-kjelde
Comment[oc]=Sorças Pascal
Comment[pl]=Źródło Pascala
Comment[pt]=Programa em Pascal
Comment[pt_BR]=Programas Pascal
Comment[ro]=Surse Pascal
Comment[ru]=Программа на Паскале
Comment[sk]=Zdrojový kód v jazyku Pascal
Comment[sl]=Izvorna koda Pascal
Comment[sr]=Pascal izvorni kod
Comment[sv]=Pascal-källkod
Comment[ta]=Pascal ãÄí¸û
Comment[th]=ต้นฉบับโปรแกรมภาษาปาสคาล
Comment[tr]=Pascal kaynak kodları
Comment[uk]=Вихідний файл Pascal
Comment[ven]=Vhubvo ha Pascal
Comment[vi]=Mã nguồn Pascal 
Comment[xh]=Iimvelaphi ze Pascal
Comment[xx]=xx
Comment[zh_CN]=Pascal 源文件
Comment[zh_TW]=Pascal 原始碼
Comment[zu]=Izimvelaphi ze Pascal
Icon=source_p
Type=MimeType
MimeType=text/x-pascal
Patterns=*.p;*.pas;
