[Desktop Entry]
Encoding=UTF-8
Comment=Tcl File
Comment[af]=Tcl Lêer
Comment[ar]=ملف Tcl
Comment[be]=Файл Tcl
Comment[bs]=Tcl datoteka
Comment[ca]=Fitxer TCL
Comment[cs]=Program v jazyku TCL
Comment[da]=Tcl-fil
Comment[de]=Tcl-Datei
Comment[el]=Αρχείο Tcl
Comment[eo]=Tcl-dosiero
Comment[es]=Archivo TCL
Comment[et]=Tcl fail
Comment[eu]=Tcl Fitxategia
Comment[fa]=پرونده‌ي Tcl
Comment[fi]=Tcl-ohjelma
Comment[fr]=Fichier TCL
Comment[he]=קובץ Tcl
Comment[hu]=Tcl fájl
Comment[it]=File Tcl
Comment[ja]=Tcl ファイル
Comment[ko]=티클 파일
Comment[lt]=Tcl byla
Comment[mt]=Fajl Tcl
Comment[nb]=TcL-fil
Comment[nl]=Tcl-bestand
Comment[nn]=Tcl-fil
Comment[nso]=Faele ya Tcl
Comment[pl]=Plik Tcl
Comment[pt]=Programa em Tcl
Comment[pt_BR]=Arquivo Tcl
Comment[ro]=Fişier Tcl
Comment[ru]=Программа на Tcl
Comment[sk]=Tcl súbor
Comment[sl]=Datoteka Tcl
Comment[ss]=Lifayela le Tcl 
Comment[sv]=Tcl-fil
Comment[ta]=Tcl §¸¡ôÒ
Comment[tr]=Tcl Dosyası
Comment[uk]=Файл Tcl
Comment[ven]=Faela ya Tcl
Comment[xh]=Ifayile ye Tcl
Comment[zh_CN]=Tcl 文件
Comment[zh_TW]=Tcl 檔案
Comment[zu]=Ifayela le-Tcl
Type=MimeType
MimeType=text/x-tcl
Patterns=*.tcl;*.tk;
Icon=source
