[Desktop Entry]
Encoding=UTF-8
Comment=Tcl File
Comment[af]=Tcl Lêer
Comment[ar]=ملف Tcl
Comment[be]=Файл Tcl
Comment[br]=Restr Tcl
Comment[ca]=Fitxer TCL
Comment[cs]=Program v jazyku TCL
Comment[cy]=Ffeil Tcl
Comment[da]=Tcl-fil
Comment[de]=Tcl-Datei
Comment[el]=Αρχείο Tcl
Comment[eo]=Tcl-dosiero
Comment[es]=Archivo TCL
Comment[et]=Tcl-fail
Comment[eu]=Tcl fitxategia
Comment[fa]=پروندۀ Tcl
Comment[fi]=Tcl-ohjelma
Comment[fr]=Fichier TCL
Comment[fy]=Tcl-triem
Comment[ga]=Comhad TCL
Comment[gl]=Ficheiro Tcl
Comment[he]=קובץ Tcl
Comment[hr]=Tcl datoteka
Comment[hu]=Tcl-fájl
Comment[is]=Tcl-skrá
Comment[it]=File Tcl
Comment[ja]=Tcl ファイル
Comment[kk]=Tcl файлы
Comment[km]=ឯកសារ Tcl
Comment[ko]=티클 파일
Comment[lb]=Tcl-Datei
Comment[lt]=Tcl byla
Comment[lv]=Tcl fails
Comment[mk]=Tcl-датотека
Comment[ms]=Fail Tcl
Comment[nb]=TcL-fil
Comment[nds]=Tcl-Datei
Comment[ne]=Tcl फाइल
Comment[nl]=Tcl-bestand
Comment[nn]=Tcl-fil
Comment[pa]=Tcl ਫਾਇਲ
Comment[pl]=Plik Tcl
Comment[pt]=Programa em Tcl
Comment[pt_BR]=Arquivo Tcl
Comment[ro]=Fişier Tcl
Comment[ru]=Программа на Tcl
Comment[se]=Tcl-fiila
Comment[sl]=Datoteka Tcl
Comment[sr]=Tcl фајл
Comment[sr@Latn]=Tcl fajl
Comment[sv]=Tcl-fil
Comment[ta]=Tcl கோப்பு
Comment[tg]=Файли Tcl
Comment[tr]=Tcl Dosyası
Comment[uk]=Файл Tcl
Comment[uz]=Tcl-файли
Comment[x-test]=xxTcl Filexx
Comment[xh]=Ifayile ye Tcl
Comment[zh_HK]=Tcl 檔案
Comment[zh_TW]=Tcl 檔案
Type=MimeType
MimeType=text/x-tcl
Patterns=*.tcl;*.tk;
Icon=source
X-KDE-IsAlso=text/plain

[Property::X-KDE-text]
Type=bool
Value=true
