[Desktop Entry]
Encoding=UTF-8
Comment=TeX File
Comment[af]=Tex Lêer
Comment[ar]=ملف TeX
Comment[be]=Файл TeX
Comment[bs]=TeX datoteka
Comment[ca]=Fitxer TeX
Comment[cs]=Dokument sázecího systému TeX
Comment[da]=TeX-fil
Comment[de]=TeX-Datei
Comment[el]=Αρχείο TeX
Comment[eo]=TeX-dosiero
Comment[es]=Archivo TeX
Comment[et]=TeX fail
Comment[eu]=TeX Fitxategia
Comment[fa]=پرونده‌ی TeX
Comment[fi]=TeX-tiedosto
Comment[fr]=Fichier TeX
Comment[he]=קובץ TeX
Comment[hu]=TeX dokumentum
Comment[it]=File TeX
Comment[ja]=TeX ファイル
Comment[ko]=텍 파일
Comment[lt]=TeX byla
Comment[mt]=Fajl TeX
Comment[nb]=TeX-fil
Comment[nl]=TeX-bestand
Comment[nn]=TeX-fil
Comment[nso]=Faele ya TeX
Comment[pl]=Dokument TeX
Comment[pt]=Ficheiro TeX
Comment[pt_BR]=Arquivo TeX
Comment[ro]=Fişier TeX
Comment[ru]=Документ TeX
Comment[sk]=Súbor TeX
Comment[sl]=Datoteka TeX
Comment[ss]=Lifayela le TeX 
Comment[sv]=Tex-fil
Comment[ta]=TeX §¸¡ôÒ
Comment[tr]=TeX Dosyası
Comment[uk]=Файл TeX
Comment[ven]=Faela ya TeX
Comment[xh]=Ifayile ye TeX
Comment[zh_CN]=TeX 文件
Comment[zh_TW]=TeX 檔案
Comment[zu]=Ifayela le-TeX
Icon=tex
Type=MimeType
MimeType=text/x-tex
Patterns=*.tex;*.ltx;*.sty;*.cls;*.TEX;*.LTX;*.STY;*.CLS;
