[Desktop Entry]
Encoding=UTF-8
Comment=vCalendar Interchange File
Comment[af]=vcalendar uitruil lêer
Comment[ar]=ملف مبادلة vCalendar
Comment[az]=vCalendar mübadilə faylı
Comment[bg]=Файл на vCalendar
Comment[br]=Restr eskemm vCalendar
Comment[bs]=vCalendar datoteka za razmjenu
Comment[ca]=Fitxer d'intercanvi vCalendar
Comment[cs]=Výměnný soubor vCalendar
Comment[da]=vCalendar-udvekslingsfil
Comment[de]=vCalendar-Austauschdatei
Comment[el]=αρχείο ανταλλαγής vCalendar
Comment[eo]=Interŝanĝdosiero por vCalendar
Comment[es]=Archivo de intercambio de vCalendar
Comment[et]=VCalendari transpordifail
Comment[eu]=vCalendar elkartruke fitxategia
Comment[fi]=vCalendar-siirtotiedosto
Comment[fr]=Fichier d'échange vCalendar
Comment[gl]=Ficheiro de intercambio vCalendar
Comment[he]=קובץ vCalendar interchange
Comment[hr]=vCalendar datoteka za razmjenu
Comment[hu]=vCalendar fájl
Comment[id]=File vCalendar interchange
Comment[is]=vCalendar gagnaskrá
Comment[it]=File di interscambio vCalendar
Comment[ja]=vCalendar交換ファイル
Comment[ko]=vCalendar 내부 변경 파일
Comment[lt]=vCalendar apsikeitimų byla
Comment[lv]=vKalendāra apmaiņas fails
Comment[mi]=Könae hoko  vCalandar
Comment[mk]=vCalendar датотека
Comment[mt]=Fajl ta' skambju vCalendar
Comment[nb]=vCalendar-utvekslingsfil
Comment[nl]=vCalendar-interchange-bestand
Comment[nn]=vCalendar-delingsfil
Comment[oc]=FiquièR d'intercambi vCalendar
Comment[pl]=Plik wymiany vCalendar
Comment[pt]=Ficheiro vCalendar
Comment[pt_BR]=Arquivo de compartilhamento vCalendar
Comment[ro]=Fişier de schimb vCalendar
Comment[ru]=Файл vCalendar
Comment[sk]=Výmenný súbor vCalendar
Comment[sl]=Datoteka s koledarjem v obliki vCalendar
Comment[sr]=vCalendar interchange fajl
Comment[sv]=utbytesfil för vCalendar
Comment[ta]=vCalendar interchange §¸¡ôÒ
Comment[th]=แฟ้ม vCalendar interchange
Comment[tr]=vCalendar mübadele dosyası
Comment[uk]=Файл обміну даних vCalendar
Comment[ven]=Faela ya shandukea ya kahlenda
Comment[vi]=File tráo đổi vCalendar 
Comment[xh]=Ifayile etshintsha ngaphakathi ye vCalendar
Comment[xx]=xx
Comment[zh_CN]=vCalendar 交换文件
Comment[zh_TW]=vCalendar 交換檔案
Comment[zu]=Ifayile eshintsha ngaphakathi ye vCalendar
Icon=vcalendar
Type=MimeType
MimeType=text/x-vcalendar
Patterns=*.vcs
