[Desktop Entry]
Comment=XSLT Stylesheet File
Comment[af]=Xslt Stylblad Lêer
Comment[ar]=ملف ورقة نمط XSLT
Comment[az]=XSLT Tərz Layı Faylı
Comment[be]=Файл табліцы стыляў XSLT
Comment[bg]=Файл със стилове (XSLT)
Comment[bn]=XSLT স্টাইলশিট ফাইল
Comment[br]=Restr ar folenn c'hiz XSLT
Comment[bs]=XSLT Stylesheet datoteka
Comment[ca]=Fitxer full de càlcul a l'estil XSLT
Comment[cs]=Soubor se stylem XSLT
Comment[cy]=Ffeil Dalen Arddull XSLT
Comment[da]=XSLT-stilarkfil
Comment[de]=XSLT-Stilvorlage
Comment[el]=Αρχείο φύλλου στυλ XSLT
Comment[eo]=XSLT-dosiero
Comment[es]=Archivo de hoja de estilo XSLT
Comment[et]=XSLT laaditabeli fail
Comment[eu]=XSLT estilo-orriko fitxategia
Comment[fa]=پرونده‌ی صفحه‌گسترده‌ی XSLT
Comment[fi]=XSLT-tyylitiedosto
Comment[fr]=Feuille de style XSLT
Comment[fy]=XSLT-stylblêdtriem
Comment[ga]=Stílbhileog XSLT
Comment[gl]=Arquivo de folla de estilo XSLT
Comment[he]=קובץ גיליון סגנון XSLT
Comment[hi]=XSLT स्टाइलशीट फ़ाइल
Comment[hr]=XSLT datoteka s opisom stila
Comment[hu]=XSLT-stíluslapfájl
Comment[is]=XSLT stílskrá
Comment[it]=Foglio di stile XSLT
Comment[ja]=XSLT スタイルシートファイル
Comment[km]=ឯកសារ​សន្លឹក​រចនាប័ទ្ម XSLT
Comment[ko]=XSLT 스타일시트 파일
Comment[lb]=XSLT-Stilvirlagsdatei
Comment[lt]=XSLT stiliaus aprašymo byla
Comment[lv]=XSLT Stilu lapas fails
Comment[mk]=XSLT Stylesheet датотека
Comment[mn]=XSLT-Stylesheet Файл
Comment[ms]=Fail Gaya Lata XSLT
Comment[mt]=Stylesheet XSLT
Comment[nb]=XSLT-stilarkfil
Comment[nds]=XSLT-Stilvörlaag
Comment[nl]=XSLT-stijlbladbestand
Comment[nn]=XSLT-stilsettfil
Comment[nso]=Faele ya Letlakala la Mokgwa wa XSLT
Comment[pa]=XSLT Stylesheet ਫਾਇਲ
Comment[pl]=Arkusz stylu XSLT
Comment[pt]=Transformação XSLT
Comment[pt_BR]=Arquivo de Folha de Estilo XSLT
Comment[ro]=Fişier de stil XSLT
Comment[ru]=Таблица форматирования XSLT
Comment[rw]=Idosiye y'Imisusirerupapuro XSLT
Comment[se]=XSLT-stiilafiila
Comment[sk]=Súbor štýlu XSLT stylesheet
Comment[sl]=Datoteka s slogovno predlogo XSLT
Comment[sq]=Skedë XSLT Stzlesheet
Comment[sr]=XSLT фајл са описом стила
Comment[sr@Latn]=XSLT fajl sa opisom stila
Comment[sv]=XSLT-stilmallsfil
Comment[ta]=XSLT பாணிப்பக்கம் கோப்பு
Comment[tg]=Файли XSLT Stylesheet
Comment[tr]=XSLT Stylesheet Dosyası
Comment[tt]=XSLT-tışlaw Bireme
Comment[uk]=Файли таблиці стилів XSLT
Comment[uz]=XSLT Stylesheet-файли
Comment[ven]=Faela ya tshitaela tsha bammbiri ya XSLT
Comment[xh]=XSLT Ifayile Yohlobo lwekhasi
Comment[zh_CN]=XSLT 样式表文件
Comment[zh_TW]=XSLT 樣式表格檔案
Comment[zu]=Ifayela Lepheshana lesitayela lika-XSLT
Icon=html
MimeType=text/x-xslt
X-KDE-IsAlso=text/xml
Patterns=*.xslt;*.xsl;
Type=MimeType

[Property::X-KDE-text]
Type=bool
Value=true
