[Desktop Entry]
Comment=XSL Formating Object File
Comment[af]=Xsl Formatering Voorwerp Lêer
Comment[ar]=ملف تهيئة كائن لـ XSL
Comment[az]=XSL Formatlı Cism Faylı
Comment[be]=Аб'ектавы файл XSL
Comment[bg]=Файл за форматиране на данни (XSL)
Comment[bn]=XSL ফর্ম্যাটিং অবজেক্ট ফাইল
Comment[bs]=XSL datoteka (objekat za formatiranje)
Comment[ca]=Fitxer objecte en format XSL
Comment[cs]=Soubor XSL Formating Object
Comment[csb]=Lopk fòrmatującegò òbiektu XSL
Comment[cy]=Ffeil Gwrthrych Formatio XSL
Comment[da]=XSL-formateringsobjektfil
Comment[de]=XSL-Formatobjekt
Comment[el]=Αρχείο XSL Formating Object
Comment[eo]=XSL-dosiero kun formatobjektoj
Comment[es]=Archivo de objeto de formato XSL
Comment[et]=XSL vormindamise objektfail
Comment[eu]=XSL formatuko objektu-fitxategia
Comment[fa]=پروندۀ شیء قالب‌دار XSL
Comment[fi]=XSL-muotoinen objektitiedosto
Comment[fr]=Fichier de formatage d'objet XSL
Comment[fy]=XSL-yndielingsobjekt
Comment[gl]=Ficheiro de obxecto de Formato XSL
Comment[he]=קובץ אובייקט עיצוב XSL
Comment[hi]=XSL फॉर्मेटिंग ऑब्जेक्ट फ़ाइल
Comment[hr]=XSL oblikujuća objektna datoteka
Comment[hu]=XSL-formázási objektumfájl
Comment[id]=Berkas Obyek Format XSL
Comment[is]=XSL Sniðskrá
Comment[it]=File XSL Formatting Object
Comment[ja]=XSL フォーマットオブジェクトファイル
Comment[ka]=XSL ფორმატირების ფაილი
Comment[kk]=XSL пішімді объектік файл
Comment[km]=ឯកសារ​វត្ថុ​ធ្វើ​ទ្រង់ទ្រាយ XSL
Comment[ko]=XSL 형식 오프젝트 파일
Comment[lb]=XSL-Formatéierungsobjetsdatei
Comment[lt]=XSL Formating Object byla
Comment[lv]=XSL Formatēšanas Objektu Fails
Comment[mk]=Објектна датотека со XSL-формат
Comment[mn]=XSL-Форматтай объект файл
Comment[ms]=Fail Pengformat Objek XSL
Comment[mt]=Fajl tal-ifformattjar XSL
Comment[nb]=XSL-formatert objektfil
Comment[nds]=XSL-Formaatobjekt
Comment[ne]=XSL ढाँचाबद्ध वस्तु फाइल
Comment[nl]=XSL Formatting Object-bestand
Comment[nn]=XSL-formatobjektfil
Comment[nso]=Faele ya Sediriswa sa Thlolo ya XSL
Comment[pa]=XSL ਫਾਰਮਿਟਿੰਗ ਆਬਜੈਕਟ ਫਾਇਲ
Comment[pl]=Plik obiektu formatującego XSL
Comment[pt]=Ficheiro de XSL Formatting Object
Comment[pt_BR]=Arquivo Objeto XSL
Comment[ro]=Fişier obiect de formatare XSL
Comment[ru]=Объектный файл форматирования XSL
Comment[rw]=Idosiye y'Igikoresho mpinduramiterere XSL
Comment[se]=Objeaktafiila XSL-formáhtas
Comment[sk]=Objektový súbor formátovania XSL
Comment[sl]=Objektna datoteka za oblikovanje XSL
Comment[sq]=Skedë Objekti në XSL Formating
Comment[sr]=XSL форматирајући објектни фајл
Comment[sr@Latn]=XSL formatirajući objektni fajl
Comment[sv]=XSL-formateringsobjektfil
Comment[ta]=XSL வடிவமைப்புப் பொருள் கோப்பு
Comment[te]=XSL ఫార్మేటింగ్ ఆబ్జెక్ట్ దస్త్రం
Comment[tg]=Файли коркарди ҷадвалҳои XSL
Comment[th]=แฟ้มออบเจคต์รูปแบบ XSL
Comment[tr]=XSL Düzenleme Nesne Dosyası
Comment[tt]=XSL-tışlaw Bireme
Comment[uk]=Об'єктний файл форматування XSL
Comment[uz]=XSL format qilish obʼekt fayli
Comment[uz@cyrillic]=XSL формат қилиш объект файли
Comment[ven]=XSL yau vhumba tshithu tshga faela
Comment[vi]=Tập tin đối tượng định dạng XSL
Comment[xh]=XSL Ifomata Injongo Yefayile 
Comment[zh_CN]=XSL 格式对象文件
Comment[zh_HK]=XSL 格式物件檔案
Comment[zh_TW]=XSL 格式物件檔案
Comment[zu]=Ifayela Lokubonisa Lesakhiwo se-XSL
Icon=html
MimeType=text/x-xslfo
Patterns=*.fo;*.xslfo
Type=MimeType

[Property::X-KDE-text]
Type=bool
Value=true
