[Desktop Entry]
Comment=eXtended Markup Language document
Comment[ca]=Document XML
Comment[cs]=Dokument ve formátu XML (eXtended Markup Language)
Comment[de]=XML-Dokument
Comment[eo]=XML-dokumento
Comment[fi]=XML-dokumentti
Comment[fr]=Document en langage de marquage étendu (xml)
Comment[hu]=Kiterjesztett jelölő nyelvű dokumentum
Comment[ja]=eXtended Markup Language ドキュメント
Comment[no]=Utvidet markupspråk-dokument
Comment[no_NY]='eXtended Markup Language'-dokument
Comment[pt]=Documento eXtended Markup Language
Comment[ro]=Document XML
Comment[sl]=Spis v razširjenem opisnem jeziku XML
Comment[sv]=XML-dokument (extended markup language)
Icon=html
Type=MimeType
MimeType=text/xml
Patterns=*.xml;*.XML;
