Source: kdelibs
Section: libs
Priority: optional
Maintainer: Christopher L Cheney <ccheney@debian.org>
Build-Depends: debhelper (>> 4.0.18), arts-dev, automake1.7, gawk, gettext, libart-2.0-dev, libbz2-dev, libcupsys2-dev, libfam-dev, libldap2-dev, libdb2-dev, libpam0g-dev, libpcre3-dev, libsasl-dev, libssl-dev, libtiff3g-dev, libxml2-dev, libxslt1-dev, texinfo, xlibmesa3
Build-Depends-Indep: doxygen
Standards-Version: 3.5.7.0

Package: kdelibs
Section: libs
Architecture: all
Depends: kdelibs4 (= ${Source-Version}), kdelibs-bin (= ${Source-Version}), kdelibs-data (= ${Source-Version})
Description: KDE core libraries metapackage
 KDE core libraries metapackage.

Package: kdelibs-bin
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, python
Description: KDE core binaries
 KDE core binaries.
 You need these binaries to run kde applications.

Package: kdelibs-data
Section: libs
Architecture: all
Description: KDE core shared data
 KDE core shared data
 You need these data files to run kde applications.

Package: kdelibs4
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, kdelibs-bin (= ${Source-Version}), kdelibs-data (= ${Source-Version})
Conflicts: kdelibs3
Replaces: kdelibs3
Description: KDE core libraries
 KDE core libraries.
 You need these libraries to run kde applications.

Package: kdelibs4-dev
Section: devel
Architecture: any
Depends: kdelibs4 (= ${Source-Version}), kdelibs-bin (= ${Source-Version}), arts-dev, libart-2.0-dev, libcupsys2-dev, libfam-dev, libjpeg62-dev, libpcre3-dev
Provides: kdelibs-dev
Conflicts: kdelibs-dev
Replaces: kdelibs-dev
Description: KDE core libraries (development files)
 KDE core libraries.
 You need these include files to compile kde applications.

Package: kdelibs4-doc
Section: doc
Architecture: all
Provides: kdelibs-doc
Conflicts: kdelibs-doc
Replaces: kdelibs-doc
Description: KDE core library documentation
 KDE core library documentation.
 You need this documentation to develop KDE applications.
