Source: kdelibs
Build-Depends: automake (>= 1:1.4-p4-1.1), autoconf, debhelper (>> 3.0.0), flex, bison, gettext, libqt-dev (>= 2:2.3.2-1), uic (>= 2.3.2-1), libtiff3g-dev | libtiff-dev, libaudiofile-dev, libasound2-dev, docbook, libbz2-dev, libpcre3-dev, libcupsys2-dev | cupsys-dev, libxml2-dev (>= 2.4.8), libxslt1-dev (>= 1.0.6), binutils (>= 2.11.92.0.5-3), libsasl-dev, libssl-dev
Build-Depends-Indep: kdoc, qt-doc
Build-Conflicts: nas-lib, qt3-tools, libglib1.3-dev, kdelibs3-crypto
Section: libs
Priority: optional
Maintainer: Ivan E. Moore II <rkrusty@debian.org>
Standards-Version: 3.5.6

Package: kdelibs3
Architecture: any
Section: libs
Replaces: kdelibs2g, keystone, kdebase (<< 4:2.2.1-1), kdebase-libs (<< 4:2.2.1-2), konqueror (<< 4:2.2.1-1), kdelibs3-crypto
Depends: ${shlibs:Depends}, python, xbase-clients
Recommends: libarts, libkmid, kdelibs3-cups, aspell | ispell, libssl0.9.6
Conflicts: keystone, kdelibs3-crypto
Suggests: anti-aliasing-howto, gdb
Description: KDE core libraries (runtime files)
 KDE core libraries.
 You need these files to run kde applications.

Package: kdelibs3-cups
Architecture: any
Section: libs
Replaces: kdelibs4-cups
Depends: ${shlibs:Depends}
Enhances: kdebase
Suggests: cupsomatic-ppd
Description: KDE print system (CUPS support)
 This package contains the KDE printer bits which use CUPS. 

Package: libarts
Architecture: any
Section: libs
Replaces: libarts-alsa, libarts1, libarts1-alsa
Depends: ${shlibs:Depends}
Suggests: kdelibs3, artsbuilder
Enhances: kdebase
Conflicts: suidmanager (<< 0.50), libarts-alsa
Description: aRts Sound system
 aRts is a short form for "analog realtime synthesizer". The idea of the whole
 thing is to create/process sound using small modules which do certain tasks.
 These may be create a waveform (oscillators), play samples, filter data, add
 signals, perform effects like delay/flanger/chorus, or output the data to
 the soundcard.
 .
 aRts is the core sound system for KDE (and other systems)

Package: libkmid
Architecture: any
Section: libs
Replaces: libkmid-alsa, libkmid0, libkmid0-alsa
Depends: ${shlibs:Depends}
Enhances: kdebase
Conflicts: libkmid-alsa
Description: aRts Sound system (midi/kmedia support libraries)
 aRts is a short form for "analog realtime synthesizer". The idea of the whole
 thing is to create/process sound using small modules which do certain tasks.
 These may be create a waveform (oscillators), play samples, filter data, add
 signals, perform effects like delay/flanger/chorus, or output the data to
 the soundcard.
 .
 This package contains the midi and kmedia support files for aRts as well as 
 knotify

Package: libkmid-alsa
Architecture: any
Section: libs
Priority: extra
Replaces: libkmid, libkmid0, libkmid0-alsa
Depends: ${shlibs:Depends}
Enhances: kdebase
Provides: libkmid
Description: aRts Sound system (midi/kmedia support libraries with alsa)
 aRts is a short form for "analog realtime synthesizer". The idea of the whole
 thing is to create/process sound using small modules which do certain tasks.
 These may be create a waveform (oscillators), play samples, filter data, add
 signals, perform effects like delay/flanger/chorus, or output the data to
 the soundcard.
 .
 This package contains the midi and kmdedia support files for aRts as well as 
 knotify

Package: libarts-alsa
Architecture: any
Section: libs
Priority: extra
Replaces: libarts, libarts1, libarts1-alsa
Depends: ${shlibs:Depends}
Suggests: kdelibs3, artsbuilder
Enhances: kdebase
Conflicts: suidmanager (<< 0.50)
Provides: libarts
Description: aRts Sound system (built with alsa support)
 aRts is a short form for "analog realtime synthesizer". The idea of the whole
 thing is to create/process sound using small modules which do certain tasks.
 These may be create a waveform (oscillators), play samples, filter data, add
 signals, perform effects like delay/flanger/chorus, or output the data to
 the soundcard.
 .
 aRts is the core sound system for KDE (and other systems)

Package: libarts-dev
Architecture: any
Section: devel
Replaces: libarts (<< ${Source-Version}), libarts-alsa (<< ${Source-Version}), libarts1-dev
Depends: libarts (= ${Source-Version}) | libarts-alsa (= ${Source-Version}), libc6-dev, libaudiofile-dev
Suggests: kdelibs-dev, libasound2-dev
Conflicts: libarts1-dev
Description: aRts Sound system (development files)
 aRts sound system.
 .
 Header files needed to build apps that use the aRts sound daemon

Package: libkmid-dev
Architecture: any
Section: devel
Replaces: libkmid0-dev
Depends: libkmid (= ${Source-Version}) | libkmid-alsa (= ${Source-Version}) , kdelibs-dev
Conflicts: libkmid0-dev
Description: aRts Sound system (midi development files)
 aRts sound system.
 .
 Header files needed to build apps that use the aRts sound daemon and the
 midi specific portions of it.

Package: kdelibs3-doc
Architecture: all
Section: doc
Replaces: kdelibs-doc, kdelibs4-doc
Suggests: kdelibs-dev, libqt-dev, kdoc
Provides: kdelibs-doc
Description: KDE core library documentation
 These are the core documentation created by the kdoc package.  This package
 is needed for developing KDE related packages.

Package: kdelibs-dev
Architecture: any
Section: devel
Replaces: kdelibs2g-dev, kdelibs4-dev, kdepim-dev (<< 4:2.2.2-1)
Depends: kdelibs3 (= ${Source-Version}), libarts-dev (= ${Source-Version}), libkmid-dev (= ${Source-Version}), libqt-dev (>= 2:2.3.2-1), uic (>= 2:2.3.2-1) | kde-designer, libaudiofile-dev, gettext, libtiff3g-dev | libtiff-dev, docbook, libpcre3-dev, libbz2-dev
Recommends: kdelibs3-cups (= ${Source-Version})
Conflicts: kdelibs2g-dev, qt3-tools, kdelibs4-dev
Suggests: kdelibs3-doc, kdoc, libxml2-dev, libxslt1-dev
Description: KDE core libraries (development files)
 KDE core libraries.
 You need these files to compile kde applications.
