Source: kdelibs-cvs
Section: main/x11
Priority: extra
Maintainer: Stephan Kulow <coolo@kde.org>
Standards-Version: 2.5.0

Package: kdelibs3-cvs
Architecture: any
Section: x11
Depends: ${shlibs:Depends}, libjpeg62, xlib6g, mico-2.2.7 (>= 2.2.7)
Description: KDE core libraries (runtime files)
 KDE core libraries.
 You need these files to run kde applications.

Package: kdelibs-doc-cvs
Architecture: all
Section: doc
Depends: kdelibs3-cvs (= ${Source-Version})
Suggests: kdevelop, kdoc
Description: KDE core libraries (documentation)
 KDE library documentation.

Package: kdelibs3-cvs-dev
Architecture: any
Section: x11
Depends: kdelibs3-cvs (= ${Source-Version}), qt2-dev, libjpeg62-dev, xlib6g-dev, mico-2.2.7-dev (>= 2.2.7)
Conflicts: kdelibs0-dev, kdelibs2g-dev, kdelibs3-dev
Description: KDE core libraries (development files)
 KDE core libraries.
 You need these files to compile kde applications.
