#!/usr/bin/make -f
# Made with the aid of debmake, by Christoph Lameter,
# based on the sample debian/rules file for GNU hello by Ian Jackson.
# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1
 
# This is the debhelper compatability version to use.
export DH_COMPAT=3

SHELL=/bin/sh
BUILDDIR = $(shell pwd)
QTDOCDIR  = usr/share/doc/qt-doc/doc/html
KDEDOCDIR = usr/share/doc/kdelibs4-doc/html
export KDB2HTML_UNINSTALLED=$(BUILDDIR)/ksgmltools/customization/
ARCH = $(shell dpkg-architecture -qDEB_BUILD_ARCH)
ifeq ($(ARCH),alpha)
  COMPILER_FLAGS=CFLAGS="-O0 -mieee" CXXFLAGS="-O0 -mieee"
else
  COMPILER_FLAGS=CXX=g++ CC=gcc
endif

tmp = $(shell pwd)/debian/build-tmp
alsa-tmp = $(shell pwd)/debian/alsa-tmp

build: build-stamp alsa-stamp

-include debian/debiandirs

debian/debiandirs: admin/debianrules
	perl -w admin/debianrules echodirs > debian/debiandirs

build-stamp:
	dh_testdir
	if test ! -f configure; then \
	  make -f admin/Makefile.common ;\
	fi
	-chmod 755 configure
	version=`head -1 debian/changelog | sed -e "s#.*(\([^)]*\)).*#Debian Package \1#"` ;\
	$(COMPILER_FLAGS) \
	./configure $(configkde) --with-distribution="$$version (`cat /etc/debian_version`)" \
	--includedir=/usr/include/kde --without-alsa \
	--disable-cups

	make
	make DESTDIR=`pwd`/debian/install-tmp/ install

	touch build-stamp

alsa-stamp:
	dh_testdir
	-make -C arts/ clean
	-rm -f `find arts -name "*.mcoptype"`
	-make -C libkmid/ clean
	-make -C kdeprint/cups clean
	$(COMPILER_FLAGS) \
	./configure $(configkde) --with-alsa --enable-cups \
		--includedir=/usr/include/kde
	make -C libkmid/ 
	make -C arts/ 
	make -C kdeprint/cups 
	touch alsa-stamp


debian-clean:
	dh_testdir
	-rm -f build-stamp alsa-stamp indep-stamp
	dh_clean

clean: debian-clean
	-rm -rf debian/debiandirs debian/build-tmp \
		debian/install-tmp debian/alsa-tmp
	if test -d CVS; then \
	  make -f admin/Makefile.common cvs-clean ;\
	fi
	-make distclean

binary-indep:	build-stamp alsa-stamp indep-stamp
indep-stamp:
	dh_testdir
	dh_testroot
	dh_clean -i
	-if test -f /usr/bin/qt2kdoc; then \
		(mkdir -p debian/kdelibs4-doc/$(KDEDOCDIR)/kdoc-reference) ; \
		qt2kdoc --url=/$(QTDOCDIR) \
		--outdir=`pwd`/debian/kdelibs4-doc/$(KDEDOCDIR)/kdoc-reference \
		--compress \
		/$(QTDOCDIR) ; \
		makekdedoc --libdir=`pwd`/debian/kdelibs4-doc/$(KDEDOCDIR)/kdoc-reference \
		--kdocopt='--skip-internal --compress' \
		--url=/$(KDEDOCDIR) \
		--outputdir=`pwd`/debian/kdelibs4-doc/$(KDEDOCDIR) ; \
	fi
	
	mkdir -p `pwd`/debian/kdelibs4-doc/$(KDEDOCDIR)/kio
	cp kio/DESKTOP_ENTRY_STANDARD `pwd`/debian/kdelibs4-doc/$(KDEDOCDIR)/kio
	dh_installdocs -i
	dh_installchangelogs -pkdelibs4-doc 
	dh_compress -i -X.docbook -X.css -X-license -X.dcl -X.bz2
	dh_fixperms -i
	dh_installdeb -i
	dh_gencontrol -i
	dh_md5sums -i
	dh_builddeb -i
	touch indep-stamp

install: build
	dh_testdir
	dh_testroot
	dh_clean -a
	-rm -rf debian/alsa-tmp debian/kdelibs4 debian/build-tmp
	-install -d debian/kdelibs4
	cd debian/install-tmp && find ./ | cpio -pmd $(tmp)/
	dh_installdirs -a
	make -C libkmid/ DESTDIR=$(alsa-tmp)/ install
	make -C arts/ DESTDIR=$(alsa-tmp)/ install
	make -C kdeprint/cups DESTDIR=`pwd`/debian/build-tmp/ install

binary-arch:  build install
	dh_testdir
	dh_testroot
	dh_installdirs -a
	-rm -f debian/build-tmp/usr/share/doc/kde/HTML/default
	debianrc=debian/build-tmp/etc/kde/system.kdeglobals ;\
	echo "[Directories]" > $$debianrc ;\
	echo "dir_config=/etc/kde" >> $$debianrc ;\
	echo "dir_html=/usr/share/doc/kde/HTML" >> $$debianrc ;\
	echo "dir_cgi=/usr/lib/cgi-bin" >> $$debianrc ;\
	echo "dir_apps=/usr/share/kde/applnk" >> $$debianrc ;\
	echo "dir_mime=/usr/share/kde/mimelnk" >> $$debianrc ;\
	echo "dir_services=/usr/share/kde/services" >> $$debianrc ;\
	echo "dir_servicetypes=/usr/share/kde/servicetypes" >> $$debianrc ;\
	echo "[General]" >> $$debianrc ;\
	echo "TerminalApplication=x-terminal-emulator" >> $$debianrc
	cp debian/kde.pamd debian/kdelibs4/etc/pam.d/kde
	dh_installdocs -a
	-cp debian/dh-make/* debian/kdelibs4-dev/usr/share/doc/kdelibs4-dev/dh-make/
	-cp admin/debianrules debian/kdelibs4-dev/usr/share/doc/kdelibs4-dev/dh-make/
	dh_undocumented
	dh_installman -a
	dh_installmenu -a
	dh_installdebconf -a
	# musical chairs
	dh_movefiles -plibarts1 --sourcedir=debian/build-tmp
	dh_movefiles -plibarts-bin --sourcedir=debian/build-tmp
	dh_movefiles -plibkmid-bin --sourcedir=debian/build-tmp
	dh_movefiles -plibarts1-dev --sourcedir=debian/build-tmp
	dh_movefiles -plibkmid0 --sourcedir=debian/build-tmp
	dh_movefiles -plibkmid0-dev --sourcedir=debian/build-tmp
	dh_movefiles -pkdelibs4-dev --sourcedir=debian/build-tmp
	dh_movefiles -pkdelibs4-cups --sourcedir=debian/build-tmp
	dh_movefiles -plibarts1-alsa --sourcedir=debian/alsa-tmp
	dh_movefiles -plibkmid0-alsa --sourcedir=debian/alsa-tmp
	dh_movefiles -pkdelibs4-common --sourcedir=debian/build-tmp
	dh_movefiles -pkdelibs4 --sourcedir=debian/build-tmp
	dh_installchangelogs -a 
	dh_strip -a
	dh_perl -a
	dh_link -a
	dh_compress -a -X.docbook -X.css -X-license -X.dcl -X.bz2
	dh_fixperms -a
	dh_makeshlibs -V
	dh_installdeb -a
	dh_shlibdeps -a -l`pwd`/debian/kdelibs4/usr/lib/kde:`pwd`/debian/kdelibs4/usr/lib/kde3:`pwd`/debian/libarts1/usr/lib/kde:`pwd`/debian/libarts1/usr/lib/kde3:`pwd`/debian/libkmid0/usr/lib/kde:`pwd`/debian/libkmid0/usr/lib/kde3:`pwd`/debian/kdelibs4-cups/usr/lib/kde
	echo -n `cat debian/libarts1.substvars ` > debian/libarts1-alsa.substvars
	echo ", libasound2 (>= 0.9.0beta7-1)" >> debian/libarts1-alsa.substvars
	echo -n `cat debian/libkmid0.substvars` > debian/libkmid0-alsa.substvars
	echo ", libasound2 (>= 0.9.0beta7-1)" >> debian/libkmid0-alsa.substvars
	dh_gencontrol 
	dh_md5sums 
	dh_builddeb -a

# Below here is fairly generic really

binary:		binary-indep binary-arch

.PHONY: binary binary-arch clean
