/* This is the default style sheet to be used by browsers as defined
 * in the CSS2 specs of the w3c.
 *
 * Konqueror/khtml relies on the existance of this style sheet for
 * rendering. Do not remove or modify this file unless you know
 * what you are doing.
 */

      ADDRESS,
      BLOCKQUOTE,
      BODY, DD, DIV,
      DL, DT,
      FIELDSET, FORM,
      FRAME, FRAMESET,
      H1, H2, H3, H4,
      H5, H6, HTML, IFRAME,
      NOFRAMES,
      OBJECT, OL, P,
      UL, APPLET,
      CENTER, DIR,
      HR, MENU, PRE   { display: block }
      LI              { display: list-item }
      HEAD            { display: none }
      TABLE           { display: table;
      	    	    	border-collapse: separate;
			vertical-align: middle;
                        text-align: justify;
			border-spacing: 2px;
			border-left-color: #eeeeee;
			border-top-color: #eeeeee;
			border-bottom-color: #666666;
			border-right-color: #666666;
			border-style: solid;
			border-width: 0px;
		      }
      TR              { display: table-row;
      	    	    	    vertical-align: inherit; border: inherit;
			    padding: inherit; }
      THEAD           { display: table-header-group; border: inherit;}
      TBODY           { display: table-row-group;
      	    	    	    vertical-align: inherit; border: inherit;
			    padding: inherit; }
      TFOOT           { display: table-footer-group; border: inherit; }
      COL             { display: table-column; }
      COLGROUP        { display: table-column-group; }
      TD, TH          { display: table-cell;
      	    	    	    vertical-align: inherit;
			    padding: inherit;
			    border-width: inherit;			
			    border-style: inherit;
			    border-left-color: #666666;
			    border-top-color: #666666;
			    border-bottom-color: #eeeeee;
			    border-right-color: #eeeeee;
      	    	    	    text-align: inherit;
                            background-color: inherit; /* ### hack */
			 }
      TABLE[align="center"] { margin-left: auto; margin-right: auto }
      TD[align="center"] > * { margin-left: auto; margin-right: auto; text-align: justify; }
      TD[align="right"] > * { margin-left: auto; margin-right: 0px; text-align: right; }
      TD[align="left"] > * { margin-left: 0px; margin-right: auto; text-align: left; }
      CAPTION         { display: table-caption;  }
      TH              { font-weight: bolder; text-align: center }
      CAPTION         { text-align: center }
      BODY            { padding: 5px; line-height: 1.05 }
      H1              { font-size: 2em; margin: .67em 0 }
      H2              { font-size: 1.5em; margin: .83em 0 }
      H3              { font-size: 1.17em; margin: 1em 0 }
      H4, P,
      BLOCKQUOTE, UL,
      FIELDSET, FORM,
      OL, DL, DIR,
      MENU            { margin: 1.33em 0 }
      H5              { font-size: .83em; line-height: 1.17em; margin: 1.67em 0 }
      H6              { font-size: .67em; margin: 2.33em 0 }
      H1, H2, H3, H4,
      H5, H6, B,
      STRONG          { font-weight: bolder }
      BLOCKQUOTE      { margin-left: 40px; margin-right: 40px }
      I, CITE, EM,
      VAR, ADDRESS    { font-style: italic }
      PRE, TT, CODE,
      KBD, SAMP       { font-family: monospace }
      PRE             { white-space: pre }
      BIG             { font-size: large }
      SMALL, SUB, SUP { font-size: small }
/*      SUB             { vertical-align: sub }
      SUP             { vertical-align: super }*/
/* ### hack... should get removed once we support the two lines above */
      SUB             { position: relative; top: 0.5em; }
      SUP             { position: relative; top: -0.5em; }

      S, STRIKE, DEL  { text-decoration: line-through }
      HR              { margin-top: 5px; margin-bottom: 5px }

      /* ### I'm wondering how this should work in a Right to left context */
      OL, UL, DIR,
      MENU, DD        { margin-left: 40px }
      OL              { list-style-type: decimal }
      UL              { list-style-type: disc }
      UL UL           { list-style-type: circle }
      UL UL UL        { list-style-type: square }
      OL UL, UL OL,
      UL UL, OL OL    { margin-top: 0; margin-bottom: 0 }
      LI > P          { margin-top: 0; margin-bottom: 0 }
      LI > DIV        { margin-top: 0; margin-bottom: 0 }
      U, INS          { text-decoration: underline }
      CENTER          { text-align: center; }
      CENTER > *      { margin-left: auto; margin-right: auto; text-align: justify; } /* center all children of CENTER */

      /* ### :before is not supported at the moment */
      BR:before       { content: "\n" }

/* we want a fixed font for form elements (input & textarea) */
      INPUT[type="text"],
      INPUT[type="password"],
      TEXTAREA { font-family: monospace }
      INPUT[type="hidden"] {display: none }
      OPTION, OPTGROUP, MAP  { display: none }

      /* An example of style for HTML 4.0's ABBR/ACRONYM elements */

      ABBR, ACRONYM   { font-variant: small-caps; letter-spacing: 0.1em }
      A[href]         { color: blue; text-decoration: underline;
/* ### remove this and add default colors for visited/unvisted
			color: blue*/
			 }
      :focus          { outline: thin dotted invert }


      /* Begin bidirectionality settings (do not change) */
      BDO[DIR="ltr"]  { direction: ltr; unicode-bidi: bidi-override }
      BDO[DIR="rtl"]  { direction: rtl; unicode-bidi: bidi-override }

/* ### this selector seems to be still broken ...
      *[DIR="ltr"]    { direction: ltr; unicode-bidi: embed }
      *[DIR="rtl"]    { direction: rtl; unicode-bidi: embed }
*/
      /* Elements that are block-level in HTML4 */
      ADDRESS, BLOCKQUOTE, BODY, DD, DIV, DL, DT, FIELDSET,
      FORM, FRAME, FRAMESET, H1, H2, H3, H4, H5, H6, IFRAME,
      NOSCRIPT, NOFRAMES, OBJECT, OL, P, UL, APPLET, CENTER,
      DIR, HR, MENU, PRE, LI, TABLE, TR, THEAD, TBODY, TFOOT,
      COL, COLGROUP, TD, TH, CAPTION
                      { unicode-bidi: embed }
      /* End bidi settings */

/* media rules are commented out for the moment. We'll have to add
 * them later. Lars, 23.12.99
 */

/*
      @media print {
        @page         { margin: 10% }
        H1, H2, H3,
        H4, H5, H6    { page-break-after: avoid; page-break-inside: avoid }
        BLOCKQUOTE,
        PRE           { page-break-inside: avoid }
        UL, OL, DL    { page-break-before: avoid }
      }

      @media speech {
        H1, H2, H3,
        H4, H5, H6    { voice-family: paul, male; stress: 20; richness: 90 }
        H1            { pitch: x-low; pitch-range: 90 }
        H2            { pitch: x-low; pitch-range: 80 }
        H3            { pitch: low; pitch-range: 70 }
        H4            { pitch: medium; pitch-range: 60 }
        H5            { pitch: medium; pitch-range: 50 }
        H6            { pitch: medium; pitch-range: 40 }
        LI, DT, DD    { pitch: medium; richness: 60 }
        DT            { stress: 80 }
        PRE, CODE, TT { pitch: medium; pitch-range: 0; stress: 0; richness: 80 }
        EM            { pitch: medium; pitch-range: 60; stress: 60; richness: 50 }
        STRONG        { pitch: medium; pitch-range: 60; stress: 90; richness: 90 }
        DFN           { pitch: high; pitch-range: 60; stress: 60 }
        S, STRIKE     { richness: 0 }
        I             { pitch: medium; pitch-range: 60; stress: 60; richness: 50 }
        B             { pitch: medium; pitch-range: 60; stress: 90; richness: 90 }
        U             { richness: 0 }
        A:link        { voice-family: harry, male }
        A:visited     { voice-family: betty, female }
        A:active      { voice-family: betty, female; pitch-range: 80; pitch: x-high }
      }

*/
