[Desktop Entry]
Encoding=UTF-8
Type=Service

ServiceTypes=KDEDModule
X-KDE-Library=globalaccel
X-KDE-Factory=globalaccel
X-KDE-Kded-autoload=false
X-KDE-Kded-load-on-demand=true

Name=KDED Global Shortcuts Server
Name[ar]=خادم المختصرات الشاملة لـ KDE
Name[ca]=Servidor KDED de dreceres globals
Name[csb]=Swiatowi serwera skrodzënów KDED
Name[de]=KDED Server für globale Aktionen
Name[el]=Εξυπηρετητής καθολικών συντομεύσεων KDED
Name[es]=Servidor de accesos rápidos globales KDED
Name[et]=KDED globaalsete kiirklahvide server
Name[fa]=کارساز میان‌برهای سراسری KDED
Name[ga]=Freastalaí Aicearraí Comhchoiteanna KDED
Name[he]=שרת הקיצורים הגלובלי של KDED
Name[hu]=Általános billentyűparancsok
Name[it]=KDED Server globale collegamenti
Name[ja]=KDED グローバルショートカットサーバ
Name[kk]=KDED глобалды тіркесімдер сервері
Name[km]=KDED ម៉ាស៊ីន​បម្រើ​ផ្លូវ​កាត់​សកល
Name[kn]=ಕೆಡಿಇಡಿ ಸಾರ್ವತ್ರಿಕ ಶೀಘ್ರಮಾರ್ಗಗಳ (ಶಾರ್ಟ್ ಕಟ್) ಪರಿಚಾರಕ (ಸರ್ವರ್)
Name[ko]=KDED 전역 단축키 서버
Name[lv]=KDED globālo īsceļu serveris
Name[nds]=KDED-Server för globaal Tastkombinatschonen
Name[ne]=KDED विश्वब्यापी सर्टकट सर्भर
Name[nl]=KDED globale-sneltoetsen-server
Name[pa]=KDED ਗਲੋਬਲ ਸ਼ਾਰਟਕੱਟ ਸਰਵਰ
Name[pt]=Servidor de Atalhos Globais do KDED
Name[pt_BR]=Servidor de Atalhos Globais do KDED
Name[sl]=Globalni strežnik za bližnjice KDED
Name[sv]=KDED-server för globala genvägar
Name[th]=เซิรฟเวอร์คีย์ลัดระบบ KDED
Name[uk]=Сервер глобальних скорочень KDED
Name[wa]=Sierveu di rascourtis globås po KDED
Name[x-test]=xxKDED Global Shortcuts Serverxx
Name[zh_CN]=KDED 全局快捷键服务器
Name[zh_TW]=KDED 全域捷徑伺服器
