@PACKAGE_INIT@

# Any changes in this ".cmake" file will be overwritten by CMake, the source is the ".cmake.in" file.

set(kconfig_VERSION_MAJOR "@KCONFIG_VERSION_MAJOR@")
set(kconfig_VERSION_MINOR "@KCONFIG_VERSION_MINOR@")
set(kconfig_VERSION_PATCH "@KCONFIG_VERSION_PATCH@")

set(kconfig_INSTALL_PREFIX "@PACKAGE_CMAKE_INSTALL_PREFIX@")
set_and_check(kconfig_INCLUDE_DIR    "@PACKAGE_INCLUDE_INSTALL_DIR@")

if(NOT TARGET KF5::kconfigcore)
  include("${CMAKE_CURRENT_LIST_DIR}/kconfigTargets.cmake")
endif()

set(kconfig_LIBRARIES KF5::kconfigcore KF5::kconfiggui)
set(kconfig_INCLUDE_DIRS ${kconfig_INCLUDE_DIR})

get_target_property(_importedConfigurations  KF5::kconfig_compiler IMPORTED_CONFIGURATIONS )
list(GET _importedConfigurations 0 _firstConfig)
get_target_property(kconfig_KCFGC_EXECUTABLE  KF5::kconfig_compiler  LOCATION_${_firstConfig})


unset( _KDE4_KCONFIG_COMPILER_DEP)
include("${CMAKE_CURRENT_LIST_DIR}/KConfigMacros.cmake")
