[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=Sonnet/SpellClient
X-KDE-Library=kspell_aspell
X-KDE-PluginInfo-Author=Zack Rusin
X-KDE-PluginInfo-Email=zack@kde.org
X-KDE-PluginInfo-Name=kspell_aspell
X-KDE-PluginInfo-Version=0.0.1
X-KDE-PluginInfo-Website=http://www.kde.org
X-KDE-PluginInfo-Category=Clients
X-KDE-PluginInfo-Category[bg]=Клиенти
X-KDE-PluginInfo-Category[bn_IN]=ক্লায়েন্ট
X-KDE-PluginInfo-Category[csb]=Klience
X-KDE-PluginInfo-Category[el]=Πελάτες
X-KDE-PluginInfo-Category[eo]=Klientoj
X-KDE-PluginInfo-Category[es]=Clientes
X-KDE-PluginInfo-Category[et]=Kliendid
X-KDE-PluginInfo-Category[eu]=Bezeroak
X-KDE-PluginInfo-Category[ga]=Cliaint
X-KDE-PluginInfo-Category[hu]=Kliensek
X-KDE-PluginInfo-Category[is]=Vélar
X-KDE-PluginInfo-Category[it]=Client
X-KDE-PluginInfo-Category[ja]=クライアント
X-KDE-PluginInfo-Category[km]=ម៉ាស៊ីន​ភ្ញៀវ
X-KDE-PluginInfo-Category[ko]=클라이언트
X-KDE-PluginInfo-Category[lv]=Klienti
X-KDE-PluginInfo-Category[nb]=Klienter
X-KDE-PluginInfo-Category[pa]=ਕਲਾਇਟ
X-KDE-PluginInfo-Category[pl]=Klienci
X-KDE-PluginInfo-Category[pt]=Clientes
X-KDE-PluginInfo-Category[pt_BR]=Clientes
X-KDE-PluginInfo-Category[sl]=Odjemniki
X-KDE-PluginInfo-Category[sr]=Клијенти
X-KDE-PluginInfo-Category[sr@latin]=Klijenti
X-KDE-PluginInfo-Category[sv]=Klienter
X-KDE-PluginInfo-Category[tg]=Мизоҷ
X-KDE-PluginInfo-Category[th]=โปรแกรมลูก
X-KDE-PluginInfo-Category[tr]=İstemciler
X-KDE-PluginInfo-Category[uk]=Клієнти
X-KDE-PluginInfo-Category[x-test]=xxClientsxx
X-KDE-PluginInfo-Category[zh_CN]=客户
X-KDE-PluginInfo-Category[zh_TW]=客戶端
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=LGPL
X-KDE-PluginInfo-EnabledByDefault=true
Name=ASpell
Name[ar]=أسبل
Name[bn]=এ-স্পেল
Name[hi]=आस्पेल
Name[it]=Aspell
Name[kn]=ಎಸ್ಪೆಲ್
Name[sr]=Аспел
Name[sr@latin]=Aspell
Name[sv]=Aspell
Name[ta]=அஉச்சரிப்பு
Name[te]=ఏస్పెల్
Name[x-test]=xxASpellxx
