[Desktop Entry]
Type=Service
Exec=blahfoo
Name=Informix
Name[ko]=인포믹스
Comment=kdbcore database plugin for Informix
Comment[ca]=Endollat de base de dades Informix kdbcore
Comment[cs]=Databázový modul KDBCore pro Informix
Comment[da]=kdbcore database indstik for Informix
Comment[de]=Datenbank-Plugin für Informix
Comment[el]=kdbcore database plugin για Informix
Comment[eo]=kdbcore datumbaza aldonaĵo por Informix
Comment[es]=Plugin de la base de datos Kdbcore para Informix
Comment[et]=kdbcore andmebaasi plugin Informix serverile
Comment[fi]=kdbcore tietokantasovelma Informixille
Comment[fr]=Module kdbcore de base de données pour Informix
Comment[he]=Informix לש םינותנ יסיסבל kdbcore עקת ןקתה
Comment[hu]=kdbcore adatbázis-kezelő beilleszkedő modul Informix-hoz
Comment[is]=kdbcore gagnagrunnstenging við Informix
Comment[it]=Plugin database kdbcore per Informix
Comment[ja]=Informix用の KDBコアデータベースプラグイン
Comment[ko]=kdbcore 인포믹스 데이타베이스 플러그인
Comment[lv]=Informix kdbcore datubāzes iespraudnis
Comment[nl]=kdbcore database plugin voor Informix
Comment[no_NY]=kdbcore database-modul for Informix
Comment[pt]='plugin' de bases de dados Informix para o kdbcore
Comment[pt_BR]=Plug-in de banco de dados kdbcore para Informix
Comment[ro]=Modul bază de date KDBcore pentru Informix
Comment[ru]=Плагин базы данных kdbcore для Informix
Comment[sk]=Kdbcore databázový plugin pre Informix
Comment[sl]=Vstavek kdbcore za zbirko podatkov Informix
Comment[sr]=kdbcore database plugin za Informix
Comment[sv]=kdbcore insticksprogram för Informix-databas
Comment[tr]=Informix için kdbcore veritabanı eklentisi
Comment[uk]=Додаток бази даних kdecore для Informix
Comment[zh_CN.GB2312]=kdbcore Informix 数据库插件
Comment[zh_TW.Big5]=Informix 的 kdbcore 資料庫外掛程式
MimeType=inode/directory
ServiceTypes=KDB/DBPlugin
X-KDE-Library=libkdb_informix
