[Desktop Entry]
Encoding=UTF-8
Type=ServiceType
X-KDE-ServiceType=Application
Name=Application
Name[af]=Program
Name[ar]=تطبيق
Name[az]=Proqram
Name[be]=Дастасаваньне
Name[bg]=Програма
Name[bn]=অ্যাপলিকেশন
Name[br]=Arload
Name[bs]=Program
Name[ca]=Aplicació
Name[cs]=Aplikace
Name[cy]=Cymhwysiad
Name[da]=Program
Name[de]=Programm
Name[el]=Εφαρμογή
Name[eo]=Aplikaĵo
Name[es]=Aplicación
Name[et]=Rakendus
Name[eu]=Aplikazioa
Name[fa]=برنامه‌ی کاربردی
Name[fi]=Sovellus
Name[fy]=Applikaasje
Name[ga]=Feidhmchlár
Name[gl]=Aplicazón
Name[he]=יישום
Name[hi]=अनुप्रयोग
Name[hr]=Program
Name[hu]=alkalmazás
Name[id]=Aplikasi
Name[is]=Forrit
Name[it]=Applicazione
Name[ja]=アプリケーション
Name[km]=កម្មវិធី
Name[ko]=응용 프로그램
Name[lb]=Programm
Name[lt]=Programa
Name[lv]=Aplikācija
Name[mi]=Utauta
Name[mk]=Апликација
Name[mn]=Программ
Name[ms]=Aplikasi
Name[mt]=Programm
Name[nb]=Program
Name[nds]=Programm
Name[nl]=Toepassing
Name[nn]=Program
Name[nso]=Tshomiso
Name[oc]=Aplicacions
Name[pa]=ਕਾਰਜ
Name[pl]=Program
Name[pt]=Aplicação
Name[pt_BR]=Aplicativo
Name[ro]=Aplicaţie
Name[ru]=Приложение
Name[rw]=Porogaramu
Name[se]=Prográmma
Name[sk]=Aplikácia
Name[sl]=Program
Name[sq]=Aplikacion
Name[sr]=Програм
Name[sr@Latn]=Program
Name[ss]=Sicelo
Name[sv]=Program
Name[ta]=பயன்பாடு
Name[tg]=Гузориш
Name[th]=แอพพลิเคชัน
Name[tr]=Uygulama
Name[tt]=Yazılım
Name[uk]=Програма
Name[uz]=Дастур
Name[ven]=Apulifikhesheni
Name[vi]=Chương trình 
Name[wa]=Programe
Name[xh]=Isicelo
Name[zh_CN]=应用程序
Name[zh_TW]=應用程式
Name[zu]=Umyaleli

[PropertyDef::NoDisplay]
Type=bool

[PropertyDef::DocPath]
Type=QString

[PropertyDef::X-KDE-SubstituteUID]
Type=bool

[PropertyDef::X-KDE-Username]
Type=QString

[PropertyDef::StartupWMClass]
Type=QString

[PropertyDef::StartupNotify]
Type=bool

[PropertyDef::X-KDE-WMClass]
Type=QString

[PropertyDef::X-KDE-StartupNotify]
Type=bool

[PropertyDef::X-DCOP-ServiceName]
Type=QString

[PropertyDef::X-KDE-ParentApp]
Type=QString

[PropertyDef::X-KDE-HasTempFileOption]
Type=bool

[PropertyDef::X-KDE-Protocols]
Type=QStringList

