[Desktop Entry]
Encoding=UTF-8
Type=ServiceType
X-KDE-ServiceType=KDataTool
Comment=KDE Data Tool
Comment[af]=Kde Data Program
Comment[ar]=أداة كيدي للبيانات
Comment[az]=KDE Verilənlər Vasitəsi
Comment[bs]=KDE alat za podatke
Comment[ca]=Utilitat per a la gestió de dades pel KDE
Comment[cs]=Datový nástroj KDE
Comment[da]=KDE-dataværktøj
Comment[de]=KDE-Datenprogramm
Comment[el]=Εργαλείο δεδομένων του KDE
Comment[eo]=Datumilo
Comment[es]=Herramienta KDE de datos
Comment[et]=KDE andmete rakendus
Comment[eu]=KDE Data Tresna
Comment[fa]=ابزار داده‌ی KDE
Comment[fr]=Outil de données KDE
Comment[he]=כלי נתונים של KDE
Comment[hr]=KDE alat za podatke
Comment[hu]=KDE adatkezelő segédprogram
Comment[it]=Strumenti dati di KDE
Comment[ja]=KDEデータツール
Comment[ko]=KDE 자료 연장
Comment[lt]=KDE duomenų priemonė
Comment[lv]=KDE Datu Rīks
Comment[mt]=Għodda għal data KDE
Comment[nb]=KDE Dataverktøy
Comment[nl]=KDE Data-hulpprogramma
Comment[nn]=KDE Dataverktøy
Comment[nso]=Sebereka sa Data ya KDE
Comment[pl]=Narzędzie danych KDE
Comment[pt]=Ferramenta de Dados do KDE
Comment[pt_BR]=Ferramenta de Dados do KDE
Comment[ro]=Utilitar de date KDE
Comment[ru]=Утилита обработки информации KDE
Comment[sk]=Dátový nástroj KDE
Comment[sl]=Podatkovno orodje za KDE
Comment[ss]=Lithulusi lemniningwane lengakahlutwa ye KDE 
Comment[sv]=KDE-dataverktyg
Comment[th]=เครื่องมือข้อมูลของ KDE
Comment[tr]=KDE Veri Aracı
Comment[uk]=Засіб роботи з даними KDE
Comment[ven]=Tshishumiswa tsha data tsha KDE
Comment[vi]=Công cụ KDE Data
Comment[xh]=Isihluzi se Data ye KDE
Comment[zh_CN]=KDED 数据工具
Comment[zh_TW]=KDE 資料工具
Comment[zu]=Ithuluzi Ledata le-KDE

[PropertyDef::Commands]
Type=QStringList

[PropertyDef::DataType]
Type=QString

[PropertyDef::DataMimeTypes]
Type=QStringList

[PropertyDef::ExcludeFrom]
Type=QStringList
