[Desktop Entry]
Encoding=UTF-8
Type=ServiceType
X-KDE-ServiceType=KScan/KScanDialog
Name=KScan
Name[af]=kskandeer
Name[bg]=Скенер
Name[eo]=Bildciferecigo
Name[fr]=kScan
Name[is]=Myndlesari
Name[ko]=K스캔
Name[pl]=Skan
Name[ru]=Сканер
Name[sv]=Kscan
Name[xx]=xx
