[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=KURIFilter/Plugin
Name=Enhanced Browsing Plugin
Name[az]=Təkmilləşmiş Səyyah Əlavəsi
Name[bg]=Вграден Plugin за броузера
Name[br]=Lugant Furchal Gwellaet
Name[bs]=Dodatak za napredno pretraživanje
Name[ca]=Endollat de navegació millorada
Name[cs]=Modul rozšířeného procházení
Name[da]=Udvidet netsøgningsindstik
Name[de]=Erweitertes Browser-Plugin
Name[el]=Πρόσθετο Βελτιωμένης Φυλλομέτρησης
Name[eo]=progresinta TTTum-kromaĵo
Name[es]=Plugin de Navegación Mejorada
Name[et]=Täiustatud brausimise plugin
Name[fi]=Edistynyt selailusovelma
Name[fr]=Module de navigation avancée
Name[gl]=Plugin de Navegación Mellorada
Name[he]=תרפושמ השילגל ףסות
Name[hr]=Dodatak za napredno pretraživanje
Name[hu]=Továbbfejlesztett böngészés bővítőmodul
Name[is]=Netslóðagaldrar
Name[it]=Plugin navigazione avanzata
Name[ja]=拡張ブラウズプラグイン
Name[ko]=더 뛰어난 탐색용 플러그인
Name[lt]=Išplėstinio naršymo priedas
Name[lv]=Uzlabotas Pārlūkošanas Iespraudnis
Name[mk]=Плагин за напредно разгледување
Name[mt]=Plugin għall-Browsing Estiż
Name[nl]=Verbeterd Browsen Plugin
Name[no]=Utvidet weblesing-plugin
Name[no_NY]=Tilleggsmodul for utvida surfing
Name[oc]=Branquament de navegacion amilhorada
Name[pl]=Moduł do rozszerzonego przeglądania
Name[pt_BR]=Plug-in de navegação melhorada
Name[pt]=Navegação Melhorada
Name[ru]=Плагин броузера
Name[sk]=Zásuvný modul prehliadača
Name[sl]=Vstavek za izboljšano brskanje
Name[sr]=Dodatak za napredno pretraživanje
Name[sv]=Utökad webbläsning
Name[ta]=§ÁõÀÎò¾¢Â ¯Ä¡Åü ¦ºÕ¸ø 
Name[tr]=Gelişmiş Tarayıcı Eklentisi
Name[uk]=Додаток розширеного перегляду
Name[vi]=Các plugin đềEtănt cường duyệt 
Name[xh]=Iplagi efakiweyo yokukhangela iincwadi eyomeleziweyo
Name[zh_CN.GB2312]=增强的浏览插件
