[Desktop Entry]
Encoding=UTF-8
Type=ServiceType
X-KDE-ServiceType=RenameDlg/Plugin
Comment=Plugin for the Rename Dialog
Comment[x-test]=xxPlugin for the Rename Dialogxx
