[Desktop Entry]
Type=Service
Exec=kwalletd
X-KDE-ServiceTypes=
# It is a server
X-DBUS-StartupType=Unique
X-KDE-StartupNotify=false
Name=KWallet Daemon Module
Name[af]=KBeursie bedienermodule
Name[ar]=وحدة رقيب KWallet
Name[be]=Модуль сервіса KWallet
Name[bg]=Демон Портфейл
Name[bn]=কে-ওয়ালেট ডিমন মডিউল
Name[bn_IN]=KWallet ডেমন মডিউল
Name[br]=Mollad an diaoul KWallet
Name[ca]=Mòdul del dimoni KWallet
Name[cs]=Modul démona KWallet
Name[csb]=Pòrtfel
Name[cy]=Modiwl Daemon KWaled
Name[da]=KWallet Dæmonmodul
Name[de]=Digitale Brieftasche
Name[el]=Άρθρωμα δαίμονα KWallet
Name[eo]=Sekreteja demono-modulo
Name[es]=Módulo del servicio KWallet
Name[et]=KWalleti deemoni moodul
Name[eu]=KWallet daemon modulua
Name[fa]=پیمانه شبح KWallet
Name[fi]=KWallet-palvelumoduuli
Name[fr]=Module démon KWallet
Name[ga]=Modúl Deamhain KWallet
Name[gl]=Módulo do daemon KWallet
Name[gu]=ડેમોન મોડ્યુલ
Name[he]=מודול השירות של KWallet
Name[hi]=के-वॉलेट डेमन मॉड्यूल
Name[hr]=Modul KWallet demona
Name[hu]=KWallet szolgáltatás
Name[is]=KWallet þjónseining
Name[it]=Modulo demone del portafogli di KDE
Name[ja]=KWallet デーモンモジュール
Name[kk]=KWallet әмиян қызметтің модулі
Name[km]=ម៉ូឌុល​ដេមិន KWallet
Name[kn]=ಕೆವಾಲೆಟ್ ನೇಪಥಿಕ (ಡೀಮನ್) ಘಟಕ
Name[ko]=KWallet 데몬 모듈
Name[lb]=KWallet-Dämonmodul
Name[lt]=KDE slaptažodinių tarnybos modulis
Name[lv]=KWallet dēmona modulis
Name[ml]=കെ വാലറ്റ് നിരന്തരപ്രക്രിയാ മൊഡ്യൂള്‍
Name[mr]=KWallet डीमन विभाग
Name[ms]=Modul Daemon KWallet
Name[nb]=KWallet-nisseprogramtillegg
Name[nds]=KWallet-Dämoon
Name[ne]=केडीई वालेट डेइमोन मोड्युल
Name[nl]=KWallet daemon-module
Name[nn]=KWallet-tenestemodul
Name[pa]=ਕੇ-ਵਾਲਿਟ ਡੈਮਨ ਮੋਡੀਊਲ
Name[pl]=Portfel
Name[pt]=Módulo do Servidor do KWallet
Name[pt_BR]=Módulo de Serviço do KWallet
Name[ro]=Modul demon KWallet
Name[ru]=Бумажник
Name[se]=KWallet-bálvámoduvla
Name[sk]=Modul démona KWallet
Name[sl]=Modul KWallet demon
Name[sr]=Модул К‑новчаниковог демона
Name[sr@latin]=Modul K‑novčanikovog demona
Name[sv]=Kwallet-demonmodul
Name[ta]=KWallet டெமான் பகுதி
Name[te]=కెవాలెట్ సూత్రధారి మాడ్యూల్
Name[tg]=Модули демони KWallet
Name[th]=มอดูลดีมอน KWallet
Name[tr]=KWallet Servis Modülü
Name[uk]=Модуль фонової служби KWallet
Name[uz]=KWallet xizmatining moduli
Name[uz@cyrillic]=KWallet хизматининг модули
Name[vi]=Mô-đun trình nền KWallet
Name[wa]=Module demon KWallet
Name[x-test]=xxKWallet Daemon Modulexx
Name[zh_CN]=KWallet 守护进程模块
Name[zh_HK]=KWAllet 伺服程式模組
Name[zh_TW]=KWAllet 服務程式模組
Comment=KWallet daemon module for KDED
Comment[af]=KBeursie bedienermodule vir KDED
Comment[ar]=وحدة رقيب KWallet لـ KDED
Comment[be]=Модуль сервіса KWallet для KDED
Comment[bg]=Модул демон за системата Портфейл за KDED
Comment[bn]=KDED-র জন্য কে-ওয়ালেট ডিমন মডিউল 
Comment[bn_IN]=KDED-র জন্য KWallet ডেমন মডিউল
Comment[br]=Mollad an diaoul KWallet evit KDED
Comment[ca]=Mòdul del dimoni KWallet per al KDED
Comment[cs]=Modul démona KWallet pro KDED
Comment[csb]=Mòduł KWallet w KDED
Comment[da]=KWallet Dæmonmodul for KDED
Comment[de]=Unterstützung für die digitale Brieftasche „KWallet“
Comment[el]=Άρθρωμα δαίμονα KWallet για το KDED
Comment[eo]=KWallet demono-modulo por KDED
Comment[es]=Módulo del servicio KWallet para KDED
Comment[et]=KDED KWalleti deemoni moodul
Comment[eu]=KWallet daemon modulua KDEDrako
Comment[fa]=پیمانۀ شبح KWallet برای KDED
Comment[fi]=KDED:n KWallet-palvelumoduuli
Comment[fr]=Module démon KWallet pour KDED
Comment[fy]=KWallet daemon module foar KDED
Comment[ga]=Modúl deamhain KWallet le haghaidh KDED
Comment[gl]=Módulo do daemon de KWallet para KDED
Comment[gu]=KDED માટે KWallet ડેમોન મોડ્યુલ
Comment[he]=מודול שירות של KWallet עבור KDED
Comment[hi]=केडीईडी के लिए के-वॉलेट डेमन मॉड्यूल
Comment[hr]=KWallet demon modul za KDED
Comment[hu]=KWallet szolgáltatásmodul a KDED-hez
Comment[is]=KWallet þjónseining fyrir KDED
Comment[it]=Modulo demone KWallet per KDED
Comment[ja]=KDED 用の KWallet デーモンモジュール
Comment[kk]=KDE KWallet әмиянін басқару қызметтің модулі
Comment[km]=ម៉ូឌុល​ដេមិន KWallet សម្រាប់ KDED
Comment[kn]=ಕೆಡಿಇಡಿ ಗೆ ಕೆವಾಲೆಟ್ ನೇಪಥಿಕ (ಡೀಮನ್) ಘಟಕ
Comment[ko]=KDED용 KWallet 데몬 모듈
Comment[lb]=KWallet-Dämonmodul fir KDED
Comment[lt]=KDE slaptažodinių tarnybos modulis skirtas KDED
Comment[lv]=KWallet dēmona modulis priekš KDED
Comment[mk]=KWallet даемон модул за KDED
Comment[ml]=കെഡിഇഡിയ്ക്കു വേണ്ടിയുള്ള കെവാലറ്റ് നിരന്തരപ്രക്രിയാ മൊഡ്യൂള്‍ 
Comment[mr]=KWallet डीमन विभाग करीता KDED
Comment[ms]=Modul Daemon KWallet untuk KDED
Comment[nb]=KWallet-nissemodul for KDED
Comment[nds]=KWallet-Dämoonmoduul för KDED
Comment[ne]=KDED का लागि केडीई वालेट डेइमोन मोड्युल
Comment[nl]=KWallet daemon-module voor KDED
Comment[nn]=KWallet-tenestemodul for KDED
Comment[pa]=KDED ਲਈ KWallet ਡੈਮਨ ਮੋਡੀਊਲ
Comment[pl]=Moduł KWallet w KDED
Comment[pt]=Módulo do servidor do KWallet para o KDED
Comment[pt_BR]=Módulo de serviço da KWallet para KDED
Comment[ro]=Modul demon KWallet pentru KDED
Comment[ru]=Управление бумажником
Comment[se]=KDED:a KWallet-bálvámoduvla
Comment[sk]=Modul démona KWallet pre KDED
Comment[sl]=Modul KWallet demon za KDED
Comment[sr]=Модул К‑новчаниковог демона за КДЕД
Comment[sr@latin]=Modul K‑novčanikovog demona za KDED
Comment[sv]=Kwallet-demonmodul för KDED
Comment[ta]=KDEDக்கான KWallet Daemon  தொகுதி
Comment[te]=కెడిఈడి కొరకు కెవాలెట్ సూత్రధారి మాడ్యూల్
Comment[tg]=Модули демони KWallet барои KDED
Comment[th]=มอดูลดีมอน KWallet สำหรับ KDED
Comment[tr]=KDED için KWallet servis modülü
Comment[uk]=Модуль фонової служби торбинок KWallet для KDED
Comment[uz]=KDED uchun KWallet xizmatining moduli
Comment[uz@cyrillic]=KDED учун KWallet хизматининг модули
Comment[vi]=Mô-đun trình nền KWallet cho KDED.
Comment[wa]=On module demon KWallet po KDED
Comment[x-test]=xxKWallet daemon module for KDEDxx
Comment[zh_CN]=KDED 的 KWallet 守护进程模块
Comment[zh_HK]=KDED 的 KWallet 伺服程式模組
Comment[zh_TW]=KDED 的 KWallet 服務程式模組
