[Desktop Entry]
Encoding=UTF-8
Type=Service
ServiceTypes=KDEDModule
X-KDE-ModuleType=Library
X-KDE-Library=kwalletd
X-KDE-FactoryName=kwalletd
X-KDE-Kded-autoload=false
X-KDE-Kded-load-on-demand=true
Name=KWallet Daemon Module
Name[fr]=Module démon KWallet
Name[x-test]=xxKWallet Daemon Modulexx
Comment=KWallet daemon module for KDED
Comment[fr]=Module démon KWallet pour KDED
Comment[x-test]=xxKWallet daemon module for KDEDxx
