[Desktop Entry]
Encoding=UTF-8
Type=MimeType
# RFC 4047
MimeType=image/fits
Icon=image
Comment=FITS Image
Comment[bg]=Изображение FITS
Comment[ca]=Imatge FITS
Comment[cs]=FITS obrázek
Comment[da]=FITS-billede
Comment[de]=FITS-Bild
Comment[el]=Εικόνα FITS
Comment[es]=Imagen FITS
Comment[et]=FITS pildifail
Comment[fi]=FITS-kuva
Comment[fr]=Image FITS
Comment[fy]=FITS-ôfbylding
Comment[ga]=Íomhá FITS
Comment[he]=תמונת FITS
Comment[hu]=FITS-kép
Comment[it]=Immagine FITS
Comment[ka]=FITS ნახატი
Comment[km]=រូបភាព FITS
Comment[lb]=FITS-Bild
Comment[lt]=FITS paveiksliukas
Comment[nds]=FITS-Bild
Comment[nl]=FITS-afbeelding
Comment[pa]=FITS ਚਿੱਤਰ
Comment[pl]=Obrazek FITS
Comment[pt]=Imagem do FITS
Comment[pt_BR]=Imagem do FITS
Comment[ru]=Рисунок FITS
Comment[sl]=Slika FITS
Comment[sr]=FITS слика
Comment[sr@Latn]=FITS slika
Comment[sv]=FITS-bild
Comment[uk]=Зображення FITS
Comment[uz]=FITS-расм
Comment[xx]=xxFITS Imagexx
Comment[zh_CN]=FITS 图像
### TODO: what file patterns, especially that application/fits has the same
# RFC 4047 tells that image/fits are also application/fits
X-KDE-IsAlso=application/fits
