[Desktop Entry]
Type=MimeType
MimeType=image/gif
Icon=image
Patterns=*.gif;*.GIF;
Comment=GIF image
Comment[ca]=Imatge GIF
Comment[cs]=Obrázek ve formátu GIf
Comment[da]=Gif-billede
Comment[de]=GIF-Bilder
Comment[el]=εικόνα GIF
Comment[eo]=GIF-grafiko
Comment[es]=Imágen GIF
Comment[et]=GIF pildifail
Comment[fi]=GIF-kuva
Comment[fr]=Image GIF
Comment[gl]=Imaxe GIF
Comment[he]=GIF תנומת
Comment[hr]=GIF slika
Comment[hu]=GIF kép
Comment[is]=GIF-mynd(ir)
Comment[it]=Immagine GIF
Comment[ja]=GIFイメージ
Comment[lt]=GIF paveikslėlis
Comment[mk]=GIF слика
Comment[nl]=GIF-afbeelding
Comment[no]=GIF-bilde
Comment[no_NY]=GIF-bilete
Comment[pl]=Obraz GIF
Comment[pt]=Imagem GIF
Comment[pt_BR]=Imagem GIF
Comment[ro]=Fişier imagine GIF
Comment[ru]=Изображение GIF
Comment[sk]=GIF obrázok
Comment[sl]=Slika GIF
Comment[sv]=GIF-bild
Comment[ta]=GIF ¯ÕÅõ
Comment[tr]=GIF resmi
Comment[uk]=GIF-образ
Comment[zh_CN.GB2312]=GIF 图像
