[Desktop Entry]
Encoding=UTF-8
Type=MimeType
MimeType=image/jp2
Icon=image
Patterns=*.jp2;*.JP2
Comment=JPEG 2000 Image
Comment[x-test]=xxJPEG 2000 Imagexx
