[Desktop Entry]
Encoding=UTF-8
Type=MimeType
MimeType=image/jp2
Icon=image
Patterns=*.jp2;*.JP2
Comment=JPEG 2000 Image
Comment[fa]=تصویر JPEG 2000
Comment[sv]=Jpeg 2000-bild
