[Desktop Entry]
# This is just a silly MS alias for progressive JPEGs
Encoding=UTF-8
Type=MimeType
MimeType=image/pjpeg
Icon=image
X-KDE-IsAlso=image/jpeg
Comment=JPEG Image
Comment[x-test]=xxJPEG Imagexx
