[Desktop Entry]
Type=MimeType
MimeType=image/png
Icon=image
Patterns=*.png;*.PNG;
Comment=PNG image
Comment[az]=PNG rəsmi
Comment[bg]=Графичен файл на PNG
Comment[br]=Skeudenn PNG
Comment[bs]=PNG slika
Comment[ca]=Imatge PNG
Comment[cs]=Obrázek ve formátu PNG
Comment[da]=PNG billede
Comment[de]=PNG-Bilder
Comment[el]=εικόνα PNG
Comment[eo]=PNG-grafiko
Comment[es]=Imagen PNG
Comment[et]=PNG pildifail
Comment[eu]=PNG irudia
Comment[fi]=PNG-kuva
Comment[fr]=Image PNG
Comment[gl]=Imaxe PNG
Comment[he]=PNG תנומת
Comment[hr]=PNG slika
Comment[hu]=PNG kép
Comment[is]=PNG-mynd(ir)
Comment[it]=Immagine PNG
Comment[ja]=PNGイメージ
Comment[ko]=PNG 그림
Comment[lt]=PNG paveikslas
Comment[lv]=PNG attēls
Comment[mi]=Pikitia PNG
Comment[mk]=PNG слика
Comment[mt]=Stampa PNG
Comment[nl]=PNG-afbeelding
Comment[no]=PNG-bilde
Comment[no_NY]=PNG-bilete
Comment[oc]=Image PNG
Comment[pl]=Obraz PNG
Comment[pt_BR]=Imagem PNG
Comment[pt]=Imagem PNG
Comment[ru]=Графический файл PNG
Comment[sk]=PNG obrázok
Comment[sl]=Slika PNG
Comment[sr]=PNG slika
Comment[sv]=PNG-bild
Comment[ta]=PNG ¯Õ
Comment[tr]=PNG resmi
Comment[uk]=PNG-образ
Comment[vi]=Ảnh PNG 
Comment[xh]=Umfanekiso we PNG
Comment[zh_CN.GB2312]=PNG 图像
