[Desktop Entry]
Type=MimeType
MimeType=image/png
Icon=image.png
Patterns=*.png;*.PNG;
Comment=PNG image
Comment[ca]=Imatges PNG
Comment[cs]=Obr·zek ve form·tu PNG
Comment[da]=PNG-billeder
Comment[de]=PNG Bilder
Comment[eo]=PNG-grafiko
Comment[es]=Imagen PNG
Comment[fi]=PNG -kuva
Comment[fr]=Image PNG
Comment[hr]=PNG slike
Comment[hu]=PNG kÈp
Comment[is]=PNG-mynd(ir)
Comment[it]=Immagine PNG
Comment[ja]=PNG•§•·°º•∏
Comment[mi]=PNG kÈp
Comment[nl]=PNG afbeelding
Comment[no]=PNG-bilde
Comment[no_NY]=PNG-bilete
Comment[pl]=Obraz PNG
Comment[pt]=Imagem PNG
Comment[pt_BR]=Imagem PNG
Comment[ro]=Imagine de tip PNG
Comment[ru]=È⁄œ¬“¡÷≈Œ…≈ PNG
Comment[sk]=PNG obr·zok
Comment[sl]=Slika PNG
Comment[sv]=PNG-bilder
