[Desktop Entry]
Encoding=UTF-8
Type=MimeType
MimeType=image/tiff
Icon=image
Patterns=*.tif;*.TIF;*.TIFF;*.tiff;
Comment=TIFF Image
Comment[af]=Tiff Beeld
Comment[ar]=رسم TIFF
Comment[az]=TIFF rəsmi
Comment[be]=Малюнак TIFF
Comment[bg]=Графичен файл на tiff
Comment[br]=Skeudenn TIFF
Comment[bs]=TIFF slika
Comment[ca]=Imatge TIFF
Comment[cs]=Obrázek ve formátu TIFF
Comment[da]=TIFF-billede
Comment[de]=TIFF-Bild
Comment[el]=Εικόνα TIFF
Comment[eo]=TIFF-grafiko
Comment[es]=Imagen TIFF
Comment[et]=TIFF pildifail
Comment[eu]=TIFF irudia
Comment[fa]=تصویر TIFF
Comment[fi]=TIFF-kuva
Comment[fr]=Image TIFF
Comment[gl]=Imaxe TIFF
Comment[he]=תמונת TIFF
Comment[hr]=TIFF slika
Comment[hu]=TIFF kép
Comment[id]=Gambar TIFF
Comment[is]=TIFF-mynd(ir)
Comment[it]=Immagine TIFF
Comment[ja]=TIFFイメージ
Comment[ko]=TIFF 그림
Comment[lt]=TIFF paveikslas
Comment[lv]=TIFF Attēls
Comment[mi]=Pikitia TIFF
Comment[mk]=TIFF слика
Comment[mt]=Stampa TIFF
Comment[nb]=TIFF-bilde
Comment[nl]=TIFF-afbeelding
Comment[nn]=TIFF-bilete
Comment[nso]=Ponagalo ya TIFF
Comment[oc]=Image TIFF
Comment[pl]=Obraz TIFF
Comment[pt]=Imagem TIFF
Comment[pt_BR]=Imagem TIFF
Comment[ro]=Imagine TIFF
Comment[ru]=Рисунок tiff
Comment[sk]=TIFF obrázok
Comment[sl]=Slika TIFF
Comment[sr]=TIFF slika
Comment[ss]=Umfanekiso we TIFF 
Comment[sv]=Tiff-bild
Comment[ta]=TIFF ¯Õ
Comment[th]=แฟ้มภาพ TIFF
Comment[tr]=TIFF resmi
Comment[uk]=Зображення TIFF
Comment[ven]=Tshifanyiso tsha TIFF
Comment[vi]=A?nh TIFF 
Comment[wa]=Imådje TIFF
Comment[xh]=Umfanekiso we TIFF
Comment[zh_CN]=TIFF 图像
Comment[zh_TW]=TIFF 影像
Comment[zu]=Isithombe se-TIFF
