[Desktop Entry]
Encoding=UTF-8
Type=MimeType
MimeType=image/tiff
Icon=image
Patterns=*.tiff;*.TIFF;*.tif;*.TIF;
Comment=TIFF Image
Comment[el]=Εικόνα TIFF
Comment[fr]=Image TIFF
Comment[x-test]=xxTIFF Imagexx
