[Desktop Entry]
Encoding=UTF-8
Type=MimeType
MimeType=image/x-bmp
Icon=image
Patterns=*.bmp;*.BMP;
Comment=Windows BMP image
Comment[af]=vensters bmp beeld
Comment[ar]=رسم ويندوز BMP
Comment[az]=Windows BMP rəsmi
Comment[be]=Малюнак Windows BMP
Comment[bg]=Графичен файл на Windows BMP
Comment[br]=Skeudenn Windows BMP
Comment[bs]=Windows BMP slika
Comment[ca]=Imatge BMP Windows
Comment[cs]=Obrázek ve formátu Windows BMP
Comment[da]=Windows BMP-billede
Comment[de]=Windows BMP-Bilder
Comment[el]=εικόνα Windows BMP
Comment[eo]=Vindoza BMP-grafiko
Comment[es]=Imagen BMP de Windows
Comment[et]=Windows BMP pildifail
Comment[eu]=Windows BMP irudia
Comment[fi]=Windows BMP -kuva
Comment[fr]=Image bitmap MS-Windows
Comment[gl]=Imaxe BMP de Windows
Comment[he]=תמונת מפת סיביות של Windows
Comment[hr]=Windows BMP slika
Comment[hu]=Windows BMP kép
Comment[id]=Gambar Windows BMP
Comment[is]=Windows BMP-mynd(ir)
Comment[it]=Immagine BMP di Windows
Comment[ja]=Windows BMPイメージ
Comment[ko]=윈도우즈 BMP 그림
Comment[lt]=Windows BMP paveikslas
Comment[lv]=Windows BMP attēls
Comment[mi]=Pikitia Windows BMP
Comment[mk]=Windows BMP слика
Comment[mt]=Stampa Windows BMP
Comment[nb]=Windows BMP-bilde
Comment[nl]=Windows BMP-afbeelding
Comment[nn]=Windows BMP-bilete
Comment[oc]=Image BMP Windows
Comment[pl]=Obraz BMP (Windows)
Comment[pt]=Imagem BMP
Comment[pt_BR]=Imagem BMP
Comment[ro]=Imagine Windows BMP
Comment[ru]=Графический файл Windows BMP
Comment[sk]=Windows BMP obrázok
Comment[sl]=Slika BMP za Windows
Comment[sr]=Windows BMP slika
Comment[sv]=Windows BMP-bild
Comment[ta]=Windows BMP ¯Õ
Comment[th]=แฟ้มภาพวินโดว์ส BMP
Comment[tr]=Windows BMP resmi
Comment[uk]=Зображення Windows BMP
Comment[ven]=Tshifanyiso tsha dziwindo dza BMP
Comment[vi]=Ảnh BMP của Windows
Comment[xh]=Umfanekiso we Windows BMP
Comment[xx]=xx
Comment[zh_CN]=Windows BMP 图像
Comment[zh_TW]=Windows BMP 影像
Comment[zu]=Umfanekiso wamawindi e BMP
