[Desktop Entry]
Type=MimeType
MimeType=image/x-bmp
Icon=mimetypes/image
Patterns=*.bmp;*.BMP;
Comment=Windows BMP image
Comment[ca]=Imatge BMP Windows
Comment[de]=Windows BMP-Bilder
Comment[fi]=Windows BMP -kuva
Comment[hu]=Windows BMP kép
Comment[ja]=BMP¥¤¥á¡¼¥¸
