[Desktop Entry]
Encoding=UTF-8
Type=MimeType
MimeType=image/x-djvu
Icon=djvu
Patterns=*.djvu;*.DJVU;*.djv;*.DJV;
Comment=DjVu Document
Comment[bg]=Документ DjVu
Comment[ca]=Document DjVu
Comment[cs]=DjVu dokument
Comment[da]=DjVU-dokument
Comment[de]=DjVu-Dokument
Comment[el]=Έγγραφο DjVu
Comment[es]=Documento DjVu
Comment[et]=DjVu dokument
Comment[fi]=DjVu-asiakirja
Comment[fr]=Document DjVu
Comment[ga]=Cáipéis DjVu
Comment[gl]=Documento DjVu
Comment[he]=מסמך DjVu
Comment[hu]=DjVu-dokumentum
Comment[it]=Documento DjVu
Comment[ka]=DjVu დოკუმენტი
Comment[km]=ឯកសារ DjVu
Comment[ko]=DjVu 문서
Comment[lt]=DjVu dokumentas
Comment[nds]=DjVu-Dokment
Comment[nl]=DjVu-document
Comment[pa]=DjVu ਦਸਤਾਵੇਜ਼
Comment[pl]=Dokument DjVu
Comment[pt]=Documento do DjVu
Comment[pt_BR]=Documento do DjVu
Comment[ru]=Документ DjVu
Comment[sl]=Dokument DjVu
Comment[sr]=DjVu документ
Comment[sr@Latn]=DjVu dokument
Comment[sv]=Djvu-dokument
Comment[tr]=DjVu Belgesi
Comment[tt]=DjVu İstälege
Comment[uk]=Документ DjVu
Comment[uz]=DjVu ҳужжати
Comment[xx]=xxDjVu Documentxx
Comment[zh_CN]=DjVu 文档
