[Desktop Entry]
Encoding=UTF-8
Type=MimeType
MimeType=image/x-eps
Icon=image
Patterns=*.eps;*.EPS;*.epsi;*.EPSI;*.epsf;*.EPSF;
Comment=Encapsulated PostScript Image
Comment[af]=Geënkapsuleerde Postscript Beeld
Comment[ar]=صورة بوست سكريبت محصورة
Comment[az]=Encapsulated PostScript Rəsmi
Comment[be]=Выява Encapsulated PostScript
Comment[bg]=Пълно изображение Postscript (encapsulated)
Comment[bn]=এনক্যাপসুলেটেড পোস্টস্ক্রিপ্ট চিত্র
Comment[br]=Skeudenn PostScript Enframmet
Comment[bs]=Enkapsulirana PostScript slika
Comment[ca]=Imatge encapsulada PostScript
Comment[cs]=Obrázek ve formátu Encapsulated PostScript
Comment[cy]=Delwedd PostScript wedi'i Ymgrynhoi
Comment[da]=Encapsulated PostScript-billede
Comment[de]=EPS-Abbildung
Comment[el]=Εικόνα Encapsulated PostScript
Comment[eo]=EPS-bildo
Comment[es]=Imagen PostScript encapsulado
Comment[et]=Kapseldatud PostScript pildifail
Comment[eu]=Encaptsulatutako PostScript irudia
Comment[fa]=تصویر PostScript کپسوله شده
Comment[fi]=Encapsulated PostScript -kuva
Comment[fr]=Image PostScript encapsulé
Comment[fy]=Ynsletten PostScript-ôfbylding
Comment[ga]=Íomhá "Encapsulated PostScript" (EPS)
Comment[gl]=Imaxe PostScript Encapsulada
Comment[he]=תמונת PostScript מכומסת
Comment[hi]=एनकेप्सुलेटेड पोस्टस्क्रिप्ट छवि
Comment[hr]=Slika enkapsuliranog PostScripta
Comment[hu]=Encapsulated PostScript-kép
Comment[is]=Postscript skjal (encapsulated)
Comment[it]=Immagine Encapsulated PostScript
Comment[ja]=Encapsulated PostScript イメージ
Comment[ka]=EPS ნახატი
Comment[km]=រូបភាព Encapsulated PostScript
Comment[ko]=암호화된 포스트스크립트 그림
Comment[lt]=Įsiūtas PostScript paveiksliukas
Comment[lv]=Iekapsulēts PostScript attēls
Comment[mk]=Encapsulated PostScript слика
Comment[mn]=Хайрцагласан PostScript
Comment[ms]=Imej PostScript Terenkapsul
Comment[mt]=Stampa PostScript Enkapsulat
Comment[nb]=Innkapslet PostScript-bilde
Comment[nds]=EPS-Bild (Encapsulated PostScript)
Comment[nl]=Encapsulated PostScript-afbeelding
Comment[nn]=Encapsulated PostScript-bilete
Comment[nso]=Ponagalo ya Tshwaelo ya Poso yeo elego Encapsulated
Comment[pa]=Encapsulated PostScript ਚਿੱਤਰ
Comment[pl]=Obraz EPS
Comment[pt]=Imagem PostScript Encapsulado
Comment[pt_BR]=Imagem PostScript Encapsulada
Comment[ro]=Imagine EPS
Comment[ru]=Рисунок EPS
Comment[rw]=Encapsulated PostScript Ishusho
Comment[se]=Encapsulated PostScript-govva
Comment[sk]=Zapúzdrený Postskriptový dokument (EPS)
Comment[sl]=Slika v enkapsuliranem postscriptu
Comment[sr]=Учаурена PostScript слика
Comment[sr@Latn]=Učaurena PostScript slika
Comment[sv]=Inkapslad Postscript-bild
Comment[ta]=உள்ளடக்கிய போஸ்ட்ஸ்கிரிப்ட் பிம்பம்
Comment[tg]=Тасвири капсулашудаи PostScript 
Comment[tr]=Encapsulated PostScript (eps) Dosyası
Comment[tt]=Quşılğan PostScript-Sürät
Comment[uk]=Зображення Encapsulated PostScript
Comment[uz]=EPS-расм
Comment[ven]=Tshifanyiso tsha tshikiriputi tsha poso
Comment[wa]=Imådje PostScript ecapsulêye
Comment[xh]=Umfanekiso we PostScript Wokuvalelweyo
Comment[xx]=xxEncapsulated PostScript Imagexx
Comment[zh_CN]=封装的 PostScript 图像
Comment[zh_TW]=封裝的 PostScript 影像
Comment[zu]=Isithombe Esifakwe ephaketheni Lesithombe Sesikripti Esidlulele
