[Desktop Entry]
Encoding=UTF-8
Type=MimeType
MimeType=image/x-eps
Icon=image
Patterns=*.eps;*.EPS;*.epsi;*.EPSI;*.epsf;*.EPSF;
Comment=Encapsulated PostScript Image
Comment[af]=Geënkapsuleerde Postscript Beeld
Comment[ar]=صورة بوست سكريبت محصورة
Comment[be]=Відарыс EPS
Comment[bg]=Пълно изображение Postscript (encapsulated)
Comment[br]=Skeudenn PostScript Enframmet
Comment[ca]=Imatge encapsulada PostScript
Comment[cs]=Obrázek ve formátu Encapsulated PostScript
Comment[cy]=Delwedd PostScript wedi'i Ymgrynhoi
Comment[da]=Encapsulated PostScript-billede
Comment[de]=EPS-Bild
Comment[el]=Εικόνα Encapsulated PostScript
Comment[eo]=EPS-bildo
Comment[es]=Imagen PostScript encapsulado
Comment[et]=Kapseldatud PostScript pildifail
Comment[eu]=Kapsulatutako PostScript irudia
Comment[fa]=تصویر پست‌اسکریپت کپسوله‌شده
Comment[fi]=Encapsulated PostScript -kuva
Comment[fr]=Image PostScript encapsulé
Comment[fy]=Ynsletten PostScript-ôfbylding
Comment[ga]=Íomhá "Encapsulated PostScript" (EPS)
Comment[gl]=Imaxe PostScript Encapsulada
Comment[he]=תמונת PostScript מכומסת
Comment[hr]=PostScript enkapsulirana slika
Comment[hu]=Encapsulated PostScript-kép
Comment[is]=Postscript skjal (encapsulated)
Comment[it]=Immagine Encapsulated PostScript
Comment[ja]=Encapsulated PostScript イメージ
Comment[kk]=Encapsulated PostScript кескіні
Comment[km]=រូបភាព Encapsulated PostScript
Comment[ko]=암호화된 포스트스크립트 그림
Comment[lb]=Gekapselt PostScript-Bild
Comment[lt]=Įsiūtas PostScript paveiksliukas
Comment[lv]=Iekapsulēts PostScript attēls
Comment[mk]=Енкапсулирана PostScript-слика
Comment[ms]=Imej PostScript Terenkapsul
Comment[nb]=Innkapslet PostScript-bilde
Comment[nds]=EPS-Bild (Encapsulated PostScript)
Comment[ne]=इनक्याप्सुलेट गरिएको पोस्टस्क्रिप्ट छवि
Comment[nl]=Encapsulated PostScript-afbeelding
Comment[nn]=Encapsulated PostScript-bilete
Comment[pa]=Encapsulated PostScript ਚਿੱਤਰ
Comment[pl]=Obrazek EPS
Comment[pt]=Imagem PostScript Encapsulado
Comment[pt_BR]=Imagem PostScript Encapsulada
Comment[ro]=Imagine EPS
Comment[ru]=Рисунок EPS
Comment[se]=Encapsulated PostScript-govva
Comment[sl]=Slika v enkapsuliranem postscriptu
Comment[sr]=Учаурена PostScript слика
Comment[sr@Latn]=Učaurena PostScript slika
Comment[sv]=Inkapslad Postscript-bild
Comment[ta]=உள்ளடக்கிய போஸ்ட்ஸ்கிரிப்ட் பிம்பம்
Comment[tg]=Тасвири капсулашудаи PostScript 
Comment[tr]=Encapsulated PostScript (eps) Dosyası
Comment[uk]=Зображення Encapsulated PostScript
Comment[uz]=EPS-расм
Comment[x-test]=xxEncapsulated PostScript Imagexx
Comment[xh]=Umfanekiso we PostScript Wokuvalelweyo
Comment[zh_HK]=Encapsulated PostScript 圖檔
Comment[zh_TW]=封裝的 PostScript 影像
