[Desktop Entry]
Encoding=UTF-8
Type=MimeType
MimeType=image/x-eps
Icon=image
Patterns=*.eps;*.EPS;*.epsi;*.EPSI;*.epsf;*.EPSF;
Comment=Encapsulated PostScript image
Comment[af]=geënkapsuleerde postscript beeld
Comment[ar]=رسم EPS بوست سكريبت
Comment[az]=Encapsulated PostScript (eps) faylı
Comment[be]=Малюнак Encapsulated PostScript
Comment[bg]=Графичен файл на Encapsulated Postscript
Comment[br]=Skeudenn PostScript enframmet
Comment[bs]=Enkapsulirana PostScript slika
Comment[ca]=Imatge PostScript encapsulat
Comment[cs]=Obrázek ve formátu Encapsulated PostScript
Comment[da]=Encapsulated Postscript-billede
Comment[de]=Encapsulated PostScript
Comment[el]=εικόνα Encapsulated Postscript
Comment[eo]=EPS-bildo
Comment[es]=Imagen PostScript encapsulado
Comment[et]=Kapseldatud PostScript pildifail
Comment[eu]=Encapsulated PostScript irudia
Comment[fi]=Encapsulated Postscript -kuva
Comment[fr]=Image PostScript encapsulé
Comment[gl]=Imaxe en Encapsulated PostScript
Comment[he]=תמונת PostScript מכומסת
Comment[hr]=Enkapsulirana PostScript slika
Comment[hu]=Encapsulated PostScript kép
Comment[id]=Gambar Encapsulated PostScript
Comment[is]=Postscript-skjal (encapsulated)
Comment[it]=Immagine Encapsulated PostScript
Comment[ja]=Encapsulated PostScriptイメージ
Comment[ko]=암호화 된 포스트스크립트 그림
Comment[lt]=Encapsulated PostScript piešinys
Comment[lv]=Iekapsulēts PostScript attēls
Comment[mi]=Pikitia Encapsulated PostScript
Comment[mk]=EPS слика
Comment[mt]=Stampa Encapsulated PostScript
Comment[nb]=Encapsulated PostScript-bilde
Comment[nl]=Ingebedde PostScript-afbeelding
Comment[nn]=Encapsulated PostScript-bilete
Comment[oc]=Image PostScript encapsulat
Comment[pl]=Obraz EPS
Comment[pt]=Imagem PostScript encapsulado
Comment[pt_BR]=Arquivo Postscript Encapsulado
Comment[ro]=Imagine EPS
Comment[ru]=Графический файл Encapsulated Postscript
Comment[sk]=Zapúzdrený Postskriptový dokument (EPS)
Comment[sl]=Slika v enkapsuliranem postscriptu
Comment[sr]=Encapsulated PostScript slika
Comment[sv]=Inkapslad Postscript-bild
Comment[ta]=Encapsulated PostScript ¯Õ
Comment[tr]=Encapsulated PostScript (eps) dosyası
Comment[uk]=Зображення Encapsulated PostScript
Comment[ven]=Tshifanyoso tsha tshikiriputi tsha poso
Comment[vi]=Ảnh PostScript thu gọn
Comment[xh]=Umfanekiso wokushicilelwe phantsi okuposwayo
Comment[xx]=xx
Comment[zh_CN]=封装的 PostScript 图像
Comment[zh_TW]=封裝的 PostScript 影像
Comment[zu]=Umfanekiso Wokushicilelwe phansi Okuposwayo
