[Desktop Entry]
Encoding=UTF-8
Type=MimeType
MimeType=image/x-exr
Icon=image
Patterns=*.exr;*.EXR;
Comment=ILM EXR Image
Comment[be]=Выява ILM EXR
Comment[bg]=Изображение ILM EXR
Comment[bn]=ILM EXR ইমেজ
Comment[br]=Skeudenn ILM EXR
Comment[bs]=ILM EXR slika
Comment[ca]=Imatge ILM EXR
Comment[cs]=Obrázek ILM EXR
Comment[da]=ILM EXR billede
Comment[de]=ILM EXR-Bild
Comment[el]=Εικόνα ILM EXR
Comment[eo]=ILM-EXR-grafiko
Comment[es]=Imagen ILM EXR
Comment[et]=ILM EXR pildifail
Comment[fi]=ILM EXR -kuva
Comment[fr]=Image ILM EXR
Comment[he]=תמונת ILM EXR
Comment[hr]=ILM EXR slika
Comment[hu]=ILM EXR-kép
Comment[is]=ILM EXR mynd
Comment[it]=Immagine EXR ILM
Comment[ja]=ILM EXR イメージ
Comment[ko]=ILM EXR 그림
Comment[nb]=ILM EXR-bilete
Comment[nl]=ILM EXR-afbeelding
Comment[nn]=ILM EXR-bilete
Comment[pa]=ILM EXR ਚਿੱਤਰ
Comment[pl]=Obrazek ILM EXR
Comment[pt]=Imagem ILM EXR
Comment[pt_BR]=Imagem EXR ILM
Comment[sk]=ILM EXR obrázok
Comment[sl]=Slika ILM EXR
Comment[sr]=ILM EXR слика
Comment[sr@Latn]=ILM EXR слика
Comment[sv]=ILM EXR-bild
Comment[ta]=ILM EXR பிம்பம்
Comment[tg]=Тасвири ILM EXR
Comment[uk]=Зображення ILM EXR
Comment[uz]=ILM EXR-расм
Comment[xx]=xxILM EXR Imagexx
Comment[zh_CN]=ILM EXR 图像

