[Desktop Entry]
Type=MimeType
MimeType=image/x-hdr
Icon=image
Patterns=*.hdr;*.HDR;*.pic;*.PIC
Comment=High Dynamic Range Image
Comment[af]=Hoog Dinamiese Reeks Beeld
Comment[be]=Відарыс HDR
Comment[bg]=Изображение с висока динамичност (High Dynamic Range Image)
Comment[bs]=High Dynamic Range slika
Comment[ca]=Imatge d'abast altament dinàmic
Comment[cs]=Obrázek ve formátu HDRI
Comment[csb]=Òbrôz HDR(High Dynamic Range)
Comment[da]=Billede med højt dynamisk område
Comment[el]=Εικόνα υψηλής δυναμικής περιοχής
Comment[eo]=Grafiko kun Alta Dinamika Vasteco
Comment[es]=Imagen de gran rango dinámico
Comment[et]=High Dynamic Range pildifail
Comment[eu]=Dinamika Altuko Barrutiko irudia
Comment[fa]=تصویر با گسترۀ پویایی بالا
Comment[fi]=Korkeatasoinen muuttuvien arvoalueiden kuva
Comment[fr]=Image à définition dynamique haute
Comment[fy]=High Dynamic Range-ôfbylding
Comment[gl]=Imaxe de Alto Rango Dinámico (HDR)
Comment[hr]=High Dynamic Range slika
Comment[hu]=HDR-kép
Comment[is]=High Dynamic Range mynd
Comment[it]=Immagine High Dynamic Range
Comment[ja]=HDR 画像
Comment[ka]=HDR ნახატი
Comment[kk]=High Dynamic Range кескіні
Comment[km]=រូបភាព​ជួរ​ថាមវណ្ដ​ខ្ពស់
Comment[lb]=High-Dynamic-Range-Bild
Comment[lt]=High Dynamic Range paveiksliukas
Comment[mk]=Слика со висок динамички опсег
Comment[ms]=Imej Jarak Dinamik Tinggi
Comment[nb]=Bilde med høyt dynamisk område
Comment[nds]="High Dynamic Range"-Bild
Comment[ne]=उच्च गतिशील दायरा छवि
Comment[nl]=High Dynamic Range-afbeelding
Comment[nn]=Bilete med stort dynamikkområde
Comment[pl]=Obrazek HDR(High Dynamic Range)
Comment[pt]=Imagem de Intervalo Dinâmico Elevado
Comment[pt_BR]=Imagem de Intervalo Dinâmico Alto
Comment[ro]=Imagine cu domeniu dinamic larg
Comment[ru]=Рисунок HDR
Comment[se]=Govva mas lea stuorra dynámalaš gaskkadat
Comment[sk]=High Dynamic Range obrázok
Comment[sl]=Slika z visokim dinamičnim razponom
Comment[sr]=Слика високог динамичког опсега
Comment[sr@Latn]=Slika visokog dinamičkog opsega
Comment[sv]=Bild med stort dynamiskt område
Comment[te]=ఎక్కువ పరిణామశీల వ్యాప్తి కలిగిన ప్రతిబింబం
Comment[tg]=Тасвир бо андозаи динамикии балад
Comment[th]=แฟ้มภาพแบบช่วงไดนามิคสูง
Comment[tr]=HDR Resmi
Comment[tt]=Bik Tere Aralı Sürät
Comment[uk]=Зображення HDR (High Dynamic Range)
Comment[vi]=Ảnh phạm vị động cao
Comment[zh_CN]=高动态范围图像
