[Desktop Entry]
Encoding=UTF-8
Type=MimeType
MimeType=image/x-ico
Icon=image
Patterns=*.ico;*.ICO;
Comment=Windows Icon
Comment[af]=Vensters Ikoon
Comment[ar]=أيقونات ويندوز
Comment[az]=Windows Timsalı
Comment[be]=Піктаграма Windows
Comment[bg]=Икона на Windows
Comment[bn]=উইন্ডোস আইকন
Comment[br]=Arlun Windows
Comment[bs]=Windows ikona
Comment[ca]=Icones de Windows
Comment[cs]=Ikona MS Windows
Comment[cy]=Eicon Windows
Comment[da]=Windows-ikon
Comment[de]=Windows-Symbol
Comment[el]=Εικονίδιο Windows
Comment[eo]=Vindoza piktogramo
Comment[es]=Iconos de Windows
Comment[et]=Windowsi ikoon
Comment[eu]=Windows ikonoa
Comment[fa]=شمایل ویندوز
Comment[fi]=Windows-kuvake
Comment[fr]=Icône Windows
Comment[fy]=MS Windows-ikoantsje
Comment[ga]=Deilbhín Windows
Comment[gl]=ícone de Windows
Comment[he]=סמל של Windows
Comment[hi]=विंडोज़ आईकन
Comment[hr]=Windows sličica
Comment[hu]=Windows-ikon
Comment[is]=Windows táknmynd
Comment[it]=Icona Windows
Comment[ja]=ウィンドウズアイコン
Comment[ka]=Windows პიქტოგრამა
Comment[km]=រូបតំណាង Windows
Comment[ko]=윈도우즈 아이콘
Comment[lb]=Windows Symbol
Comment[lt]=Windows ženkliukas
Comment[lv]=Windows Ikona
Comment[mk]=Windows икона
Comment[mn]=MS Windows-Тэмдэг
Comment[ms]=Ikon Windows
Comment[mt]=Ikona tal-Windows
Comment[nds]=Windows-Lüttbild
Comment[nl]=MS Windows-pictogram
Comment[nn]=Windows-ikon
Comment[nso]=Seemedi sa di-Window
Comment[pa]=Windows ਆਈਕਾਨ
Comment[pl]=Ikona Windows
Comment[pt]=Ícone do Windows
Comment[pt_BR]=Ícones de Janelas
Comment[ro]=Iconiţă MS Windows
Comment[ru]=Значок Windows
Comment[rw]=Agashushondanga Windows
Comment[se]=Windows-govaš
Comment[sk]=Ikony Windows
Comment[sl]=Ikona za Windows
Comment[sq]=Ikonë e Windows-it
Comment[sr]=Windows-ова икона
Comment[sr@Latn]=Windows-ova ikona
Comment[ss]=Simeleli se Windows
Comment[sv]=Windows-ikon
Comment[ta]=சாளரங்களின் சின்னம்
Comment[tg]=Ишораҳои Windows
Comment[th]=ไอคอนวินโดว์ส
Comment[tr]=Windows Simgeleri
Comment[tt]=Windows İkonı
Comment[uk]=Піктограма Windows
Comment[uz]=Windows нишончаси
Comment[ven]=Dziaikhono dza Dziwindo
Comment[wa]=Imådjete MS-Windows
Comment[xx]=xxWindows Iconxx
Comment[zh_CN]=Windows 图标
Comment[zh_TW]=MSWindows 圖示
Comment[zu]=Uphawu lwesithombe Lama-window
