[Desktop Entry]
Encoding=UTF-8
Type=MimeType
MimeType=image/x-jng
Icon=image
Patterns=*.jng;*.JNG;
Comment=JNG Image
Comment[af]=Jng Beeld
Comment[ar]=صورة JNG
Comment[be]=Малюнак JNG
Comment[bs]=JNG slika
Comment[ca]=Imatge JNG
Comment[cs]=Obrázek ve formátu JNG
Comment[da]=JNG-billede
Comment[de]=JNG-Bild
Comment[el]=Εικόνα JNG
Comment[eo]=JNG-grafiko
Comment[es]=Imagen JNG
Comment[et]=JNG pildifail
Comment[eu]=JNG Irudia
Comment[fa]=تصویر JNG
Comment[fi]=JNG-kuva
Comment[fr]=Image JNG
Comment[he]=תמונת JNG
Comment[hu]=JNG kép
Comment[it]=Immagine JNG
Comment[ja]=JNG イメージ
Comment[ko]=JNG 그림
Comment[lt]=JNG paveiksliukas
Comment[mt]=Stampa JNG
Comment[nb]=JNG-bilde
Comment[nl]=JNG-afbeelding
Comment[nn]=JNG-bilete
Comment[nso]=Ponagalo ya JNG
Comment[pl]=Obraz JNG
Comment[pt]=Imagem JNG
Comment[pt_BR]=Imagem JNG
Comment[ro]=Imagine JNG
Comment[ru]=Рисунок JNG
Comment[sk]=Obrázok JNG
Comment[sl]=Slika JNG
Comment[ss]=Umfanekiso we JNG 
Comment[sv]=JNG-bild
Comment[ta]=JNG ¯Õ
Comment[tr]=JNG Resmi
Comment[uk]=Зображення JNG
Comment[ven]=Tshifanyiso tsha JNG
Comment[xh]=Umfanekiso we JNG
Comment[zh_CN]=JNG 图像
Comment[zh_TW]=JNG 影像
Comment[zu]=Isithombe se-JNG
