[Desktop Entry]
Encoding=UTF-8
Type=MimeType
MimeType=image/x-jng
Icon=image
Patterns=*.jng;*.JNG;
Comment=JNG Image
Comment[af]=Jng Beeld
Comment[ar]=صورة JNG
Comment[az]=JNG Rəsmi
Comment[be]=Выява JNG
Comment[bg]=Изображение JNG
Comment[bn]=জে-এন-জি (JNG) চিত্র
Comment[br]=Skeudenn JNG
Comment[bs]=JNG slika
Comment[ca]=Imatge JNG
Comment[cs]=Obrázek ve formátu JNG
Comment[cy]=Delwedd JNG
Comment[da]=JNG-billede
Comment[de]=JNG-Bild
Comment[el]=Εικόνα JNG
Comment[eo]=JNG-grafiko
Comment[es]=Imagen JNG
Comment[et]=JNG pildifail
Comment[eu]=JNG irudia
Comment[fa]=تصویر JNG
Comment[fi]=JNG-kuva
Comment[fr]=Image JNG
Comment[fy]=JNG-ôfbylding
Comment[ga]=Íomhá JNG
Comment[gl]=Imaxe JNG
Comment[he]=תמונת JNG
Comment[hi]=JNG छवि
Comment[hr]=JNG slika
Comment[hu]=JNG-kép
Comment[is]=JNG mynd
Comment[it]=Immagine JNG
Comment[ja]=JNG イメージ
Comment[km]=រូបភាព JNG
Comment[ko]=JNG 그림
Comment[lb]=JNG-Bild
Comment[lt]=JNG paveiksliukas
Comment[lv]=JNG attēls
Comment[mk]=JNG слика
Comment[mn]=JNG-Зураг
Comment[ms]=Imej JNG
Comment[mt]=Stampa JNG
Comment[nb]=JNG-bilde
Comment[nds]=JNG-Bild
Comment[nl]=JNG-afbeelding
Comment[nn]=JNG-bilete
Comment[nso]=Ponagalo ya JNG
Comment[pa]=JNG ਚਿੱਤਰ
Comment[pl]=Obraz JNG
Comment[pt]=Imagem JNG
Comment[pt_BR]=Imagem JNG
Comment[ro]=Imagine JNG
Comment[ru]=Рисунок JNG
Comment[rw]=JNG Ishusho
Comment[se]=JNG-govva
Comment[sk]=Obrázok JNG
Comment[sl]=Slika JNG
Comment[sr]=JNG слика
Comment[sr@Latn]=JNG slika
Comment[ss]=Umfanekiso we JNG 
Comment[sv]=JNG-bild
Comment[ta]=JNG பிம்பம்
Comment[tg]=Тасвири JNG 
Comment[th]=แฟ้มภาพ JNG
Comment[tr]=JNG Resim Dosyası
Comment[tt]=JNG Sürät
Comment[uk]=Зображення JNG
Comment[uz]=JNG-расм
Comment[ven]=Tshifanyiso tsha JNG
Comment[wa]=Imådje JNG
Comment[xh]=Umfanekiso we JNG
Comment[zh_CN]=JNG 图像
Comment[zh_TW]=JNG 影像
Comment[zu]=Isithombe se-JNG
