[Desktop Entry]
Encoding=UTF-8
Icon=image
Type=MimeType
MimeType=image/x-msod
Patterns=*.msod;*.MSOD;
Comment=Microsoft Office Drawing
Comment[af]=Microsoft Kantoor Teken
Comment[ar]=رسومات مايكروسوفت أوفيس
Comment[az]=Microsoft Office Çəkimi
Comment[be]=Малюнак Microsoft Office
Comment[bg]=Изображение на Microsoft Office Drawing
Comment[bn]=মাইক্রোসফট অফিস ড্রয়িং
Comment[br]=Tresaner Microsoft Office
Comment[bs]=Microsoft Office crtež
Comment[ca]=Dibuix de Microsoft Office
Comment[cs]=Kreslení MS Office
Comment[cy]=Darlun Microsoft Office  
Comment[da]=Microsoft Office-tegning
Comment[de]=MS-Office-Zeichnung
Comment[el]=Σχέδιο Microsoft Office
Comment[eo]=MS-Oficeja desegno
Comment[es]=Dibujo de Microsoft Office
Comment[et]=MS Office'i joonistus
Comment[eu]=Microsoft Office marrazketa
Comment[fi]=Microsoft Office -piirros
Comment[fy]=MS Office-tekening
Comment[ga]=Líníocht Microsoft Office
Comment[gl]=Debuxo de Microsoft Office
Comment[he]=ציור של Microsoft Office
Comment[hi]=माइक्रोसॉफ्ट ऑफिस छवि
Comment[hr]=Microsoft Office crtež
Comment[hu]=Microsoft Office-ábra
Comment[is]=Microsoft Office teikning
Comment[it]=Disegno Microsoft Office
Comment[km]=គំនូរ Microsoft Office
Comment[ko]=마이크로소프트 오피스 그림
Comment[lb]=Microsoft-Office-Zeechnung
Comment[lt]=Microsoft Office piešinys
Comment[lv]=Microsoft Office zīmējums
Comment[mk]=Microsoft Office цртеж
Comment[mn]=MS Office-Зураглал
Comment[ms]=Lukisan Microsoft Office
Comment[mt]=Tpinġija Microsoft Office
Comment[nb]=MS Office Tegning
Comment[nds]=Teken vun Microsoft Office
Comment[nl]=MS Office-tekening
Comment[nn]=Microsoft Office-teikning
Comment[nso]=Tako ya Ofisi ya Microsoft
Comment[pa]=Microsoft Office ਡਰਾਇੰਗ
Comment[pl]=Rysunek MS Office
Comment[pt]=Desenho do Microsoft Office
Comment[pt_BR]=Desenho do MS-Office
Comment[ro]=Desen vectorial MS Office
Comment[ru]=Рисунок MS Office
Comment[se]=Microsoft Office-sárgun
Comment[sl]=Slika za MS Office
Comment[sq]=Vizatim nga Microsoft Office
Comment[sr]=Microsoft Office-ов цртеж
Comment[sr@Latn]=Microsoft Office-ov crtež
Comment[ss]=Umdvwebo welihhovisi le Microsoft 
Comment[sv]=MS Office-teckning
Comment[ta]=மைக்ரோசாப்ட்ஆபிஸ் சித்திரம்
Comment[tg]=Расмкашӣ Microsoft Office
Comment[tr]=Microsoft Office Çizimi
Comment[tt]=Microsoft Office Sızımı
Comment[uk]=Малюнок MS Office
Comment[uz]=MS Office чизмаси
Comment[ven]=Miolo ya ofisi ya MS
Comment[wa]=Documint MS-Office
Comment[xh]=Umzobo we Microsoft Office
Comment[zh_CN]=Microsoft Office 绘图
Comment[zh_TW]=MS Office 圖片
Comment[zu]=Umdwebo we-Microsoft Office
