[Desktop Entry]
Encoding=UTF-8
Type=MimeType
MimeType=image/x-pcx
Icon=image
Patterns=*.pcx;*.PCX;
Comment=PCX Image
Comment[af]=PCX Beeld
Comment[ar]=صورة PNG
Comment[be]=Відарыс PCX
Comment[bg]=Изображение PCX
Comment[br]=Skeudenn PCX
Comment[ca]=Imatge PCX
Comment[cs]=Obrázek ve formátu PCX
Comment[cy]=Delwedd PCX
Comment[da]=PCX-billede
Comment[de]=PCX-Bild
Comment[el]=Εικόνα PCX
Comment[eo]=PCX-grafiko
Comment[es]=Imagen PCX
Comment[et]=PCX pildifail
Comment[eu]=PCX irudia
Comment[fa]=تصویر PCX
Comment[fi]=PCX-kuva
Comment[fr]=Image PCX
Comment[fy]=PCX-ôfbylding
Comment[ga]=Íomhá PCX
Comment[gl]=Imaxe PCX
Comment[he]=תמונת PCX
Comment[hr]=PCX slika
Comment[hu]=PCX-kép
Comment[is]=PCX mynd
Comment[it]=Immagine PCX
Comment[ja]=PCX 画像
Comment[kk]=PCX кескіні
Comment[km]=រូបភាព PCX
Comment[ko]=PCX 그림
Comment[lb]=PCX-Bild
Comment[lt]=PCX paveikslas
Comment[lv]=PCX attēls
Comment[mk]=PCX-слика
Comment[ms]=Imej PCX
Comment[nb]=PCX-bilde
Comment[nds]=PCX-Bild
Comment[ne]=PCX छवि
Comment[nl]=PCX-afbeelding
Comment[nn]=PCX-bilete
Comment[pa]=PCX ਚਿੱਤਰ
Comment[pl]=Obrazek PCX
Comment[pt]=Imagem PCX
Comment[pt_BR]=Imagem PCX
Comment[ro]=Imagine PCX
Comment[ru]=Рисунок PCX
Comment[se]=PCX-govva
Comment[sl]=Slika PCX
Comment[sr]=PCX слика
Comment[sr@Latn]=PCX slika
Comment[sv]=PCX-bild
Comment[ta]=PCX பிம்பம்
Comment[tg]=Тасвири PCX 
Comment[tr]=PCX Resim Dosyası
Comment[uk]=Зображення PCX
Comment[uz]=PCX-расм
Comment[x-test]=xxPCX Imagexx
Comment[xh]=Umfanekiso we PCX
Comment[zh_HK]=PCX 圖檔
Comment[zh_TW]=PCX 影像
