[Desktop Entry]
Encoding=UTF-8
Type=MimeType
MimeType=image/x-photo-cd
Icon=image
Patterns=*.pcd;*.PCD;
Comment=PhotoCD Image
Comment[af]=Photocd Beeld
Comment[ar]=صورة PhotoCD
Comment[be]=Малюнак PhotoCD
Comment[bs]=PhotoCD slika
Comment[ca]=Imatge PhotoCD
Comment[cs]=Obrázek ve formátu PhotoCD
Comment[da]=PhotoCD-billede
Comment[de]=PhotoCD-Bild
Comment[el]=Εικόνα PhotoCD
Comment[eo]=Fotodisko-grafiko
Comment[es]=Imagen PhotoCD
Comment[et]=PhotoCD pildifail
Comment[eu]=PhotoCD Irudia
Comment[fa]=تصویر PhotoCD
Comment[fi]=PhotoCD-kuva
Comment[fr]=Image PhotoCD
Comment[he]=תמונת PhotoCD
Comment[hu]=PhotoCD kép
Comment[it]=Immagine PhotoCD
Comment[ja]=PhotoCD イメージ
Comment[ko]=포토CD 그림
Comment[lt]=PhotoCD paveikslas
Comment[mt]=Stampa PhotoCD
Comment[nb]=PhotoCD-bilde
Comment[nl]=FotoCD-afbeelding
Comment[nn]=PhotoCD-bilete
Comment[nso]=Ponagalo ya CD ya Seswantsho
Comment[pl]=Obraz PhotoCD
Comment[pt]=Imagem PhotoCD
Comment[pt_BR]=Imagem PhotoCD
Comment[ro]=Imagine PhotoCD
Comment[ru]=Рисунок PhotoCD
Comment[sk]=PhotoCD obrázok
Comment[sl]=Slika PhotoCD
Comment[ss]=Umfanekiso we PhotoCD
Comment[sv]=PhotoCD-bild
Comment[ta]=PhotoCD ¯Õ
Comment[tr]=PhotoCD Resmi
Comment[uk]=Зображення Photo-CD
Comment[ven]=Tshifanyiso tsha tshinepe tsha CD
Comment[xh]=Umfanekiso we PhotoCD
Comment[zh_CN]=PhotoCD 图像
Comment[zh_TW]=PhotoCD 影像
Comment[zu]=Isithombe Sesithombe se-CD
