[Desktop Entry]
Type=MimeType
MimeType=image/x-photo-cd
Icon=image
Patterns=*.pcd;*.PCD;
Comment=PhotoCD image
Comment[ca]=Imatge PhotoCD
Comment[cs]=Obrázek ve formátu PhotoCD
Comment[de]=Photo-CD-Bilder
Comment[eo]=Foto-KD-grafiko
Comment[fi]=PhotoCD-kuva
Comment[fr]=Image PhotoCD
Comment[hu]=FotóCD kép
Comment[ja]=PhotoCDイメージ
Comment[no]=PhotoCD-bilde
Comment[no_NY]=PhotoCD-bilete
Comment[pt]=Imagem PhotoCD
Comment[ro]=Fişier imagine PhotoCD
Comment[sl]=Slika oblike PhotoCD
Comment[sv]=PhotoCD-bild
