[Desktop Entry]
Encoding=UTF-8
Type=MimeType
MimeType=image/x-portable-pixmap
Icon=image
Patterns=*.ppm;*.pnm;
Comment=Portable Pixmap Image
Comment[af]=draagbaar bispatroon beeld
Comment[bs]=Portable Pixmap slika
Comment[ca]=Imatge portable Pixmap
Comment[cs]=Formát "Portable Pixmap"
Comment[da]=Portable Pixmap-billede
Comment[de]=Portable-Pixmap-Bild
Comment[el]=Εικόνα Portable Pixmap
Comment[eo]=Portebla grafiko (PPM)
Comment[es]=Imagen portable Pixmap
Comment[he]=תמונת מפת פיקסלים ניידת
Comment[hu]=Portable Pixmap kép
Comment[ja]=ポータブルピックスマップイメージ
Comment[ko]=포터블 픽스맵 그림
Comment[mt]=Stampa "portable pixmap"
Comment[nb]=Portable Pixmap File-format
Comment[nl]=Portable Pixmap-afbeelding
Comment[pt]=Formato Portável de 'Pixmaps'
Comment[pt_BR]=Formato de Arquivo Pixmap Portável
Comment[ro]=Imagine pixmap în format portabil
Comment[sv]=Flyttbart pixmappfilformat
Comment[tr]=Taşınabilir Pixmap Resmi
Comment[uk]=Мобільний формат файлів pixmap
Comment[zh_TW]=可攜式像素檔案格式
