[Desktop Entry]
Encoding=UTF-8
Type=MimeType
MimeType=image/x-portable-bitmap
Icon=image
Patterns=*.pbm;*.PBM;*.pbmraw;*.PBMRAW
Comment=Portable Bitmap Image
Comment[x-test]=xxPortable Bitmap Imagexx
