[Desktop Entry]
Encoding=UTF-8
Type=MimeType
MimeType=image/x-portable-bitmap
Icon=image
Patterns=*.pgm;
Comment=Portable Graymap File Format
Comment[bs]=Portable Greymap File format
Comment[es]=Formato de archivo portable Greymap
Comment[he]=תבנית קובץ מפת גווני אפור ניידת
Comment[hu]=Portable Greymap fájlformátum
Comment[nl]=overdraagbare greymap bestandsformaat
Comment[pt]=Formato Portável de 'Greymaps'
Comment[pt_BR]=Formato Portável de 'Greymaps'
Comment[sv]=Flyttbart gråskalefilformat
