[Desktop Entry]
Encoding=UTF-8
Type=MimeType
MimeType=image/x-portable-bitmap
Icon=image
Patterns=*.pbm
Comment=Portable Bitmap File Format
Comment[af]=Draagbaar Biskaart Lêer Formaat
Comment[ar]=نسق لمف Portable Bitmap
Comment[bs]=Portable Bitmap File format
Comment[cs]= Formát "Portable Bitmap File"
Comment[da]=Portable Bitmap filformat
Comment[de]=Portierbares Bitmap-Format
Comment[el]=Τύπος Αρχείου Portable Bitmap
Comment[eo]=Portebla grafiko (PBM)
Comment[es]=Formato de archivo Bitmap portable
Comment[et]=Portable Bitmap failivorming
Comment[eu]=Bitmap Fitxategi Formato Eramangarria
Comment[fi]=Portable Bitmap tiedostomuoto
Comment[fr]=Format Portable Bitmap
Comment[he]=תבנית קובץ מפת סיביות ניידת
Comment[hu]=Portable Bitmap fájlformátum
Comment[is]=Bitamyndasnið óháð vélartegund
Comment[it]=Formato Portable Bitmap
Comment[ja]=ポータブルビットマップファイルフォーマット
Comment[lt]=Perkeliamas taškinės grafikos (bitmap) bylų formatas
Comment[lv]=Pārvietojams Bitmapa Faila Formāts
Comment[nb]=Portable Bitmap File-format
Comment[nl]=Overdraagbaar bitmap bestandsformaat
Comment[nn]=Portable Bitmap File-format
Comment[pl]=Plik przenośnej mapy bitowej
Comment[pt]=Formato Portável de 'Bitmaps'
Comment[pt_BR]=Formato de Arquvio Bitmap
Comment[ro]=Imagine bitmap în format portabil
Comment[ru]=BMP
Comment[sk]= Formát Portable Bitmap File
Comment[sl]=Prenosljiva slikovna datotečna vrsta
Comment[sv]=Flyttbart bitmappsfilformat
Comment[th]=แฟ้มภาพ Portable Bitmap
Comment[uk]=Мобільний формат файлів bitmap
Comment[ven]=Muiti wa Bitimepe
Comment[vi]=Định dạng tập tin Bitmap đa nền
Comment[xx]=xx
Comment[zh_CN]=Portable Bitmap 文件格式
Comment[zh_TW]=可攜式點陣檔案格式
Comment[zu]=Ifomathi Yefayela Yephathekayo i Bitmap
