[Desktop Entry]
Encoding=UTF-8
Type=MimeType
MimeType=image/x-portable-bitmap
Icon=image
Patterns=*.pbm
Comment=Portable Bitmap Image
Comment[af]=Draagbaar Biskaart Beeld
Comment[ar]=صورة بيتماب قابلة للنقل
Comment[bs]=Portable Bitmap slika
Comment[ca]=Imatge Bitmap portable
Comment[cs]= Formát "Portable Bitmap"
Comment[da]=Portable Bitmap-billede
Comment[de]=Portable-Bitmap-Bild
Comment[el]=Εικόνα Portable Bitmap
Comment[eo]=Portebla grafiko (PBM)
Comment[es]=Imagen Bitmap portable
Comment[et]=Portable bitraster pildifail
Comment[eu]=Bitmap Irudi Eramangarria
Comment[fa]=تصویر نقش‌بیت قابل حمل
Comment[fi]=Portable Bitmap tiedostomuoto
Comment[fr]=Image Bitmap portable
Comment[he]=תמונת מפת סיביות ניידת
Comment[hu]=Portable Bitmap kép
Comment[it]=Immagine Portable Bitmap
Comment[ja]=ポータブルビットマップイメージ
Comment[ko]=포터블 비트맵 그림
Comment[lt]=Perkeliamas taškinės grafikos (bitmap) bylų formatas
Comment[mt]=Stampa "portable bitmap"
Comment[nb]=Portable Bitmap File-format
Comment[nl]=Portable Bitmap-afbeelding
Comment[nn]=Portable Bitmap-bilete
Comment[nso]=Ponagalo yeo e Kukegago ya Bitmap
Comment[pl]=Plik przenośnej mapy bitowej
Comment[pt]=Formato Portável de 'Bitmaps'
Comment[pt_BR]=Formato de Arquivo Bitmap Portável
Comment[ro]=Imagine bitmap în format portabil
Comment[ru]=Рисунок Portable Bitmap
Comment[sk]=Obrázok Portable Bitmap
Comment[sl]=Prenosljiva bitna slika
Comment[ss]=Umfanekiso lobambekako we-Bitmap 
Comment[sv]=Flyttbart bitmappsfilformat
Comment[ta]=GIMP ¯Õ
Comment[tr]=Taşınabilir Bit Eşlem Resmi
Comment[uk]=Мобільний формат файлів bitmap
Comment[ven]=Tshifanyiso tsha Bitmap i fareaho
Comment[xh]=Umfaneksio Ophathekayo we Bitmap
Comment[zh_CN]=便携位图图像
Comment[zh_TW]=可攜式點陣檔案格式
Comment[zu]=Isithombe Semephu yebit Esiphathekayo
