[Desktop Entry]
Encoding=UTF-8
Type=MimeType
MimeType=image/x-rgb
Icon=image
Patterns=*.rgb;*.RGB;*.rgba;*.RGBA;*.bw;*.BW;*.sgi;*.SGI
Comment=SGI Image (RGB)
Comment[af]=SGI Beeld (RGB)
Comment[be]=Выява SGI (RGB)
Comment[bg]=Изображение SGI (RGB)
Comment[bn]=এস-জি-আই চিত্র (RGB)
Comment[br]=Skeudenn SGI (RGB)
Comment[bs]=SGI slika (RGB)
Comment[ca]=Imatge SGI (RGB)
Comment[cs]=Obrázek ve formátu GIF (RGB)
Comment[cy]=Delwedd SGI (RGB)
Comment[da]=SGI-billede (RGB)
Comment[de]=SGI-Bild (RGB)
Comment[el]=Εικόνα SGI (RGB)
Comment[eo]=SGI-grafiko (rvb)
Comment[es]=Imagen SGI (RGB)
Comment[et]=SGI pildifail (RGB)
Comment[eu]=SGI irudia (RGB)
Comment[fi]=SGI-kuva (RGB)
Comment[fr]=Image SGI (RVB)
Comment[fy]=SGI ôfbylding (RBG)
Comment[ga]=Íomhá SGI (RGB)
Comment[gl]=Imaxe SGI (RGB)
Comment[he]=תמונת SGI (RGB)
Comment[hi]=एसजीआई छवि (आरजीबी)
Comment[hr]=SGI slika (RGB)
Comment[hu]=SGI-kép (RGB)
Comment[is]=SGI mynd (RGB)
Comment[it]=Immagine SGI (RGB)
Comment[ja]=SGI イメージ (RGB)
Comment[km]=រូបភាព SGI (RGB)
Comment[ko]=SGI 그림 (RGB)
Comment[lb]=SGI-Bild (RGB)
Comment[lt]=SGI paveiksliukas (RGB)
Comment[lv]=SGI attēls (RGB)
Comment[mk]=SGI слика (RGB)
Comment[ms]=Imej SGI (RGB)
Comment[nb]=SGI-bilde (RGB)
Comment[nds]=SGI-Bild (RGB)
Comment[nl]=SGI-Afbeelding (RGB)
Comment[nn]=SGI-bilete (RGB)
Comment[pa]=SGI ਚਿੱਤਰ (RGB)
Comment[pl]=Obrazek SGI (RGB)
Comment[pt]=Imagem SGI (RGB)
Comment[pt_BR]=Imagem SGI (RGB)
Comment[ro]=Imagine SGI (RGB)
Comment[ru]=Рисунок SGI (RGB)
Comment[rw]=SGI Ishusho
Comment[se]=SGI-govva (RGB)
Comment[sk]=Obrázok SGI (RGB)
Comment[sl]=Slika SGI (RGB)
Comment[sr]=SGI слика (RGB)
Comment[sr@Latn]=SGI slika (RGB)
Comment[sv]=SGI-bild (RGB)
Comment[ta]=GIF பிம்பம்
Comment[tg]=Тасвири SGI (RGB)
Comment[th]=แฟ้มภาพ SGI (RGB)
Comment[tr]=SGI Resmi (KYM)
Comment[tt]=SGI Sürät (RGB)
Comment[uk]=Зображення SGI (RGB)
Comment[uz]=SGI-расм (RGB)
Comment[zh_CN]=SGI 图像(RGB)
