[Desktop Entry]
Encoding=UTF-8
Type=MimeType
MimeType=image/x-targa
Icon=image
Patterns=*.tga;*.TGA;
Comment=Truevision Targa Image
Comment[af]=Truevision Targa Beeld
Comment[ar]=صورة Truevision Targa
Comment[az]=Truevision Targa Rəsmi
Comment[be]=Выява Truevision Targa
Comment[bg]=Изображение на Truevision Targa
Comment[bn]=ট্রুভিশন টার্গা চিত্র
Comment[br]=Skeudenn Truevision Targa
Comment[bs]=Truevision Targa slika
Comment[ca]=Imatge Truevision de Targa
Comment[cs]=Obrázek ve formátu Truevision Targa
Comment[cy]=Delwedd Truevision Targa 
Comment[da]=Truevision Targa-billede
Comment[de]=Truevision-Targa-Bild
Comment[el]=Εικόνα Truevision Targa
Comment[eo]=TARGA-grafiko
Comment[es]=Imagen de vision verdadera Targa
Comment[et]=Truevision Targa pildifail
Comment[eu]=Truevision Targa irudia
Comment[fa]=تصویر Truevision Targa
Comment[fi]=Truevision Targa -kuva
Comment[fr]=Image Targa Truevision
Comment[fy]=Truevision Targa-ôfbylding
Comment[ga]=Íomhá Truevision Targa
Comment[gl]=Imaxe Targa Truevision
Comment[he]=תמונת Truevision Targa
Comment[hi]=ट्रूविज़न टार्गा छवि
Comment[hr]=Truevision Targa slika
Comment[hu]=Truevision Targa-kép
Comment[is]=Truevision Targa mynd
Comment[it]=Immagine Truevision Targa
Comment[ja]=トゥルービジョン Targa イメージ
Comment[km]=រូបភាព Truevision Targa
Comment[ko]=트루비전 타가 그림
Comment[lb]=Truevision-Targa-Bild
Comment[lt]=Truevision Targa paveiksliukas
Comment[lv]=Truevision Targa attēls
Comment[mk]=Truevision Targa слика
Comment[mn]=Truevision Targa Зураг
Comment[ms]=Imej Truevision Targa
Comment[mt]=Stampa Truevision Targa
Comment[nb]=Truevision Targa-bilde
Comment[nds]=Truevision-Targa-Bild
Comment[nl]=Truevision Targa-afbeelding
Comment[nn]=Truevision Targa-bilete
Comment[nso]=Ponagalo ya Pono ya Nnete ya Targa
Comment[pa]=Truevision Targa ਚਿੱਤਰ
Comment[pl]=Obrazek Truevision Targa
Comment[pt]=Imagem Truevision Targa
Comment[pt_BR]=Imagem Truevision Targa
Comment[ro]=Imagine Targa Truevision
Comment[ru]=Рисунок Truevision Targa
Comment[rw]=Truevision Targa Ishusho
Comment[se]=Truevision Targa-govva
Comment[sk]=Obrázok Truevision Targa
Comment[sl]=Slika Truevision Targa
Comment[sr]=Truevision Targa слика
Comment[sr@Latn]=Truevision Targa slika
Comment[sv]=Truevision Targa-bild
Comment[ta]=சரியான பார்வை டார்கா பிம்பம்
Comment[tg]=Тасвири Truevision Targa 
Comment[tr]=Targa Resim Dosyası
Comment[tt]=Truevision Targa Süräte
Comment[uk]=Зображення Truevision Targa
Comment[uz]=TGA-расм
Comment[ven]=Tshifanyiso tsha Targa tsha mbonalelo ya vhukuma ya TIFF
Comment[wa]=Imådje Targa
Comment[xh]=Umfanekiso we Truevision Targa
Comment[zh_CN]=Truevision Targa 图像
Comment[zh_HK]=Truevision Targa 圖檔
Comment[zh_TW]=Truevision Targa 圖形
Comment[zu]=Isithombe Sombono wangempela we-Targa
