[Desktop Entry]
Encoding=UTF-8
Icon=image
Type=MimeType
MimeType=image/x-vnd.adobe.photoshop
Patterns=*.psd;*.PSD;
Comment=Adobe Photoshop Image
Comment[af]=Adobe Photoshop Beeld
Comment[ar]=صورة أدوبي فوتوشوب
Comment[az]=Adobe Photoshop Rəsmi
Comment[be]=Выява Adobe Photoshop
Comment[bg]=Изображение на Adobe Photoshop
Comment[bn]=অ্যাডোব ফোটোশপ চিত্র
Comment[br]=Skeudenn Adobe Photoshop
Comment[bs]=Adobe Photoshop slika
Comment[ca]=Imatge Adobe Photoshop
Comment[cs]=Obrázek ve formátu Adobe Photoshop
Comment[cy]=Delwedd Adobe Photoshop
Comment[da]=Adobe Photoshop-billede
Comment[de]=Adobe-Photoshop-Bild
Comment[el]=Εικόνα Adobe Photoshop
Comment[eo]=Adobe-Fotoŝopo-grafiko
Comment[es]=Imagen Photoshop de Adobe
Comment[et]=Adobe Photoshop pildifail
Comment[eu]=Adobe Photoshop irudia
Comment[fa]=تصویر Adobe Photoshop
Comment[fi]=Adobe Photoshop -kuva
Comment[fr]=Image Adobe Photoshop
Comment[fy]=Adobe Photoshop ôfbylding
Comment[ga]=Íomhá Adobe Photoshop
Comment[gl]=Imaxe de Adobe Photoshop
Comment[he]=תמונת Adobe Photoshop
Comment[hi]=एडोब फोटोशॉप छवि 
Comment[hr]=Slika Adobe Photoshopa
Comment[hu]=Adobe Photoshop-kép
Comment[is]=Adobe Photoshop mynd
Comment[it]=Immagine Adobe Photoshop
Comment[ja]=Adobe Photoshop 画像
Comment[km]=រូបភាព Adobe Photoshop
Comment[ko]=어도비 포토샵 그림
Comment[lb]=Adobe-Photoshop-Bild
Comment[lt]=Adobe Photoshop paveiksliukas
Comment[lv]=Adobe Photoshop attēls
Comment[mk]=Adobe Photoshop слика
Comment[mn]=Adobe Photoshop зураг
Comment[ms]=Imej Adobe Photoshop
Comment[nb]=Adobe Photoshop bilde
Comment[nds]=Adobe-Photoshop-Bild
Comment[nl]=Adobe Photoshop-afbeelding
Comment[nn]=Adobe Photoshop-bilete
Comment[pa]=Adobe Photoshop ਚਿੱਤਰ
Comment[pl]=Obrazek Adobe Photoshop
Comment[pt]=Imagem do Adobe Photoshop
Comment[pt_BR]=Imagem do Adobe Photoshop
Comment[ro]=Imagine Adobe Photoshop
Comment[ru]=Рисунок Adobe Photoshop
Comment[rw]=Adobe Photoshop Ishusho
Comment[se]=Adobe Photoshop-govva
Comment[sk]=Adobe Photoshop obrázok
Comment[sl]=Slika Adobe Photoshop
Comment[sr]=Слика Adobe Photoshop-а
Comment[sr@Latn]=Slika Adobe Photoshop-a
Comment[sv]=Adobe Photoshop-bild
Comment[ta]=அடோப் ஃபோட்டோஷாப் பிம்பம்
Comment[tg]=Тасвири Adobe Photoshop 
Comment[th]=แฟ้มภาพอโดบีโฟโต้ช้อป
Comment[tr]=Adobe Photoshop Resim Dosyası
Comment[tt]=Adobe Photoshop Süräte
Comment[uk]=Зображення Adobe Photoshop
Comment[uz]=Adobe Photoshop-расм
Comment[wa]=Imådje Adobe Photoshop
Comment[zh_CN]=Adobe Photoshop 图像
Comment[zh_TW]=Adobe Photoshop 影像
