[Desktop Entry]
Encoding=UTF-8
Icon=vectorgfx
Type=MimeType
MimeType=image/x-wmf
Patterns=*.wmf;*.WMF;
Comment=Windows MetaFile
Comment[af]=Vensters Metaleêr
Comment[bg]=Мета файл на Windows
Comment[bn]=উইন্ডোস মেটাফাইল
Comment[br]=Meta-restr Windows 
Comment[ca]=Metafitxer de Windows
Comment[cs]=Metasoubor Windows
Comment[cy]=Metafile Windows
Comment[da]=Windows-metafil
Comment[el]=Μετα-αρχείο Windows
Comment[eo]=Vindoza Meta-grafiko-dosiero
Comment[es]=Metaarchivo de Windows
Comment[eu]=Windows metafitxategia
Comment[fa]=فوق‌پرونده‌ی ویندوز
Comment[fi]=Windows-metatiedosto
Comment[fr]=Métafichier Windows
Comment[fy]=Windows Metatriem
Comment[ga]=Windows MetaFile (WMF)
Comment[gl]=Meta-arquivo de Window
Comment[he]=מטא־קובץ של Windows
Comment[hi]=विंडोज़ मेटाफ़ाइल
Comment[hu]=Windows-metafájl
Comment[id]=Berkas meta Windows
Comment[is]=Windows Lýsiskrá
Comment[it]=Metafile Windows
Comment[ja]=Windows Metaファイル
Comment[ko]=윈도우즈 메타 파일
Comment[lt]=Windows metabyla
Comment[lv]=Windows MetaFails
Comment[mk]=Windows метадатотека
Comment[ms]=Fail Meta Windows
Comment[mt]=Metafile tal-Windows
Comment[nb]=Windows metafil
Comment[nds]=Windows-Metadatei
Comment[nl]=Windows Meta-bestand
Comment[nn]=Windows Metafile
Comment[nso]=Faele ya Meta ya di-Window
Comment[pa]=ਵਿੰਡ ਮੈਟਾ ਫਾਇਲ
Comment[pl]=Metaplik Windows
Comment[pt]=Meta-ficheiro do Windows
Comment[ro]=Fişier vectorial Windows MetaFile
Comment[ru]=Метафайл Windows
Comment[rw]=Idosiyeidasanzwe Windows
Comment[se]=Windows-metafiila
Comment[sk]=Windows Metafile obrázok
Comment[sq]=MetaSkedë nga Windows
Comment[sr]=Windows-ов мета фајл
Comment[sr@Latn]=Windows-ov meta fajl
Comment[sv]=Windows metafil
Comment[ta]=சாளரங்கள் மெடாகோப்பு
Comment[th]=เมตาไฟล์ของวินโดว์ส
Comment[tr]=Windows Meta Dosyası
Comment[uz]=Windows мета-файли
Comment[ven]=Matafaela ya dziwindo
Comment[xh]=Ifayile ye Meta ye Windows
Comment[xx]=xxWindows MetaFilexx
Comment[zh_CN]=Windows 元文件
Comment[zu]=Ama-window eMetaFayela
