[Desktop Entry]
Encoding=UTF-8
Icon=vectorgfx
Type=MimeType
MimeType=image/x-wmf
Patterns=*.wmf;*.WMF;
Comment=Windows MetaFile
Comment[af]=Vensters Metaleêr
Comment[bg]=Windows метафайл 
Comment[cs]=Metasoubor Windows
Comment[da]=Windows metafil
Comment[el]=αρχείο Windows MetaFile
Comment[eo]=Vindoza Meta-grafiko-dosiero
Comment[es]=Metaarchivo de Windows
Comment[eu]=Windows Metafitxategia
Comment[fi]=Windows Metatiedosto
Comment[fr]=Métafichier MS-Windows
Comment[he]=מטא-קובץ של Windows
Comment[hu]=Windows metafájl
Comment[id]=Berkas meta Windows
Comment[is]=Windows Metamyndir
Comment[ja]=Windows Metaファイル
Comment[ko]=윈도우즈 메타 파일
Comment[lt]=Windows Metabyla
Comment[lv]=Windows MetaFails
Comment[nb]=Windows metafil
Comment[nl]=Windows Meta-bestand
Comment[nn]=Windows Metafile
Comment[pl]=Metaplik Windows
Comment[pt]=Meta-ficheiro do Windows
Comment[ro]=Fişier vectorial Windows MetaFile
Comment[ru]=Windows метафайл
Comment[sk]=Windows Metafile obrázok
Comment[sr]=Windows meta fajl
Comment[sv]=Windows metafil
Comment[ta]=Windows Meta§¸¡ôÒ
Comment[th]=เมตาไฟล์ของวินโดว์ส
Comment[ven]=Matafaela ya dziwindo
Comment[xh]=Ifayile yeMeta ye Windows
Comment[xx]=xx
Comment[zh_CN]=Windows 元文件
Comment[zu]=Amafayela eMetaFayela
