[Desktop Entry]
Encoding=UTF-8
Type=MimeType
MimeType=image/x-xbm
Icon=image
Patterns=*.xbm;*.XBM;
Comment=X BitMap Image
Comment[af]=X Biskaart Beeld
Comment[ar]=صورة X BitMap
Comment[be]=Малюнак X BitMap
Comment[bs]=X BitMap slika
Comment[ca]=Imatge mapa de bits de X
Comment[cs]=Obrázek ve formátu X Bitmap
Comment[da]=X BitMap-billede
Comment[de]=X-BitMap-Bild
Comment[el]=Εικόνα X BitMap
Comment[eo]=XBitmap-grafiko
Comment[es]=Imagen mapa de bits de X
Comment[et]=X bitmap pildifail
Comment[eu]=X BitMap Irudia
Comment[fa]=تصویر X BitMap
Comment[fi]=X bittikarttakuva
Comment[fr]=Image XBitmap
Comment[he]=תמונת מפת סיביות של X
Comment[hu]=X bitmap
Comment[it]=Immagine X BitMap
Comment[ja]=X ビットマップイメージ
Comment[ko]=X용 비트맵 그림
Comment[lt]=X BitMap paveiksliukas
Comment[mt]=Stampa X BitMap
Comment[nb]=X BitMap-bilde
Comment[nl]=X BitMap-afbeelding
Comment[nn]=X BitMap-bilete
Comment[nso]=Ponagalo ya BitMap ya X
Comment[pl]=Obraz X Bitmap
Comment[pt]=Imagem X BitMap
Comment[pt_BR]=Imagem Bitmap X
Comment[ro]=Imagine XBM
Comment[ru]=Рисунок X Bitmap
Comment[sk]=X BitMap obrázok
Comment[sl]=Bitna slika za X
Comment[ss]=Umfanekiso we X BitMap 
Comment[sv]=X bitmapp-bild
Comment[ta]=X À¢ðÅ¨Ã ¯Õ
Comment[tr]=X BitMap Resmi
Comment[uk]=Зображення X Bitmap
Comment[ven]=Tshifanyiso tsha Bitmap tsha X
Comment[xh]=Umfanekiso we X BitMap
Comment[zh_CN]=X 位图图像
Comment[zh_TW]=X 點陣影像
Comment[zu]=Isithombe se-X BitMap
