[Desktop Entry]
Encoding=UTF-8
Type=MimeType
MimeType=image/x-xcursor
Icon=cursor
Comment=X11 Mouse Cursor
Comment[fr]=Curseur de souris X11
Comment[x-test]=xxX11 Mouse Cursorxx

