[Desktop Entry]
Encoding=UTF-8
Comment=GIMP Native Image Format
Comment[x-test]=xxGIMP Native Image Formatxx
Icon=image
MimeType=image/x-xcf-gimp
Patterns=*.xcf;
Type=MimeType
