[Desktop Entry]
Encoding=UTF-8
Icon=vectorgfx
Type=MimeType
MimeType=image/x-xfig
Patterns=*.fig;*.FIG;
Comment=XFig File
Comment[af]=Xfig Lêer
Comment[ar]=ملف XFig
Comment[az]=XFig Faylı
Comment[be]=Файл XFig
Comment[bg]=Файл XFig
Comment[bn]=এক্সফিগ (XFig) ফাইল
Comment[br]=Restr XFig
Comment[bs]=XFig datoteka
Comment[ca]=Fitxer de XFig
Comment[cs]=Soubor XFig
Comment[cy]=Ffeil XFig
Comment[da]=XFig-fil
Comment[de]=XFig-Datei
Comment[el]=Αρχείο XFig
Comment[eo]=XFig-dosiero
Comment[es]=Archivo de XFig
Comment[et]=XFigi fail
Comment[eu]=XFig fitxategia
Comment[fa]=پرونده‌ی XFig
Comment[fi]=XFig-tiedosto
Comment[fr]=Dessin XFig
Comment[fy]=XFig-triem
Comment[ga]=Comhad XFig
Comment[gl]=Arquivo XFig
Comment[he]=קובץ XFig
Comment[hi]=XFig फ़ाइल
Comment[hr]=Xfig datoteka
Comment[hu]=XFig-fájl
Comment[is]=XFig skrá
Comment[it]=File XFig
Comment[ja]=XFigファイル
Comment[ka]=XFig ფაილი
Comment[km]=ឯកសារ XFig
Comment[ko]=XFig 파일
Comment[lt]=XFig byla
Comment[lv]=XFig Fails
Comment[mk]=XFig датотека
Comment[mn]=XFig-Файл
Comment[ms]=Fail XFig
Comment[mt]=Fajl XFig
Comment[nb]=XFig-fil
Comment[nds]=XFig-Datei
Comment[nl]=XFig-bestand
Comment[nn]=XFig-fil
Comment[nso]=Faele ya XFig
Comment[pa]=XFig ਫਾਇਲ
Comment[pl]=Plik XFiga
Comment[pt]=Ficheiro XFig
Comment[pt_BR]=Arquivo XFig
Comment[ro]=Fişier XFig
Comment[ru]=Файл XFig
Comment[rw]=XFig Idosiye
Comment[se]=XFig-fiila
Comment[sk]=Súbor XFig
Comment[sl]=Datoteka XFig
Comment[sq]=Skedë XFid
Comment[sr]=XFig фајл
Comment[sr@Latn]=XFig fajl
Comment[ss]=Lifayela le XFig
Comment[sv]=Xfig-fil
Comment[ta]=XFig கோப்பு
Comment[tg]=Файли XFig 
Comment[th]=แฟ้ม XFig
Comment[tr]=XFig Dosyası
Comment[tt]=XFig Bireme
Comment[uk]=Файл XFig
Comment[uz]=XFig-файли
Comment[ven]=Faela ya XFig
Comment[vi]=File XFig 
Comment[wa]=Fitchî XFig
Comment[xh]=Ifayile ye XFig
Comment[xx]=xxXFig Filexx
Comment[zh_CN]=XFig 文件
Comment[zh_TW]=XFig 檔案
Comment[zu]=Ifayela le-XFig
