[Desktop Entry]
Type=MimeType
MimeType=image/x-xpm
Icon=image
Patterns=*.xpm;*.XPM;
Comment=X PixMap image
Comment[az]=X PixMap rəsmi
Comment[bg]=Графичен файл на X PixMap
Comment[br]=Skeudenn X PixMap
Comment[bs]=X PixMap slika
Comment[ca]=Imatge de pixmap X
Comment[cs]=Obrázek ve formátu X Pixmap
Comment[da]=X billede
Comment[de]=X-Bitmaps
Comment[el]=εικόνα X PixMap
Comment[eo]=XPixmap-grafiko
Comment[es]=Imagen mapa de pixels de X
Comment[et]=X pixmap pildifail
Comment[eu]=X PixMap irudia
Comment[fi]=X kuvakartta
Comment[fr]=Image Pixmap
Comment[gl]=Imaxe X PixMap
Comment[he]=X תנומת
Comment[hr]=X PixMap slika
Comment[hu]=X színes bittérkép
Comment[is]=X PixMap-mynd(ir)
Comment[it]=Immagine X PixMap
Comment[ja]=Xビットマップイメージ
Comment[ko]=X용 픽스맵 그림
Comment[lt]=X PixMap piešinys
Comment[lv]=X PixMap attēls
Comment[mi]=Pikitia X PixMap
Comment[mk]=XPM слика
Comment[mt]=Stampa X PixMap
Comment[nl]=X-PixMap-afbeelding
Comment[no]=X PixMap-bilde
Comment[no_NY]=Bilete i X Pixmap-format
Comment[oc]=Image de pixmap X
Comment[pl]=Obraz X PixMap
Comment[pt_BR]=Imagem X Pixmap
Comment[pt]=Imagem X PixMap
Comment[ru]=Графический файл X PixMap
Comment[sk]=X PixMap obrázok
Comment[sl]=Rastrska slika za X
Comment[sr]=X PixMap slika
Comment[sv]=X pixmapp-bild
Comment[ta]=X À¼òÐÏìÌ Å¨Ã ¯Õ
Comment[tr]=X PixMap resmi
Comment[uk]=Образ X-Bitmaps
Comment[vi]=Ảnh X Bitmap 
Comment[xh]=Umfanekiso we X PixMap
Comment[zh_CN.GB2312]=X 点图图像
