[Desktop Entry]
Encoding=UTF-8
Type=MimeType
MimeType=image/x-xpm
Icon=image
Patterns=*.xpm;*.XPM;
Comment=X PixMap image
Comment[af]=X Bispatroon beeld
Comment[ar]=رسم XPM
Comment[az]=X PixMap rəsmi
Comment[be]=Малюнак X PixMap
Comment[bg]=Графичен файл на X PixMap
Comment[br]=Skeudenn X PixMap
Comment[bs]=X PixMap slika
Comment[ca]=Imatge de pixmap X
Comment[cs]=Obrázek ve formátu X Pixmap
Comment[da]=X-billede
Comment[de]=X-Bitmaps
Comment[el]=εικόνα X PixMap
Comment[eo]=XPixmap-grafiko
Comment[es]=Imagen mapa de pixels de X
Comment[et]=X pixmap pildifail
Comment[eu]=X PixMap irudia
Comment[fi]=X kuvakartta
Comment[fr]=Image Pixmap
Comment[gl]=Imaxe X PixMap
Comment[he]=תמונת X
Comment[hr]=X PixMap slika
Comment[hu]=X színes bittérkép
Comment[id]=Gambar X PixMap
Comment[is]=X PixMap-mynd(ir)
Comment[it]=Immagine X PixMap
Comment[ja]=Xビットマップイメージ
Comment[ko]=X용 픽스맵 그림
Comment[lt]=X taškinės grafikos (pixmap) paveikslas
Comment[lv]=X PixMap attēls
Comment[mi]=Pikitia X PixMap
Comment[mk]=XPM слика
Comment[mt]=Stampa X PixMap
Comment[nb]=X PixMap-bilde
Comment[nl]=X-PixMap-afbeelding
Comment[nn]=Bilete i X Pixmap-format
Comment[oc]=Image de pixmap X
Comment[pl]=Obraz X PixMap
Comment[pt]=Imagem X PixMap
Comment[pt_BR]=Imagem X Pixmap
Comment[ro]=Imagine XPM
Comment[ru]=Графический файл X PixMap
Comment[sk]=X PixMap obrázok
Comment[sl]=Rastrska slika za X
Comment[sr]=X PixMap slika
Comment[sv]=X pixmapp-bild
Comment[ta]=X À¼òÐÏìÌ Å¨Ã ¯Õ
Comment[th]=แฟ้มภาพพิกซ์แมพ X
Comment[tr]=X PixMap resmi
Comment[uk]=Зображення X-Bitmaps
Comment[ven]=Tshifanyiso tsha Pixmap tsha X
Comment[vi]=Ảnh Bitmap X
Comment[xh]=Umfanekiso we X PixMap
Comment[xx]=xx
Comment[zh_CN]=X 点图图像
Comment[zh_TW]=X 像素影像
Comment[zu]=Umfanekiso we X PixMap
