[Desktop Entry]
Encoding=UTF-8
Type=MimeType
Icon=news
MimeType=message/news
Patterns=
Comment=Usenet News Message
Comment[af]=Usenet Nuus Boodskap
Comment[ar]=رسالة أخبار مستخدمي الشبكة
Comment[be]=Паведамленне Usenet News
Comment[br]=Kemennad keleier Usenet
Comment[ca]=Missatge de notícies de Usenet
Comment[cs]=Zpráva diskuzní skupiny (Usenet news)
Comment[cy]=Neges Newyddion Usenet
Comment[da]=Usenet-nyhedsbesked
Comment[de]=Usenet-News
Comment[el]=Μήνυμα νέων του usenet
Comment[eo]=Diskutgrupa mesaĝo
Comment[es]=Mensaje de noticias de Usenet
Comment[et]=Uudistegrupi artikkel
Comment[eu]=Usenet berri mezua
Comment[fa]=پیام خبری Usenet
Comment[fi]=Usenet-viesti
Comment[fr]=Message de forum de discussion
Comment[fy]=Usenet-nijsberjocht
Comment[ga]=Teachtaireacht Nuachta Usenet
Comment[gl]=Mensaxe de Novas de Usenet
Comment[he]=הודעת חדשות Usenet
Comment[hr]=Usenet poruka novosti
Comment[hu]=Usenet üzenet
Comment[is]=Bréf af Usenet ráðstefnum
Comment[it]=Messaggio di news Usenet
Comment[ja]=Usenet ニュースメッセージ
Comment[kk]=Usenet жаңалық хабары
Comment[km]=សារ​ដំណឹង​បណ្ដាញ​អ្នក​ប្រើ
Comment[ko]=유즈넷 새소식 메세지
Comment[lb]=Usenet-News-Noricht
Comment[lt]=Usenet naujienų žinutė
Comment[lv]=Usenet vēstu ziņojums
Comment[mk]=Usenet-порака со вести
Comment[ms]=Mesej Berita Usenet
Comment[nb]=Usenet nyhetsmelding
Comment[nds]=Usenet-Naricht
Comment[ne]=यूजनेट समाचार सन्देश
Comment[nl]=Usenet-nieuwsbericht
Comment[nn]=Usenet-innlegg
Comment[pa]=Usenet ਖਬਰ ਸੁਨੇਹਾ
Comment[pl]=Wiadomość z grup dyskusyjnych (Usenet)
Comment[pt]=Mensagem de Usenet News
Comment[pt_BR]=Mensagem Usenet
Comment[ro]=Mesaj de ştiri USENET
Comment[ru]=Новость Usenet
Comment[se]=Usenet-reive
Comment[sl]=Novičarsko sporočilo Useneta
Comment[sr]=Usenet News порука
Comment[sr@Latn]=Usenet News poruka
Comment[sv]=Usenet-diskussionsmeddelande
Comment[ta]=பயன்படுத்தும் வலை செய்தித் தகவல்
Comment[tg]=Хати хабари фиристоданашуда
Comment[tr]=Usenet Haber Grubu Mesajı
Comment[uk]=Повідомлення новин Usenet
Comment[uz]=Usenet янгиликлар хабари
Comment[x-test]=xxUsenet News Messagexx
Comment[xh]=Umyalezo Weendaba we Usenet
Comment[zh_HK]=Usenet 新聞組訊息
Comment[zh_TW]=Usenet 新聞訊息

[Property::X-KDE-text]
Type=bool
Value=true
