[Desktop Entry]
Encoding=UTF-8
Type=MimeType
MimeType=audio/vnd.rn-realaudio
Icon=sound
Patterns=*.ra;*.ram;*.RA;*.RAM;
X-KDE-IsAlso=audio/x-pn-realaudio
Comment=RealAudio File
Comment[fr]=Fichier ReadAudio
Comment[x-test]=xxRealAudio Filexx
[Property::X-KDE-NativeExtension]
Type=QString
Value=.ra

