[Desktop Entry]
Encoding=UTF-8
Type=MimeType
Comment=PCM audio
Comment[af]=pcm audio
Comment[ar]=ملف PCM صوتي
Comment[az]=PCM səsləri
Comment[bg]=Звуков файл на PCM
Comment[br]=Klevet PCM
Comment[ca]=Àudio PCM
Comment[da]=PCM-audio
Comment[de]=PCM-Audio
Comment[el]=Ήχος PCM
Comment[eo]=PCM-sondosiero
Comment[es]=Sonido PCM
Comment[et]=PCM audiofail
Comment[fi]=PCM-ääni
Comment[fr]=Son PCM
Comment[gl]=Audio en PCM
Comment[he]=שמע PCM
Comment[hu]=PCM audió
Comment[id]=Audio PCM
Comment[is]=PCM-hljóðskrá(r)
Comment[it]=Audio PCM
Comment[ja]=PCMオーディオ
Comment[ko]=PCM 오디오
Comment[mi]=Oro PCM
Comment[mk]=PCM аудио
Comment[mt]=Awdio PCM
Comment[nb]=PCM-lyd
Comment[nl]=PCM-audiobestand
Comment[nn]=PCM-lyd
Comment[oc]=Audio PCM
Comment[pt]=Audio em formato PCM
Comment[pt_BR]=Áudio PCM
Comment[ro]=Audio PCM
Comment[ru]=Звуковой файл PCM
Comment[sk]=PCM zvuk
Comment[sl]=Zvok oblike PCM
Comment[sv]=PCM-ljud
Comment[ta]=PCM ´Ä¢
Comment[th]=แฟ้มเสียง PCM
Comment[tr]=PCM sesleri
Comment[uk]=PCM-аудіо
Comment[ven]=Zwinopfiwa zwa PCM
Comment[vi]=Audio PCM
Comment[xh]=PCM evakalayo
Comment[xx]=xx
Comment[zh_CN]=PCM 音频文件
Comment[zh_TW]=PCM 聲音文件
Comment[zu]=PCM ezwakalayo
MimeType=audio/x-adpcm
Icon=sound
Patterns=;
