[Desktop Entry]
Encoding=UTF-8
Type=MimeType
Comment=PCM Audio
Comment[af]=Pcm Audio
Comment[ar]=صوت PCM
Comment[be]=PCM аўдыё
Comment[bs]=PCM audio
Comment[ca]=So PCM
Comment[cs]=PCM audio
Comment[da]=PCM-audio
Comment[de]=PCM-Audio
Comment[el]=Ήχος PCM
Comment[eo]=PCM-sondosiero
Comment[es]=Sonido PCM
Comment[et]=PCM audiofail
Comment[fa]=صدای PCM
Comment[fi]=PCM-ääni
Comment[fr]=Fichier son PCM
Comment[he]=שמע PCM
Comment[hu]=PCM hangfájl
Comment[it]=Audio PCM
Comment[ja]=PCM オーディオ
Comment[ko]=PCM 오디오
Comment[lt]=PCM audio
Comment[mt]=Awdjo PCM
Comment[nb]=PCM-lyd
Comment[nl]=PCM-audio
Comment[nn]=PCM-lyd
Comment[nso]=Kwagalo ya PCM
Comment[pl]=PCM audio
Comment[pt]=Audio PCM
Comment[pt_BR]=Áudio PCM
Comment[ro]=Fişier audio PCM
Comment[ru]=Звуковой файл PCM
Comment[sk]=PCM zvuk
Comment[sl]=Zvok oblike PCM
Comment[ss]=Umsindvo we PCM 
Comment[sv]=PCM-ljud
Comment[ta]=PCM ´Ä¢
Comment[tr]=PCM Ses Dosyası
Comment[uk]=PCM-аудіо
Comment[ven]=Zwinopfiwa zwa PCM
Comment[xh]=PCM Evakalayo
Comment[zh_CN]=PCM 音频文件
Comment[zh_TW]=PCM 聲音文件
Comment[zu]=Okuzwakalayo kwe-PCM
MimeType=audio/x-adpcm
Icon=sound
Patterns=;
