[Desktop Entry]
Encoding=UTF-8
Type=MimeType
Comment=PCM Audio
Comment[af]=PCM Klank
Comment[ar]=صوت PCM
Comment[be]=Гукавы файл PCM
Comment[bg]=Аудио файл PCM
Comment[br]=Klevet PCM
Comment[ca]=Àudio PCM
Comment[cs]=PCM audio
Comment[cy]=Sain PCM
Comment[da]=PCM-lyd
Comment[de]=PCM-Audio
Comment[el]=Ήχος PCM
Comment[eo]=PCM-sondosiero
Comment[es]=Sonido PCM
Comment[et]=PCM audiofail
Comment[eu]=PCM audioa
Comment[fa]=صوتی PCM
Comment[fi]=PCM-ääni
Comment[fr]=Son PCM
Comment[fy]=PCM-audio
Comment[ga]=Fuaim PCM
Comment[gl]=Son en PCM
Comment[he]=שמע PCM
Comment[hr]=PCM zvuk
Comment[hu]=PCM-hangfájl
Comment[is]=PCM hljóðskrá
Comment[it]=Audio PCM
Comment[ja]=PCM オーディオ
Comment[kk]=PCM дыбыс файлы
Comment[km]=PCM អូឌីយ៉ូ
Comment[ko]=PCM 오디오
Comment[lb]=PCM-Audio
Comment[lt]=PCM audio
Comment[mk]=PCM-аудио
Comment[ms]=Audio PCM
Comment[nb]=PCM-lyd
Comment[nds]=PCM-Audiodatei
Comment[ne]=PCM अडियो
Comment[nl]=PCM-audio
Comment[nn]=PCM-lyd
Comment[pa]=PCM ਆਡੀਓ
Comment[pl]=PCM audio
Comment[pt]=Áudio PCM
Comment[pt_BR]=Áudio PCM
Comment[ro]=Fişier audio PCM
Comment[ru]=Звуковой файл PCM
Comment[se]=PCM-jietna
Comment[sl]=Zvok oblike PCM
Comment[sr]=PCM аудио
Comment[sr@Latn]=PCM audio
Comment[sv]=PCM-ljud
Comment[ta]=PCM  கேட்பொலி
Comment[tg]=PCM Аудио
Comment[tr]=PCM Ses Dosyası
Comment[uk]=PCM-аудіо
Comment[uz]=PCM аудио
Comment[x-test]=xxPCM Audioxx
Comment[xh]=PCM Evakalayo
Comment[zh_HK]=PCM 音效檔
Comment[zh_TW]=PCM 聲音文件
MimeType=audio/x-adpcm
Icon=sound
Patterns=;
[Property::X-KDE-NativeExtension]
Type=QString
Value=.wav

