[Desktop Entry]
Encoding=UTF-8
Type=MimeType
Comment=AIFF/Amiga Audio
Comment[af]=Aiff/Amiga Audio
Comment[ar]=صوت AIFF/Amiga
Comment[be]=AIFF/Amiga аўдыё
Comment[bs]=AIFF/Amiga audio
Comment[ca]=So AIFF/Amiga
Comment[cs]=AIFF/Amiga audio
Comment[da]=AIFF/Amiga-audio
Comment[de]=AIFF/Amiga-Audio
Comment[el]=Ήχος AIFF/Amiga
Comment[eo]=AIFF/Amiga-sondosiero
Comment[es]=Sonido AIFF/Amiga
Comment[et]=AIFF/Amiga audiofail
Comment[fa]=صدای AIFF/Amiga
Comment[fi]=AIFF/Amiga -ääni
Comment[fr]=Fichier son AIFF/Amiga
Comment[he]=שמע AIFF/Amiga
Comment[hu]=AIFF/Amiga hangfájl
Comment[it]=Audio AIFF/Amiga
Comment[ja]=AIFF/Amiga オーディオ
Comment[ko]=AIFF/아미가 오디오
Comment[lt]=AIFF/Amiga audio
Comment[mt]=Awdjo AIFF/Amiga
Comment[nb]=AIFF/Amiga-lyd
Comment[nl]=AIFF-/Amiga-audio
Comment[nn]=AIFF-/Amiga-lyd
Comment[nso]=Kwagalo ya AIFF/Amiga
Comment[pl]=AIFF/Amiga audio
Comment[pt]=Audio AIFF/Amiga
Comment[pt_BR]=Áudio AIFF/Amiga
Comment[ro]=Fişier audio AIFF/Amiga
Comment[ru]=Звуковой файл AIFF/Amiga
Comment[sk]=AIFF/Amiga audio
Comment[sl]=Zvok oblike AIFF/Amiga
Comment[ss]=Umsindvo we AIFF/Amiga 
Comment[sv]=AIFF/Amiga-ljud
Comment[ta]=AIFF/Amiga ´Ä¢
Comment[tr]=AIFF/Amiga Ses Dosyası
Comment[uk]=AIFF/Amiga-аудіо
Comment[ven]=Zwinopfiwa zwa AIFF/Amiga
Comment[xh]=AIFF/Amiga Evakalayo
Comment[zh_CN]=AIFF/Amiga 音频文件
Comment[zh_TW]=AIFF/Amiga 聲音文件
Comment[zu]=Okuzwakalayo kwe-AIFF/Amiga
MimeType=audio/x-aiff
Icon=sound
Patterns=*.aiff;*.AIFF
