[Desktop Entry]
Encoding=UTF-8
Type=MimeType
Comment=AIFF/Amiga Audio
Comment[x-test]=xxAIFF/Amiga Audioxx
MimeType=audio/x-aiff
Icon=sound
Patterns=*.aiff;*.AIFF
