[Desktop Entry]
Encoding=UTF-8
Type=MimeType
Comment=FLAC Audio
Comment[x-test]=xxFLAC Audioxx
MimeType=audio/x-flac
Icon=sound
Patterns=*.flac;*.FLAC;
