[Desktop Entry]
Encoding=UTF-8
Type=MimeType
MimeType=audio/x-midi
Icon=midi
Patterns=*.mid;*.MID;
Comment=MIDI Audio
Comment[af]=Midi Audio
Comment[ar]=صوت MIDI
Comment[be]=MIDI аўдыё
Comment[bs]=MIDI audio
Comment[ca]=So MIDI
Comment[cs]=MIDI audio
Comment[da]=MIDI-audio
Comment[de]=MIDI-Audio
Comment[el]=Ήχος MIDI
Comment[eo]=MIDI-sondosiero
Comment[es]=Sonido MIDI
Comment[et]=MIDI fail
Comment[fa]=صدای MIDI
Comment[fi]=MIDI-musiikki
Comment[fr]=Fichier son MIDI
Comment[he]=שמע MIDI
Comment[hu]=MIDI hangfájl
Comment[it]=Audio MIDI
Comment[ja]=MIDI オーディオ
Comment[ko]=미디 오디오
Comment[lt]=MIDI audio
Comment[mt]=Awdio MIDI
Comment[nb]=MIDI-lyd
Comment[nl]=MIDI-audio
Comment[nn]=MIDI-lyd
Comment[nso]=Kwagalo ya MIDI
Comment[pl]=Plik MIDI
Comment[pt]=Audio MIDI
Comment[pt_BR]=Áudio MIDI
Comment[ro]=Fişier audio MIDI
Comment[ru]=Звуковой файл MIDI
Comment[sk]=MIDI súbor
Comment[sl]=Zvok oblike MIDI
Comment[ss]=msindvo we MIDI 
Comment[sv]=Midi-ljud
Comment[ta]=MIDI ´Ä¢
Comment[tr]=MIDI Ses Dosyası
Comment[uk]=MIDI-аудіо
Comment[ven]=Zwinopfiwa zwa MIDI
Comment[xh]=MIDI Evakalayo
Comment[zh_CN]=MIDI 音频文件
Comment[zh_TW]=MIDI 聲音文件
Comment[zu]=Okuzwakalayo kwe-MIDI
