[Desktop Entry]
Encoding=UTF-8
Type=MimeType
MimeType=audio/x-mod
Icon=sound
Patterns=*.mod;*.MOD;*.s3m;*.S3M;*.stm;*.STM;*.ult;*.ULT;*.UNI;*.uni;*.xm;*.XM;*.m15;*.M15;*.mtm;*.MTM;*.669;*.it;*.IT;
Comment=Amiga Soundtracker Audio
Comment[ar]=صوت Amiga Soundtracker
Comment[be]=Amiga Soundtracker аўдыё
Comment[bg]=Аудио файл Amiga Soundtracker
Comment[bn]=অ্যামিগা সাউণ্ডট্র্যাকার অডিও
Comment[br]=Klevet Amiga soundtracker
Comment[bs]=Amiga Soundtracker audio
Comment[ca]=Àudio SoundTracker de l'Amiga
Comment[cs]=Zvuka Amiga soundtracker
Comment[cy]=Sain Amiga Soundtracker
Comment[da]=Amiga Soundtracker-audio
Comment[de]=Amiga-Soundtracker-Audio
Comment[el]=Ήχος Amiga Soundtracker
Comment[eo]=Amiga soundtracker - sondosiero
Comment[es]=Sonido SoundTracker de Amiga
Comment[et]=Amiga soundtrackeri audiofail
Comment[eu]=Amiga Soundtracker audioa
Comment[fa]=صدای Amiga Soundtracker
Comment[fi]=Amiga Soundtracker-musiikki
Comment[fr]=Son Soundtracker Amiga
Comment[fy]=Amiga Soundtracker-audio
Comment[ga]=Fuaim Amiga Soundtracker
Comment[gl]=Son Soundtracker de Amiga
Comment[he]=שמע Amiga Soundtracker
Comment[hi]=अमिगा साउन्डट्रेकर ऑडियो
Comment[hr]=Amiga Soundtracker audio
Comment[hu]=Amiga Soundtracker-hangfájl
Comment[is]=Amiga soundtracker hljóðskrá
Comment[it]=Audio Amiga Soundtracker
Comment[ja]=Amiga Soundtracker オーディオ
Comment[km]=Amiga Soundtracker អូឌីយ៉ូ
Comment[ko]=아미가 사운트 트랙커 오디오
Comment[lb]=Amiga-Soundtracker-Audio
Comment[lt]=Amiga Soundtracker audio
Comment[mk]=Amiga Soundtracker аудио
Comment[mn]=Amiga Soundtracker-Аудио
Comment[ms]=Audio Penjejak Bunyi Amiga
Comment[mt]=Awdjo Amiga Soundtracker
Comment[nb]=Amiga lydtracker-lyd
Comment[nds]="Amiga Soundtracker"-Audiodatei
Comment[nl]=Amiga Soundtracker-audio
Comment[nn]=Amiga Soundtracker-lyd
Comment[nso]=Kwagalo ya Sentshamodumo sa Amiga
Comment[pa]=Amiga Soundtracker ਆਡੀਓ
Comment[pl]=Dźwięk z karty Amigi
Comment[pt]=Áudio do Amiga Soundtracker
Comment[pt_BR]=Trilha Sonora - Áudio Amiga
Comment[ro]=Fişier audio Amiga Soundtracker
Comment[ru]=Звуковой файл Amiga soundtracker
Comment[rw]=Amiga Soundtracker Idosiye Nshinguramajwi
Comment[se]=Amiga Soundtracker-jietna
Comment[sk]=Amiga soundtracker
Comment[sl]=Zvok Amiga Soundtrackerja
Comment[sr]=Amiga Soundtracker аудио
Comment[sr@Latn]=Amiga Soundtracker audio
Comment[sv]=Amiga soundtracker-ljud
Comment[ta]=அமிகா கேட்பொலி
Comment[tg]=Садои Amiga Soundtracker
Comment[th]=แฟ้มเสียง Amiga Soundtracker
Comment[tr]=Amiga Soundtracker Ses Dosyası
Comment[tt]=Amiga Soundtracker Tawışı
Comment[uk]=Amiga Soundtracker-аудіо
Comment[uz]=Amiga Soundtracker аудио
Comment[ven]=Zwinopfiwa zwa mubvumo ya luimbo zwa Amiga
Comment[zh_CN]=Amiga soundtracker 音频文件
Comment[zh_TW]=Amiga 聲軌聲音文件
Comment[zu]=Ozwakalayo Umlandeli womsindo we-Amiga
