[Desktop Entry]
Encoding=UTF-8
Type=MimeType
MimeType=audio/x-mod
Icon=sound
Patterns=*.mod;*.MOD;*.s3m;*.S3M;*.stm;*.STM;*.ult;*.ULT;*.UNI;*.uni;*.xm;*.XM;*.m15;*.M15;*.mtm;*.MTM;*.669;*.it;*.IT;
Comment=Amiga Soundtracker Audio
Comment[af]=amiga soundtracker audio
Comment[ar]=ملف Amiga صوتي
Comment[az]=Amiga soundtracker səsi
Comment[bg]=Звуков файл на Amiga soundtracker
Comment[br]=Klevet Amiga soundtracker
Comment[ca]=Àudio Amiga soundtracker
Comment[da]=Amiga soundtracker-audio
Comment[de]=Amiga Soundtracker-Audio
Comment[el]=Ήχος Amiga soundtracker
Comment[eo]=Amiga soundtracker - sondosiero
Comment[es]=Sonido SoundTracker de Amiga
Comment[et]=Amiga soundtrackeri audiofail
Comment[fi]=Amigan tracker ohjelmien musiikki
Comment[fr]=Soundtracker Amiga
Comment[gl]=Audio do soundtracker de Amiga
Comment[he]=שמע Amiga soundtracker
Comment[hu]=Amiga soundtracker audió
Comment[id]=Audio Amiga soundtracker
Comment[is]=Amiga soundtracker-hljóðskrá(r)
Comment[it]=Audio Amiga soundtracker
Comment[ja]=Amiga soundtracker オーディオ
Comment[ko]=아미가 사운트 트랙커 오디오
Comment[lt]=Amiga garso takelis
Comment[lv]=Amigas soundtrakkera audio
Comment[mi]=Oro Amiga soundtracker
Comment[mk]=Amiga soundtracker аудио
Comment[mt]=Awdio Amiga soundtracker
Comment[nb]=Amiga lydtracker-lyd
Comment[nl]=Amiga-soundtracker-audiobestand
Comment[nn]=Amiga Soundtracker-lyd
Comment[oc]=Audio Amiga soundtracker
Comment[pl]=Dzwięk z karty Amigi
Comment[pt]=Audio do Amiga Soundtracker
Comment[pt_BR]=Áudio Amiga soundtracker
Comment[ro]=Fişier audio Amiga
Comment[ru]=Звуковой файл Amiga soundtracker (*.mod)
Comment[sk]=Amiga soundtracker
Comment[sl]=Zvok Amiga soundtrackerja
Comment[sr]=Amiga SoundTracker audio
Comment[sv]=Amiga soundtracker-ljud
Comment[ta]=Amiga soundtracker ´Ä¢
Comment[th]=แฟ้มเสียง Amiga soundtracker
Comment[tr]=Amiga soundtracker sesi
Comment[uk]=Amiga Soundtracker-аудіо
Comment[ven]=Zwinopfiwa zwa mubvumo ya luimbo zwa Amiga
Comment[vi]=Audio Amiga soundtracker 
Comment[xh]=Uluhlu lwempawu zesandi esivakalayo se Amiga
Comment[xx]=xx
Comment[zh_CN]=Amiga soundtracker 音频文件
Comment[zh_TW]=Amiga 聲軌聲音文件
Comment[zu]=Amiga soundtracker ezwakalayo
