[Desktop Entry]
Encoding=UTF-8
Type=MimeType
Comment=Streaming MPEG layer 3 audio
Comment[af]=Stroomende Mpeg laag 3 audio
Comment[ar]=ملف MPEG3 صوتي انسيابي
Comment[az]=Axışqan MPEG layer 3 səsi
Comment[bg]=Потоков аудиофайл MPEG Layer 3
Comment[br]=Klevet lanv MPEG gwelead 3
Comment[ca]=Àudio MPEG nivell 3
Comment[cs]=MPEG layer 3 audio proud
Comment[da]=Streaming MPEG layer 3-audio
Comment[de]=MPEG-Layer-3-Audio
Comment[el]=Ρέων ήχος MPEG layer 3
Comment[eo]=MPEG-3-sondosiero
Comment[es]=Sonido MPEG esquema 3 por transmisión
Comment[et]=MPEG layer 3 audiovoog
Comment[eu]=MPEG layer 3 audio jariotzen
Comment[fi]=Striimattu MPEG taso 3 musiikki
Comment[fr]=Flux MPEG niveau 3 audio
Comment[gl]=Fluxo de audio MPEG capa 3
Comment[he]=שמע MPEG שכבה 3 זורם
Comment[hr]=Strimani MPEG layer 3 audio
Comment[hu]=MPEG layer 3 audiófolyam
Comment[id]=Audio Streaming MPEG layer 3
Comment[is]=MP3-útvörpun
Comment[it]=Audio MPEG layer 3 (streaming)
Comment[ja]=ストリーミング MPEG layer 3 オーディオ
Comment[ko]=MPEG layer 3 오디오 (스트리밍)
Comment[lt]=Srovinis MPEG layer 3 audio
Comment[mi]=Oro MPEG kaupapa 3 rerenga
Comment[mk]=Емитуван MPEG ниво 3 аудио
Comment[mt]=Awdio Streaming MPEG 3
Comment[nb]=MPEG lag 3-lydstrøm
Comment[nl]=Streaming-MPEG-layer3-audiobestand
Comment[nn]=Strøymande MPEG lag 3-lyd
Comment[oc]=Audio MPEG nivell 3
Comment[pl]=Dzwięk w formacie strumieniowego MPEG warstwa 3
Comment[pt]=Transmissão de audio MPEG Layer 3
Comment[pt_BR]=Áudio MP3 streaming
Comment[ro]=Flux audio MP3
Comment[ru]=Потоковый аудиофайл MPEG Layer 3
Comment[sl]=Tokovni zvok MPEG layer 3
Comment[sv]=Strömmande MPEG lager 3-ljud
Comment[ta]=À¡Ôõ MPEG «ÎìÌ 3 ´Ä¢
Comment[th]=แฟ้มเสียง MPEG เลเยอร์ 3 แบบสตรีม
Comment[tr]=Duraksız MPEG layer 3 sesi
Comment[uk]=MPEG Layer-3-аудіо
Comment[ven]=Mbemba tharu dzi elelaho dza MPEG dzino pfiwa
Comment[vi]=Luồng MPEG layer 3 audio
Comment[xh]=Equkuqelayo i MPEG layer 3 evakalayo
Comment[xx]=xx
Comment[zh_CN]=流式 MP3 音频文件
Comment[zh_TW]=串流 MPEG layer 3 audio
Comment[zu]= Streaming MPEG layer 3 audio
MimeType=audio/x-mpegurl
Icon=sound
Patterns=*.m3u;*.M3U;
