[Desktop Entry]
Encoding=UTF-8
Type=MimeType
Comment=MPEG Layer 3 Audio
Comment[af]=Mpeg Laag 3 Audio
Comment[ar]=صوت MPEG الطبقة 3
Comment[be]=MPEG Layer 3 аўдыё
Comment[bs]=MPEG Layer 3 audio
Comment[ca]=So MPEG esquema 3
Comment[cs]=MPEG layer 3 audio
Comment[da]=MPEG Layer 3-audio
Comment[de]=MPEG-Audio (Layer 3)
Comment[el]=Ήχος MPEG Layer 3
Comment[eo]=MPEG-3-sondosiero
Comment[es]=Sonido MPEG esquema 3
Comment[et]=MPEG layer 3 audiofail
Comment[fa]=صدای MPEG لایه ۳
Comment[fi]=MPEG taso 3 musiikki
Comment[fr]=Fichier son MPEG niveau 3
Comment[he]=שמע MPEG שכבה 3
Comment[hu]=MP3 (MPEG Layer 3) hangfájl
Comment[it]=Audio MPEG layer 3
Comment[ja]=MPEG layer 3 オーディオ
Comment[ko]=MPEG layer 3 오디오
Comment[lt]=MPEG layer 3 audio
Comment[mt]=Awdio MPEG 3
Comment[nb]=MPEG layer 3-lyd
Comment[nl]=MPEG Layer3-audio
Comment[nn]=MPEG lag 3-lyd
Comment[nso]=Kwagalo ya Peo 3 ya MPEG
Comment[pl]=Dźwięk w formacie MPEG warstwa 3
Comment[pt]=Audio MPEG Layer 3
Comment[pt_BR]=Áudio MPEG
Comment[ro]=Fişier audio MPEG Layer 3
Comment[ru]=Звуковой файл mp3
Comment[sk]=MPEG layer 3
Comment[sl]=Zvok oblike MPEG layer 3
Comment[sv]=MPEG lager 3-ljud
Comment[ta]=MPEG «ÎìÌ 3 ´Ä¢
Comment[tr]=MPEG 3. Seviye Ses Dosyası
Comment[uk]=MP3-аудіо
Comment[ven]=Zwinopfiwa zwa mbemba tharu zwa MPEG
Comment[xh]=MPEG Ulwaleko 3 Evakalayo
Comment[zh_CN]=MP3 音频文件
Comment[zh_TW]=MP3 音樂
Comment[zu]=Ozwakalayo Ugqinsi 3 we-MPEG
MimeType=audio/x-mp3
Icon=sound
Patterns=*.mp3;*.MP3;
