[Desktop Entry]
Encoding=UTF-8
Type=MimeType
Comment=Streaming MPEG Layer 3 Audio
Comment[af]=Stroomende Mpeg Laag 3 Audio
Comment[ar]=صوت انسيابي من MPEG الطبقة 3
Comment[bs]=Streaming MPEG Layer 3 audio
Comment[ca]=So MPEG esquema 3 per transmissió
Comment[cs]=MPEG layer 3 audio proud
Comment[da]=Streaming MPEG Layer 3-audio
Comment[de]=Streaming-MPEG-Audio (Layer 3)
Comment[el]=Ήχος Streaming MPEG Layer 3
Comment[eo]=elsendata MPEG-3-sondosiero
Comment[es]=Sonido MPEG esquema 3 por transmisión
Comment[et]=MPEG layer 3 audiovoog
Comment[eu]=MPEG Layer 3 Audio Jarioa
Comment[fa]=صدای جریانی MPEG لایه ۳
Comment[fi]=Striimattu MPEG taso 3 musiikki
Comment[fr]=Flux MPEG niveau 3 audio
Comment[he]=שמע MPEG שכבה 3 זורם
Comment[hu]=MP3 (MPEG Layer 3) sugárzási hangfájl
Comment[it]=Audio MPEG layer 3 in stream
Comment[ja]=ストリーミング MPEG layer 3 オーディオ
Comment[ko]=스트리밍 MPEG layer 3 오디오
Comment[lt]=Srautinis MPEG layer 3 audio
Comment[mt]=Awdjo Streaming MPEG 3
Comment[nb]=MPEG layer 3-lydstrøm
Comment[nl]=Streaming MPEG Layer3-audio
Comment[nn]=MPEG lag 3-lydstraum
Comment[nso]=Latelanya Kwagalo ya Peo 3 ya MPEG
Comment[pl]=Dzwięk w formacie strumieniowego MPEG warstwa 3
Comment[pt]=Sequência de áudio MPEG Layer 3
Comment[pt_BR]=Áudio MP3 streaming
Comment[ro]=Flux audio MPEG Layer 3
Comment[ru]=Потоковый аудиофайл mp3
Comment[sk]=Streaming MPEG layer 3 audio
Comment[sl]=Tokovni zvok MPEG layer 3
Comment[sv]=Strömmande MPEG lager 3-ljud
Comment[ta]=À¡Ôõ MPEG «ÎìÌ 3 ´Ä¢
Comment[uk]=Потокове MP3-аудіо
Comment[ven]=Mbemba tharu dzi elelaho dza MPEG dzino pfiwa
Comment[xh]=Ulwaleko Lwesithathu Oluqukuqelayo lwe MPEG
Comment[zh_CN]=流式 MP3 音频文件
Comment[zh_TW]=串流 MP3 音樂
Comment[zu]=Ontantayo Ozwakalayo Ugqinsi 3 we-MPEG
MimeType=audio/x-mpegurl
Icon=sound
Patterns=*.m3u;*.M3U;
