[Desktop Entry]
Encoding=UTF-8
Type=MimeType
MimeType=audio/x-mpegurl
Icon=sound
Comment=Streaming MPEG Layer 3 Audio
Comment[af]=Stroomende Mpeg Laag 3 Audio
Comment[ar]=صوت انسيابي من MPEG الطبقة 3
Comment[az]=Axıcı MPEG Layer 3 Audio
Comment[bg]=Поточен файл MP3
Comment[bn]=স্ট্রিমিং এমপেগ লেয়ার-৩ অডিও
Comment[br]=Klevet lanv MPEG gwelead 3
Comment[bs]=Streaming MPEG Layer 3 audio
Comment[ca]=Àudio MPEG esquema 3 per transmissió
Comment[cs]=MPEG layer 3 audio proud
Comment[cy]=Sain Llifo MPEG Haen 3
Comment[da]=Streaming MPEG Layer 3-audio
Comment[de]=Streaming-MPEG-Audio (Layer 3)
Comment[el]=Ήχος ροής MPEG Layer 3
Comment[eo]=elsendata MPEG-3-sondosiero
Comment[es]=Sonido MPEG esquema 3 por transmisión
Comment[et]=MPEG layer 3 audiovoog
Comment[eu]=MPEG Layer 3 audio jarioa
Comment[fa]=صدای جریانی MPEG لایه ۳
Comment[fi]=Streamattu MPEG 3-tason musiikki
Comment[fr]=Flux MPEG niveau 3 audio
Comment[fy]=Streaming MPEG Layer3-audio
Comment[gl]=Transmisón de Son MPEG capa 3
Comment[he]=שמע MPEG שכבה 3 זורם
Comment[hi]=स्ट्रीमिंग MPEG लेयर 3 ऑडियो
Comment[hr]=Dohvat MPEG 3 zvuka
Comment[hu]=MP3 (MPEG Layer 3) sugárzási hangfájl
Comment[is]=MP3 hljóðstraumur
Comment[it]=Audio MPEG layer 3 in streaming
Comment[ja]=ストリーミング MPEG Layer 3 オーディオ
Comment[km]=Streaming MPEG Layer 3 អូឌីយ៉ូ
Comment[ko]=스트리밍 MPEG 레이어 3 오디오
Comment[lt]=MPEG layer 3 audio srautas
Comment[mk]=Поточно MPEG Layer 3 аудио
Comment[mn]=MPEG-Үе-3-Аудио
Comment[ms]=Audio Aliran MPEG Peringkat 3
Comment[mt]=Awdjo Streaming MPEG 3
Comment[nb]=MPEG lag 3-lydstrøm
Comment[nds]=Streaming-MPEG-Audiodatei (Layer 3)
Comment[nl]=Streaming MPEG Layer3-audio
Comment[nn]=MPEG lag 3-lydstraum
Comment[nso]=Latelanya Kwagalo ya Peo 3 ya MPEG
Comment[pa]=Streaming MPEG ਲੇਅਰ 3 ਆਡੀਓ
Comment[pl]=Dźwięk w formacie strumieniowym MPEG warstwa 3
Comment[pt]=Sequência de áudio MPEG Layer 3
Comment[pt_BR]=Áudio MP3 streaming
Comment[ro]=Flux audio MPEG Layer 3
Comment[ru]=Потоковый звуковой файл MP3
Comment[rw]=Streaming MPEG Layer 3 Idosiye Nshinguramajwi
Comment[se]=MPEG dási 3 golgi jietna
Comment[sk]=Streaming MPEG layer 3 audio
Comment[sl]=Tokovni zvok MPEG layer 3
Comment[sq]=MPEG Layer 3 Audio që rrjedh
Comment[sr]=Текући MPEG ниво 3
Comment[sr@Latn]=Tekući MPEG nivo 3
Comment[sv]=Strömmande MPEG lager 3-ljud
Comment[ta]=பாயும் MPEG அடுக்கு 3  கேட்பொலி
Comment[tg]=Садои ҷараёнии MPEG Layer 3
Comment[th]=แฟ้มเสียง MPEG เลเยอร์ 3 แบบสตรีม
Comment[tr]=MPEG 3. Katman Ses Akan Verisi
Comment[uk]=Потокове MP3-аудіо
Comment[uz]=Streaming MPEG Layer 3 аудио
Comment[ven]=Mbemba tharu dzi elelaho dza MPEG dzino pfiwa
Comment[xh]=Ulwaleko Lwesithathu Oluqukuqelayo lwe MPEG
Comment[xx]=xxStreaming MPEG Layer 3 Audioxx
Comment[zh_CN]=流式 MP3 音频文件
Comment[zh_TW]=串流 MP3 音樂
Comment[zu]=Ontantayo Ozwakalayo Ugqinsi 3 we-MPEG
