[Desktop Entry]
Encoding=UTF-8
Type=MimeType
MimeType=audio/x-mp2
Icon=sound
Patterns=*.mp2;*.MP2;
X-KDE-IsAlso=audio/mpeg
Comment=MPEG Layer 2 Audio
Comment[x-test]=xxMPEG Layer 2 Audioxx
