[Desktop Entry]
Encoding=UTF-8
Type=MimeType
MimeType=audio/x-oggflac
Icon=sound
X-KDE-IsAlso=application/ogg
Comment=Ogg FLAC Audio
Comment[af]=Ogg FLAC Klank
Comment[ar]=ملف Ogg FLAC صوتي
Comment[be]=Ogg FLAC аўдыё
Comment[bg]=Аудио файл Ogg FLAC
Comment[bn]=অগ এফ-এল-এ-সি (FLAC) অডিও
Comment[br]=Klevet Ogg FLAC
Comment[bs]=Ogg FLAC audio
Comment[ca]=Àudio FLAC de Ogg
Comment[cs]=Zvuk Ogg FLAC
Comment[cy]=Sain FLAC Ogg
Comment[da]=Ogg FLAC lyd
Comment[de]=Ogg-FLAC-Audio
Comment[el]=Ήχος Ogg FLAC
Comment[eo]=OGG-FLAC-sono
Comment[es]=Audio FLAC de Ogg
Comment[et]=Ogg FLAC audiofail
Comment[eu]=Ogg FLAC audioa
Comment[fa]=صوتی Ogg FLAC
Comment[fi]=Ogg FLAC -ääni
Comment[fr]=Son Ogg Flac
Comment[ga]=Fuaim Ogg FLAC
Comment[gl]=Son Ogg FLAC
Comment[he]=שמע Ogg FLAC
Comment[hi]=ऑग FLAC ऑडियो
Comment[hr]=Ogg FLAC audio
Comment[hu]=Ogg FLAC-hangfájl
Comment[is]=Ogg FLAC hljóðskrá
Comment[it]=Audio Ogg FLAC
Comment[ja]=Ogg FLAC オーディオ
Comment[km]=Ogg FLAC អូឌីយ៉ូ
Comment[ko]=Ogg FLAC 오디오
Comment[lb]=Ogg-FLAC-Audio
Comment[lt]=Ogg FLAC audio
Comment[mk]=Ogg FLAC аудио
Comment[mn]=Ogg FLAC Аудио
Comment[ms]=Audio Ogg FLAC
Comment[nb]=Ogg FLAC lyd
Comment[nds]=Ogg-FLAC-Audiodatei
Comment[nl]=Ogg FLAC-audio
Comment[nn]=Ogg FLAC-lyd
Comment[pa]=Ogg FLAC ਧੁਨੀ
Comment[pl]=Plik dźwiękowy Ogg FLAC
Comment[pt]=Áudio Ogg FLAC
Comment[pt_BR]=Áudio Ogg FLAC
Comment[ro]=Fişier audio Ogg FLAC
Comment[ru]=Звуковой файл Ogg FLAC
Comment[rw]=Ogg FLAC Idosiye Nshinguramajwi
Comment[se]=Ogg FLAC-jietna
Comment[sk]=Zvuk Ogg FLAC
Comment[sl]=Zvok Ogg FLAC
Comment[sr]=Ogg FLAC аудио
Comment[sr@Latn]=Ogg FLAC audio
Comment[sv]=Ogg FLAC-ljud
Comment[ta]=Ogg FLAC  கேட்பொலி
Comment[tg]=Файли садоии Ogg FLAC
Comment[tr]=Ogg FLAC Ses Dosyası
Comment[tt]=Ogg FLAC Tawışı
Comment[uk]=Аудіо Ogg FLAC
Comment[uz]=Ogg FLAC аудио
Comment[wa]=Fitchî odio Ogg FLAC
Comment[zh_CN]=Ogg FLAC 音频
Comment[zh_TW]=Ogg FLAC 聲音
