[Desktop Entry]
Encoding=UTF-8
Type=MimeType
MimeType=audio/x-scpls
Comment=MP3 ShoutCast Playlist
Comment[af]=Mp3 Shoutcast Liedjielys
Comment[ar]=لائحةأغنيات MP3 Shoutcast
Comment[az]=MP3 ShoutCast Siyahısı
Comment[bg]=Списък със звукови файлове на mp3 ShoutCast
Comment[br]=Rollc'hoari MP3 ShoutCast
Comment[bs]=MP3 ShoutCast popis pjesama
Comment[ca]=Llista de cançons MP3 ShoutCast
Comment[cs]=Seznam skladeb MP3 ShoutCast
Comment[da]=MP3 ShoutCast-spilleliste
Comment[de]=MP3-ShoutCast-Abspielliste
Comment[el]=Λίστα Κομματιών MP3 ShoutCast
Comment[eo]=MP3 - ludlisto
Comment[es]=Lista de reproducción MP3 de ShoutCast
Comment[et]=ShoutCasti MP3 lugude nimekiri
Comment[eu]=MP3 ShoutCast Jo Zerrenda
Comment[fi]=MP3 ShoutCast soittolista
Comment[fr]=Liste de lecture Mpeg3 ShoutCast
Comment[gl]=Lista de MP3 ShoutCast
Comment[he]=רשימת ניגון MP3 ShoutCast
Comment[hr]=MP3 ShoutCast popis pjesama
Comment[hu]=MP3 ShoutCast számlista
Comment[id]=Playlist MP3 ShoutCast
Comment[is]=MP3 ShoutCast lagalisti
Comment[it]=Playlist MP3 ShoutCast
Comment[ko]=MP3 샤우트캐스트 연주 목록
Comment[lt]=MP3 ShoutCast gaidaraštis
Comment[lv]=MP3 ShoutCast Plejlists
Comment[mi]=Rärangi-takaro MP3 ShoutCast
Comment[mk]=MP3 ShoutCast плеј-листа
Comment[mt]=Lista ta' Diski MP3 ShoutCast
Comment[nb]=MP3 ShoutCast-spilleliste
Comment[nl]=MP3-ShoutCast-afspeellijst
Comment[nn]=MP3 ShoutCast-speleliste
Comment[oc]=Lista de cançons MP3 ShoutCast
Comment[pl]=Lista do odtwarzania plików MP3
Comment[pt]=Lista de ficheiros ShoutCast
Comment[pt_BR]=Lista de reprodução MP3 ShoutCast
Comment[ro]=Listă de redare shoutcast MP3
Comment[ru]=Список звуковых файлов mp3 ShoutCast
Comment[sk]=MP3 ShoutCast zoznam
Comment[sl]=Seznam za predvajanje MP3 ShoutCast
Comment[sr]=MP3 ShoutCast plejlista
Comment[sv]=MP3 Shoutcast-spellista
Comment[ta]=MP3 ShoutCast À¡¼üÀðÊÂø
Comment[th]=รายการเพลงของ MP3 ShoutCast
Comment[tr]=MP3 ShoutCast Listesi
Comment[uk]=Список MP3-ShoutCast
Comment[ven]=Mutevhe uno tambiwa wa MP3
Comment[vi]=Danh sách chơi ShoutCast MP3
Comment[xh]=MP3 Uluhlu lokudlala olukhethwa ngokukhwaza
Comment[xx]=xx
Comment[zh_CN]=MP3 ShoutCast 播放列表
Comment[zh_TW]=MP3 ShoutCast 播放列表
Patterns=*.pls;*.PLS;
Icon=sound

