[Desktop Entry]
Encoding=UTF-8
Type=MimeType
MimeType=audio/x-wav
Icon=sound
Patterns=*.wav;*.WAV;
Comment=WAV Audio
Comment[af]=Wav Audio
Comment[ar]=صوت WAV
Comment[be]=WAV аўдыё
Comment[bg]=Аудио файл WAV
Comment[bn]=ওয়েভ অডিও
Comment[br]=Klevet WAV
Comment[bs]=WAV audio
Comment[ca]=Àudio WAV
Comment[cs]=WAV audio
Comment[cy]=Sain WAV
Comment[da]=WAV-audio
Comment[de]=WAV-Audiodatei
Comment[el]=Ήχος WAV
Comment[eo]=WAV-sondosiero
Comment[es]=Sonido WAV
Comment[et]=WAV audiofail
Comment[eu]=WAV audioa
Comment[fa]=صدای WAV
Comment[fi]=WAV-ääni
Comment[fr]=Son WAV
Comment[fy]=WAV-audio
Comment[ga]=Fuaim WAV
Comment[gl]=Son WAV
Comment[he]=שמע WAV
Comment[hi]=WAV ऑडियो
Comment[hr]=WAV audio
Comment[hu]=WAV-hangfájl
Comment[is]=WAV hljóðskrá
Comment[it]=Audio WAV
Comment[ja]=WAV オーディオ
Comment[ka]=WAV ხმოვანი ფაილი
Comment[km]=WAV អូឌីយ៉ូ
Comment[ko]=WAV 오디오
Comment[lb]=WAV-Audio
Comment[lt]=WAV audio
Comment[mk]=WAV аудио
Comment[mn]=WAV-Аудио
Comment[ms]=Audio WAV
Comment[mt]=Awdjo WAV
Comment[nb]=WAV-lyd
Comment[nds]=WAV-Audiodatei
Comment[nl]=WAV-audio
Comment[nn]=WAV-lyd
Comment[nso]=Kwagalo ya WAV
Comment[pa]=WAV ਸੰਗੀਤ
Comment[pl]=Plik WAV
Comment[pt]=Áudio WAV
Comment[pt_BR]=Áudio WAV
Comment[ro]=Fişier audio WAV
Comment[ru]=Звуковой файл wav
Comment[rw]=WAV Idosiye Nshinguramajwi
Comment[se]=WAV-jietna
Comment[sk]=WAV audio
Comment[sl]=Zvok oblike WAV
Comment[sr]=WAV аудио
Comment[sr@Latn]=WAV audio
Comment[ss]=Umsindvo WAV
Comment[sv]=Wav-ljud
Comment[ta]=WAV கேட்பொலி
Comment[th]=แฟ้มเสียง WAV
Comment[tr]=WAV Sesi
Comment[tt]=WAV Tawış
Comment[uk]=WAV-аудіо
Comment[uz]=WAW аудио
Comment[ven]=Zwinopfiwa zwa WAV
Comment[wa]=Son WAV
Comment[xh]=WAV Evakalayo
Comment[xx]=xxWAV Audioxx
Comment[zh_CN]=WAV 音频文件
Comment[zh_TW]=WAV 聲音文件
Comment[zu]=Okuzwakalayo kwe-WAV
