[Desktop Entry]
Encoding=UTF-8
Type=MimeType
MimeType=audio/x-wav
Icon=sound
Patterns=*.wav;*.WAV;
Comment=WAV Audio
Comment[af]=wav audio
Comment[ar]=ملف WAV صوتي
Comment[az]=WAV səsləri
Comment[be]=WAV аўдыё
Comment[bg]=Звуков файл на wav
Comment[br]=Klevet WAV
Comment[ca]=Àudio WAV
Comment[da]=WAV-audio
Comment[de]=WAV-Audio
Comment[el]=Ήχος WAV
Comment[eo]=WAV-sondosiero
Comment[es]=Sonido WAV
Comment[et]=WAV audiofail
Comment[fi]=WAV-ääni
Comment[fr]=Son WAV
Comment[gl]=Audio WAV
Comment[he]=שמע WAV
Comment[hu]=WAV audió
Comment[id]=Audio WAV
Comment[is]=WAV-hljóðskrá(r)
Comment[it]=Audio WAV
Comment[ja]=WAV オーディオ
Comment[ko]=웨이브(WAV) 오디오
Comment[mi]=Oro WAV
Comment[mk]=WAV аудио
Comment[mt]=Awdio WAV
Comment[nb]=WAV-lyd
Comment[nl]=WAV-audiobestand
Comment[nn]=WAV-lyd
Comment[oc]=Audio WAV
Comment[pl]=Plik WAV
Comment[pt]=Audio WAV
Comment[pt_BR]=Áudio WAV
Comment[ro]=Fişier audio WAV
Comment[ru]=Звуковой файл wav
Comment[sl]=Zvok oblike WAV
Comment[sv]=Wav-ljud
Comment[ta]=WAV ´Ä¢
Comment[th]=แฟ้มเสียง WAV
Comment[tr]=WAV sesleri
Comment[uk]=WAV-аудіо
Comment[ven]=Zwinopfiwa zwa WAV
Comment[vi]=Audio WAV 
Comment[xh]=WAV evakalayo
Comment[xx]=xx
Comment[zh_CN]=WAV 音频文件
Comment[zh_TW]=WAV 聲音文件
Comment[zu]=WAV ezwakalayo
