[Desktop Entry]
Encoding=UTF-8
Type=MimeType
MimeType=audio/x-wav
Icon=sound
Patterns=*.wav;*.WAV;
Comment=WAV Audio
Comment[af]=Wav Audio
Comment[ar]=صوت WAV
Comment[be]=WAV аўдыё
Comment[bs]=WAV audio
Comment[ca]=So WAV
Comment[cs]=WAV audio
Comment[da]=WAV-audio
Comment[de]=WAV-Audiodatei
Comment[el]=Ήχος WAV
Comment[eo]=WAV-sondosiero
Comment[es]=Sonido WAV
Comment[et]=WAV audiofail
Comment[fa]=صدای WAV
Comment[fi]=WAV-ääni
Comment[fr]=Son WAV
Comment[he]=שמע WAV
Comment[hu]=WAV hangfájl
Comment[it]=Audio WAV
Comment[ja]=WAV オーディオ
Comment[ko]=WAV 오디오
Comment[lt]=WAV audio
Comment[mt]=Awdjo WAV
Comment[nb]=WAV-lyd
Comment[nl]=WAV-audio
Comment[nn]=WAV-lyd
Comment[nso]=Kwagalo ya WAV
Comment[pl]=Plik WAV
Comment[pt]=Audio WAV
Comment[pt_BR]=Áudio WAV
Comment[ro]=Fişier audio WAV
Comment[ru]=Звуковой файл wav
Comment[sk]=WAV audio
Comment[sl]=Zvok oblike WAV
Comment[ss]=Umsindvo WAV
Comment[sv]=Wav-ljud
Comment[ta]=WAV ´Ä¢
Comment[tr]=WAV Sesi
Comment[uk]=WAV-аудіо
Comment[ven]=Zwinopfiwa zwa WAV
Comment[xh]=WAV Evakalayo
Comment[zh_CN]=WAV 音频文件
Comment[zh_TW]=WAV 聲音文件
Comment[zu]=Okuzwakalayo kwe-WAV
