[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=KMCOP
Name[fr]=kMCOP
Name[xx]=xx
Exec=kmcop
Comment=KDE MCOP-DCOP Bridge
Comment[af]=kde MCOP-DCOP brug
Comment[ar]=جسر KDE MCOP-DCOP
Comment[az]=KDE MCOP-DCOP Körpüsü
Comment[bs]=KDE MCOP-DCOP prelaz
Comment[da]=KDE MCOP-DCOP-bro
Comment[de]=Verbindung zwischen MCOP und DCOP
Comment[es]=Puente KDE MCOP-DCOP
Comment[eu]=KDE MCOP-DCOP Zubia
Comment[fi]=KDE MCOP-DCOP silta
Comment[fr]=Passerelle MCOP-DCOP pour KDE
Comment[he]=גשר MCOP-DCOP ל-KDE
Comment[hu]=KDE MCOP-DCOP összekötőprogram
Comment[lt]=KDE MCOP-DCOP tiltas
Comment[lv]=KDE MCOP-DCOP Tilts
Comment[nn]=MCOP-DCOP-bru for KDE
Comment[pt]=Ponte MCOP-DCOP para o KDE
Comment[pt_BR]=Ligação KDE MCOP-DCOP
Comment[sk]=Most KDE MCOP-DCOP
Comment[sl]=Premostitelj MCOP-DCOP za KDE
Comment[sv]=KDE MCOP-DCOP-brygga
Comment[xh]=KDE MCOP-DCOP Ibhulorho
Comment[xx]=xx
Comment[zh_TW]=KDE MCOP-DCOP 橋樑
Icon=kmcop
ServiceTypes=KMCOP
X-DCOP-ServiceType=Unique
X-KDE-StartupNotify=false
