[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=KMCOP
Name[hi]=के-एमकॉप 
Exec=kmcop
Comment=KDE MCOP-DCOP Bridge
Comment[af]=KDE MCOP-DCOP Brug
Comment[ar]=جسر KDE MCOP-DCOP
Comment[az]=KDE MCOP-DCOP Körpüsü
Comment[be]=Мост KDE MCOP-DCOP
Comment[bn]=কে.ডি.ই MCOP-DCOP ব্রিজ
Comment[br]=Pont KDE MCOP-DCOP
Comment[bs]=KDE MCOP-DCOP prelaz
Comment[ca]=Connector MCOP-DCOP per al KDE
Comment[cs]=KDE MCOP-DCOP můstek
Comment[cy]=Pont MCOP-DCOP KDE
Comment[da]=KDE MCOP-DCOP-bro
Comment[de]=Verbindung zwischen MCOP und DCOP
Comment[el]=Γέφυρα MCOP-DCOP του KDE
Comment[eo]=KDE-ponto inter MCOP-DCOP
Comment[es]=Puente KDE MCOP-DCOP
Comment[et]=KDE MCOP-DCOP sild
Comment[eu]=KDEren MCOP-DCOP zubia
Comment[fa]=پل KDE MCOP-DCOP
Comment[fi]=MCOP-DCOP -silta
Comment[fo]=KDE MCOP-DCOP-brúgv
Comment[fr]=Passerelle MCOP-DCOP pour KDE
Comment[ga]=Droichead KDE idir MCOP agus DCOP
Comment[gl]=Ponte MCOP-DCOP de KDE
Comment[he]=גשר MCOP-DCOP ל־KDE
Comment[hi]=केडीई MCOP-डीकॉप ब्रिज
Comment[hr]=Most između MCOP-a i DCOP-a
Comment[hsb]=KDE MCOP-DCOP-móst
Comment[hu]=KDE MCOP-DCOP összekötőprogram
Comment[id]=Jembatan KDE MCOP-DCOP
Comment[is]=KDE MCOP-DCOP brú
Comment[it]=Ponte MCOP-DCOP per KDE
Comment[ja]=KDE MCOP-DCOP ブリッジ
Comment[ko]=KDE MCOP-DCOP 브릿지
Comment[lb]=KDE-MCOP-DCOP-Bréck
Comment[lt]=KDE MCOP-DCOP tiltas
Comment[lv]=KDE MCOP-DCOP Tilts
Comment[mk]=KDE MCOP-DCOP Мост
Comment[mn]=KDE-н MCOP ба DCOP хоорондын гүүр
Comment[ms]=Jambatan KDE MCOP-DCOP
Comment[mt]=Pont bejn MCOP u DCOP
Comment[nb]=KDE MCOP-DCOP Bro
Comment[nds]=KDE-Brüch twischen MCOP un DCOP
Comment[nn]=MCOP-DCOP-bru for KDE
Comment[nso]=Leporogo la KDE MCOP-DCOP
Comment[pa]=KDE MCOP-DCOP ਪੁੱਲ
Comment[pl]=Mostek MCOP-DCOP
Comment[pt]=Ponte MCOP-DCOP para o KDE
Comment[pt_BR]=Ligação KDE MCOP-DCOP
Comment[ro]=Punte MCOP-DCOP KDE
Comment[ru]=Мост MCOP-DCOP
Comment[rw]=Iteme MCOP-DCOP KDE
Comment[se]=KDE MCOP-DCOP šaldi
Comment[sk]=Most KDE MCOP-DCOP
Comment[sl]=Premostitelj MCOP-DCOP za KDE
Comment[sq]=Ura e KDE MCOP-DCOP-it
Comment[sr]=KDED MCOP-DCOP Мост
Comment[sr@Latn]=KDED MCOP-DCOP Most
Comment[ss]=Libhuloho le MCOP-DCOP ku KDE 
Comment[sv]=KDE MCOP-DCOP-brygga
Comment[ta]=கேடிஇ MCOP-DCOP பாலம்
Comment[tg]=Кӯпруки MCOP-DCOP 
Comment[tr]=KDE MCOP-DCOP Köprüsü
Comment[tt]=KDE MCOP-DCOP Küpere
Comment[uk]=Міст KDE MCOP-DCOP
Comment[uz]=KDE MCOP-DCOP кўприги
Comment[ven]=KDE MCOP-DCOP Buroho
Comment[xh]=KDE MCOP-DCOP Ibhulorho
Comment[zh_CN]=KDE MCOP-DCOP 桥
Comment[zh_HK]=KDE MCOP-DCOP 橋樑
Comment[zh_TW]=KDE MCOP-DCOP 橋樑
Comment[zu]=Ibhulogo le-KDE MCOP-DCOP
Icon=kmcop
ServiceTypes=KMCOP
X-DCOP-ServiceType=Unique
X-KDE-StartupNotify=false
