[KCM Locale]
Name=US English
Name[ca]=Anglès US
Name[da]=Engelsk (US)
Name[de]=US-Englisch
Name[el]=Αγγλική ΗΠΑ
Name[es]=Inglés de EE. UU.
Name[et]=USA inglise
Name[hu]=Angol (amerikai)
Name[ia]=Anglese de SU
Name[kk]=Ағылшынша (АҚШ)
Name[km]=អង់គ្លេស សហរដ្ឋអាមេរិក
Name[nds]=Engelsch (US)
Name[nl]=VS Engels
Name[pa]=ਅਮਰੀਕੀ ਅੰਗਰੇਜ਼ੀ
Name[pt]=Inglês (EUA)
Name[pt_BR]=Inglês dos EUA
Name[ru]=Английский (США)
Name[si]=එ.ජ. ඉංග්‍රීසි
Name[sv]=Amerikansk engelska
Name[uk]=Англійська (США)
Name[x-test]=xxUS Englishxx
Name[zh_CN]=美国英语
Name[zh_TW]=美式英語
