[KCM Locale]
Name=US English
Name[da]=Engelsk (US)
Name[de]=US-Englisch
Name[ia]=Anglese de SU
Name[kk]=Ағылшынша (АҚШ)
Name[nds]=Engelsch (US)
Name[nl]=VS Engels
Name[pt]=Inglês (EUA)
Name[pt_BR]=Inglês dos EUA
Name[sv]=Amerikansk engelska
Name[uk]=Англійська (США)
Name[x-test]=xxUS Englishxx
Name[zh_TW]=美式英語
