[KCM Locale]
Name=US English
Name[bg]=Американски английски
Name[ca]=Anglès US
Name[ca@valencia]=Anglés US
Name[cs]=Anglický (US)
Name[da]=Engelsk (US)
Name[de]=US-Englisch
Name[el]=Αγγλική ΗΠΑ
Name[en_GB]=US English
Name[es]=Inglés de EE. UU.
Name[et]=USA inglise
Name[fi]=Amerikanenglanti
Name[fr]=Anglais américain
Name[hu]=Angol (amerikai)
Name[ia]=Anglese de SU
Name[is]=Bandarísk enska (en-us
Name[it]=Inglese americano
Name[kk]=Ағылшынша (АҚШ)
Name[km]=អង់គ្លេស សហរដ្ឋអាមេរិក
Name[ko]=미국 영어
Name[nb]=Engelsk (USA)
Name[nds]=Engelsch (US)
Name[nl]=VS Engels
Name[pa]=ਅਮਰੀਕੀ ਅੰਗਰੇਜ਼ੀ
Name[pl]=Angielski amerykański
Name[pt]=Inglês (EUA)
Name[pt_BR]=Inglês dos EUA
Name[ro]=Engleză SUA
Name[ru]=Английский (США)
Name[si]=එ.ජ. ඉංග්‍රීසි
Name[sk]=Americká angličtina
Name[sr]=амерички енглески
Name[sr@ijekavian]=амерички енглески
Name[sr@ijekavianlatin]=američki engleski
Name[sr@latin]=američki engleski
Name[sv]=Amerikansk engelska
Name[th]=ภาษาอังกฤษ อเมริกัน
Name[uk]=Англійська (США)
Name[wa]=Inglès des Estats-Unis
Name[x-test]=xxUS Englishxx
Name[zh_CN]=美国英语
Name[zh_TW]=美式英語
