[Desktop Entry]
Name=Kate Part JavaScript Test
Name[af]=Kate Deel Javaskript Toets
Name[be]=Праверка сцэнараў JavaScript для Kate
Name[ca]=Prova de la peça JavaScript de Kate
Name[cs]=Kate Part JavaScript test
Name[csb]=Test JavaScript - dzélu Kate
Name[de]=JavaScript-Test für Kate-Komponente
Name[el]=Έλεγχος JavaScript του Kate Part
Name[eo]=Ĝavaskripta testo por Kate dokumenta rigardilo
Name[es]=Prueba JavaScript de Kate Part
Name[et]=Kate komponendi JavaScripti test
Name[eu]=Kate zatiaren JavaScript proba
Name[fa]=آزمون دست‌نوشتۀ جاوا Kate Part
Name[fi]=Kate Part JavaScript -testi
Name[fr]=Test du module JavaScript pour Kate
Name[fy]=Kate-part JavaSkript-test
Name[ga]=Tástáil JavaScript do Pháirt Kate
Name[gl]=Comprobar Kate Part JavaScript
Name[he]=בדיקת JavaScript של רכיב Kate
Name[hr]=Kate Part JavaScript test
Name[hu]=Kate objektum, Javascript-teszt
Name[id]=Tes JavaScript untuk Part Kate
Name[is]=Kate hluti JavaScript prófun
Name[it]=Prova componente JavaScript per Kate
Name[ja]=Kate Part JavaScript テスト
Name[ka]=JavaScript-ის შემოწმება Kate-ში
Name[kk]=JavaScript скрипттерді Kate редакторында тексеру
Name[km]=ការ​សាកល្បង Kate Part JavaScript
Name[lb]=Kate Part JavaScript-Test
Name[lt]=Kate Part JavaScript testas
Name[ms]=Ujian JavaScript Bahagian Kate
Name[nb]=Kate Part JavaScript-test
Name[nds]=Kate-Part JavaScript-Test
Name[ne]=केट भाग जाभा स्क्रिप्ट परीक्षण
Name[nl]=Kate-part JavaScript-test
Name[nn]=Kate Part JavaScript-test
Name[pa]=Kate Part JavaScript ਜਾਂਚ
Name[pl]=Test JavaScript osadzalnej części Kate
Name[pt]=Teste de JavaScript do Componente do Kate
Name[pt_BR]=Teste do componente JavaScript do Kate
Name[ro]=Test JavaScript pentru componenta Kate
Name[ru]=Проверка скриптов JavaScript в Kate
Name[rw]=Igerageza rya JavaScript Igice Kate
Name[se]=Kate Part JavaScript-geahččaleapmi
Name[sl]=Test JavaScripta za del Kate
Name[sr]=Проба JavaScript-а Kate-иног дела
Name[sr@Latn]=Proba JavaScript-a Kate-inog dela
Name[sv]=Test av Javaskript för Kates delprogram
Name[ta]=கேட் பகுதி ஜாவாஸ்கிரிப்ட் சோதனை
Name[te]=కేట్ భాగం జావాస్క్రిప్ట్ పరీక్ష
Name[tg]=Санҷиши Қисми Kate-и JavaScript
Name[th]=ทดสอบจาวาสคริปต์ของ Kate
Name[tt]=Kate Part JavaScript Sınaw
Name[uk]=Перевірка скриптів JavaScript в компоненті Kate
Name[vi]=Thử ra JavaScript phần Kate
Name[zh_CN]=Kate 部件 JavaScript 测试
Comment=Script for testing kate part's scripting
Comment[af]=Skript om te toets of Kate se skript masjien werk
Comment[be]=Сцэнар праверкі для Kate
Comment[bg]=Скрипт за тестване на модулите за поддръжка на скриптове
Comment[bs]=Skripta za testiranje podrške Kate part-a za skriptiranje
Comment[ca]=Guió per a provar l'escriptat de les peces Kate
Comment[cs]=Skript pro test skriptování Kate
Comment[csb]=Skript do testowaniô mòżnotë skriptów Kate
Comment[da]=Script til at teste katepart scripter
Comment[de]=Ein Skript zum Testen der Skriptfunktionalität der Kate-Komponente
Comment[el]=Σενάριο για έλεγχο του scripting του Kate Part
Comment[eo]=Skripto por testi la skriptan kapablon de katepart (dokumento kaj rigardilo)
Comment[es]=Guión para probar el part de scripting de kate
Comment[et]=Skript Kate komponendi skriptimisomaduste testimiseks
Comment[eu]=Script-a Kate zatiaren script-ak probatzeko.
Comment[fa]=دست‌نوشته برای آزمون دست‌نوشته‌هایKate Part
Comment[fi]=Skripti kate partin skriptien testaukseen
Comment[fr]=Script testant le module de scripting de Kate
Comment[fy]=Skript foar it testen fan Kate-part's skriptmooglikheid
Comment[gl]=Guión para probar os guións das partes de kate
Comment[he]=תסריט לבדיקה של יכולות התסריט של Kate
Comment[hr]=Skripta za ispitivanje izvršavanje skripti pri 'kate part'
Comment[hu]=Szkript a Kate objektum szkriptkezelőjének ellenőrzéséhez
Comment[id]=Skrip untuk menguji skripting part kate
Comment[is]=Skrifta til að prófa skriftueiginleika Kate hluta
Comment[it]=Script per provare il componente di scripting di kate
Comment[ja]=kate part のスクリプトをテストするためのスクリプト
Comment[ka]=სკრიპტი Kate-ში სკრიპტების შესამოწმებლად
Comment[kk]=Kate редакторында скрипттерді тексеру скрипті
Comment[km]=ស្គ្រីប​សម្រាប់​សាកល្បង​ការ​សរសេរ​របស់ kate part
Comment[lb]=Skript fir d'Skriptfunktioune vum Kate part ze testen
Comment[lt]=Scenarijus Kate komponento scenarijų rašymo patikrai
Comment[ms]=Skrip untuk menguji penskripan bahagian kate
Comment[nb]=Skript til å teste kate parts skripting
Comment[nds]=En Skript, dat Kate-Part sien Skriptkönen pröven schall
Comment[ne]=केट भागको स्क्रिप्टिङ परीक्षणका लागि स्क्रिप्ट
Comment[nl]=Script voor het testen van Kate-part's scriptmogelijkheid
Comment[nn]=Skript for testing av Kate part-skriptinga
Comment[pa]=kate part ਦੀ ਸਕ੍ਰਿਪਟਿੰਗ ਦੀ ਜਾਂਚ ਲਈ ਸਕ੍ਰਿਪਟ
Comment[pl]=Skrypt do testowania możliwości skryptów Kate
Comment[pt]=Um programa para testar a programação do componente do Kate
Comment[pt_BR]=Script para testes da parte de scripts do kate
Comment[ro]=Script pentru testarea părţii de scripting din Kate
Comment[ru]=Скрипт для проверки поддержки скриптов в Kate
Comment[rw]=Inyandikoporogaramu yo kugenzura kwandika kode by'igice cya kate.
Comment[se]=Skripta mii geahččala Kate part-skriptema
Comment[sk]=Skript pre testovanie skriptovania Kate Part
Comment[sl]=Skript za testiranje delovanja skriptov za del Kate
Comment[sr]=Скрипта за испробавање скриптовања Kate-иног дела
Comment[sr@Latn]=Skripta za isprobavanje skriptovanja Kate-inog dela
Comment[sv]=Skript för att testa skripthantering i Kates delprogram
Comment[ta]=கேட் பகுதியின் எழுத்தாக்க சோதனைக்கான குறுநிரல்
Comment[te]=కేట్ భాగంపు స్క్రిప్టింగ్ ను పరీక్షించుటకు వాడు ఒక స్క్రిప్ట్
Comment[tg]=Скрипт барои санҷидани скриптгузории қисми kate
Comment[th]=สคริปต์สำหรับทดสอบการเขียนสคริปต์ในส่วนของ Kate
Comment[tt]=Kate Part'nıñ ämerleklären sınawçı qoral
Comment[uk]=Скрипт для перевірки підтримки скриптів в компоненті Kate
Comment[vi]=Tập lệnh để thử ra khả năng điều khiển bằng tập lệnh của phần Kate.
Comment[zh_CN]=测试 kate 部件脚本的脚本
Comment[zh_TW]=測試 kate part 的文稿
X-Kate-Command=jstest
X-Kate-Help=<p>Usage: <code>jstest</code></p>
