[Desktop Entry]
Encoding=UTF-8
Name=Kate Part JavaScript Test
Name[af]=Kate Deel Javaskript Toets
Name[ca]=Prova de la peça JavaScript de Kate
Name[cs]=Kate Part JavaScript test
Name[de]=Kate Part JavaScript-Test
Name[el]=Έλεγχος JavaScript του Kate Part
Name[es]=Prueba JavaScript de Kate Part
Name[et]=Kate komponendi JavaScripti test
Name[eu]=Kate zatiaren JavaScript proba
Name[fi]=Kate Part JavaScript -testi
Name[fr]=Test du module JavaScript pour Kate
Name[fy]=Kate-part JavaSkript-test
Name[gl]=Comprobar Kate Part JavaScript
Name[he]=בדיקת JavaScript של רכיב Kate
Name[hu]=Kate objektum, Javascript-teszt
Name[is]=Kate hluti JavaScript prófun
Name[it]=Prova componente JavaScript per Kate
Name[ja]=Kate Part JavaScript テスト
Name[km]=ការ​សាកល្បង Kate Part JavaScript
Name[lb]=Kate Part JavaScript-Test
Name[lt]=Kate Part JavaScript testas
Name[ms]=Ujian JavaScript Bahagian Kate
Name[nb]=Kate Part JavaScript-test
Name[nds]=Kate-Part JavaScript-Test
Name[nl]=Kate-part JavaScript-test
Name[nn]=Kate Part JavaScript-test
Name[pa]=Kate Part JavaScript ਜਾਂਚ
Name[pl]=Test JavaScript osadzalnej części Kate
Name[pt]=Teste de JavaScript do Componente do Kate
Name[pt_BR]=Teste do componente JavaScript do Kate
Name[ru]=Проверка скриптов JavaScript в Kate
Name[rw]=Igerageza rya JavaScript Igice Kate
Name[se]=Kate Part JavaScript-geahččaleapmi
Name[sl]=Test JavaScripta za del Kate
Name[sr]=Проба JavaScript-а Kate-иног дела
Name[sr@Latn]=Proba JavaScript-a Kate-inog dela
Name[sv]=Test av Javaskript för Kates delprogram
Name[ta]=கேட் பகுதி ஜாவாஸ்கிரிப்ட் சோதனை
Name[tg]=Санҷиши Қисми Kate-и JavaScript
Name[tt]=Kate Part JavaScript Sınaw
Name[uk]=Перевірка скриптів JavaScript в компоненті Kate
Name[zh_CN]=Kate 部件 JavaScript 测试
Comment=Script for testing kate part's scripting
Comment[af]=Skript om te toets of Kate se skript masjien werk
Comment[bg]=Скрипт за тестване на модулите за поддръжка на скриптове
Comment[ca]=Guió per a provar l'escriptat de les peces Kate
Comment[cs]=Skript pro test skriptování Kate
Comment[da]=Script til at teste katepart scripter
Comment[de]=Ein Skript zum Testen der Skriptfunktionalität des Kate Parts.
Comment[el]=Σενάριο για έλεγχο του scripting του Kate Part
Comment[es]=Guión para probar el part de scripting de kate
Comment[et]=Skript Kate komponendi skriptimisomaduste testimiseks
Comment[eu]=Script-a Kate zatiaren script-ak probatzeko.
Comment[fi]=Skripti kate partin skriptien testaukseen
Comment[fr]=Script testant le module de scripting de Kate
Comment[fy]=Skript foar it testen fan Kate-part's skriptmooglikheid
Comment[gl]=Guión para probar os guións das partes de kate
Comment[he]=תסריט לבדיקה של יכולות התסריט של Kate
Comment[hu]=Szkript a Kate objektum szkriptkezelőjének ellenőrzéséhez
Comment[is]=Skrifta til að prófa skriftueiginleika Kate hluta
Comment[it]=Script per provare il componente di scripting di kate
Comment[ja]=kate part のスクリプト機能のテスト用スクリプト
Comment[km]=ស្គ្រីប​សម្រាប់​សាកល្បង​ការ​សរសេរ​របស់ kate part
Comment[lb]=Skript fir d'Skriptfunktioune vum Kate part ze testen
Comment[ms]=Skrip untuk menguji penskripan bahagian kate
Comment[nb]=Skript til å teste kate parts skripting
Comment[nds]=En Skript, dat Kate-Part sien Skriptkönen pröven schall
Comment[nl]=Script voor het testen van Kate-part's scriptmogelijkheid
Comment[nn]=Skript for testing av Kate part-skriptinga
Comment[pa]=kate part ਦੀ ਸਕ੍ਰਿਪਟਿੰਗ ਦੀ ਜਾਂਚ ਲਈ ਸਕ੍ਰਿਪਟ
Comment[pl]=Skrypt do testowania możliwości skryptów Kate
Comment[pt]=Um programa para testar a programação do componente do Kate
Comment[pt_BR]=Script para testes da parte de scripts do kate
Comment[ru]=Скрипт для проверки поддержки скриптов в Kate
Comment[rw]=Inyandikoporogaramu yo kugenzura kwandika kode by'igice cya kate.
Comment[se]=Skripta mii geahččala Kate part-skriptema
Comment[sl]=Skript za testiranje delovanja skriptov za del Kate
Comment[sr]=Скрипта за испробавање скриптовања Kate-иног дела
Comment[sr@Latn]=Skripta za isprobavanje skriptovanja Kate-inog dela
Comment[sv]=Skript för att testa skripthantering i Kates delprogram
Comment[ta]=கேட் பகுதியின் எழுத்தாக்க சோதனைக்கான குறுநிரல்
Comment[tg]=Скрипт барои санҷидани скриптгузории қисми kate
Comment[tt]=Kate Part'nıñ ämerleklären sınawçı qoral
Comment[uk]=Скрипт для перевірки підтримки скриптів в компоненті Kate
Comment[zh_CN]=测试 kate 部件脚本的脚本
X-Kate-Command=jstest
X-Kate-Help=<p>Usage: <code>jstest</code></p>
