[Desktop Entry]
Encoding=UTF-8
Name=Embedded Java Applet Viewer
Name[af]=Ingelegde Java Program Bekyker
Name[ar]=عارض بريمجات جافا المدمج
Name[az]=Daxili Java Applet Nümayişçisi
Name[bg]=Вграден визуализатор на аплети Java
Name[bn]=অভ্যন্তরীণ জাভা অ্যাপলেট প্রদর্শক
Name[br]=Lenner enframmet eus arloadigoù Java
Name[ca]=Applet encastable del visor Java
Name[cs]=Zabudovaný prohlížeč Java appletů
Name[cy]=Gwelydd Rhaglennig Java Mewnadeiladedig
Name[da]=Indlejret Java-applet fremviser
Name[de]=Eingebetteter Betrachter für Java-Programme
Name[el]=Ενσωματωμένος προβολέας εφαρμογιδίων Java
Name[eo]=Enkonstruita javaplikaĵrigardilo
Name[es]=Visor de applets de Java empotrables
Name[et]=Põimitav Java apleti näitaja
Name[eu]=Kapsulatutako Javaren applet-ikustailea
Name[fa]=نمایشگر نهفته‌ی برنامک‌های Java
Name[fi]=Upotettava Java-sovelmien näyttäjä
Name[fr]=Afficheur d'applets Java intégré
Name[fy]=yn sluten Java Applet Werjefte
Name[ga]=Amharcán Feidhmchláiríní Java Inleabaithe
Name[gl]=Visualizador de Applets de Java Incrustado
Name[he]=מציג יישומוני Java מוטבע
Name[hi]=अंतर्निहित जावा ऐपलेट दर्शक
Name[hr]=Ugrađeni prikazivač Java appleta
Name[hu]=Beágyazott megjelenítőprogram Java kisalkalmazásokhoz
Name[is]=Ívefjanlegur Java Applet skoðari
Name[it]=Visualizzatore integrato di applet Java
Name[ja]=埋め込み Java アプレットビューア
Name[km]=កម្មវិធី​មើល​អាប់ភ្លេត Java ដែលបាន​បង្កប់
Name[ko]=끼워넣은 자바 애플릿 보기
Name[lb]=Agebetteten Java-Applet-Uweiser
Name[lt]=Įdedamas Java Applet žiūriklis
Name[lv]=Iegultais Java sīklietotņu (apletu) skatītājs
Name[mk]=Вгнезден гледач на Java аплети
Name[mn]=Суулгаж болох Жава Апплет Харагч
Name[ms]=Pelihat Aplet Java Terserta
Name[nb]=Innebygd Java Applet-viser
Name[nds]=Inbett Kieker vör Java-Programmen
Name[nl]=Ingebed Java Applet-weergaveprogramma
Name[nn]=Innebygd Java-appletvisar
Name[pa]=ਸ਼ਾਮਿਲ Java Applet ਦਰਸ਼ਕ
Name[pl]=Wbudowana przeglądarka apletów Javy
Name[pt]=Visualizador Embebido de 'Applets' Java
Name[pt_BR]=Visualizador Embutido de Applets Java
Name[ro]=Vizualizor înglobat de miniaplicaţii Java
Name[ru]=Встраиваемый модуль просмотра аплетов Java
Name[rw]=Mugaragaza Java Apuleti Irimo
Name[se]=Vuojuhanláhkái Javaprográmmaš čájeheaddji
Name[sk]=Vložiteľný prehliadač Java appletov
Name[sl]=Vgrajeni pregledovalnik vstavkov java
Name[sq]=Shikues i Ngulitur për JAVA Apletat
Name[sr]=Уграђени приказивач Java аплета
Name[sr@Latn]=Ugrađeni prikazivač Java apleta
Name[sv]=Inbäddningsbar visare av Javaminiprogram
Name[ta]=உட்பொதிந்த ஜாவா சிறுநிரல் காட்டி
Name[tg]=Шоҳиди Java Applet дар Дарун Сохтан
Name[th]=ตัวแสดงจาวาแอพเพล็ตที่ฝังอยู่
Name[tr]=Gömülü Java Aplet Görüntüleyici
Name[tt]=Java Applet öçen Quşılma-Kürsätkeç
Name[uk]=Вмонтований переглядач аплетів Java
Name[uz]=Ички Java апплетини кўрувчи
Name[wa]=Ravalé håyneu d' apliketes Java
Name[zh_CN]=嵌入的 Java 小程序查看器
Name[zh_TW]=Embedded Java Applet 檢視器
X-KDE-Library=kjavaappletviewer
Icon=java
MimeType=application/x-java-applet;application/x-java;
ServiceTypes=KParts/ReadOnlyPart,Browser/View
Type=Service
InitialPreference=2
X-KDE-BrowserView-PluginsInfo=kjava/pluginsinfo
