[Desktop Entry]
Encoding=UTF-8
Type=Service

ServiceTypes=KDEDModule
X-KDE-ModuleType=Library
X-KDE-Library=kdeprintd
X-KDE-FactoryName=kdeprintd
X-KDE-Kded-autoload=false
X-KDE-Kded-load-on-demand=true

Name=KDE Print Daemon
Name[af]=Kde Druk Bediener
Name[ar]=مراقب طباعة كيدي
Name[az]=KDE Çap Demonu
Name[bg]=Демон за печат в КДЕ
Name[bn]=কে.ডি.ই মুদ্রণ ডিমন
Name[br]=Diaoul moulañ KDE
Name[bs]=KDE Print Deamon
Name[ca]=Dimoni d'impressió del KDE
Name[cs]=Tiskový démon KDE
Name[cy]=Daemon Argraffu KDE
Name[da]=KDE-udskriftsdæmon
Name[de]=KDE-Druckdämon
Name[el]=Δαίμονας εκτυπώσεων του KDE
Name[eo]=Preso-demono
Name[es]=Demonio de impresión de KDE
Name[et]=KDE trükkimise deemon
Name[eu]=KDEren inprimatze daemon-a
Name[fa]=برنامه‌ی چاپ KDE
Name[fi]=KDE:n tulostuspalvelin
Name[fr]=Démon d'impression de KDE
Name[fy]=KDE ôfdruk Daemon
Name[ga]=Deamhan Priontála KDE
Name[gl]=Demo de Impresión de KDE
Name[he]=תהליך הרקע הדפסה של KDE
Name[hi]=केडीई छपाई ङेमन
Name[hr]=KDE daemon za ispis
Name[hsb]=KDE ćišćenski demon
Name[hu]=KDE nyomtatószolgáltatás
Name[id]=Daemon KDE Write
Name[is]=KDE prentþjónn
Name[it]=Demone di stampa KDE
Name[ja]=KDE 印刷デーモン
Name[km]=Daemon បោះពុម្ព KDE
Name[ko]=KDE 인쇄 데몬
Name[lb]=KDE-Dréck-Dämon
Name[lt]=KDE spausdinimo tarnyba
Name[lv]=KDE Drukas Dēmons
Name[mn]= КДЭ Хэвлэх программ
Name[ms]=Daemon Cetak KDE
Name[mt]=Proċess tal-ipprintjar KDE
Name[nb]=KDE-utskriftsnisse
Name[nds]=KDE Druck-Dämoon
Name[nn]=KDE-utskriftsnisse
Name[nso]=Daemon ya Kgatiso ya KDE
Name[pa]=KDE ਪ੍ਰਿੰਟਰ ਡਾਈਮੋਨ
Name[pl]=Drukowanie
Name[pt]=Servidor de Impressão do KDE
Name[pt_BR]=Serviço de Impressão do KDE
Name[ro]=Demon de tipărire KDE
Name[ru]=Служба печати
Name[rw]=Dayimoni yo Gucapa KDE
Name[se]=KDE čálihanbálvá
Name[sk]=KDE démon tlače
Name[sl]=Tiskalniški strežnik za KDE
Name[sq]=KDE Demoni për Shypje
Name[sr]=KDE-ов демон за штампање
Name[sr@Latn]=KDE-ov demon za štampanje
Name[ss]=Lidimoni lekushicilela ku KDE
Name[sv]=KDE:s skrivardemon
Name[ta]=கேமேசைச் சூழல் அச்சு டேமன்
Name[tg]=Демони чопи KDE
Name[th]=เซิร์ฟเวอร์การพิมพ์ของ KDE
Name[tr]=KDE Yazdırma Programı
Name[tt]=KDE Bastıru Xezmäte
Name[uk]=Демон друку KDE
Name[uz]=KDE босиб чиқариш хизмати
Name[ven]=Daemon yau phirintha ya KDE
Name[wa]=Démon d' imprimaedje di KDE
Name[xh]=Daemon Yoshicilelo lwe KDE
Name[zh_CN]=KDE 打印守护进程
Name[zh_TW]=KDE 列印伺服程式
Name[zu]= I-Daemon Yokushicilela kwe-KDE
Comment=Print daemon for KDE
Comment[af]=Druk Bediener vir KDE
Comment[bg]=Демон за печат в КДЕ
Comment[bn]=কে.ডি.ই-র মুদ্রণ ডিমন
Comment[br]=Diaoul moulañ evit KDE
Comment[bs]=Demon za štampu za KDE
Comment[ca]=Dimoni d'impressió per al KDE
Comment[cs]=Tiskový démon KDE
Comment[da]=Udskriftsdæmon for KDE
Comment[de]=Druck-Dämon für KDE
Comment[el]=Ένας δαίμονας εκτυπώσεων για το KDE
Comment[es]=Demonio de impresión para KDE
Comment[et]=KDE trükkimise deemon
Comment[eu]=KDEren inprimaketa daemon-a
Comment[fi]=KDE:n tulostuspalvelin
Comment[fr]=Un démon d'impression pour KDE
Comment[fy]=ôfdruk deamon foar KDE
Comment[ga]=Deamhan priontála le haghaidh KDE
Comment[gl]=Un Demo de Impresión para KDE
Comment[he]=תהליך רקע של KDE להדפסה
Comment[hi]=केडीई के लिए एक छपाई डेमन
Comment[hsb]=KDE ćišćenski demon
Comment[hu]=Nyomtatószolgáltatás a KDE-hez
Comment[is]=Prentþjónn fyrir KDE
Comment[it]=Demone di stampa per KDE
Comment[ja]=KDE用の印刷デーモン
Comment[km]=Daemon បោះពុម្ព​របស់ KDE
Comment[lb]=Dréck-Dämon fir KDE
Comment[lt]=Spausdinimo tarnyba, skirta KDE
Comment[lv]=Drukas Dēmons priekš KDE
Comment[mk]=KDE даемон за печатење
Comment[ms]=Daemon Cetak untuk KDE
Comment[nb]=Utskriftsnisse for KDE
Comment[nds]=Een Druck-Dämoon för KDE
Comment[nl]=Printer-daemon voor KDE
Comment[nn]=Utskriftsnisse for KDE
Comment[pa]=KDE ਲਈ ਪ੍ਰਿੰਟਰ ਡਾਈਮੋਨ
Comment[pl]=Drukowanie w KDE
Comment[pt]=Servidor de impressão para o KDE
Comment[pt_BR]=Serviço de Impressão para o KDE
Comment[ro]=Demon de tipărire KDE
Comment[ru]=Служба печати KDE
Comment[rw]=Dayimoni yo gucapa ya KDE
Comment[se]=KDE:a čálihanbálvá
Comment[sk]=Démon tlače pre KDE
Comment[sl]=Tiskalniški strežnik za KDE
Comment[sr]=KDE-ов демон за штампање
Comment[sr@Latn]=KDE-ov demon za štampanje
Comment[sv]=Skrivardemon för KDE
Comment[ta]=கேடிஇக்கான ஒரு அச்ச் டெமான்
Comment[tg]=Демони чопи KDE
Comment[tr]=KDE için bir yazdırma programı
Comment[tt]=KDE öçen bastıru xezmäte
Comment[uk]=Демон друку KDE
Comment[uz]=KDE учун босиб чиқариш хизмати
Comment[zh_CN]=KDE 的打印守护进程
