[General]
Number=3

[Printer 0]
Name=Print To File (PostScript)
Description=Write PostScript file
Location=Local file
Icon=filesave
Command=
File=1

[Printer 1]
Name=Print To File (PDF/Acrobat)
Description=Write PDF/Acrobat file
Location=Local file
Icon=acroread
Command=ps2pdf -sPAPERSIZE=%psl %in %out
File=1

[Printer 2]
Name=Send To Fax
Description=Send to external fax system
Location=External
Icon=kfax
Command=ksendfax %in
File=0
