#!/bin/bash

# Copy this file as kde_env_custom and alter it

if [ -z "$MSVC" ] ; then

	# MSVC instalation directory, please change
	MSVC="c:\\vs7"

	INCLUDE="$MSVC\\include;$INCLUDE"
fi

# Top KDE Directory - target of your compilation, please change
export KDEDIR="c:\\kde"

# KDElibs/win32 top source directory, please change
KDEWIN="c:\\kdewin32"

export MSVC KDEWIN INCLUDE
