#!/bin/bash

# Copy this file as kde_env_custom and alter it


	# MSVC instalation directory, please change, or comment it out if not using msvc compiler
	MSVC="c:\\vs7"

# Top KDE Directory - target of your compilation, please change
export KDEDIR="c:\\kde"

# KDElibs/win32 top source directory, please change
KDEWIN="c:\\kdewin32"

export MSVC KDEWIN INCLUDE
