[Desktop Entry]
Encoding=UTF-8
Type=Service

ServiceTypes=KDEDModule
X-KDE-ModuleType=Library
X-KDE-Library=test
X-KDE-FactoryName=test
X-KDE-Kded-autoload=false
X-KDE-Kded-load-on-demand=true

Name=KDED Test Module
Name[af]=kded toets module
Name[ar]=وحدة KDED اختبارية
Name[az]=KDE Sınaq Modulu
Name[bg]=Тестов модул KDED
Name[bs]=KDED probni modul
Name[cs]=Testovací KDED modul
Name[da]=KDED-testmodul
Name[de]=KDED-Testmodul
Name[el]=Άρθρωμα Δοκιμής KDED
Name[eo]=KDED-testmodulo
Name[es]=Módulo de prueba de KDED
Name[et]=KDED testmoodul
Name[eu]=KDED Test Moduloa
Name[fi]=KDED testimoduuli
Name[fr]=Module de test KDED
Name[he]=מודול ניסיון של KDED
Name[hu]=KDED tesztmodul
Name[is]=KDED prufueining
Name[it]=Modulo di prova KDED
Name[ja]=KDED テストモジュール
Name[ko]=KDED 시험 모듈
Name[lt]=KDED testinis modulis
Name[lv]=KDED Testa Modulis
Name[mt]=Modulu test KDED
Name[nb]=KDED-testmodul
Name[nn]=KDED-testmodul
Name[pl]=Moduł testowy KDED
Name[pt]=Módulo de Teste do KDED
Name[pt_BR]=Módulo de Teste KDED
Name[ro]=Modul de test KDED
Name[ru]=Тестовый модуль KDED
Name[sk]=Testovací modul KDED
Name[sl]=Preizkusni modul KDED
Name[sr]=KDED test module
Name[sv]=KDED-testmodul
Name[ta]=KDED §º¡¾¨Éì ÜÚ
Name[th]=โมดูลทดสอบ KDED
Name[tr]=KDED Test Modülü
Name[uk]=Модуль тестування KDED
Name[ven]=Modulu ya mulingo wa KDED
Name[vi]=Mô-đun thử nghiệm KDED
Name[xh]=Umnqongo wokulinganisela wovavanyo lwe KDED
Name[xx]=xx
Name[zh_CN]=KDED 测试模块
Name[zh_TW]=KDED 測試模組
Name[zu]=Uvivinyo lwe KDED Module
Comment=A Test Module for KDED
Comment[af]='n toets module vir kded
Comment[ar]=وحدة اختبارية لKDED
Comment[az]=KDED üçün Sınaq Modulu
Comment[bg]=Тестов модул KDED
Comment[bs]=Probni modul za KDED
Comment[cs]=Testovací modul pro KDED
Comment[da]=Et testmodul for KDED
Comment[de]=Testmodul für KDED
Comment[el]=Δοκιμαστικό Άρθρωμα για το KDED
Comment[eo]=Testmodulo por KDED
Comment[es]=Un módulo de prueba para KDED
Comment[et]=KDED testmoodul
Comment[eu]=KDED-endako Test Moduloa
Comment[fi]=Testimoduuli KDED:lle
Comment[fr]=Un module de test pour KDED
Comment[he]=מודול ניסיון ל-KDED
Comment[hu]=Tesztmodul a KDED-hez
Comment[is]=Prufueining fyrir KDED
Comment[it]=Un modulo di prova per KDED
Comment[ja]=KDED用テストモジュール
Comment[lt]=KDED testinis modulis
Comment[lv]=KDED Testa Modulis
Comment[mt]=Modulu għal testijiet ta' KDED
Comment[nb]=En test-modul for KDED
Comment[nl]=Een testmodule voor KDED
Comment[nn]=Testmodul for KDED
Comment[pl]=Moduł testowy KDED
Comment[pt]=Um módulo de teste para o KDED
Comment[pt_BR]=Um módulo de Teste para KDED
Comment[ro]=Un modul de test pentru KDED
Comment[ru]=Тестовый модуль KDED
Comment[sk]=Testovací modul pre KDED
Comment[sl]=Preizkusni modul za KDED
Comment[sr]=Test modul za KDED
Comment[sv]=En testmodul för KDED
Comment[ta]=KDED §º¡¾¨Éì Ü¦È¡ýÚ
Comment[th]=โมดูลสำหรับทดสอบ KDED
Comment[tr]=KDED için bir Test Modülü
Comment[uk]=Модуль тестування для KDED
Comment[ven]=Modulu ya mulingo ya KDED
Comment[vi]=Mô đun thử nghiệm cho KDED
Comment[xh]=Umnqongo wokulinganisela wovavanyo lwe KDED
Comment[xx]=xx
Comment[zh_CN]=KDED 的测试模块
Comment[zh_TW]=KDED 的測試模組
Comment[zu]=Uvivinyo Lwe Module le KDED
