[Desktop Entry]
Type=Service
Name=Pidgin Emoticons Theme
Name[et]=Pidgini emotikoniteema
Name[ga]=Téama Straoiseoga Pidgin
Name[pt]=Tema de Ícones Emotivos do Pidgin
Name[pt_BR]=Tema de Ícones Emotivos do Pidgin
Name[uk]=Тема емоційок Pidgin
Name[zh_TW]=Pidgin 表情圖示主題
Comment=Library to use Pidgin emoticons theme
Comment[et]=Teek Pidgini emotikoniteema kasutamiseks
Comment[ga]=Leabharlann le húsáid téama straoiseog Pidgin
Comment[pt]=Uma biblioteca para usar os temas de ícones emotivos do Pidgin
Comment[pt_BR]=Uma biblioteca para usar os temas de ícones emotivos do Pidgin
Comment[uk]=Бібліотека для використання теми емоційок Pidgin
Comment[zh_TW]=使用 Pidgin 表情圖示主題的函式庫
X-KDE-ServiceTypes=KEmoticons
X-KDE-Library=emoticonstheme_pidgin
X-KDE-EmoticonsFileName=theme
X-KDE-Priority=7
