[Desktop Entry]
Encoding=UTF-8
Type=Service
Comment=Embeddable Personal Certificate Manager
Comment[af]=Inlegbare Persoonlike Sertifikaat Bestuurder
Comment[ar]=مدير شهادات اعتماد شخصي قابل للدمج
Comment[az]=Hopdurulabilən Şəxsi Vəsiqə İdarəçisi
Comment[bg]=Вграден личен менаджър
Comment[bs]=Uključivi upravljač ličnim certifikatima
Comment[cs]=Pohltitelný správce osobních certifikátů
Comment[da]=Indlejrbar personlig certifikathåndtering
Comment[de]=Einbettungsfähige persönliche Zertifikatsverwaltung
Comment[el]=Ενσωματώσιμος Διαχειριστής Προσωπικών Πιστοποιητικών
Comment[eo]=Enplantebla administrilo por personaj atestoj
Comment[es]=Administrador empotrable de certificados personales
Comment[et]=Põimitav personaalsete sertifikaatide haldur
Comment[eu]=Ziurtagirien Kudeatzaile Pertsonal Txertagarria
Comment[fi]=Upotettava henkilökohtaisten sertifikaattien hallitsija
Comment[fr]=Gestionnaire de certificats personnels
Comment[he]=מנהל תעודות אישי בר-הטבעה
Comment[hu]=Beágyazható személyes tanúsítványkezelő
Comment[is]=Ásetjanlegur skírteinisstjóri
Comment[it]=Gestore dei certificati personali integrabile
Comment[ja]=埋め込み可能パーソナル証明書マネージャ
Comment[lt]=Įdedama asmeninių sertifikatų tvarkyklė
Comment[lv]=Iegulstams Personālo Sertifikātu Menedžers
Comment[nb]=Innebyggbar behandling av personlige sertifikat
Comment[nl]=Ingebedde Persoonlijke Certificaat-beheerder
Comment[nn]=Innebyggbar behandling av personlege sertifikat
Comment[pl]=Osobisty menedżer certyfikatów
Comment[pt]=Gestor de Certificados Pessoais Embebível
Comment[pt_BR]=Gerenciador embutido de Certificados Pessoais
Comment[ro]=Componentă manager de certificate personale
Comment[ru]= Встраеваемый персональный менеджер сертификатов.
Comment[sk]=Vložiteľný osobný správca certifikátorv
Comment[sl]=Vgradljivi osebni upravljalnik certifikatov
Comment[sv]=Inbäddningsbar personlig certifikatshanterare
Comment[th]=ตัวจัดการใบรับรองส่วนตัวที่ฝังได้
Comment[tr]=Gömülebilir Kişisel Sertifika Yöneticisi
Comment[uk]=Вбудовний менеджер персональних сертифікатів
Comment[ven]=Mulanguli wa sethifikheithi ya vhune
Comment[vi]=Trình quản lý Chứng thực Cá nhân có khả năng nhúng
Comment[xh]=Umjphathi wesiqinisekiso sobuntu bakho esilungisiweyo
Comment[xx]=xx
Comment[zh_CN]=可嵌入的个人证书管理器
Comment[zh_TW]=可嵌入的個人認證管理工具
Comment[zu]=Ohlanganisekayo Oyimfihlo Umphathi Wesitifiketi
MimeType=application/x-pkcs12;application/x-x509-ca-cert;application/binary-certificate;
Icon=lock
Name=KCertPart
Name[af]=Kcertpart
Name[eo]=Atestilo-parto
Name[sv]=Kcertpart
Name[ven]=Tshipida tsha cert ya K
Name[xx]=xx
ServiceTypes=KParts/ReadWritePart
X-KDE-Library=libkcertpart
InitialPreference=15
