[Desktop Entry]
Comment=Character Device
Comment[ca]=Dispositiu de caràcter
Comment[cs]=Znakové zařízení
Comment[de]=Zeichenorientiertes Gerät
Comment[eo]=signoaparato
Comment[fi]=Tekstilaite
Comment[fr]=Périphérique de type Caractère
Comment[hu]=Karakteres eszköz
Comment[ja]=キャラクターデバイス
Comment[no]=Teghenhet
Comment[no_NY]=Teikneining
Comment[pt]=Dispositivo Caracter
Comment[ro]=Dispozitiv de tip caracter
Comment[sl]=Znakovna enota
Comment[sv]=Enhet av teckentyp (t ex seriellport)
Icon=chardevice
Type=MimeType
MimeType=inode/chardevice
Patterns=
