[Desktop Entry]
Encoding=UTF-8
Comment=Folder
Comment[fr]=Dossier
Comment[x-test]=xxFolderxx
Icon=folder
Type=MimeType
MimeType=inode/directory
Patterns=
