[Desktop Entry]
Comment=Directory
Comment[az]=Cərgə
Comment[bg]=Директория
Comment[br]=Renkell
Comment[bs]=Direktorij
Comment[ca]=Directori
Comment[cs]=Adresář
Comment[da]=Mappe
Comment[de]=Ordner
Comment[el]=Κατάλογος
Comment[eo]=Dosierujo
Comment[es]=Directorio
Comment[et]=Kataloog
Comment[eu]=Directorioa
Comment[fi]=Hakemisto
Comment[fr]=Dossier
Comment[gl]=Directorio
Comment[he]=הירפס
Comment[hr]=Direktorij
Comment[hu]=Könyvtár
Comment[is]=Mappa
Comment[ja]=ディレクトリ
Comment[ko]=자료방
Comment[lt]=Katalogas
Comment[lv]=Direktorijs
Comment[mi]=Pouaka Könae
Comment[mk]=Папка
Comment[mt]=Direttorju
Comment[nl]=Map
Comment[no]=Katalog
Comment[no_NY]=Katalog
Comment[oc]=Repertori
Comment[pl]=Katalog
Comment[pt_BR]=Diretório
Comment[pt]=Directoria
Comment[ru]=Каталог
Comment[sk]=Priečinok
Comment[sl]=Imenik
Comment[sr]=Direktorijum
Comment[sv]=Katalog
Comment[ta]=«¨¼×
Comment[tr]=Dizin
Comment[uk]=Каталог
Comment[vi]=Thư mục 
Comment[wa]=Ridant
Comment[xh]=Ulawulo
Comment[zh_CN.GB2312]=目录
Icon=folder
Type=MimeType
MimeType=inode/directory
Patterns=
