[Desktop Entry]
Encoding=UTF-8
Comment=Folder
Comment[af]=Gids
Comment[ar]=مجلد
Comment[az]=Qovluq
Comment[be]=Тэчка
Comment[bg]=Директория
Comment[bn]=ফোল্ডার
Comment[br]=Renkell
Comment[bs]=Direktorij
Comment[ca]=Carpeta
Comment[cs]=Složka
Comment[cy]=Plygell
Comment[da]=Mappe
Comment[de]=Ordner
Comment[el]=Φάκελος
Comment[eo]=Dosierujo
Comment[es]=Carpeta
Comment[et]=Kataloog
Comment[eu]=Karpeta
Comment[fa]=پوشه
Comment[fi]=Kansio
Comment[fr]=Dossier
Comment[fy]=Map
Comment[ga]=Comhadlann
Comment[gl]=Cartafol
Comment[he]=תיקייה
Comment[hi]=फ़ोल्डर
Comment[hr]=Mapa
Comment[hu]=Könyvtár
Comment[is]=Mappa
Comment[it]=Cartella
Comment[ja]=フォルダ
Comment[ko]=자료방
Comment[lt]=Aplankas
Comment[lv]=Mape
Comment[mk]=Папка
Comment[mn]=Хавтас
Comment[nb]=Mappe
Comment[nds]=Orner
Comment[nl]=Map
Comment[nn]=Mappe
Comment[pa]=ਫੋਲਡਰ
Comment[pl]=Katalog
Comment[pt]=Pasta
Comment[pt_BR]=Pasta
Comment[ru]=Каталог
Comment[rw]=Inyandiko
Comment[se]=Máhppa
Comment[sk]=Priečinok
Comment[sl]=Mapa
Comment[sq]=Fioka
Comment[sr]=Фасцикла
Comment[sr@Latn]=Fascikla
Comment[sv]=Katalog
Comment[ta]=அடைவு
Comment[tg]=Ҷузъгир
Comment[th]=โฟลเดอร์
Comment[tr]=Dizin
Comment[uk]=Тека
Comment[uz]=Жилд
Comment[wa]=Ridant
Comment[xx]=xxFolderxx
Comment[zh_CN]=文件夹
Comment[zh_TW]=資料夾
Icon=folder
Type=MimeType
MimeType=inode/directory
Patterns=
