[Desktop Entry]
Encoding=UTF-8
Comment=Pipe
Comment[af]=Pyp
Comment[ar]=أنبوب
Comment[bg]=Именуван канал
Comment[br]=Korzenn gehentiñ
Comment[ca]=Canonada
Comment[cs]=FIFO roura
Comment[cy]=Peipen
Comment[de]=Weiterleitung (Pipe)
Comment[el]=Διασωλήνωση
Comment[eo]=Dukto
Comment[es]=Tubería
Comment[et]=Putk
Comment[eu]=Kanalizazioa
Comment[fa]=لوله
Comment[fi]=Putki
Comment[fr]=Tube de communication
Comment[ga]=Píopa
Comment[gl]=Canalización
Comment[he]=משרשר
Comment[hr]=Cijev
Comment[hu]=Cső
Comment[is]=Pípa
Comment[ja]=パイプ
Comment[kk]=Арна
Comment[km]=បំពង់
Comment[ko]=파이프
Comment[lb]=Rouer
Comment[lt]=Kanalas
Comment[lv]=Caurule
Comment[mk]=Цевка
Comment[ms]=Paip
Comment[nb]=Rør
Comment[nds]=Wiederledden (Pipe)
Comment[ne]=पाइप
Comment[nl]=Datastroom
Comment[nn]=Røyr
Comment[pa]=ਪਾਇਪ
Comment[pl]=Kolejka
Comment[ro]=Conductă
Comment[ru]=Именованный канал
Comment[se]=Bohcci
Comment[sl]=Cev
Comment[sr]=Цев
Comment[sr@Latn]=Cev
Comment[sv]=Rör
Comment[ta]=குழாய்
Comment[tg]=Қубур
Comment[tr]=Boru
Comment[uk]=Канал
Comment[uz]=Боғ (pipe)
Comment[x-test]=xxPipexx
Comment[xh]=Umbhobho
Comment[zh_HK]=管線
Comment[zh_TW]=管線
Icon=pipe
Type=MimeType
MimeType=inode/fifo
Patterns=
