[Desktop Entry]
Comment=Socket
Comment[cs]=Socket (komunikační kanál)
Comment[eo]=Kontaktilo
Comment[fi]=Pistoke
Comment[sl]=Vtič
Icon=filesystems/socket
Type=MimeType
MimeType=inode/socket
Patterns=
