[Desktop Entry]
Type=MimeType
Encoding=UTF-8
MimeType=application/fits
Comment=FITS Data
Comment[bg]=Данни FITS
Comment[br]=Roadoù FITS
Comment[ca]=Dades FITS
Comment[de]=FITS-Daten
Comment[el]=Δεδομένα FITS
Comment[es]=Datos FITS
Comment[et]=FITS-andmed
Comment[fi]=FITS-tiedot
Comment[fr]=Données FITS
Comment[fy]=FITS-data
Comment[ga]=Sonraí FITS
Comment[he]=נתונים של FITS
Comment[hu]=FITS-adatok
Comment[it]=Dati FITS
Comment[ka]=FITS მონაცემები
Comment[km]=ទិន្នន័យ FITS
Comment[lb]=FITS-Donnéeën
Comment[nds]=FITS-Daten
Comment[nl]=FITS-gegevens
Comment[nn]=FITS-data
Comment[pa]=FITS ਡਾਟਾ
Comment[pl]=Dane FITS
Comment[pt]=Dados do FITS
Comment[pt_BR]=Dados FITS
Comment[ru]=Данные FITS
Comment[se]=FITS-dáhtat
Comment[sl]=Podatki FITS
Comment[sr]=FITS подаци
Comment[sr@Latn]=FITS podaci
Comment[sv]=FITS-data
Comment[tg]=Маълумоти FITS
Comment[uk]=Дані FITS
Comment[uz]=FITS маълумот
Comment[xx]=xxFITS Dataxx
Comment[zh_CN]=FITs 数据
Icon=binary
# Note: application/fits is for any kind of FITS, so also for non-images
### TODO: what file pattern, especially that image/fits has the same
