[Desktop Entry]
MimeType=application/x-gzip
Comment=Gzip file
Comment[ca]=Fitxer gzip
Comment[cs]=Soubor komprimovaný gzipem
Comment[de]=GZip-Datei
Comment[eo]=Gzip-dosiero
Comment[fi]=Gzip-paketti
Comment[fr]=Fichier compressé par Gzip
Comment[hu]=Gzip fájl
Comment[ja]=Gzipファイル
Comment[no]=GZip-fil
Comment[no_NY]=Gzip-fil
Comment[pt]=Ficheiro GZip
Comment[ro]=Fişier arhivă GZIP
Comment[sl]=Datoteka, stisnjena z gzip-om
Comment[sv]=Fil som är komprimerad med gzip
DefaultApp=ark
Icon=tgz
Type=MimeType
Patterns=*.gz;*.tgz;
