[Desktop Entry]
Type=MimeType
MimeType=application/mathml+xml
Patterns=*.mml;*.MML
Icon=html
Hidden=false
X-KDE-IsAlso=text/xml
Comment=MathML Document
Comment[af]=MathML Dokument
Comment[ar]=مستند MathML
Comment[az]=MathML Sənədi
Comment[be]=Дакумэнт MathML
Comment[bg]=Документ MathML
Comment[bn]=ম্যাথ-এম.এল. নথী
Comment[br]=Teul MathML
Comment[bs]=MathML dokument
Comment[ca]=Document MathML
Comment[cs]=MathML dokument
Comment[cy]=Dogfen MathML
Comment[da]=MathML-dokument
Comment[de]=MathML-Dokument
Comment[el]=Έγγραφο MathML
Comment[eo]=MathML-dokumento
Comment[es]=Documento de MathML
Comment[et]=MathML-dokument
Comment[eu]=MathML dokumentua
Comment[fa]=سند MathML
Comment[fi]=MathML-asiakirja
Comment[fr]=Document MathML
Comment[fy]=MathML Dokumint
Comment[ga]=Cáipéis MathML
Comment[gl]=Documento MathML
Comment[he]=מסמך MathML
Comment[hi]=मैथएमएल (MathML) दस्तावेज़
Comment[hr]=MathML dokument
Comment[hu]=MathML dokumentum
Comment[is]=MathML skjal
Comment[it]=Documento MathML
Comment[ja]=MathML ドキュメント
Comment[km]=ឯកសារ MathML
Comment[ko]=MathML 문서
Comment[lb]=MathML-Dokument
Comment[lt]=MathML dokumentas
Comment[lv]=MathML dokuments
Comment[mk]=MathML документ
Comment[mn]=MathML-Баримт
Comment[ms]=Dokumen MathML
Comment[nb]=MathML-dokument
Comment[nds]=MathML-Dokment
Comment[nl]=MathML-document
Comment[nn]=MathML-dokument
Comment[pa]=MathML ਦਸਤਾਵੇਜ਼
Comment[pl]=Dokument MathML
Comment[pt]=Documento de MathML
Comment[pt_BR]=Documento MathML
Comment[ro]=Document MathML
Comment[ru]=Документ MathML
Comment[rw]=MathML Inyandiko
Comment[se]=MathML-dokumeanta
Comment[sk]=MathML dokument
Comment[sl]=Dokument MathML
Comment[sq]=Dokument nga MathML
Comment[sr]=MathML документ
Comment[sr@Latn]=MathML dokument
Comment[sv]=MathML-dokument
Comment[ta]=MathML ஆவணம்
Comment[tg]=Хуҷҷати MathML
Comment[th]=เอกสาร MathML
Comment[tr]=MathML Belgesi
Comment[tt]=MathML İstälege
Comment[uk]=Документ MathML (математичні формули)
Comment[uz]=MathML ҳужжати
Comment[wa]=Documint MathML
Comment[zh_CN]=MathML 文档
Comment[zh_HK]=MathML 文件
Comment[zh_TW]=MathML 文件
