[Desktop Entry]
Type=MimeType
MimeType=application/mathml+xml
Patterns=*.mml;*.MML
Icon=html
Hidden=false
X-KDE-IsAlso=text/xml
Comment=MathML Document
Comment[x-test]=xxMathML Documentxx
