[Desktop Entry]
Encoding=UTF-8
Type=MimeType
MimeType=application/mbox
Patterns=
Comment=MBOX Mail Folder
Comment[ca]=Carpeta de correu MBOX
Comment[cs]=Složka pošty MBOX
Comment[da]=MBOX mappe til e-mail
Comment[de]=MBOX Mail-Ordner
Comment[el]=Φάκελος αλληλογραφίας MBOX
Comment[es]=Carpeta de correo MBOX
Comment[et]=MBOX e-posti kaust
Comment[fi]=MBOX-sähköpostikansio
Comment[fr]=Dossier de boîte aux lettres MBox
Comment[hu]=MBOX levélmappa
Comment[is]=MBOX póstmappa
Comment[it]=Cartella di posta MBOX
Comment[lb]=MBOX Mail-Dossier
Comment[nb]=Mbox e-postmappe
Comment[nds]=Mbox-Nettpostorner
Comment[nl]=MBOX-postvakmap
Comment[pl]=Folder poczty w formacie MBOX
Comment[pt]=Pasta de Correio MBOX
Comment[pt_BR]=Pasta de Correio MBOX
Comment[ru]=Почтовая папка MBOX
Comment[sl]=Mapa za pošto MBOX
Comment[sr]=MBOX фасцикла поште
Comment[sr@Latn]=MBOX fascikla pošte
Comment[sv]=Mbox-brevkorg
Comment[uk]=Поштова тека MBOX
Comment[zh_CN]=MBOX 邮件文件夹

[Property::X-KDE-text]
Type=bool
Value=true
