[Desktop Entry]
Type=MimeType
MimeType=application/mbox
Patterns=
Comment=MBOX Mail Folder
Comment[be]=Паштовая скрыня MBOX
Comment[bg]=Пощенска директория MBOX
Comment[br]=Renkell postel MBOX
Comment[bs]=MBOX direktorij pošte
Comment[ca]=Carpeta de correu MBOX
Comment[cs]=Složka pošty MBOX
Comment[csb]=Katalog (MBOX Mail)
Comment[da]=MBOX mappe til e-mail
Comment[de]=MBOX Mail-Ordner
Comment[el]=Φάκελος αλληλογραφίας MBOX
Comment[eo]=MBOX MesaĝDosierujo
Comment[es]=Carpeta de correo MBOX
Comment[et]=MBOX e-posti kaust
Comment[eu]=MBOX posta karpeta
Comment[fa]=پوشۀ نامۀ MBOX
Comment[fi]=MBOX-sähköpostikansio
Comment[fr]=Dossier de boîte aux lettres MBox
Comment[fy]=MBOX-eamelmap
Comment[ga]=Comhadlann Ríomhphoist MBOX
Comment[gl]=Cartafol de Correo MBox
Comment[he]=תיקיית דואר של MBOX
Comment[hr]=MBOX mapa pošte
Comment[hu]=MBOX levélmappa
Comment[id]=Folder Mail MBOX
Comment[is]=MBOX póstmappa
Comment[it]=Cartella di posta MBOX
Comment[ja]=MBOX メールフォルダ
Comment[ka]=MBOX საფოსტო დასტა
Comment[kk]=MBOX пошта қапшығы
Comment[km]=ថត​សំបុត្រ MBOX
Comment[lb]=MBOX Mail-Dossier
Comment[lt]=MBOX pašto aplankas
Comment[lv]=MBOX pasta mape
Comment[mk]=MBOX-папка со пошта
Comment[ms]=Folder Mel MBOX
Comment[nb]=Mbox e-postmappe
Comment[nds]=Mbox-Nettpostorner
Comment[ne]=MBOX पत्र फोल्डर
Comment[nl]=MBOX-postvakmap
Comment[nn]=MBOX-e-postmappe
Comment[pa]=MBOX ਮੇਲ ਫੋਲਡਰ
Comment[pl]=Folder poczty w formacie MBOX
Comment[pt]=Pasta de Correio MBOX
Comment[pt_BR]=Pasta de Correio MBOX
Comment[ro]=Folder de mail MBOX
Comment[ru]=Почтовая папка MBOX
Comment[se]=MBOX-boastamáhppa
Comment[sk]=MBOX poštový priečinok
Comment[sl]=Mapa za pošto MBOX
Comment[sr]=MBOX фасцикла поште
Comment[sr@Latn]=MBOX fascikla pošte
Comment[sv]=Mbox-brevkorg
Comment[te]=MBOX తపాలా ఫోల్డర్
Comment[tg]=MBOX Феҳристи почта
Comment[th]=โฟลเดอร์จดหมาย MBOX
Comment[tr]=MBOX E-posta Dizini
Comment[uk]=Поштова тека MBOX
Comment[uz]=MBOX xat qutisi
Comment[uz@cyrillic]=MBOX хат қутиси
Comment[vi]=Thư mục thư dạng .mbox.
Comment[zh_CN]=MBOX 邮件文件夹
Comment[zh_TW]=MBOX 郵件資料夾

[Property::X-KDE-text]
Type=bool
Value=true
