[Desktop Entry]
Encoding=UTF-8
Type=MimeType
MimeType=application/mspowerpoint
Icon=document
Patterns=*.ppz;*.PPZ;*.ppt;*.PPT;*.pps;*.PPS;
Comment=Microsoft PowerPoint Presentation
Comment[be]=Прэзэнтацыя Microsoft PowerPoint
Comment[bg]=Документ на Microsoft PowerPoint
Comment[ca]=Presentació de Microsoft PowerPoint
Comment[cs]=Prezentace Microsoft Powerpoint
Comment[cy]=Cyflwyniad Microsoft PowerPoint  
Comment[da]=Microsoft PowerPoint-præsentation
Comment[es]=Prsentación de Microsoft PowerPoint
Comment[et]=Microsoft PowerPointi esitlus
Comment[fa]=نمایش مایکروسافت پاور پوینت
Comment[fi]=Microsoft PowerPoint -esitys
Comment[fr]=Présentation Microsoft PowerPoint
Comment[hu]=Microsoft PowerPoint dokumentum
Comment[nl]=Microsoft PowerPoint-presentatie
Comment[pt]=Apresentação do Microsoft PowerPoint
Comment[pt_BR]=Documento do Microsoft PowerPoint
Comment[sk]=Prezentácia Microsoft PowerPoint
Comment[sr]=Microsoft PowerPoint-ова презентација
Comment[sv]=Microsoft PowerPoint-presentation
Comment[uk]=Презентація MS PowerPoint
Comment[uz]=Microsoft PowerPoint намунаси
Comment[wa]=Prezintaedje Microsoft PowerPoint
Comment[xx]=xxMicrosoft PowerPoint Presentationxx
