[Desktop Entry]
Type=MimeType
MimeType=application/vnd.ms-word
Icon=document
Patterns=*.doc;*.DOC;
Comment=Microsoft Word document
Comment[ca]=Document Microsoft Word
Comment[cs]=Dokument programu Microsoft Word
Comment[de]=MS-Word-Dokument
Comment[eo]=Mikrosoft-Word-dokumento
Comment[es]=Documento Microsoft Word
Comment[et]=Microsoft Word dokument
Comment[fi]=Microsoft Word -asiakirja
Comment[fr]=Document MS Word
Comment[he]=Microsoft Word ךמסמ
Comment[hu]=Microsoft Word dokumentum
Comment[it]=Documento Microsoft Word
Comment[ja]=Microsoft Wordドキュメント
Comment[nl]=Microsoft-Word-document
Comment[no]=Microsoft Word-dokument
Comment[no_NY]=Microsoft Word-dokument
Comment[pt]=Documento do Microsoft Word
Comment[ro]=Document Microsoft Word
Comment[sl]=Spis za Microsoft Word
Comment[sv]=Microsoft Word-dokument
Comment[ta]=ைமகேராசாபட ேவரட ஆவணம
Comment[tr]=Microsoft Word belgesi
