[Desktop Entry]
Comment=Unknown
Comment[ca]=Desconegut
Comment[cs]=Neznámı
Comment[da]=Ukendt
Comment[eo]=Nekonata
Comment[es]=Desconocido
Comment[fi]=Tuntematon
Comment[fr]=Inconnu
Comment[hr]=Nepoznat
Comment[hu]=Ismeretlen
Comment[is]=Óşekkt
Comment[it]=Sconosciuto
Comment[ja]=Ì¤ÃÎ
Comment[mi]=Ismeretlen
Comment[no]=Ukjent
Comment[no_NY]=Ukjend
Comment[pl]=Nieznany
Comment[pt]=Desconhecido
Comment[pt_BR]=Desconhecido
Comment[ro]=Fiºier de tip necunoscut
Comment[ru]=îÅÉÚ×ÅÓÔÎÙÊ
Comment[sk]=Neznámy
Comment[sl]=Neznano
Comment[sr]=Nepoznat
Comment[sv]=Okänt filformat
Type=MimeType
MimeType=application/octet-stream
Patterns=
