[Desktop Entry]
Encoding=UTF-8
Type=MimeType
MimeType=application/ogg
Icon=multimedia
Patterns=*.ogg;*.OGG;
# Previous name of this mimetype
X-KDE-IsAlso=application/x-ogg
X-KDE-PatternsAccuracy=80
Comment=Ogg Multimedia
Comment[fr]=Multimédia Ogg
Comment[x-test]=xxOgg Multimediaxx
