[Desktop Entry]
Encoding=UTF-8
Type=MimeType
MimeType=application/pdf
Icon=pdf
Patterns=*.pdf;*.PDF;
X-KDE-PatternsAccuracy=90
Comment=PDF Document
Comment[x-test]=xxPDF Documentxx
X-KDE-AutoEmbed=true
[Property::X-KDE-NativeExtension]
Type=QString
Value=.pdf

