[Desktop Entry]
Type=MimeType
MimeType=application/pdf
Icon=pdf
Patterns=*.pdf;*.PDF;
Comment=Pdf Document
Comment[ca]=Document pdf
Comment[cs]=PDF dokument
Comment[da]=Pdf dokument
Comment[de]=PDF-Dokument
Comment[el]=Έγγραφο pdf
Comment[eo]=PDF-dokumento
Comment[es]=Documento PDF
Comment[et]=Pdf dokument
Comment[fi]=PDF-asiakirja
Comment[fr]=Document PDF
Comment[gl]=Documento Pdf
Comment[he]=Pdf ךמסמ
Comment[hr]=Pdf dokument
Comment[hu]=Pdf dokumentum
Comment[is]=PDF-skjal
Comment[it]=Documento PDF
Comment[ja]=Pdfドキュメント
Comment[lt]=Pdf Dokumentas
Comment[mk]=Pdf документ
Comment[nl]=Pdf-document
Comment[no]=PDF-dokument
Comment[no_NY]=Pdf-dokument
Comment[pl]=Dokument PDF
Comment[pt]=Documento PDF
Comment[pt_BR]=Arquivo PDF
Comment[ro]=Document PDF
Comment[ru]=Документ PDF
Comment[sk]=PDF dokument
Comment[sl]=Spis PDF
Comment[sr]=Pdf dokument
Comment[sv]=Dokument i PDF-format
Comment[ta]=Pdf ¬Å½õ
Comment[tr]=Pdf Belgesi
Comment[uk]=Документ PDF
Comment[zh_CN.GB2312]=Pdf 文档
Comment[zh_TW.Big5]=Pdf 文件

