[Desktop Entry]
Type=MimeType
MimeType=application/pdf
Icon=pdf
Patterns=*.pdf;*.PDF;
Comment=Pdf Document
Comment[az]=Pdf Sənədi
Comment[bg]=Документ на PDF
Comment[br]=Teul PDF
Comment[bs]=Pdf dokument
Comment[ca]=Document pdf
Comment[cs]=PDF dokument
Comment[da]=Pdf dokument
Comment[de]=PDF-Dokument
Comment[el]=Έγγραφο pdf
Comment[eo]=PDF-dokumento
Comment[es]=Documento PDF
Comment[et]=PDF dokument
Comment[eu]=Pdf Dokumentua
Comment[fi]=PDF-asiakirja
Comment[fr]=Document PDF
Comment[gl]=Documento Pdf
Comment[he]=Pdf ךמסמ
Comment[hr]=Pdf dokument
Comment[hu]=PDF dokumentum
Comment[is]=PDF-skjal
Comment[it]=Documento PDF
Comment[ja]=Pdfドキュメント
Comment[ko]=Pdf 문서
Comment[lt]=Pdf Dokumentas
Comment[lv]=Pdf Dokuments
Comment[mi]=Konae Pdf
Comment[mk]=Pdf документ
Comment[mt]=Dokument Pdf
Comment[nl]=Pdf-document
Comment[no]=PDF-dokument
Comment[no_NY]=Pdf-dokument
Comment[oc]=Document pdf
Comment[pl]=Dokument PDF
Comment[pt_BR]=Arquivo PDF
Comment[pt]=Documento PDF
Comment[ru]=Документ PDF
Comment[sk]=PDF dokument
Comment[sl]=Dokument PDF
Comment[sr]=PDF dokument
Comment[sv]=Dokument i PDF-format
Comment[ta]=Pdf ¬Å½õ
Comment[tr]=Pdf Belgesi
Comment[uk]=Документ PDF
Comment[vi]=Tài liệu Pdf 
Comment[wa]=Documint PDF
Comment[xh]=Uxwebhu lwe Pdf
Comment[zh_CN.GB2312]=Pdf 文档

