[Desktop Entry]
Encoding=UTF-8
Type=MimeType
MimeType=application/pgp-signature
Icon=signature
Patterns=
Comment=Detached OpenPGP signature
Comment[af]=Ontkoppel Openpgp handtekening
Comment[ar]=روقيع OpenPGP المستقل
Comment[bs]=Odvojeni OpenPGP potpis
Comment[cs]=Samostatný podpis OpenPGP
Comment[da]=Løsreven OpenPGP-underskrift
Comment[de]=OpenPGP-Signatur
Comment[el]=Αποκολλημένη υπογραφή OpenPGP
Comment[eo]=Deligita OpenPGP-subskribo
Comment[es]=Firma suelta OpenPGP
Comment[et]=Eraldiseisev OpenPGP signatuur
Comment[eu]=OpenPGP sinadura desuztartua
Comment[fi]=Liitetty OpenPGP allekirjoitus
Comment[fr]=Signature OpenPGP détachée
Comment[he]=חתימה מופרדת של OpenPGP
Comment[hu]=Leválasztott OpenPGP-aláírás
Comment[is]=Aðskilin OpenPGP undirskrift
Comment[it]=Firma OpenPGP separata
Comment[ja]=切り離されたOpenPGP
Comment[lt]=Atskiras OpenPGP parašas
Comment[lv]=Pievienots OpenPGP paraksts
Comment[nb]=Frakoblet OpenPGP-signatur
Comment[nl]=Losgekoppelde OpenPGP-signatuur
Comment[nn]=Fråkopla OpenPGP-signatur
Comment[pl]=Osobny podpis OpenPGP
Comment[pt]=Assinatura separada do OpenPGP
Comment[pt_BR]=Assinatura OpenPGP separada
Comment[ro]=Semnătură detaşată OpenPGP
Comment[ru]=Прикрепленная подпись OpenPGP
Comment[sk]=Oddelený podpis OpenPGP
Comment[sl]=Izločen podpis OpenPGP
Comment[sv]=Avskild OpenPGP-signatur
Comment[th]=แยกลายเซ็นต์ OpenPGP ที่แนบมา
Comment[tr]=Ayrılmış OpenPGP imzası
Comment[uk]=Відкріплений підпис OpenPGP
Comment[ven]=Tsaino ya tumanywaho na PGP yo vuleaho
Comment[vi]=Chữ ký OpenPGP tách rời
Comment[xx]=xx
Comment[zh_CN]=分离的 OpenPGP 签名
Comment[zh_TW]=分離的 OpenPGP 簽名
Comment[zu]=Unganyamanisi ukusayina kwe OpenPGP
