[Desktop Entry]
Encoding=UTF-8
Type=MimeType
MimeType=application/pkcs10
Icon=unknown
Patterns=*.p10;*.P10
Comment=S/MIME Certification Request
Comment[bs]=S/MIME zahtjev za certifikatom
Comment[da]=S/MIME-certificeringsforespørgsel
Comment[eo]=S/MIME-atestilo-peto
Comment[es]=Solicitud de certificación S/MIME
Comment[fi]=S/MIME sertifikaattipyyntö
Comment[he]=בקשת אישור S/MIME
Comment[hr]=S/MIME potvrda zahtjeva
Comment[pt_BR]=requisição do certificado S/MIME
Comment[sv]=S/MIME-certifikatbegäran
