[Desktop Entry]
Encoding=UTF-8
Type=MimeType
MimeType=application/pkcs10
Icon=certificate
Patterns=*.p10;*.P10
Comment=S/MIME Certification Request
Comment[af]=S/MIME Sertifikaat Aanvraag
Comment[ar]=طلب شهادة S/MIME
Comment[az]=S/MIME Vəsiqələndirmə İstəyi
Comment[bg]=Заявка за удостоверение S/MIME
Comment[bn]=S/MIME সার্টিফিকেশন অনুরোধ
Comment[bs]=S/MIME zahtjev za certifikatom
Comment[ca]=Sol·licitut de la certificació S/MIME
Comment[cs]=Žádost o S/MIME certifikát
Comment[cy]=Cais Tystysgrifo S/MIME
Comment[da]=S/MIME-certificeringsforespørgsel
Comment[de]=S/MIME-Zertifikations-Anfrage
Comment[el]=Αίτηση πιστοποίησης S/MIME
Comment[eo]=S/MIME-atestilo-peto
Comment[es]=Solicitud de certificación S/MIME
Comment[et]=S/MIME sertifitseerimise päring
Comment[eu]=S/MIME ziurtagiri eskaera
Comment[fa]=درخواست گواهینامه‌ی S/MIME
Comment[fi]=S/MIME-sertifikaattipyyntö
Comment[fr]=Requête de certification S/MIME
Comment[fy]=S/MIME sertifikaat-oanfraach
Comment[ga]=Iarratas S/MIME ar Dheimhniú
Comment[gl]=Petizón de Certificazón S/MIME
Comment[he]=בקשת אישור S/MIME
Comment[hi]=S/MIME प्रमाणीकरण निवेदन
Comment[hr]=S/MIME zahtjev za certifikaciju
Comment[hu]=S/MIME tanúsítványkérés
Comment[is]=S/MIME skírteinisbeiðni
Comment[it]=Richiesta di certificazione S/MIME
Comment[ja]=S/MIME 証明書要求
Comment[km]=សំណើ​បញ្ជាក់ S/MIME
Comment[ko]=S/마임 증명 요청
Comment[lb]=S/MIME-Zertifizéierungsufro
Comment[lt]=S/MIME sertifikavimo paklausimas
Comment[lv]=S/MIME sertifikācijas pieprasījums
Comment[mk]=S/MIME Барање за сертификат
Comment[ms]=Permintaan Sijil S/MIME
Comment[mt]=Rikjesta għal ċertifikat S/MIME
Comment[nb]=S/MIME sertifiseringsforespørsel
Comment[nds]=Anfraag för en S/MIME-Zertifikaat
Comment[nl]=S/MIME-certificaatverzoek
Comment[nn]=S/MIME-sertifiseringsførespurnad
Comment[nso]=Kgopelo ya Kgonthisiso ya S/MIME
Comment[pa]=S/MIME ਸਰਟੀਫਕੇਟ ਲੋੜੀਦਾ ਹੈ
Comment[pl]=Prośba o certyfikat S/MIME
Comment[pt]=Pedido de certificação de S/MIME
Comment[pt_BR]=Requisição do certificado S/MIME
Comment[ro]=Cerere de certificare S/MIME
Comment[ru]=Запрос на сертификат S/MIME
Comment[rw]=Igisabwa cy'Itanga-mpamyabushobozi S/MIME
Comment[se]=S/MIME-duođaštusbivdda
Comment[sk]=Žiadosť o S/MIME certifikáciu
Comment[sl]=Prošnja za certificiranje S/MIME
Comment[sq]=Kërkesë për Vërtetim nga S/MIME
Comment[sr]=S/MIME захтев за сертификацију
Comment[sr@Latn]=S/MIME zahtev za sertifikaciju
Comment[sv]=S/MIME-certifikatbegäran
Comment[ta]=S/MIME சான்றிதழ் கோரிக்கை
Comment[tg]=Дархости гувоҳномаи S/MIME
Comment[tr]=S/MIME Sertifika İsteği
Comment[tt]=S/MIME Tanıqlıq Soraw
Comment[uk]=Запит сертифікації S/MIME
Comment[uz]=S/MIME сертификат талаби
Comment[ven]=Khumbelo ya sethifikheithi tsha PKCS#12
Comment[wa]=Dimande d' acertinaedje S/MIME
Comment[xh]=S/MIME Isicelo Soqinisekiso
Comment[zh_CN]=S/MIME 认证请求
Comment[zh_HK]=S/MIME 認證請求
Comment[zh_TW]=S/MIME 認證請求
Comment[zu]=Isitifiketi Sesicelo se-S/MIME
[Property::X-KDE-NativeExtension]
Type=QString
Value=.p10
