[Desktop Entry]
Encoding=UTF-8
Type=MimeType
MimeType=application/pkcs7-mime
Icon=encrypted
Patterns=*.p7m;*.P7M;*.p7c;*.P7C
Comment=PKCS#7 (S/MIME) Formatted Data
Comment[af]=Pkcs#7 (S/Mime) Geformateerde Data
Comment[ar]=PKCS#7 (S/MIME) بيانات مهيئة
Comment[az]=PKCS#7 (S/MIME) Formatlı Data
Comment[bg]=Форматирани данни PKCS#7 (S/MIME)
Comment[bn]=PKCS#7 (S/MIME) ফর্ম্যাট করা তথ্য
Comment[bs]=PKCS#7 (S/MIME) formatirani podaci
Comment[ca]=Dades formatades PKCS#7 (S/MIME)
Comment[cs]=Formátovaná data PKCS#7 (S/MIME)
Comment[cy]=Data wedi'i Fformatio yn ol PKCS#7 (S/MIME)
Comment[da]=PKCS#7-formateret data (S/MIME)
Comment[de]=PKCS#7-formatierte Daten (S/MIME)
Comment[el]=PKCS#7 (S/MIME) μορφοποιημένα δεδομένα
Comment[eo]=PKCS#7 (S/MIME) formatitaj datoj
Comment[es]=Datos formateados PKCS#7 (S/MIME)
Comment[et]=PKCS#7 (S/MIME) vormindatud andmed
Comment[eu]=PKCS#7 (S/MIME) datu formateatuak
Comment[fa]=داده‌ی قالب‌بندی شده‌ی PKCS شماره‌ی ۷ (S/MIME)
Comment[fi]=PKCS#7 (S/MIME) -muotoinen tieto
Comment[fr]=Données formatées PKCS#7 (S/MIME)
Comment[fy]=PKCS#7-opmakke data (S/MIME)
Comment[ga]=Sonraí i bhformáid PKCS#7 (S/MIME)
Comment[gl]=Dados Formateados PKCS#7 (S/MIME)
Comment[he]=נתונים בתבנית PKCS#7 (S/MIME)
Comment[hi]=PKCS#7 (S/MIME) फार्मेटेड डाटा
Comment[hr]=PKCS#7 (S/MIME) formatirani podaci
Comment[hu]=PKCS#7 (S/MIME) formázott adatok
Comment[is]=PKCS#7 (S/MIME) formuð gögn
Comment[it]=Dati formattati PKCS#7 (S/MIME)
Comment[ja]=PKCS#7 (S/MIME) フォーマットデータ
Comment[km]=ទិន្នន័យទ្រង់ទ្រាយ PKCS#7 (S/MIME)
Comment[ko]=PKCS#7 (S/마임) 형식 자료
Comment[lb]=PKCS#7 (S/MIME)-formatéiert Donnéeën
Comment[lt]=PKCS#7 (S/MIME) formatuoti duomenys
Comment[lv]=PKCS#7 (S/MIME) formatēti dati
Comment[mk]=PKCS#7 (S/MIME) форматирани податоци
Comment[mn]=PKCS#7 (S/MIME) Хэлбэржсэн өгөгдөл
Comment[ms]=Data Diformat PKCS#7 (S/MIME)
Comment[mt]=Data fformattjata PKCS#7 (S/MIME)
Comment[nb]=PKCS#7 (S/MIME) Formatert data
Comment[nds]=mit PKCS#7 (S/MIME) formateert Daten
Comment[nl]=PKCS#7-opgemaakte data (S/MIME)
Comment[nn]=PKCS#7-formaterte data (S/MIME)
Comment[nso]=Data yeo e Hlotswego ka (S/MIME) PKCS#7
Comment[pa]=PKCS#7 (S/MIME) ਫਾਰਮਿਟਿਡ ਡਾਟਾ
Comment[pl]=Dane formatowane PKCS#7 (S/MIME)
Comment[pt]=Dados Formatados em PKCS#7 (S/MIME)
Comment[pt_BR]=Dados formatados PKCS#7 (S/MIME)
Comment[ro]=Date formatate PKCS#7 (S/MIME)
Comment[ru]=Форматированные данные PKCS#7 (S/MIME)
Comment[rw]=PKCS#7 (S/MIME) byahaye imiterere Ibyatanzwe 
Comment[se]=Dáhta PKCS#7 (S/MIME)-formáhtas
Comment[sk]=Dáta formátované ako PKCS#7 (S/MIME)
Comment[sl]=Oblikovani podatki PKCS#7 (S/MIME)
Comment[sr]=PKCS#7 (S/MIME) форматирани подаци
Comment[sr@Latn]=PKCS#7 (S/MIME) formatirani podaci
Comment[sv]=PKCS#7 (S/MIME) formaterad data
Comment[ta]=PKCS#7 (S/MIME) வடிவமைக்கப்பட்ட தரவு
Comment[tg]=#7 (S/MIME) шумораи PKCS додаи қолаббандшуда
Comment[tr]=PKCS#7 (S/MIME) Biçimli Verisi
Comment[tt]=PKCS#7 (S/MIME) Qalıplı Birem
Comment[uk]=Дані у форматі PKCS#7 (S/MIME)
Comment[uz]=PKCS#7 (S/MIME) форматланган маълумот
Comment[ven]=PKCS#7 (S/MIME) Data yo vhumbeaho
Comment[xh]=PKCS#7 (S/MIME) Data Efomatiweyo
Comment[zh_CN]=PKCS#7 (S/MIME) 格式化数据
Comment[zh_HK]=PKCS#7 (S/MIME) 格式資料
Comment[zh_TW]=PKCS#7 (S/MIME) 格式資料
Comment[zu]=Idata Efakwe kwisakhelo ye-PKCS#7 (S/MIME) 
