[Desktop Entry]
Encoding=UTF-8
Type=MimeType
MimeType=application/sieve
Patterns=*.sieve;*.siv
Comment=SIEVE Mail Filter Script
Comment[x-test]=xxSIEVE Mail Filter Scriptxx

[Property::X-KDE-text]
Type=bool
Value=true
