[Desktop Entry]
Type=MimeType
MimeType=application/sieve
Patterns=*.sieve;*.siv
Comment=SIEVE Mail Filter Script
Comment[af]=SIEVE Pos Filter Skrip
Comment[ar]=نص برمجي لمرشح بريد SIEVE
Comment[az]=SIEVE Poçt Filtr Skripti
Comment[be]=Сцэнар парадкавання пошты SIEVE
Comment[bg]=Скрипт за филтриране на е-поща SIEVE
Comment[bn]=SIEVE মেইল ফিল্টার স্ক্রিপ্ট
Comment[bs]=SIEVE skripta za filtriranje maila
Comment[ca]=Script per al filtre de correu SIEVE
Comment[cs]=Skript pro filtrování pošty SIEVE
Comment[csb]=Skript pòcztowegò filtra SIEVE
Comment[cy]=Sgript Hidlo Ebost SIEVE
Comment[da]=SIEVE Mail-filterscript
Comment[de]=Sieve Mail-Filter-Skript
Comment[el]=Σενάριο φίλτρου mail SIEVE
Comment[eo]=SIEVE-retpoŝtfiltrilo
Comment[es]=Script de filtro de correo SIEVE
Comment[et]=SIEVE e-kirjade filtri skript
Comment[eu]=Posta iragazteko SIEVE script-a
Comment[fa]=دست‌نوشتۀ پالایۀ نامۀ SIEVE
Comment[fi]=SIEVE-sähköpostisuodin
Comment[fr]=Script de filtre de courriel SIEVE
Comment[fy]=Filterskript foar SIEVE Mail
Comment[gl]=Script de Filtro de Correo SIEVE
Comment[he]=תסריט מסנן דואר SIEVE
Comment[hi]=SIEVE मेल फ़िल्टर स्क्रिप्ट
Comment[hr]=SIEVE skripta filtra pošte
Comment[hu]=SIEVE e-mail-szűrő szkript
Comment[id]=Skrip Filter Mail SIEVE
Comment[is]=SIEVE Póstsíu skrifta
Comment[it]=Script filtro di posta SIEVE
Comment[ja]=SIEVE メールフィルタスクリプト
Comment[ka]=SIEVE საფოსტო ფილტრის სკრიპტი
Comment[kk]=SIEVE пошта сүзгі скрипті
Comment[km]=ស្គ្រីប SIEVE Mail Filter
Comment[ko]=SIEVE 편지 거르개 스크립트
Comment[lb]=Skript fir den SIEVE-Mailfilter
Comment[lt]=SIEVE pašto filtro scenarijus
Comment[lv]=SIEVE pasta filtra skripts
Comment[mk]=Скрипта со SIEVE-филтер за пошта
Comment[mn]=Sieve-скрипт: Захиа шүүлтүүр
Comment[ms]=Skrip Penapis Mel SIEVE
Comment[mt]=Skritt ta' filtri tal-imejl SIEVE
Comment[nb]=SIEVE postfilterskript
Comment[nds]=Filterskript för SIEVE-Mail
Comment[ne]=SIEVE पत्र फिल्टर स्क्रिप्ट
Comment[nl]=Filtercript voor SIEVE Mail
Comment[nn]=SIEVE e-postfilterskript
Comment[nso]=Thswaelo ya Sesekodi sa Poso ya SIEVE
Comment[pa]=SIEVE ਮੇਲ ਫਿਲਟਰ ਸਕ੍ਰਿਪਟ
Comment[pl]=Skrypt filtra pocztowego SIEVE
Comment[pt]='Script' SIEVE de filtragem de correio
Comment[pt_BR]=Filtro de E-mail SIEVE
Comment[ro]=Script filtru de mail SIEVE
Comment[ru]=Скрипт почтового фильтра SIEVE
Comment[rw]=Agaporogaramu Muyunguruzi k'Ubutumwa SIEVE
Comment[se]=SIEVE reivviid filterastinskripta
Comment[sk]=Filtrovací skript pošty SIEVE
Comment[sl]=Skripta poštnega filtra SIEVE
Comment[sq]=Skriptë për Filtirm i Letrave Elektronike nga SIEVE
Comment[sr]=SIEVE скрипта за филтрирање поште
Comment[sr@Latn]=SIEVE skripta za filtriranje pošte
Comment[sv]=SIEVE-skript för e-postfiltrering
Comment[ta]=SIEVE அஞ்சல் வடிகட்டிக் கிறுவல்
Comment[te]=SIEVE తపాలా గలని స్క్రిప్ట్
Comment[tg]=SIEVE Почтаи Филтри скрипт
Comment[th]=สคริปต์กรองจดหมาย SIEVE
Comment[tr]=SIEVE E-posta Filtre Betiği
Comment[tt]=Xäbär Sözüçe SIEVE-Ämerlek
Comment[uk]=Сценарій фільтру для електронної пошти SIEVE
Comment[uz]=SIEVE xatni filterlash skripti
Comment[uz@cyrillic]=SIEVE хатни филтерлаш скрипти
Comment[ven]=Tshikiputi tsha filithara ya meili ya SIEVE
Comment[vi]=Tấp lệnh lọc thư SIEVE.
Comment[xh]=Isihluzi Sombhalo oshicilwe phantsi Seposi se SIEVE
Comment[zh_CN]=SIEVE 邮件过滤脚本
Comment[zh_HK]=SIEVE 郵件過濾程式
Comment[zh_TW]=SIEVE 郵件過濾程式
Comment[zu]=Isikripti Sohluzo Lweposi le-SIEVE

[Property::X-KDE-text]
Type=bool
Value=true
