[Desktop Entry]
Encoding=UTF-8
Type=MimeType
MimeType=application/vnd.mozilla.xul+xml
X-KDE-IsAlso=text/xml
Icon=netscape_doc
Patterns=*.xul;*.XUL;
Comment=Mozilla XUL file
Comment[be]=Файл Mozilla XUL
Comment[bg]=Файл XUL на Мозила
Comment[ca]=Fitxer XUL de Mozilla
Comment[cs]=Soubor Mozilla XUL
Comment[cy]=Ffeil XUL Mozilla
Comment[da]=Mozilla XUL-fil
Comment[de]=Mozilla-XUL-Datei
Comment[el]=Αρχείο Mozilla XUL
Comment[es]=Archivo XUL de Mozilla
Comment[et]=Mozilla XUL fail
Comment[fi]=Mozilla XUL-tiedosto
Comment[fr]=Fichier XUL Mozilla
Comment[he]=קובץ XUL של מוזילה
Comment[hu]=Mozilla XUL fájl
Comment[it]=File XUL Mozilla
Comment[nl]=Mozilla XUL-bestand
Comment[pt]=Ficheiro XUL do Mozilla
Comment[pt_BR]=Arquivo XUL do Mozilla
Comment[sl]=Datoteka Mozilla XUL
Comment[sr]=Mozilla XUL fajl
Comment[sv]=Mozilla XUL-fil
Comment[tr]=Mozilla XUL dosyası
Comment[uk]=Файл Mozilla XUL
Comment[uz]=Mozilla XUL-файли
Comment[xx]=xxMozilla XUL filexx
