[Desktop Entry]
Encoding=UTF-8
Type=MimeType
MimeType=application/vnd.oasis.opendocument.text
Patterns=*.odt;*.ODT
Icon=wordprocessing
Comment=OASIS OpenDocument Text
Comment[x-test]=xxOASIS OpenDocument Textxx
[Property::X-KDE-NativeExtension]
Type=QString
Value=.odt
