[Desktop Entry]
Encoding=UTF-8
Type=MimeType
MimeType=application/vnd.oasis.opendocument.spreadsheet
Patterns=*.ods;*.ODS
Icon=spreadsheet
Comment=OASIS OpenDocument SpreadSheet
Comment[af]=OASIS Oop Dokument Spreiblad
Comment[bg]=Електронна таблица на OASIS OpenDocument
Comment[bn]=OASIS ওপেন-ডকুমেন্ট স্প্রেডশিট
Comment[br]=Loger OpenOffice.org OASIS
Comment[ca]=Full de càlcul OASIS OpenDocument
Comment[cs]=OASIS OpenDocument tabulka
Comment[da]=OASIS OpenDocument regneark
Comment[de]=OASIS OpenDocument-Kalkulationstabelle
Comment[el]=Λογιστικό φύλλο του OASIS OpenDocument
Comment[es]=Hoja de cálculo de OpenDocument OASIS
Comment[et]=OASIS-e OpenDocument arvutustabel
Comment[eu]=OASIS OpenDocument kalkulu-orria
Comment[fi]=OASIS OpenDocument -taulukko
Comment[fr]=Feuille de calcul OASIS OpenDocument
Comment[gl]=Folla de Cálculo de OASIS OpenDocument
Comment[hi]=ओएसिस ओपनडाकुमेंट स्प्रेडशीट
Comment[hu]=OASIS-munkafüzet
Comment[is]=OASIS OpenDocument töflureiknir
Comment[it]=Foglio di calcolo OASIS OpenDocument
Comment[ja]=OASIS OpenDocument 表計算
Comment[ka]=OASIS OpenDocument ცხრილი
Comment[km]=សៀវភៅបញ្ជី OASIS OpenDocument
Comment[lb]=OASIS-OpenDocument-Tabellëblat
Comment[lt]=OASIS OpenDocument elektroninė lentelė
Comment[nb]=OASIS Åpent dokument regneark
Comment[nds]=Tabelldokment vun OASIS OpenDocument
Comment[nl]=OASIS OpenDocument werkblad
Comment[nn]=OASIS OpenDocument-rekneark
Comment[pa]=OASIS OpenDocument ਸਾਰਣੀਕਾਰ
Comment[pl]=Dokument arkusza kalkulacyjnego OASIS OpenDocument
Comment[pt]=Folha de Cálculo OASIS OpenDocument
Comment[pt_BR]=Planilha OpenDocument OASIS
Comment[ro]=Foaie de calcul tabelar OpenDocument OASIS
Comment[ru]=Таблица OASIS OpenDocument
Comment[rw]=Urupapurorusesuye GufunguraInyandiko OASIS
Comment[se]=OASIS OpenDocument-rehkenastinárka
Comment[sk]=Tabuľka OASIS OpenDocument
Comment[sl]=Preglednica OASIS OpenDocument
Comment[sr]=OASIS OpenDocument унакрсна табела
Comment[sr@Latn]=OASIS OpenDocument unakrsna tabela
Comment[sv]=OASIS OpenDocument kalkylark
Comment[ta]=OASIS திறந்த ஆவண விரிதாள்
Comment[tg]=Ҷадвали Электронии OASIS 
Comment[tr]=OASIS OpenDocument Hesap Tablosu
Comment[tt]=OASIS OpenDocument İsäpcäymäse
Comment[uk]=Електронна таблиця OASIS OpenDocument
Comment[uz]=OASIS OpenDocument электрон жадвали
Comment[xx]=xxOASIS OpenDocument SpreadSheetxx
Comment[zh_CN]=OASIS OpenDocument 电子表格
[Property::X-KDE-NativeExtension]
Type=QString
Value=.ods
