[Desktop Entry]
Encoding=UTF-8
Type=MimeType
MimeType=application/vnd.oasis.opendocument.presentation-template
Patterns=*.otp;*.OTP
Icon=presentation
Comment=OASIS OpenDocument Presentation Template
Comment[bg]=Шаблон за презентация на OASIS OpenDocument
Comment[da]=OASIS OpenDocument Præsentaionsskabelon
Comment[fr]=Modèle de présentation OASIS OpenDocument
Comment[hu]=OASIS-bemutatósablon
Comment[nds]=Präsentatschoonsvörlaag vun OASIS OpenDocument
Comment[nl]=OASIS OpenDocument presentatiesjabloon
Comment[pt]=Modelo de Apresentação OASIS OpenDocument
Comment[pt_BR]=Modelo de Apresentações do OpenDocument do OASIS
Comment[sv]=OASIS OpenDocument presentationsmall
Comment[ta]=OASIS திறந்த ஆவண முன்வைப்பு வார்ப்புரு
Comment[uk]=Шаблон презентації OASIS OpenDocument
Comment[zh_CN]=OASIS OpenDocument 演示文稿模板
[Property::X-KDE-NativeExtension]
Type=QString
Value=.otp
