[Desktop Entry]
Type=MimeType
MimeType=application/vnd.palm
Icon=wordprocessing
Patterns=*.pdb;*.PDB;*.prc;*.PRC;
Comment=Palm Document
Comment[af]=Palm Dokument
Comment[ar]=مستند Palm
Comment[be]=Дакумент Palm
Comment[br]=Teul Palm
Comment[ca]=Document Palm
Comment[cs]=Palm dokument
Comment[cy]=Dogfen Palm
Comment[da]=Palm-dokument
Comment[de]=Palm-Dokument
Comment[el]=Έγγραφο Palm
Comment[eo]=Palm-dokumento
Comment[es]=Documento Palm
Comment[et]=Palmi dokument
Comment[eu]=Palm dokumentua
Comment[fa]=سند رایانۀ جیبی
Comment[fi]=Palm-asiakirja
Comment[fr]=Document Palm
Comment[fy]=Palm Dokumint
Comment[ga]=Cáipéis Palm
Comment[gl]=Documento Palm
Comment[he]=מסמך Palm
Comment[hr]=Palm dokument
Comment[hu]=Palm-dokumentum
Comment[is]=Palm skjal
Comment[it]=Documento Palm
Comment[ja]=Palm ドキュメント
Comment[kk]=Palm құжаты
Comment[km]=ឯកសារ Palm
Comment[ko]=팜 문서
Comment[lb]=Palm-Dokument
Comment[lt]=Palm dokumentas
Comment[lv]=Palm dokuments
Comment[mk]=Palm-документ
Comment[ms]=Dokumen Palm
Comment[nb]=Palm-dokument
Comment[nds]=Palm-Dokment
Comment[ne]=हाते कागजात
Comment[nl]=Palm-document
Comment[nn]=Palm-dokument
Comment[pa]=Palm ਦਸਤਾਵੇਜ਼
Comment[pl]=Dokument Palma
Comment[pt]=Documento do Palm
Comment[pt_BR]=Document Palm
Comment[ro]=Document Palm
Comment[ru]=Документ Palm
Comment[se]=Palm-dokumeanta
Comment[sl]=Dokument za Palm
Comment[sr]=Palm документ
Comment[sr@Latn]=Palm dokument
Comment[sv]=Palm-dokument
Comment[ta]=Palm ஆவணம்
Comment[tg]=Хуҷҷати Palm
Comment[tr]=Palm Belgesi
Comment[uk]=Документ Palm
Comment[uz]=Palm ҳужжати
Comment[x-test]=xxPalm Documentxx
Comment[zh_HK]=Palm 文件
Comment[zh_TW]=Palm 文件
