[Desktop Entry]
Encoding=UTF-8
Comment=OpenOffice.org Text Document
Comment[el]=Έγγραφο κειμένου του OpenOffice.org
Comment[fr]=Document texte OpenOffice.org
Comment[x-test]=xxOpenOffice.org Text Documentxx
MimeType=application/vnd.sun.xml.writer
Type=MimeType
Icon=wordprocessing
Patterns=*.sxw;*.SXW;
[Property::X-KDE-NativeExtension]
Type=QString
Value=.sxw
