[Desktop Entry]
Encoding=UTF-8
Type=MimeType
MimeType=application/vnd.ms-xpsdocument
Patterns=*.xps;*.XPS
Icon=wordprocessing
Comment=Microsoft XML Paper Specification Document
