[Desktop Entry]
Encoding=UTF-8
Comment=OpenOffice.org Database
Comment[el]=Βάση δεδομένων του OpenOffice.org
Comment[fr]=Base de données OpenOffice.org
Comment[x-test]=xxOpenOffice.org Databasexx
Icon=spreadsheet
Type=MimeType
Patterns=*.odb;*.ODB;
MimeType=application/vnd.sun.xml.base
[Property::X-KDE-NativeExtension]
Type=QString
Value=.odb
