[Desktop Entry]
Encoding=UTF-8
Comment=OpenOffice.org Database
Comment[af]=OpenOffice.org Databasis
Comment[bg]=База от данни на OpenOffice.org
Comment[br]=StlennvonOpenOffice.org
Comment[cs]=Databáze OpenOffice.org
Comment[da]=OpenOffice.org database
Comment[de]=OpenOffice.org-Datenbank
Comment[el]=Βάση δεδομένων του OpenOffice.org
Comment[es]=Base de datos de OpenOffice.org
Comment[et]=OpenOffice.org-i andmebaas
Comment[fi]=OpenOffice.org-tietokanta
Comment[fr]=Base de données OpenOffice.org
Comment[ga]=Bunachar Sonraí OpenOffice.org
Comment[gl]=Base de Dados de OpenOffice.org
Comment[he]=בסיס נתונים של OpenOffice.org
Comment[it]=Banca dati OpenOffice.org
Comment[lt]=OpenOffice.org duomenų bazė
Comment[nds]=OpenOffice.org-Datenbank
Comment[nl]=OpenOffice.org-database
Comment[pa]=OpenOffice.org ਡਾਟਾਬੇਸ
Comment[pl]=Baza danych OpenOffice.org
Comment[pt]=Base de Dados do OpenOffice.org
Comment[pt_BR]=Banco de Dados do OpenOffice.org
Comment[ru]=База данных OpenOffice.org
Comment[rw]=OpenOffice.org Ububikoshingiro 
Comment[sr]=OpenOffice.org-ова база података
Comment[sr@Latn]=OpenOffice.org-ova baza podataka
Comment[sv]=OpenOffice.org databas
Comment[ta]=ழ-ஓப்பன்ஆபீஸ் தரவுதளம்
Comment[tr]=OpenOffice.org Veritabanı
Comment[uk]=База даних OpenOffice.org
Comment[xx]=xxOpenOffice.org Databasexx
Comment[zh_CN]=OpenOffice.org 数据库
Icon=spreadsheet
Type=MimeType
Patterns=*.odb;*.ODB;
MimeType=application/vnd.sun.xml.base
[Property::X-KDE-NativeExtension]
Type=QString
Value=.odb
