[Desktop Entry]
Encoding=UTF-8
Type=MimeType
MimeType=application/vnd.stardivision.writer-global
Patterns=*.sgl;*.SGL;
Icon=wordprocessing
Comment=StarOffice Writer Master Document
Comment[af]=StarOffice skrywer Meester Dokument
Comment[bg]=Главен документ на StarOffice Writer
Comment[bn]=স্টার-অফিস রাইটার মাস্টার নথী
Comment[br]=Teul mestr StarOffice Writer
Comment[bs]=StarOffice Writer glavni dokument
Comment[ca]=Document mestre de l'StarOffice Writer
Comment[cs]=Hlavní dokument aplikace StarOffice Writer
Comment[cy]=Dogfen Feistr StarOffice Writer
Comment[da]=StarOffice Writer masterdokument
Comment[de]=Vorlage für StarOffice Writer
Comment[el]=Κύριο έγγραφο του StarOffice Writer
Comment[eo]=Steloficeja skribila ĉefdokumento
Comment[es]=Documentos maestros de escritura de StarOffice
Comment[et]=StarOffice Writer'i peadokument
Comment[eu]=StarOffice Writer dokumentu maisuak
Comment[fi]=StarOffice Writer -pääasiakirja
Comment[fr]=Document-maître StarOffice Writer
Comment[fy]=StarOffice Writer Haad Dokumint
Comment[gl]=Documento Mestre de StarOffice Writer
Comment[he]=מסמך אב של StarOffice Writer
Comment[hi]=ओपनआफिस राइटर मुख्य दस्तावेज़
Comment[hu]=StarOffice Writer-fődokumentum
Comment[is]=StarOffice Writer yfirskjal
Comment[it]=Documento master StarOffice Writer
Comment[ja]=StarOffice Writer マスタードキュメント
Comment[km]=ឯកសារ​មេ StarOffice Writer
Comment[ko]=스타오피스 글틀 기본 문서
Comment[lt]=StarOffice Writer „master“ dokumentas
Comment[mk]=Главен документ на StarOffice Writer 
Comment[ms]=StarOffice Dokumen Writer Utama
Comment[nb]=StarOffice Writer-hovuddokument
Comment[nds]=Vörlaag-Dokment vun Writer (StarOffice)
Comment[nl]=StarOffice Writer-hoofddocument
Comment[nn]=StarOffice Writer-hovuddokument
Comment[pa]=ਸਟਾਰਆਫਿਸ Writer ਮਾਸਟਰ ਦਸਤਾਵੇਜ਼
Comment[pl]=Dokument główny StarOffice Writera
Comment[pt]=Documento Mestre do Writer do StarOffice
Comment[pt_BR]=Documento Texto Mestre do StarOffice
Comment[ro]=Document master StarOffice Writer
Comment[ru]=Мастер-документ StarOffice Writer
Comment[rw]=StarOffice Writer Master Inyandiko
Comment[se]=StarOffice Writer-váldodokumeanta
Comment[sk]=Hlavný dokument StarOffice Writer
Comment[sl]=Glavni dokument StarOffice Writer
Comment[sr]=StarOffice Writer-ов главни документ
Comment[sr@Latn]=StarOffice Writer-ov glavni dokument
Comment[sv]=StarOffice Writer-huvuddokument
Comment[ta]=ஸ்டார்ஆபீஸ் ரைட்டர் மூல ஆவணம்
Comment[tg]=Санади устоди нависаи StarOffice
Comment[tr]=StarOffice Writer Ana Belgesi
Comment[uk]=Головний документ StarOffice Writer
Comment[uz]=StarOffice Writer бош ҳужжати
Comment[xx]=xxStarOffice Writer Master Documentxx
Comment[zh_CN]=StarOffice Writer 主文档
[Property::X-KDE-NativeExtension]
Type=QString
Value=.sgl
