[Desktop Entry]
Encoding=UTF-8
Type=MimeType
MimeType=application/vnd.oasis.opendocument.formula
Patterns=*.odf;*.ODF
Icon=formula
Comment=OASIS OpenDocument Formula
Comment[af]=OASIS Oop Dokument formule
Comment[bg]=Формула на OASIS OpenDocument
Comment[bn]=OASIS ওপেন-ডকুমেন্ট ফর্মুলা
Comment[br]=Formulenn OpenDocument OASIS
Comment[ca]=Fòrmula OASIS OpenDocument
Comment[cs]=OASIS OpenDocument vzorec
Comment[da]=OASIS OpenDocument formel
Comment[de]=OASIS OpenDocument-Formel
Comment[el]=Μαθηματική έκφραση OASIS OpenDocument
Comment[es]=Fórmula de OpenDocument OASIS
Comment[et]=OASIS-e OpenDocument valem
Comment[eu]=OASIS OpenDocument formula
Comment[fi]=OASIS OpenDocument -kaava
Comment[fr]=Formule OASIS OpenDocument
Comment[fy]=OASIS OpenDocument Formule
Comment[gl]=Fórmula OASIS OpenDocument
Comment[hi]=ओएसिस ओपनडाकुमेंट फ़ॉर्मूला
Comment[hu]=OASIS-képlet
Comment[is]=OASIS OpenDocument formúla
Comment[it]=Formula OASIS OpenDocument
Comment[km]=រូបមន្ត OASIS OpenDocument
Comment[lt]=OASIS OpenDocument rormulė
Comment[nb]=OASIS Åpent dokumentformel
Comment[nds]=Formel vun OASIS OpenDocument
Comment[nl]=OASIS OpenDocument formule
Comment[nn]=OASIS OpenDocument-diagram
Comment[pa]=OASIS OpenDocument ਫਾਰਮੂਲਾ
Comment[pl]=Dokument równania OASIS OpenDocument
Comment[pt]=Formula OASIS OpenDocument
Comment[pt_BR]=Fórmula do OpenDOcument do OASIS
Comment[ro]=Formulă OpenDocument OASIS
Comment[ru]=Формула OASIS OpenDocument
Comment[rw]=Inzira GufunguraInyandiko OASIS
Comment[se]=OASIS OpenDocument-hápmu
Comment[sk]=Vzorec OASIS OpenDocument
Comment[sl]=Formula OASIS OpenDocument
Comment[sr]=OASIS OpenDocument формула
Comment[sr@Latn]=OASIS OpenDocument formula
Comment[sv]=OASIS OpenDocument formel
Comment[ta]=OASIS திறந்த ஆவண சமன்பாடு
Comment[tg]=Формулаи Хуҷҷати OASIS
Comment[tr]=OASIS OpenDocument Formülü
Comment[uk]=Формула OASIS OpenDocument
Comment[xx]=xxOASIS OpenDocument Formulaxx
Comment[zh_CN]=OASIS OpenDocument 公式
[Property::X-KDE-NativeExtension]
Type=QString
Value=.odf
