[Desktop Entry]
Encoding=UTF-8
Type=MimeType
MimeType=application/vnd.oasis.opendocument.text-template
Patterns=*.ott;*.OTT
Icon=wordprocessing
Comment=OASIS OpenDocument Text Template
Comment[bg]=Шаблон за текстов документ на OASIS OpenDocument
Comment[da]=OASIS OpenDocument tekstskabelon
Comment[fr]=Modèle de document texte OASIS OpenDocument
Comment[hu]=OASIS-dokumentumsablon
Comment[nds]=Textdokment-Vörlaag vun OASIS OpenDocument
Comment[nl]=OpenOffice.org tekstsjabloon
Comment[pt]=Modelo de Texto OASIS OpenDocument
Comment[pt_BR]=Modelo de Documento de Texto do Opendocument OASIS
Comment[sv]=OASIS OpenDocument textmall
Comment[ta]=OASIS திறந்த ஆவண உரை வார்ப்புரு
Comment[uk]=Шаблон текстового документу OASIS OpenDocument
Comment[zh_CN]=OASIS OpenDocument 文本文档模板
[Property::X-KDE-NativeExtension]
Type=QString
Value=.ott
