[Desktop Entry]
Encoding=UTF-8
Type=MimeType
MimeType=application/vnd.oasis.opendocument.presentation
Patterns=*.odp;*.ODP
Icon=presentation
Comment=OASIS OpenDocument Presentation
Comment[bg]=Презентация на OASIS OpenDocument
Comment[ca]=Presentació OASIS OpenDocument
Comment[cs]=OASIS OpenDocument prezentace
Comment[da]=OASIS OpenDocument præsentation
Comment[de]=OASIS OpenDocument Präsentation
Comment[et]=OASIS-e OpenDocument esitlus
Comment[eu]=OASIS OpenDocument aurkezpena
Comment[fr]=Présentation OASIS OpenDocument
Comment[hu]=OASIS-bemutató
Comment[is]=OASIS OpenDocument kynning
Comment[lt]=OASIS OpenDocument pateiktis
Comment[nb]=OASIS Åpent dokumentpresentasjon
Comment[nds]=Präsentatschoon vun OASIS OpenDocument
Comment[nl]=OASIS OpenDocument presentatie
Comment[nn]=OASIS OpenDocument-presentasjon
Comment[pt]=Apresentação OASIS OpenDocument
Comment[pt_BR]=Apresentações do OpenDocumento do OASIS
Comment[ro]=Prezentare OpenDocument OASIS
Comment[ru]=Презентация OASIS OpenDocument
Comment[se]=OASIS OpenDocument-presentašuvdna
Comment[sr]=OASIS OpenDocument презентација
Comment[sr@Latn]=OASIS OpenDocument презентација
Comment[sv]=OASIS OpenDocument presentation
Comment[ta]=OASIS திறந்த ஆவண முன்வைப்பு
Comment[tr]=OASIS OpenDocument Sunum
Comment[uk]=Презентація OASIS OpenDocument
Comment[xx]=xxOASIS OpenDocument Presentationxx
Comment[zh_CN]=OASIS OpenDocument 演示文稿
[Property::X-KDE-NativeExtension]
Type=QString
Value=.odp
