[Desktop Entry]
Encoding=UTF-8
Type=MimeType
MimeType=application/vnd.oasis.opendocument.graphics
Patterns=*.odg;*.ODG
Icon=drawing
Comment=OASIS OpenDocument Graphics
Comment[bg]=Графика на OASIS OpenDocument
Comment[ca]=Gràfic OASIS OpenDocument
Comment[cs]=OASIS OpenDocument kresba
Comment[da]=OASIS OpenDocument-grafik
Comment[de]=OASIS OpenDocument Graphik
Comment[et]=OASIS-e OpenDocument joonistus
Comment[eu]=OASIS OpenDocument grafikoak
Comment[fr]=Graphiques OASIS OpenDocument
Comment[hu]=OASIS-ábra
Comment[is]=OASIS OpenDocument grafík
Comment[lt]=OASIS OpenDocument grafika
Comment[nb]=OASIS Åpen dokument grafikk
Comment[nds]=Grafik vun OASIS OpenDocument
Comment[nl]=OASIS OpenDocument illustraties
Comment[nn]=OASIS OpenDocument-teikning
Comment[pt]=Desenho OASIS OpenDocument
Comment[pt_BR]=Gráficos do OpenDocument OASIS
Comment[ro]=Grafică OpenDocument OASIS
Comment[ru]=График OASIS OpenDocument
Comment[se]=OASIS OpenDocument-grafihkka
Comment[sl]=Grafika OASIS OpenDocument
Comment[sr]=OASIS OpenDocument графика
Comment[sr@Latn]=OASIS OpenDocument графика
Comment[sv]=OASIS OpenDocument grafik
Comment[ta]=OASIS திறந்த ஆவண சித்திரங்கள்
Comment[tr]=OASIS OpenDocument Grafik
Comment[uk]=Графічне зображення OASIS OpenDocument
Comment[xx]=xxOASIS OpenDocument Graphicsxx
Comment[zh_CN]=OASIS OpenDocument 图形
[Property::X-KDE-NativeExtension]
Type=QString
Value=.odg
