[Desktop Entry]
Type=MimeType
MimeType=application/vnd.oasis.opendocument.graphics-flat-xml
Patterns=*.fodg;*.FODG
Icon=drawing
Comment=OASIS OpenDocument Graphics (Flat XML)
Comment[af]=OASIS Oop Dokument Grafieke (Flat XML)
Comment[be]=Графіка OASIS OpenDocument (Flat XML)
Comment[bg]=Графика на OASIS OpenDocument (Flat XML)
Comment[bn]=OASIS ওপেন-ডকুমেন্ট গ্রাফিক্স (Flat XML)
Comment[br]=Skeudenn OpenOffice.org OASIS (Flat XML)
Comment[bs]=OASIS OpenDocument crtež (Flat XML)
Comment[ca]=Gràfic OASIS OpenDocument (Flat XML)
Comment[cs]=OASIS OpenDocument kresba (Flat XML)
Comment[csb]=Céchùnk OASIS OpenDocument (Flat XML)
Comment[cy]=Graffeg OASIS OpenDocument (Flat XML)
Comment[da]=OASIS OpenDocument-grafik (Flat XML)
Comment[de]=OASIS OpenDocument-Graphik (Eben XML)
Comment[el]=Γραφικά του OASIS OpenDocument (Flat XML)
Comment[eo]=OASIS OpenDocument Grafikajhoj (Flat XML)
Comment[es]=Gráfico de OpenDocument OASIS (Flat XML)
Comment[et]=OASIS-e OpenDocument joonistus (Flat XML)
Comment[eu]=OASIS OpenDocument grafikoak (Flat XML)
Comment[fa]=نگارۀ سندباز OASIS (Flat XML)
Comment[fi]=OASIS OpenDocument -piirros (Flat XML)
Comment[fr]=Graphiques OASIS OpenDocument (Flat XML)
Comment[fy]=OASIS OpenDocument grafyske foarstellings (Flat XML)
Comment[ga]=Grafaic OpenDocument OASIS (Flat XML)
Comment[gl]=Gráfico OASIS OpenDocument (Flat XML)
Comment[he]=גרפיקה של OASIS OpenDocument (Flat XML)
Comment[hi]=ओएसिस ओपनडाकुमेंट ग्राफ़िक्स (Flat XML)
Comment[hr]=OASIS OpenDocument grafike (Flat XML)
Comment[hu]=OASIS-ábra (Flat XML)
Comment[id]=Grafik OASIS OpenDocument (Flat XML)
Comment[is]=OASIS OpenDocument grafík (Flat XML)
Comment[it]=Disegno OASIS OpenDocument (Flat XML)
Comment[ja]=OASIS OpenDocument 図形描画 (Flat XML)
Comment[ka]=OASIS OpenDocument დიაგრამები (Flat XML)
Comment[kk]=OASIS OpenDocument суреті (Flat XML)
Comment[km]=ក្រាហ្វិក OASIS OpenDocument (Flat XML)
Comment[lb]=OASIS-OpenDocument-Grafik (Flat XML)
Comment[lt]=OASIS OpenDocument grafika (Flat XML)
Comment[lv]=OASIS OpenDocument grafika (Flat XML)
Comment[mk]=OASIS OpenDocument-графика (Flat XML)
Comment[ms]=Grafik OpenDocument OASIS (Flat XML)
Comment[nb]=OASIS Åpen dokument bilde (Flat XML)
Comment[nds]="OASIS OpenDocument"-Grafik (Flat XML)
Comment[ne]=OASIS खुला कागजात ग्राफिक्स (Flat XML)
Comment[nl]=OASIS OpenDocument illustraties (Flat XML)
Comment[nn]=OASIS OpenDocument-teikning (Flat XML)
Comment[pa]=OASIS OpenDocument ਗਰਾਫਿਕਸ (Flat XML)
Comment[pl]=Rysunek OASIS OpenDocument (Flat XML)
Comment[pt]=Desenho OASIS OpenDocument (Flat XML)
Comment[pt_BR]=Gráficos do OpenDocument OASIS (Flat XML)
Comment[ro]=Grafică OpenDocument OASIS (Flat XML)
Comment[ru]=Рисунок OASIS OpenDocument (Flat XML)
Comment[rw]=Ibishushanyo GufunguraInyandiko OASIS (Flat XML)
Comment[se]=OASIS OpenDocument-grafihkka (Flat XML)
Comment[sk]=Grafika OASIS OpenDocument (Flat XML)
Comment[sl]=Grafika OASIS OpenDocument (Flat XML)
Comment[sr]=OASIS OpenDocument графика (Flat XML)
Comment[sr@Latn]=OASIS OpenDocument grafika (Flat XML)
Comment[sv]=OASIS OpenDocument grafik (Flat XML)
Comment[ta]=OASIS திறந்த ஆவண சித்திரங்கள் (Flat XML)
Comment[te]=ఒయాసిస్ ఓపెన్ డాక్యుమెంట్ గ్రాఫిక్స్ (Flat XML)
Comment[tg]=Хуҷҷати графикии OASIS (Flat XML)
Comment[th]=เอกสารกราฟิก OASIS OpenDocument (Flat XML)
Comment[tr]=OASIS OpenDocument Grafik (Flat XML)
Comment[tt]=OASIS OpenDocument Sızımı (Flat XML)
Comment[uk]=Графічне зображення OASIS OpenDocument (Flat XML)
Comment[uz]=OASIS OpenDocument grafika (Flat XML)
Comment[uz@cyrillic]=OASIS OpenDocument графика (Flat XML)
Comment[vi]=Đồ họa OpenDocument OASIS (Flat XML)
Comment[zh_CN]=OASIS OpenDocument 图形 (Flat XML)
Comment[zh_HK]=OASIS OpenDocument 繪圖 (Flat XML)
Comment[zh_TW]=OASIS OpenDocument 圖形 (Flat XML)
[Property::X-KDE-NativeExtension]
Type=QString
Value=.fodg
