[Desktop Entry]
Encoding=UTF-8
Type=MimeType
MimeType=application/vnd.mozilla.xul+xml
X-KDE-IsAlso=text/xml
Icon=netscape_doc
Patterns=*.xul;*.XUL;
Comment=Mozilla XUL File
Comment[x-test]=xxMozilla XUL Filexx
