[Desktop Entry]
Encoding=UTF-8
Comment=OpenOffice.org Drawing Template
Comment[af]=OpenOffice.org Tekening Voorbeeld
Comment[be]=Шаблён малюнку OpenOffice.org
Comment[bg]=Шаблон на OpenOffice.org Drawing
Comment[bn]=ওপেন-অফিস.অর্গ ড্রয়িং টেম্‌প্লেট
Comment[br]=Patrom tresaner OpenOffice.org
Comment[bs]=OpenOffice.org šablon za crtež
Comment[ca]=Plantilla de dibuix d'OpenOffice.org
Comment[cs]=Šablona kresby aplikace OpenOffice.org
Comment[cy]=Patrymlun Darlun OpenOffice.org 
Comment[da]=OpenOffice.org tegningskabelon
Comment[de]=Zeichnungsvorlage für OpenOffice.org
Comment[el]=Πρότυπο σχεδίου του OpenOffice.org
Comment[eo]=Malfermoficeja desegnilŝablono
Comment[es]=Plantilla de dibujo de OpenOffice.org
Comment[et]=OpenOffice.org-i joonistusemall
Comment[eu]=OpenOffice.org marrazki txantiloia
Comment[fi]=OpenOffice.org-piirrospohja
Comment[fr]=Modèle de dessin OpenOffice.org
Comment[fy]=OpenOffice.org Drawing sjabloan
Comment[gl]=Modelo de Debuxo de OpenOffice.org
Comment[he]= תבניות ציור של ציור של OpenOffice.org
Comment[hi]=ओपनआफिस.ऑर्ग ड्राइंग टैम्प्लेट
Comment[hu]=OpenOffice.org-rajzsablon
Comment[is]=OpenOffice.org teikningarsniðmát
Comment[it]=Modello di disegno OpenOffice.org
Comment[ja]=OpenOffice.org 図形描画テンプレート
Comment[km]=ពុម្ព​គំនូរ OpenOffice.org
Comment[ko]=OpenOffice.org 그림 본
Comment[lt]=OpenOffice.org piešinio šablonas
Comment[lv]=OpenOffice.org zīmējuma šablons
Comment[mk]=OpenOffice.org шаблон за цртеж
Comment[ms]=OpenOffice.org Templat Lukis
Comment[nb]=OpenOffice.org-tegnemal
Comment[nds]=Teken-Vörlaag vun OpenOffice
Comment[nl]=OpenOffice.org Drawing-sjabloon
Comment[nn]=OpenOffice.org-teikningsmal
Comment[pa]=OpenOffice.org ਡਰਾਇੰਗ ਨਮੂਨਾ
Comment[pl]=Szablon rysunku OpenOffice.org
Comment[pt]=Modelo de Desenho do OpenOffice.org
Comment[pt_BR]=Modelo de Desenhos do OpenOffice.org
Comment[ro]=Model desen vectorial OpenOffice.org
Comment[ru]=Шаблон рисунка OpenOffice.org
Comment[rw]=OpenOffice.org Inyandikorugero Gushushanya  
Comment[se]=OpenOffice.org-sárgunmálle
Comment[sk]=Šablóna kresby OpenOffice.org
Comment[sl]=Predloga risanja OpenOffice.org
Comment[sr]=OpenOffice.org-ов шаблон цртежа
Comment[sr@Latn]=OpenOffice.org-ov šablon crteža
Comment[sv]=OpenOffice.org teckningsmall
Comment[ta]=ழ-ஓப்பன்ஆபீஸ் வரைபடம்
Comment[tg]=Нақши OpenOffice.org
Comment[tr]=OpenOffice.org Çizim Şablonu
Comment[uk]=Шаблон малюнка OpenOffice.org
Comment[uz]=OpenOffice.org чизма намунаси
Comment[xx]=xxOpenOffice.org Drawing Templatexx
Comment[zh_CN]=OpenOffice.org 绘图模板
MimeType=application/vnd.sun.xml.draw.template
Type=MimeType
Icon=image
Patterns=*.std;*.STD;
[Property::X-KDE-NativeExtension]
Type=QString
Value=.std
