[Desktop Entry]
Encoding=UTF-8
Type=MimeType
MimeType=application/vnd.rn-realmedia
Icon=video
Patterns=*.rm;*.RM;
Comment=RealMedia File
Comment[af]=RealMedia Lêer
Comment[ar]=وسيط RealMedia
Comment[az]=RealMedia Faylı
Comment[be]=Файл RealMedia
Comment[bg]=Мултимедиен файл RealMedia
Comment[bn]=রিয়েল-মিডিয়া ফাইল
Comment[br]=Restr RealMedia
Comment[bs]=RealMedia datoteka
Comment[ca]=Fitxer de RealMedia
Comment[cs]=Soubor RealMedia
Comment[cy]=Ffeil RealMedia
Comment[da]=RealMedia-fil
Comment[de]=RealMedia-Datei
Comment[el]=Αρχείο RealMedia
Comment[eo]=RealMedia dosiero
Comment[es]=Archivo de RealMedia
Comment[et]=RealMedia fail
Comment[eu]=RealMedia fitxategia
Comment[fa]=پرونده‌ی RealMedia
Comment[fi]=RealMedia-tiedosto
Comment[fr]=Fichier RealMedia
Comment[fy]=RealMedia Triem
Comment[ga]=Comhad RealMedia
Comment[gl]=Arquivo RealMedia
Comment[he]=קובץ RealMedia
Comment[hi]=रीयलमीडिया फ़ाइल
Comment[hr]=RealMedia datoteka
Comment[hu]=RealMedia-fájl
Comment[is]=RealMedia skrá
Comment[it]=File RealMedia
Comment[ja]=リアルメディア ファイル
Comment[km]=ឯកសារ RealMedia
Comment[ko]=리얼미디어 파일
Comment[lb]=RealMedia-Datei
Comment[lt]=RealMedia byla
Comment[lv]=RealMedia fails
Comment[mk]=RealMedia датотека
Comment[mn]=RealMedia Файл
Comment[ms]=Fail RealMedia
Comment[nb]=RealMedia-fil
Comment[nds]=RealMedia-Datei
Comment[nl]=RealMedia-bestand
Comment[nn]=RealMedia-fil
Comment[pa]=RealMedia ਫਾਇਲ
Comment[pl]=Plik RealMedia
Comment[pt]=Ficheiro RealMedia
Comment[pt_BR]=Arquivo RealMedia
Comment[ro]=Fişier RealMedia
Comment[ru]=Файл RealMedia
Comment[rw]=RealMedia Idosiye
Comment[se]=RealMedia-fiila
Comment[sk]=Súbor RealMedia
Comment[sl]=Datoteka za RealMedia
Comment[sq]=Skedë nga RealMedia
Comment[sr]=Фајл RealMedia-е
Comment[sr@Latn]=Fajl RealMedia-e
Comment[sv]=Realmedia-fil
Comment[ta]=RealMedia கோப்பு
Comment[tg]=Файли Медия Аслӣ
Comment[th]=แฟ้ม RealMedia
Comment[tr]=RealMedia Dosyası
Comment[tt]=RealMedia Bireme
Comment[uk]=Файл RealMedia
Comment[uz]=RealMedia-файли
Comment[wa]=Fitchî RealMedia
Comment[zh_CN]=RealMedia 文件
Comment[zh_HK]=RealMedia 檔案
Comment[zh_TW]=RealMedia 檔案
