[Desktop Entry]
Encoding=UTF-8
Type=MimeType
MimeType=application/vnd.oasis.opendocument.spreadsheet-template
Patterns=*.ots;*.OTS
Icon=spreadsheet
Comment=OASIS OpenDocument SpreadSheet Template
Comment[af]=OASIS Oop Dokument Spreiblad Voorbeeld
Comment[bg]=Шаблон за електронна таблица на OASIS OpenDocument
Comment[bn]=OASIS ওপেন-ডকুমেন্ট স্প্রেডশিট টেম্‌প্লেট
Comment[br]=Patrom loger OpenOffice.org OASIS
Comment[ca]=Plantilla de full de càlcul OASIS OpenDocument
Comment[cs]=OASIS OpenDocument šablona tabulky
Comment[cy]=Patrymlun Taenlen OASIS OpenDocument
Comment[da]=OASIS OpenDocument regnearkskabelon
Comment[de]=Vorlage für OASISOpenDocument-Tabellenkalkulation
Comment[el]=Πρότυπο λογιστικού φύλλου του OASIS OpenDocument
Comment[es]=Plantilla de hoja de cálculo de OpenDocument OASIS
Comment[et]=OASIS-e OpenDocument arvutustabeli mall
Comment[eu]=OASIS OpenDocument kalkulu-orri txantiloia
Comment[fi]=OASIS OpenDocument -taulukkopohja
Comment[fr]=Modèle de feuille de calcul OASIS OpenDocument
Comment[fy]=OASIS OpenDocument rekkenboerdsjabloan
Comment[gl]=Modelo de Folla de Cálculo OASIS OpenDocument
Comment[hi]=ओएसिस ओपनडाकुमेंट स्प्रेडशीट टैम्प्लेट
Comment[hu]=OASIS-munkafüzet-sablon
Comment[is]=OASIS OpenDocument töflureikningsnið
Comment[it]=Modello di foglio di calcolo OASIS OpenDocument
Comment[ja]=OASIS OpenDocument 表計算テンプレート
Comment[ka]=OASIS OpenDocument ცხრილის თარგი
Comment[km]=ពុម្ព​សៀវភៅបញ្ជី OASIS OpenDocument
Comment[lb]=OASIS-OpenDocument-Tabellëkalkulatiounsvirlag
Comment[lt]=OASIS OpenDocument elektroninės lentelės šablonas
Comment[nb]=OASIS Åpent dokument regnearkmal
Comment[nds]=Vörlaag för 'n Tabelldokment vun OASIS OpenDocument
Comment[nl]=OASIS OpenDocument werkbladsjabloon
Comment[nn]=OASIS OpenDocument-reknearkmal
Comment[pa]=OASIS OpenDocument ਸਾਰਣੀਕਾਰ ਨਮੂਨਾ
Comment[pl]=Szablon arkusza kalkulacyjnego OASIS OpenDocument
Comment[pt]=Modelo de Folha de Cálculo OASIS OpenDocument
Comment[pt_BR]=Modelo de Planilha OpenDocument OASIS
Comment[ro]=Model foaie de calcul tabelar OpenDocument OASIS
Comment[ru]=Шаблон таблицы OASIS OpenDocument
Comment[rw]=Inyandikorugero Urupapurorusesuye GufunguraInyandiko OASIS
Comment[se]=OASIS OpenDocument-rehkenastinárkamálle
Comment[sk]=Šablóna tabuľky OASIS OpenDocument
Comment[sl]=Predloga preglednice OASIS OpenDocument
Comment[sr]=OASIS OpenDocument шаблонске унакрсне табеле
Comment[sr@Latn]=OASIS OpenDocument šablonske unakrsne tabele
Comment[sv]=OASIS OpenDocument kalkylarksmall
Comment[ta]=OASIS திறந்த ஆவண விரிதாள் வார்ப்புரு
Comment[tg]=Ҷадвали электронии OASIS
Comment[tr]=OASIS OpenDocument Hesap Tablosu Şablonu
Comment[tt]=OASIS OpenDocument İsäpcäymä Ürçetmäse
Comment[uk]=Шаблон електронної таблиці OASIS OpenDocument
Comment[uz]=OASIS OpenDocument электрон жадвал намунаси
Comment[xx]=xxOASIS OpenDocument SpreadSheet Templatexx
Comment[zh_CN]=OASIS OpenDocument 电子表格模板
[Property::X-KDE-NativeExtension]
Type=QString
Value=.ots
