[Desktop Entry]
Encoding=UTF-8
Comment=OpenOffice.org Presentation
Comment[af]=OpenOffice.org Voorlegging
Comment[ar]=مستند OpenOffice.org Presentation
Comment[be]=Прэзентацыя OpenOffice.org
Comment[bg]=Документ на OpenOffice.org Impress
Comment[br]=Emginnig OpenOffice.org
Comment[ca]=Presentació d'OpenOffice.org
Comment[cs]=Prezentace OpenOffice.org
Comment[cy]=Cyflwyniad OpenOffice.org 
Comment[da]=OpenOffice.org præsentation
Comment[de]=OpenOffice.org-Präsentation
Comment[el]=Παρουσίαση του OpenOffice.org
Comment[eo]=Malfermoficeja prezentilo
Comment[es]=Presentación de OpenOffice.org
Comment[et]=OpenOffice.org-i esitlus
Comment[eu]=OpenOffice.org aurkezpena
Comment[fa]=ارائه OpenOffice.org
Comment[fi]=OpenOffice.org-esitys
Comment[fr]=Présentation OpenOffice.org
Comment[fy]=OpenOffice.org Presentaasje
Comment[ga]=Láithreoireacht OpenOffice.org
Comment[gl]=Apresentación de OpenOffice.org
Comment[he]=מצגת של OpenOffice.org
Comment[hr]=OpenOffice.org prezentacija
Comment[hu]=OpenOffice.org-bemutató
Comment[is]=OpenOffice.org kynning
Comment[it]=Presentazione OpenOffice.org
Comment[ja]=OpenOffice.org プレゼンテーション
Comment[kk]=OpenOffice.org презентациясы
Comment[km]=ការ​បង្ហាញ OpenOffice.org
Comment[ko]=OpenOffice.org 프리젠테이션
Comment[lb]=OpenOffice.org-Präsentatioun
Comment[lt]=OpenOffice.org pristatymas
Comment[lv]=OpenOffice.org prezentācija
Comment[mk]=OpenOffice.org-презентација
Comment[ms]=Persembahan OpenOffice.org
Comment[nb]=OpenOffice.org presentasjon
Comment[nds]=OpenOffice-Presentatschoon
Comment[ne]=ओपनअफिस.अर्ग प्रस्तुतिकरण
Comment[nn]=OpenOffice.org-presentasjon
Comment[pa]=OpenOffice.org ਪੇਸ਼ਕਾਰੀ
Comment[pl]=Prezentacja OpenOffice.org
Comment[pt]=Apresentação do OpenOffice.org
Comment[pt_BR]=Apresentações do OpenOffice.org
Comment[ro]=Prezentare OpenOffice.org
Comment[ru]=Презентация OpenOffice.org
Comment[se]=OpenOffice.org presentašuvdna
Comment[sl]=Predstavitev OpenOffice.org
Comment[sr]=OpenOffice.org-ова презентација
Comment[sr@Latn]=OpenOffice.org-ova prezentacija
Comment[sv]=OpenOffice.org presentation
Comment[ta]=ழ-ஓப்பன்ஆபீஸ் அளிக்கை
Comment[tg]=Презинтатсияи OpenOffice.org
Comment[tr]=OpenOffice.org Sunumu
Comment[uk]=Презентація OpenOffice.org
Comment[uz]=OpenOffice.org Намойиш
Comment[x-test]=xxOpenOffice.org Presentationxx
Comment[zh_HK]=OpenOffice.org 簡報
Comment[zh_TW]=OpenOffice.org 簡報
MimeType=application/vnd.sun.xml.impress
Type=MimeType
Icon=presentation
Patterns=*.sxi;*.SXI;
[Property::X-KDE-NativeExtension]
Type=QString
Value=.sxi
