[Desktop Entry]
Encoding=UTF-8
Type=MimeType
MimeType=application/vnd.oasis.opendocument.chart
Patterns=*.odc;*.ODC
Icon=kchart_chrt
Comment=OASIS OpenDocument Chart
Comment[bg]=Диаграма на OASIS OpenDocument
Comment[da]=OASIS OpenDocument diagram
Comment[fr]=Diagramme OASIS OpenDocument
Comment[hu]=OASIS-grafikon
Comment[nds]= Diagramm vun OASIS OpenDocument
Comment[nl]=OASIS OpenDocument grafiek
Comment[pt]=Gráfico OASIS OpenDocument
Comment[pt_BR]=Gráfico OpenDocument do OASIS
Comment[sv]=OASIS OpenDocument diagram
Comment[ta]=OASIS திறந்த ஆவண வரைபடம்
Comment[uk]=Діаграма OASIS OpenDocument
Comment[zh_CN]=OASIS OpenDocument 图表
[Property::X-KDE-NativeExtension]
Type=QString
Value=.odc
