[Desktop Entry]
Encoding=UTF-8
Type=MimeType
MimeType=application/x-7z
Icon=tgz
Patterns=*.7z;*.7Z;
Comment=7-Zip Archive
Comment[af]=7-Zip Argief
Comment[bg]=Архив 7-Zip
Comment[bn]=7-জিপ (zip) আর্কাইভ
Comment[br]=Diell 7-Zip
Comment[ca]=Arxiu 7-Zip
Comment[cs]=7-Zip archív
Comment[de]=7-Zip-Archiv
Comment[el]=Αρχειοθήκη 7-Zip
Comment[es]=Archivo Zip-7
Comment[et]=7-Zip arhiiv
Comment[eu]=7-Zip fitxategia
Comment[fi]=7-Zip-paketti
Comment[fr]=Archive 7-Zip
Comment[fy]=7-zip-Argyf
Comment[ga]=Cartlann 7-Zip
Comment[gl]=Arquivo 7-Zip
Comment[he]=ארכיון 7-Zip
Comment[hi]=7ज़िप अभिलेख
Comment[hu]=7-Zip-archívum
Comment[is]=7-Zip safnskrá
Comment[it]=Archivio 7-Zip
Comment[ja]=7-Zip アーカイブ
Comment[km]=ប័ណ្ណសារ 7-Zip
Comment[lb]=7-Zip-Archiv
Comment[lt]=7-Zip archyvas
Comment[lv]=7-Zip arhīvs
Comment[mk]=7-Zip архива
Comment[nb]=7-Zip-arkiv
Comment[nds]=7-Zip-Archiv
Comment[nl]=7-zip-archief
Comment[nn]=7-Zip-arkiv
Comment[pa]=7-Zip ਪੁਰਾਲੇਖ
Comment[pl]=Archiwum 7-Zip
Comment[pt]=Arquivo 7-Zip
Comment[pt_BR]=Arquivo 7-Zip
Comment[ro]=Arhivă 7-ZIP
Comment[ru]=Архив 7-zip
Comment[rw]=7-Zip Idosiye yo mu bushinguro
Comment[se]=7-Zip-arkiiva
Comment[sk]=7-Zip archív
Comment[sl]=Arhiv 7-Zip
Comment[sr]=7-Zip архива
Comment[sr@Latn]=7-Zip arhiva
Comment[sv]=7-zip-arkiv
Comment[ta]=7-Zip பின்காப்பு
Comment[tg]=Архиви 7-Zip
Comment[tr]=7-Zip Arşivi
Comment[tt]=7-Zip Tuplama
Comment[uk]=Архів 7-Zip
Comment[uz]=7-Zip архиви
Comment[zh_CN]=7-Zip 归档
Comment[zh_HK]=7-Zip 壓縮檔
