[Desktop Entry]
Encoding=UTF-8
Type=MimeType
MimeType=application/x-abiword
Comment=AbiWord Document
Comment[af]=AbiWord Dokument
Comment[ar]=مستند AbiWord
Comment[az]=AbiWord Sənədi
Comment[be]=Дакумэнт AbiWord
Comment[bg]=Документ на AbiWord
Comment[bn]=এবি-ওয়ার্ড নথী
Comment[br]=Teul AbiWord
Comment[bs]=AbiWord dokument
Comment[ca]=Document de AbiWord
Comment[cs]=Dokument aplikace AbiWord
Comment[cy]=Dogfen AbiWord
Comment[da]=AbiWord-dokument
Comment[de]=AbiWord-Dokument
Comment[el]=Έγγραφο Abiword
Comment[eo]=AbiWord-dokumento
Comment[es]=Documento de AbiWord
Comment[et]=AbiWordi dokument
Comment[eu]=AbiWord dokumentua
Comment[fa]=سند AbiWord
Comment[fi]=AbiWord-asiakirja
Comment[fr]=Document AbiWord
Comment[fy]=AbiWord-Dokumint
Comment[ga]=Cáipéis AbiWord
Comment[gl]=Documento de Abiword
Comment[he]=מסמך AbiWord
Comment[hi]=एबीवर्ड दस्तावेज़
Comment[hr]=AbiWord dokument
Comment[hu]=AbiWord-dokumentum
Comment[id]=Dokumen AbiWord
Comment[is]=AbiWord skjal
Comment[it]=Documento AbiWord
Comment[ja]=AbiWord ドキュメント
Comment[ka]=AbiWord დოკუმენტი
Comment[km]=ឯកសារ AbiWord
Comment[ko]=아비워드 문서
Comment[lt]=AbiWord dokumentas
Comment[lv]=AbiWord dokuments
Comment[mk]=AbiWord документ
Comment[mn]=AbiWord-Баримт
Comment[ms]=Dokumen AbiWord
Comment[mt]=Dokument AbiWord
Comment[nb]=AbiWord dokument
Comment[nds]=AbiWord-Dokment
Comment[nl]=AbiWord-document
Comment[nn]=AbiWord-dokument
Comment[nso]=Tokomane ya Lentsu la Abi
Comment[pa]=AbiWord ਦਸਤਾਵੇਜ਼
Comment[pl]=Dokument Abiworda
Comment[pt]=Documento do AbiWord
Comment[pt_BR]=Documento AbiWord
Comment[ro]=Document AbiWord
Comment[ru]=Документ AbiWord
Comment[rw]=AbiWord Inyandiko
Comment[se]=AbiWord-dokumeanta
Comment[sk]=Dokument AbiWord
Comment[sl]=Dokument za AbiWord
Comment[sq]=Dokument nga AbiWord
Comment[sr]=AbiWord-ов документ
Comment[sr@Latn]=AbiWord-ov dokument
Comment[ss]=Lidokhumente le AbiWord 
Comment[sv]=Abiword-dokument
Comment[ta]=AbiWord ஆவணம்
Comment[tg]=Санади AbiWord 
Comment[th]=เอกสาร AbiWord
Comment[tr]=AbiWord Belgesi
Comment[tt]=AbiWord İstälege
Comment[uk]=Новий документ AbiWord
Comment[uz]=AbiWord ҳужжати
Comment[ven]=Manwalwa a maipfi a Abi
Comment[vi]=Tài liệu AbiWord 
Comment[wa]=Documint Abiword
Comment[xh]=Uxwebhu lwe AbiWord
Comment[xx]=xxAbiWord Documentxx
Comment[zh_CN]=AbiWord 文档
Comment[zh_TW]=AbiWord 文件
Comment[zu]=Uhlu lwamafayela e-AbiWord
Icon=wordprocessing
Patterns=*.abw;*.ABW;*.abw.gz;*.zabw;*.abw.bz2;*.bzabw;*.awt
