[Desktop Entry]
Encoding=UTF-8
Type=MimeType
MimeType=application/x-abiword
Comment=AbiWord Document
Comment[af]=AbiWord Dokument
Comment[ar]=مستند AbiWord
Comment[be]=Дакумент AbiWord
Comment[br]=Teul AbiWord
Comment[ca]=Document de AbiWord
Comment[cs]=Dokument aplikace AbiWord
Comment[cy]=Dogfen AbiWord
Comment[da]=AbiWord-dokument
Comment[de]=AbiWord-Dokument
Comment[el]=Έγγραφο Abiword
Comment[eo]=AbiWord-dokumento
Comment[es]=Documento de AbiWord
Comment[et]=AbiWordi dokument
Comment[eu]=AbiWord dokumentua
Comment[fa]=سند AbiWord
Comment[fi]=AbiWord-asiakirja
Comment[fr]=Document AbiWord
Comment[fy]=AbiWord-Dokumint
Comment[ga]=Cáipéis AbiWord
Comment[gl]=Documento de Abiword
Comment[he]=מסמך AbiWord
Comment[hr]=AbiWord dokument
Comment[hu]=AbiWord-dokumentum
Comment[is]=AbiWord skjal
Comment[it]=Documento AbiWord
Comment[ja]=AbiWord ドキュメント
Comment[kk]=AbiWord құжаты
Comment[km]=ឯកសារ AbiWord
Comment[ko]=아비워드 문서
Comment[lb]=AbiWord-Dokument
Comment[lt]=AbiWord dokumentas
Comment[lv]=AbiWord dokuments
Comment[mk]=AbiWord-документ
Comment[ms]=Dokumen AbiWord
Comment[nb]=AbiWord dokument
Comment[nds]=AbiWord-Dokment
Comment[ne]=ए बी आई वर्ड कागजात
Comment[nl]=AbiWord-document
Comment[nn]=AbiWord-dokument
Comment[pa]=AbiWord ਦਸਤਾਵੇਜ਼
Comment[pl]=Dokument Abiworda
Comment[pt]=Documento do AbiWord
Comment[pt_BR]=Documento AbiWord
Comment[ro]=Document AbiWord
Comment[ru]=Документ AbiWord
Comment[se]=AbiWord-dokumeanta
Comment[sl]=Dokument za AbiWord
Comment[sr]=AbiWord-ов документ
Comment[sr@Latn]=AbiWord-ov dokument
Comment[sv]=Abiword-dokument
Comment[ta]=AbiWord ஆவணம்
Comment[tg]=Санади AbiWord 
Comment[tr]=AbiWord Belgesi
Comment[uk]=Новий документ AbiWord
Comment[uz]=AbiWord ҳужжати
Comment[x-test]=xxAbiWord Documentxx
Comment[xh]=Uxwebhu lwe AbiWord
Comment[zh_HK]=AbiWord 文件
Comment[zh_TW]=AbiWord 文件
Icon=wordprocessing
Patterns=*.abw;*.ABW;*.abw.gz;*.zabw;*.abw.bz2;*.bzabw;*.awt
