[Desktop Entry]
Encoding=UTF-8
Icon=wordprocessing
Type=MimeType
MimeType=application/x-amipro
Patterns=*.sam;*.SAM;
Comment=Lotus AmiPro document
Comment[ar]=مستند لوتس AmiPro
Comment[be]=Дакумэнт Lotus AmiPro
Comment[bs]=Lotus AmiPro dokument
Comment[cs]=Dokument Lotus AmiPro
Comment[da]=Lotis AmiPro-dokument
Comment[de]=Lotus-AmiPro-Dokument
Comment[el]=Έγγραφο Lotus AmiPro
Comment[eo]=Lotus-AmiPro-dokumento
Comment[es]=Documento AmiPro de Lotus
Comment[et]=Lotus AmiPro dokument
Comment[eu]=Lotus AmiPro dolumentua
Comment[fi]=Lotus AmiPro asiakirja
Comment[fr]=Document Lotus AmiPro
Comment[he]=מסמך Lotus AmiPro
Comment[hu]=Lotus AmiPro dokumentum
Comment[is]=Lotus AmiPro skjal
Comment[it]=Documento Lotus AmiPro
Comment[ja]=Lotus AmiPro ドキュメント
Comment[lt]=Lotus AmiPro dokumentas
Comment[lv]=Lotus AmiPro dokuments
Comment[nb]=Lotus AmiPro-dokument
Comment[nl]=Lotus AmiPro-document
Comment[nn]=Lotus AmiPro-dokument
Comment[pl]=Dokument Lotus AmiPro
Comment[pt]=Documento do Lotus AmiPro
Comment[pt_BR]=Documento Lotus AMIPro
Comment[ro]=Document Lotus AmiPro
Comment[ru]=Документ AmiPro
Comment[sk]=Lotus AmiPro dokument
Comment[sl]=Dokument za Lotus AmiPro
Comment[sv]=Lotus AmiPro-dokument
Comment[th]=เอกสารโลตัส AmiPro
Comment[uk]=Документ Lotus AmiPro
Comment[ven]=Manwalwa a Lotus AmiPro
Comment[vi]=Tài liệu Lotus AmiPro
Comment[xx]=xx
Comment[zh_CN]=Lotus AmiPro 文档
Comment[zh_TW]=Lotus AmiPro 文件
Comment[zu]=Idokhumenti ye Lotus AmiPro
