[Desktop Entry]
Type=MimeType
MimeType=application/x-applixword
Icon=applix
Patterns=*.aw
Comment=Applix Words document
Comment[az]=Applix Yazım sənədi
Comment[bg]=Документ на Applix Words
Comment[cs]=Dokument Applix Words
Comment[da]=Applix Words dokument
Comment[de]=Applix-Text-Dokument
Comment[el]=Έγγραφο Applix Word
Comment[eo]=Apliks-teksto
Comment[es]=Documento de texto de Applix
Comment[et]=Applixi tekstitöötluse dokument
Comment[fi]=Applix Words -asiakirja
Comment[fr]=Document Applix Words
Comment[he]=Applix לש טסקט ךמסמ
Comment[hu]=Applix Words dokumentum
Comment[is]=Applix Words skjal
Comment[it]=Documento Applix Words
Comment[ja]=Applix ワードドキュメント
Comment[ko]=애플릭스 글틀 문서
Comment[lt]=Applix Words dokumentas
Comment[lv]=Applix Worda dokuments
Comment[mt]=Dokument Applix Words
Comment[nl]=Applix Words-document
Comment[no]=Applix tekst-dokument
Comment[no_NY]=Applix Words-dokument
Comment[pl]=Dokument Applix Words
Comment[pt_BR]=Documento do Applix Words
Comment[pt]=Documento do Applix Words
Comment[ru]=Документ Applix Words
Comment[sk]=dokument Applix Words
Comment[sl]=Dokument za Applix Words
Comment[sr]=Applix Words dokument
Comment[sv]=Applix Words-dokument
Comment[ta]=Applix Words ¬Å½õ
Comment[tr]=Applix Yazım belgesi
Comment[uk]=Документ Applix Words
Comment[vi]=Tài liệu Applix Words 
Comment[xh]=Uxwebhu lwamagama e Applix
Comment[zh_CN.GB2312]=Applix 文字处理文档
