[Desktop Entry]
Encoding=UTF-8
Type=MimeType
MimeType=application/x-applixgraphics
Icon=image
Patterns=*.ag
Comment=Applix Graphics Document
Comment[af]=Applix Grafieka Dokument
Comment[ar]=مستند أبليكس غرافيكس
Comment[az]=Applix Graphics Sənədi
Comment[be]=Дакумэнт Applix Graphics
Comment[bg]=Документ на Applix Graphics
Comment[bn]=অ্যাপলিক্স গ্রাফিক্স ডকুমেন্ট
Comment[br]=Teul Applix Graphics
Comment[bs]=Applix Graphics dokument
Comment[ca]=Document de gràfics d'Applix
Comment[cs]=Dokument Applix Graphics
Comment[cy]=Dogfen Graffeg Applix
Comment[da]=Applix Graphics-dokument
Comment[de]=Applix-Graphik
Comment[el]=Έγγραφο Applix Graphics
Comment[eo]=Apliks-grafiko
Comment[es]=Documento gráfico de Applix
Comment[et]=Applixi graafikadokument
Comment[eu]=Applix Graphics dokumentua
Comment[fa]=سند Applix Graphics
Comment[fi]=Applix grafiikka-asiakirja
Comment[fr]=Document Applix Graphics
Comment[fy]=Applix Grafiek Dokumint
Comment[ga]=Cáipéis Applix Graphics
Comment[gl]=Documento Gráfico de Applix
Comment[he]=מסמך Applix Graphics
Comment[hi]=एप्लिक्स ग्राफिक्स दस्तावेज़
Comment[hr]=Dokument Applix Graphicsa
Comment[hu]=Applix Graphics-dokumentum
Comment[is]=Applix mynd
Comment[it]=Documento Applix Graphics
Comment[ja]=Applix グラフィックスドキュメント
Comment[km]=ឯកសារ​ក្រាហ្វិក Applix
Comment[ko]=애플릭스 그림
Comment[lb]=Applix-Graphics-Dokument
Comment[lt]=Applix grafinis dokumentas
Comment[lv]=Applix Grafikas dokuments
Comment[mk]=Applix Graphics документ
Comment[mn]=Applix-Graphik-Баримт
Comment[ms]=Dokumen Grafik Applix
Comment[mt]=Dokument Applix Graphics
Comment[nb]=Applix grafikk-dokument
Comment[nds]=Applix Grafik-Dokment
Comment[nl]=Applix Graphics-document
Comment[nn]=Applix Graphics-dokument
Comment[nso]=Tokomane ya di-Graphic tsa Applix
Comment[pa]=Applix Graphics ਦਸਤਾਵੇਜ਼
Comment[pl]=Dokument Applix Graphics
Comment[pt]=Documento do Applix Graphics
Comment[pt_BR]=Documento do Applix
Comment[ro]=Document grafic Applix
Comment[ru]=Документ Applix Graphics
Comment[rw]=Applix Graphics Inyandiko
Comment[se]=Applix Graphics-dokumeanta
Comment[sk]=Dokument Applix Graphics
Comment[sl]=Dokument za Applix Graphics
Comment[sq]=Dokument nfa Applix Graphics
Comment[sr]=Документ Applix Graphics-а
Comment[sr@Latn]=Dokument Applix Graphics-a
Comment[ss]=Lidokhumente letitfombe mdvwebo te Applix
Comment[sv]=Applix graphics-dokument
Comment[ta]=அப்ளிக்ஸ் வரைபட ஆவணம்
Comment[tg]=Хуҷҷати Applix Graphics 
Comment[th]=เอกสารกราฟิกของแอพพลิกซ์
Comment[tr]=Applix Grafik Belgesi
Comment[tt]=Applix Sızma İstälege
Comment[uk]=Документ Applix Graphics
Comment[uz]=Applix Graphics ҳужжати
Comment[ven]=Manwalwa a Applix Graphics
Comment[wa]=Documint grafike Applix
Comment[xh]=Uxwebhu Lwemizobo ye Applix
Comment[zh_CN]=Applix 图形文档
Comment[zh_HK]=Applix 繪圖文件
Comment[zh_TW]=Applix 影像文件
Comment[zu]=Uhlu lwamafayela Lwemidwebo ye-Applix
