[Desktop Entry]
Encoding=UTF-8
Type=MimeType
MimeType=application/x-applixgraphics
Icon=applix
Patterns=*.ag
Comment=Applix Graphics document
Comment[af]=applix grafieka dokument
Comment[ar]=مستند أبليكس غرافيكس
Comment[az]=Applix Qrafika sənədi
Comment[be]=Дакумэнт Applix Graphics
Comment[bg]=Документ на Applix Graphics
Comment[bs]=Applix Graphics dokument
Comment[cs]=Dokument Applix Graphics
Comment[da]=Applix Grafik-dokument
Comment[de]=Applix-Graphik-Dokument
Comment[el]=Έγγραφο Γραφικών Applix
Comment[eo]=Apliks-grafiko
Comment[es]=Documento gráfico de Applix
Comment[et]=Applixi graafika dokument
Comment[eu]=Applix Graphics dokumentua
Comment[fi]=Applix grafiikka-asiakirja
Comment[fr]=Document Applix Graphics
Comment[he]=מסמך גרפיקה של Applx
Comment[hu]=Applix Graphics dokumentum
Comment[is]=Applix mynd
Comment[it]=Documento Applix Graphics
Comment[ja]=Applix グラフィックスドキュメント
Comment[ko]=애플릭스 그림
Comment[lt]=Applix grafinis dokumentas
Comment[lv]=Applix Grafikas dokuments
Comment[mt]=Dokument tal-Grafika Applix
Comment[nb]=Applix Graphics-dokument
Comment[nl]=Applix Graphics-document
Comment[nn]=Applix Graphics-dokument
Comment[pl]=Dokument Applix Graphics
Comment[pt]=Documento do Applix Graphics
Comment[pt_BR]=Documento do Applix
Comment[ro]=Document grafic Applix
Comment[ru]=Документ Applix Graphics
Comment[sk]=dokument Applix Graphics
Comment[sl]=Dokument za Applix Graphics
Comment[sr]=Applix Graphics dokument
Comment[sv]=Applix graphics-dokument
Comment[ta]=Applix Å¨ÃÀ¼ ¬Å½õ
Comment[th]=เอกสารกราฟิกของ Applix
Comment[tr]=Applix Grafik belgesi
Comment[uk]=Документ Applix Graphics
Comment[ven]=Manwalwa a Applix Graphics
Comment[vi]=Tài liệu đô` họa Applix
Comment[xh]=Uxwebhu lwemizobo lwe Applix
Comment[xx]=xx
Comment[zh_CN]=Applix 图象文档
Comment[zh_TW]=Applix 影像文件
Comment[zu]=Idokhumente ye Applix Graphics
