[Desktop Entry]
Type=MimeType
MimeType=application/x-arj
Icon=tgz
Patterns=*.arj;*.ARJ;
Comment=ARJ archive
Comment[az]=ARJ arxivi
Comment[bg]=Архив на ARJ
Comment[br]=Diell ARJ
Comment[bs]=ARJ arhiva
Comment[ca]=Arxiu ARJ
Comment[cs]=ARJ archív
Comment[da]=Arj arkiv
Comment[de]=ARJ-Archiv
Comment[el]=Συμπιεσμένα ARJ
Comment[eo]=ARJ-arĥivo
Comment[es]=Archivo comprimido ARJ
Comment[et]=ARJ arhiiv
Comment[eu]=ARJ fitxategia
Comment[fi]=ARJ-paketti
Comment[fr]=Archive ARJ
Comment[gl]=Arquivo ARJ
Comment[he]=ARJ ןויכרא
Comment[hr]=ARJ arhiva
Comment[hu]=ARJ archívum
Comment[is]=ARJ-safnskrá
Comment[it]=Archivio ARJ
Comment[ja]=ARJ アーカイブ
Comment[ko]=ARJ 파일
Comment[lt]=ARJ archyvas
Comment[lv]=ARJ arhīvs
Comment[mi]=Takotoranga ARJ
Comment[mk]=ARJ архива
Comment[mt]=Arkivji ARJ
Comment[nl]=ARJ-archief
Comment[no]=ARJ-arkiv
Comment[no_NY]=ARJ-arkiv
Comment[oc]=Arxiu ARJ
Comment[pl]=Archiwum ARJ
Comment[pt_BR]=Pacote ARJ
Comment[pt]=Arquivo ARJ
Comment[ru]=Архив ARJ
Comment[sk]=ARJ archív
Comment[sl]=Arhiv ARJ
Comment[sr]=ARJ arhiva
Comment[sv]=ARJ-arkiv
Comment[ta]=ARJ ¸¡ôÀ¸õ
Comment[tr]=ARJ arşivi
Comment[uk]=Архів ARJ
Comment[vi]=Kiểu nén ARJ 
Comment[wa]=Årtchive ARJ
Comment[xh]=Ushicilelo lukawonke-wonke kunye nexwebhu le Mbali ye ARJ
Comment[zh_CN.GB2312]=ARJ 归档文件
