[Desktop Entry]
Type=MimeType
MimeType=application/x-arj
Icon=tgz
Patterns=*.arj;*.ARJ;
Comment=ARJ archive
Comment[ca]=Arxiu ARJ
Comment[cs]=ARJ archív
Comment[da]=Arj arkiv
Comment[de]=ARJ-Archiv
Comment[el]=Συμπιεσμένα ARJ
Comment[eo]=ARJ-arĥivo
Comment[es]=Archivo ARJ
Comment[et]=ARJ arhiiv
Comment[fi]=ARJ-paketti
Comment[fr]=Archive ARJ
Comment[gl]=Arquivo ARJ
Comment[he]=ARJ ןויכרא
Comment[hr]=ARJ arhiva
Comment[hu]=ARJ archívum
Comment[is]=ARJ-safnskrá
Comment[it]=Archivio ARJ
Comment[ja]=ARJ アーカイブ
Comment[mk]=ARJ архива
Comment[nl]=ARJ-archief
Comment[no]=ARJ-arkiv
Comment[no_NY]=ARJ-arkiv
Comment[pl]=Archiwum ARJ
Comment[pt]=Arquivo ARJ
Comment[pt_BR]=Pacote ARJ
Comment[ro]=Fişier arhivă ARJ
Comment[ru]=Архив ARJ
Comment[sk]=ARJ archív
Comment[sl]=Arhiv ARJ
Comment[sv]=ARJ-arkiv
Comment[ta]=ARJ ¸¡ôÀ¸õ
Comment[tr]=ARJ arşivi
Comment[uk]=Архів ARJ
Comment[zh_CN.GB2312]=ARJ 归档文件
