[Desktop Entry]
Encoding=UTF-8
Type=MimeType
MimeType=application/x-arj
Icon=tgz
Patterns=*.arj;*.ARJ;
Comment=ARJ archive
Comment[af]=Arj argief
Comment[ar]=أرشيف ARJ
Comment[az]=ARJ arxivi
Comment[be]=Архіў ARJ
Comment[bg]=Архив на ARJ
Comment[br]=Diell ARJ
Comment[bs]=ARJ arhiva
Comment[ca]=Arxiu ARJ
Comment[cs]=ARJ archív
Comment[da]=ARJ-arkiv
Comment[de]=ARJ-Archiv
Comment[el]=Συμπιεσμένα ARJ
Comment[eo]=ARJ-arĥivo
Comment[es]=Archivo comprimido ARJ
Comment[et]=ARJ arhiiv
Comment[eu]=ARJ fitxategia
Comment[fi]=ARJ-paketti
Comment[fr]=Archive ARJ
Comment[gl]=Arquivo ARJ
Comment[he]=ארכיון ARJ
Comment[hr]=ARJ arhiva
Comment[hu]=ARJ archívum
Comment[id]=Archive ARJ
Comment[is]=ARJ-safnskrá
Comment[it]=Archivio ARJ
Comment[ja]=ARJ アーカイブ
Comment[ko]=ARJ 파일
Comment[lt]=ARJ archyvas
Comment[lv]=ARJ arhīvs
Comment[mi]=Takotoranga ARJ
Comment[mk]=ARJ архива
Comment[mt]=Arkivji ARJ
Comment[nb]=ARJ-arkiv
Comment[nl]=ARJ-archief
Comment[nn]=ARJ-arkiv
Comment[oc]=Arxiu ARJ
Comment[pl]=Archiwum ARJ
Comment[pt]=Arquivo ARJ
Comment[pt_BR]=Pacote ARJ
Comment[ro]=Arhivă ARJ
Comment[ru]=Архив ARJ
Comment[sk]=ARJ archív
Comment[sl]=Arhiv ARJ
Comment[sr]=ARJ arhiva
Comment[sv]=ARJ-arkiv
Comment[ta]=ARJ ¸¡ôÀ¸õ
Comment[th]=แฟ้มบีบอัด ARJ
Comment[tr]=ARJ arşivi
Comment[uk]=Архів ARJ
Comment[vi]=Lưu trữ ARJ
Comment[wa]=Årtchive ARJ
Comment[xh]=Ushicilelo lukawonke-wonke kunye nexwebhu le Mbali ye ARJ
Comment[xx]=xx
Comment[zh_CN]=ARJ 归档文件
Comment[zh_TW]=ARJ 壓縮檔案
