[Desktop Entry]
MimeType=application/x-archive
Comment=Ar Archives
Comment[az]=Ar Arxivləri
Comment[bg]=Архив на AR
Comment[br]=Diell ar
Comment[bs]=Ar arhiva
Comment[ca]=Arxius ar
Comment[cs]=Ar archív
Comment[da]=Ar arkiv
Comment[de]=AR-Archiv
Comment[el]=Αρχειοθήκες Ar
Comment[eo]=Ar-arĥivo
Comment[es]=Archivo Ar
Comment[et]=AR arhiiv
Comment[eu]=Ar Fitxategiak
Comment[fi]=AR-paketti
Comment[fr]=Archive AR
Comment[gl]=Arquivos Ar
Comment[he]=Ar ינויכרא
Comment[hr]=Ar arhiva
Comment[hu]=Ar archívumok
Comment[is]=Ar-safnskrá
Comment[it]=Archivi Ar
Comment[ja]=Arアーカイブ
Comment[ko]=Ar로 압축한 파일
Comment[lt]=Ar Archyvas
Comment[lv]=Ar Arhīvi
Comment[mi]=Takotoranga Ar
Comment[mk]=Ar архиви
Comment[mt]=Arkivji Ar
Comment[nl]=Ar-archieven
Comment[no]=AR-arkiv
Comment[no_NY]=Ar-arkiv
Comment[oc]=Archius ar
Comment[pl]=Archiwum Ar
Comment[pt_BR]=Arquivo AR
Comment[pt]=Arquivo Ar
Comment[ru]=Архив AR
Comment[sk]=Ar archívy
Comment[sl]=Arhiv ar
Comment[sr]=Ar ahive
Comment[sv]=Ar-arkiv
Comment[ta]=Ar ¸¡ôÀ¸í¸û
Comment[tr]=Ar Arşivleri
Comment[uk]=Архіви AR
Comment[vi]=Kiểu nén Ar  
Comment[wa]=Årtchive «ar»
Comment[xh]=Ushicilelo lukawonke-wonke kunye namaxwebhu eMbali e Ar
Comment[zh_CN.GB2312]=Ar 归档文件
Icon=tgz
Type=MimeType
Patterns=*.a;
