[Desktop Entry]
MimeType=application/x-ar
Comment=Ar Archives
Comment[ca]=Arxius ar
Comment[cs]=Ar archív
Comment[de]=AR-Archiv
Comment[eo]=Ar-arĥivo
Comment[fi]=AR-paketti
Comment[fr]=Archive AR
Comment[hu]=Ar arhívumok
Comment[ja]=Arアーカイブ
Comment[no]=AR-arkiv
Comment[no_NY]=Ar-arkiv
Comment[pt]=Arquivo Ar
Comment[ro]=Fişier arhivă AR
Comment[sl]=Arhiv ar
Comment[sv]=Funktionsbibliotek i ar-arkivformat
DefaultApp=ark
Icon=tgz
Type=MimeType
Patterns=*.a;
