[Desktop Entry]
MimeType=application/x-archive
Comment=Ar Archives
Comment[ca]=Arxius ar
Comment[cs]=Ar archív
Comment[da]=Ar arkiv
Comment[de]=AR-Archiv
Comment[el]=Συμπιεσμένα Ar
Comment[eo]=Ar-arĥivo
Comment[es]=Archivo Ar
Comment[et]=Ar arhiiv
Comment[fi]=AR-paketti
Comment[fr]=Archive AR
Comment[gl]=Arquivos Ar
Comment[he]=Ar ינויכרא
Comment[hr]=Ar arhiva
Comment[hu]=Ar archívumok
Comment[is]=Ar-safnskrá
Comment[it]=Archivi Ar
Comment[ja]=Arアーカイブ
Comment[lt]=Ar Archyvas
Comment[mk]=Ar архиви
Comment[nl]=Ar-archieven
Comment[no]=AR-arkiv
Comment[no_NY]=Ar-arkiv
Comment[pl]=Archiwum Ar
Comment[pt]=Arquivo Ar
Comment[pt_BR]=Arquivo AR
Comment[ro]=Fişier arhivă AR
Comment[ru]=Архив AR
Comment[sk]=Ar Archívy
Comment[sl]=Arhiv ar
Comment[sv]=Ar-arkiv
Comment[ta]=Ar ¸¡ôÀ¸í¸û
Comment[tr]=Ar Arşivleri
Comment[uk]=Архіви AR
Comment[zh_CN.GB2312]=Ar 归档文件
Icon=tgz
Type=MimeType
Patterns=*.a;
