[Desktop Entry]
Encoding=UTF-8
Comment=AWK Script
Comment[af]=awk skrip
Comment[ar]=سكريبت AWK
Comment[az]=AWK əmr köməsi
Comment[be]=Скрыпт AWK
Comment[bg]=Скрипт на awk
Comment[br]=Urzhiaoueg awk
Comment[bs]=AWK skripta
Comment[ca]=Guió AWK
Comment[cs]=Skript programu awk
Comment[da]=AWK-script
Comment[de]=AWK-Skript
Comment[el]=Σενάριο AWK
Comment[eo]=QWK-skripto
Comment[es]=Script de AWK
Comment[et]=AWK skript
Comment[fi]=AWK-skripti
Comment[fr]=Script AWK
Comment[gl]=Script AWK
Comment[he]=תסריט AWK
Comment[hr]=AWK skripta
Comment[hu]=AWK szkript
Comment[id]=Skrip AWK
Comment[is]=AWK-forrit
Comment[it]=Script AWK
Comment[ja]=AWKスクリプト
Comment[ko]=AWK 스크립트
Comment[lt]=AWK skriptas
Comment[lv]=AWK skripts
Comment[mi]=Tuhi AWK
Comment[mk]=AWK скрипта
Comment[mt]=Skritt AWK
Comment[nb]=AWK-skript
Comment[nl]=AWK-script
Comment[nn]=AWK-skript
Comment[oc]=escript AWK
Comment[pl]=Skrypt AWK
Comment[pt]=Script de AWK
Comment[pt_BR]=Script AWK
Comment[ro]=Script AWK
Comment[ru]=Скрипт awk
Comment[sk]=AWK skript
Comment[sl]=Skript za AWK
Comment[sr]=AWK skript
Comment[sv]=AWK-skript
Comment[ta]=AWK ¸¢ÚÅø
Comment[th]=สคริปต์ AWK
Comment[tr]=AWK komut kümesi
Comment[uk]=Скрипт AWK
Comment[ven]=Bammbiri la AWK
Comment[xh]=ushicilelo phantsi lwe AWK
Comment[xx]=xx
Comment[zh_CN]=AWK 脚本
Comment[zu]=ushicilelo phansi lwe AWK
Icon=shellscript
Type=MimeType
MimeType=application/x-awk
Patterns=
