[Desktop Entry]
Encoding=UTF-8
Comment=BitTorrent Download
Comment[x-test]=xxBitTorrent Downloadxx
Hidden=false
MimeType=application/x-bittorrent
Icon=bt
Type=MimeType
Patterns=*.torrent
X-KDE-AutoEmbed=false
