[Desktop Entry]
Encoding=UTF-8
MimeType=application/x-bzip
Comment=Bzip File
Comment[af]=Bzip Lêer
Comment[ar]=ملف BZip
Comment[be]=Файл Bzip
Comment[bs]=Bzip datoteka
Comment[ca]=Fitxer Bzip
Comment[cs]=Soubor komprimovaný bzipem
Comment[da]=Bzip-fil
Comment[de]=Bzip-Datei
Comment[el]=Αρχείο bzip
Comment[eo]=Bzip-dosiero
Comment[es]=Archivo comprimido Bzip
Comment[et]=BZIP arhiiv
Comment[eu]=Bzip Fitxategia
Comment[fa]=پرونده‌ی Bzip
Comment[fi]=Bzip-tiedosto
Comment[fr]=Fichier compacté par Bzip
Comment[he]=קובץ Bzip
Comment[hu]=Bzip fájl
Comment[it]=File Bzip
Comment[ja]=Bzip ファイル
Comment[ko]=Bzip 파일
Comment[lt]=Bzip byla
Comment[mt]=Arkivju Bzip
Comment[nb]=Bzip-fil
Comment[nl]=Bzip-bestand
Comment[nn]=Bzip-fil
Comment[nso]=Faele ya Bzip
Comment[pl]=Plik Bzip
Comment[pt]=Ficheiro Bzip
Comment[pt_BR]=Arquivo Bzip
Comment[ro]=Fişier BZip
Comment[ru]=Архив bzip
Comment[sk]=Bzip súbor
Comment[sl]=Datoteka, stisnjena z bzip
Comment[ss]=Lifayhela le Bzip 
Comment[sv]=Bzip-fil
Comment[ta]=Bzip §¸¡ôÒ
Comment[tr]=Bzip Dosyası
Comment[uk]=Файл Bzip
Comment[ven]=Faela ya Bzip
Comment[xh]=Ifayile ye Bzip
Comment[zh_CN]=Bzip 文件
Comment[zh_TW]=Bzip 檔案
Comment[zu]=Ifayela le-Bzip
Icon=tgz
Type=MimeType
Patterns=*.bz;*.BZ;
