[Desktop Entry]
MimeType=application/x-bzip
Comment=Bzip file
Comment[ca]=Fitxer bzip
Comment[cs]=Soubor komprimovaný bzipem
Comment[da]=Bzip-fil
Comment[de]=Bzip-Datei
Comment[eo]=Bzip-dosiero
Comment[es]=Archivo comprimido con bzip
Comment[fi]=Bzip-paketti
Comment[fr]=Fichier compressé par bzip
Comment[hr]=Bzip datoteka
Comment[hu]=Bzip fájl
Comment[is]=Þjöppuð skrá (bzip)
Comment[it]=File Compresso Bzip
Comment[ja]=Bzip¥Õ¥¡¥¤¥ë
Comment[mi]=Bzip fájl
Comment[nl]=Bzip bestand
Comment[no]=Bzip-fil
Comment[no_NY]=Bzip-fil
Comment[pl]=Plik Bzip
Comment[pt]=Ficheiro Bzip
Comment[pt_BR]=Arquivo Bzip
Comment[ro]=Fiºier comprimat cu Bzip
Comment[ru]=áÒÈÉ× Bzip
Comment[sk]=Bzip súbor
Comment[sl]=Stisnjena datoteka (bzip)
Comment[sr]=Bzip fajl
Comment[sv]=Fil som är komprimerad med bzip
DefaultApp=ark
Icon=mimetypes/tgz
Type=MimeType
Patterns=*.bz;*.BZ;
