[Desktop Entry]
Type=MimeType
Patterns=*.cue;*.CUE
MimeType=application/x-cue
Icon=cdimage
Comment=CDRWIN Cue-Sheet
Comment[af]=CDRWIN Cue-Bladsy
Comment[bg]=Документ CDRWIN
Comment[bn]=CDRWIN কিউ-শিট
Comment[bs]=CDRWIN cue-sheet
Comment[ca]=Full de pistes de CDRWIN
Comment[cs]=Obálka CDRWIN
Comment[da]=CDRWIN hjælpeark
Comment[de]=CDRWIN Cue-Datei
Comment[el]=Φύλλο Cue του CDRWIN
Comment[es]=Hoja cue de CDRWIN
Comment[et]=CDRWIN cue-sheet
Comment[eu]=CDRWIN cue-orria
Comment[fi]=CDRWIN kansilehti
Comment[fr]=feuille CDRWIN
Comment[gl]=Folla Cue de CDRWIN 
Comment[hi]=सीडीआरविन क्यू-शीट
Comment[hu]=CDRWIN-es Cue-fájl
Comment[is]=CDRWIN cue-skjal
Comment[it]=Cuesheet di CDRWin
Comment[lb]=CDRWIN-Cue-Datei
Comment[mk]=CDRWIN табела со ознаки
Comment[ms]=Lembaran CDRWIN Cue
Comment[nb]=CDRWIN cue-ark
Comment[nds]=CDRWIN Cue-Datei
Comment[nl]=CDRWIN-cue-sheet
Comment[nn]=CDRWIN-cue-ark
Comment[pa]=CDRWIN Cue-ਸ਼ੀਟ
Comment[pl]=Arkusz cue CDRWIN
Comment[pt]=Ficheiro de Dados CDRWIN
Comment[pt_BR]=Folha Cue CDRWIN
Comment[ro]=Proiect audio CD CDRWIN
Comment[ru]=Таблица CDRWIN cue
Comment[rw]=Urupapuro-murizo CDRWIN
Comment[se]=CDRWIN-cue-árka
Comment[sk]=CDRWIN cue-sheet
Comment[sl]=CDRWIN cue-sheet
Comment[sr]=CDRWIN cue-sheet
Comment[sr@Latn]=CDRWIN cue-sheet
Comment[sv]=CDRWIN-indexblad
Comment[ta]=CRDWIN முன்னோடித்தாள்
Comment[tg]=Феҳристи CDRWIN
Comment[tt]=CDRWIN Cue-Cäymäse
Comment[uk]=Файл диску CDRWIN
