[Desktop Entry]
Type=MimeType
Patterns=*.cue;*.CUE
MimeType=application/x-cue
Icon=cdimage
Comment=CDRWIN cue-sheet
Comment[az]=CDRWIN sənədi
Comment[bg]=Документ CDRWIN
Comment[ca]=Guió de CDRWIN
Comment[cs]=Obálka CDRWIN
Comment[cy]=Ciw-restr CDRWIN
Comment[da]=CDRWIN hjælpeark
Comment[de]=CDRWIN-Datenblatt
Comment[es]=Guión de CDRWIN
Comment[eu]=CDRWIN 'cue' orria
Comment[fi]=CDRWIN kansilehti
Comment[fr]=feuille CDRWIN
Comment[hi]=CDRWIN क्यू-शीट
Comment[hu]=CDRWIN-cue-fájl
Comment[is]=CDRWIN cue-skjal
Comment[it]=Cuesheet di CDRWin
Comment[nb]=CDRWIN cue-ark
Comment[nl]=CDRWIN-cue sheet
Comment[nn]=CDRWIN-cue-ark
Comment[pl]=Arkusz cue CDRWIN
Comment[pt]=Ficheiro de dados CDRWIN
Comment[pt_BR]=Folha CDRWIN
Comment[ru]=Таблица CDRWIN cue
Comment[se]=CDRWIN-cue-árka
Comment[sv]=CDRWIN-indexblad
Comment[ta]=CRDWIN முன்னோடித்தாள்
Comment[tg]=Феҳристи CDRWIN
Comment[tr]=CDRWIN dosyası
Comment[uk]=Файл диску CDRWIN
Comment[xx]=xxCDRWIN cue-sheetxx
