[Desktop Entry]
Encoding=UTF-8
Comment=TeX Device Independent File
Comment[fr]=Document DVI de TeX
Comment[x-test]=xxTeX Device Independent Filexx
Icon=dvi
Type=MimeType
MimeType=application/x-dvi
Patterns=*.dvi;*.DVI;
X-KDE-AutoEmbed=true
