[Desktop Entry]
Comment=TeX Device Independent file
Comment[ca]=Fitxer DVI (Device Independent) TeX
Comment[cs]=TeX DVI soubor
Comment[de]=TeX-DVI-Datei
Comment[eo]=TeX-DVI-dosiero
Comment[fi]=TeX DVI -tiedosto
Comment[fr]=Fichier DVI de TeX
Comment[hu]=TeX platform független fájl
Comment[ja]=TeX Device Independentファイル
Comment[no]=TeX-DVI-fil
Comment[no_NY]=TeX einingsuavhengig fil
Comment[pt]=Ficheiro TeX DVI
Comment[ro]=Fişier DVI
Comment[sl]=Datoteka DVI iz TeXa
Comment[sv]=Dokument i TeX enhetsoberoende format (DVI)
Icon=dvi
Type=MimeType
MimeType=application/x-dvi
Patterns=*.dvi;*.DVI;
