[Desktop Entry]
Encoding=UTF-8
Comment=Script (possibly executable)
Comment[af]=Skrip (moontlik uitvoerbaar)
Comment[bg]=Скрипт (вероятно изпълним)
Comment[bn]=স্ক্রিপ্ট (সম্ভবত এক্সিকিউটেবল)
Comment[br]=Urzhiaoueg (marteze ur sevenadus)
Comment[bs]=Skripta (možda izvršiva)
Comment[ca]=Guió (possiblement executable)
Comment[cs]=Pravděpodobně spustitelný skript
Comment[da]=Script der muligvis kan udføres.
Comment[de]=Skript (eventuell ausführbar)
Comment[el]=Αρχείο εντολών κελύφους (πιθανόν εκτελέσιμο)
Comment[es]=Procedimiento (probablemente ejecutable)
Comment[et]=Käivitatav skript
Comment[eu]=Script (exekutagarria litekeena)
Comment[fi]=Skripti (mahdollisesti suoritettava)
Comment[fr]=Script (peut-être exécutable)
Comment[fy]=Skript (Wierskynlik útfierber)
Comment[ga]=Script (b'fhéidir inrite)
Comment[gl]=Guión (posibelmente executábel)
Comment[he]=תסריט (כנראה כניתן להרצה)
Comment[hi]=स्क्रिप्ट (संभवतया चलाने योग्य)
Comment[hu]=Szkript (általában futtatható)
Comment[is]=Skeljaforrit (sem er ef til vill keyranlegt)
Comment[it]=Script (eventualmente eseguibile)
Comment[ja]=スクリプト (おそらく実行可能)
Comment[km]=ស្គ្រីប (អាច​ប្រតិបត្តិ​បាន)
Comment[lb]=Skript (eventuell ausféierbar)
Comment[lt]=Scenarijus (gal būt - vykdomoji byla)
Comment[lv]=Skripts (iespējams, ka izpildāms)
Comment[mk]=скрипта (можно да е извршна)
Comment[ms]=Skrip (mungkin boleh laksana)
Comment[nb]=Skript (kan kanskje kjøres)
Comment[nds]=Skript (villicht utföhrbor)
Comment[nl]=Script (mogelijk uitvoerbaar)
Comment[nn]=Skript (kan kanskje køyrast)
Comment[pa]=ਸਕ੍ਰਿਪਟ (ਸੰਭਵ ਤੌਰ ਤੇ ਚੱਲਣਯੋਗ)
Comment[pl]=Skrypt (być może wykonywalny)
Comment[pt]='Script' (possivelmente executável)
Comment[pt_BR]=Script que é provavelmente executável
Comment[ro]=Script (care ar putea fi executat)
Comment[ru]=Сценарий (возможно исполняемый)
Comment[rw]=Agaporogaramu (mu buryo bushoboka gatangizwa)
Comment[se]=Skripta (dáidá leat vuolggahahtti)
Comment[sk]=Skript (možno spustiteľný)
Comment[sl]=Skript (verjetno izvedljiv)
Comment[sr]=Скрипта (можда извршна)
Comment[sr@Latn]=Skripta (možda izvršna)
Comment[sv]=Skript (möjligen körbart)
Comment[ta]=சிறுநிரல் (இயக்க முடிந்த)
Comment[tg]=Скрипт (мумкин аст, ки ба кор бурда бошад)
Comment[tr]=Betik (çalıştırılabilir)
Comment[tt]=Ämerlek (eşçän buluı bar)
Comment[uk]=Скрипт, який, можливо, можна виконати
Comment[uz]=Эҳтимол ишга тушириб бўладиган скрипт
Comment[zh_CN]=脚本(可能可执行)
Icon=exec
Type=MimeType
MimeType=application/x-executable-script
X-KDE-IsAlso=text/plain
