[Desktop Entry]
Comment=Executable
Comment[cs]=Spustitelný soubor
Comment[de]=Programm
Comment[eo]=Programo
Comment[fi]=Ohjelma
Comment[hu]=Futtatható program
Comment[no]=Program
Comment[sl]=Izvedljivi program
Icon=filesystems/exec
Type=MimeType
MimeType=application/x-executable
Patterns=*.exe;
