[Desktop Entry]
Encoding=UTF-8
Comment=Executable File
Comment[af]=uitvoerbare lêer
Comment[bs]=Izvršna datoteka
Comment[ca]=Fitxer executable
Comment[cs]=Spustitelný soubor
Comment[da]=Kørbar fil
Comment[de]=Ausführbare Datei
Comment[el]=Εκτελέσιμο αρχείο
Comment[eo]=Programo
Comment[es]=Archivo ejecutable
Comment[fi]=Ohjelma
Comment[he]=תוכנית
Comment[hu]=Futtatható program
Comment[ja]=実行可能ファイル
Comment[ko]=실행 파일
Comment[mt]=Programm
Comment[nb]=Program
Comment[nl]=Uitvoerbaar bestand
Comment[pt]=Ficheiro Executável
Comment[pt_BR]=Executável
Comment[ro]=Fişier executabil
Comment[sk]=Spustiteľný súbor
Comment[sv]=Körbar fil
Comment[tr]=Çalıştırılabilir Dosya
Comment[uk]=Програма
Comment[xh]=Ifayile Ephunyezekayo
Comment[zh_TW]=可執行檔
Icon=exec
Type=MimeType
MimeType=application/x-executable
Patterns=*.exe;*.EXE;
