[Desktop Entry]
Encoding=UTF-8
Type=MimeType
MimeType=application/x-font-speedo
Icon=font
Patterns=*.spd;*.SPD
Comment=Speedo Font
Comment[fr]=Police de caractères Speedo
Comment[x-test]=xxSpeedo Fontxx
