[Desktop Entry]
Encoding=UTF-8
Type=MimeType
MimeType=application/x-font-bdf
Icon=font_bitmap
Patterns=*.bdf;*.bdf.Z;*.bdf.gz;*.BDF;*.BDF.Z;*.BDF.gz
Comment=BDF Bitmap Font
Comment[af]=Bdf Biskaart Skrif tipe
Comment[ar]=خط بيتماب لـ BDF
Comment[az]=BDF Bitmap Yazı Növü
Comment[bg]=Шрифт BDF Bitmap
Comment[bn]=বি-ডি-এফ বিটম্যাপ ফন্ট
Comment[br]=Nodrezh Bitmap BDF
Comment[bs]=BDF bitmap font
Comment[ca]=Font bitmap BDF
Comment[cs]=Bitmapové písmo BDF
Comment[cy]=Wynebfath Didfap BDF
Comment[da]=BDF Bitmap-skrifttype
Comment[de]=BDF-Bitmap-Schrift
Comment[el]=Γραμματοσειρά BDF bitmap
Comment[eo]=BDF-bitmapa tiparo
Comment[es]=Fuente bitmap BDF
Comment[et]=BDF bittrasterfont
Comment[eu]=BDF bitmap letra-tipoa
Comment[fa]=قلم نقس‌بیت BDF
Comment[fi]=BDF-bittikarttakirjasin
Comment[fr]=Police de caractères bitmap BDF
Comment[fy]=BDF Bitmap-lettertype
Comment[ga]=Cló BDF Giotánmhapach
Comment[gl]=Fonte BDF Bitmap
Comment[he]=גופן מפת סיביות BDF
Comment[hi]=BDF बिटमेप फ़ॉन्ट
Comment[hr]=BDF bitmapirano pismo
Comment[hu]=BDF bittérképes betűtípus
Comment[is]=BDF bitamyndaletur
Comment[it]=Tipo di carattere bitmap BDF
Comment[ja]=BDF ビットマップフォント
Comment[ka]=BDF რასტრული ფონტი
Comment[km]=ពុម្ពអក្សរ BDF Bitmap
Comment[ko]=BDF 비트맵 글꼴
Comment[lt]=BDF taškinės grafikos (bitmap) šriftas
Comment[lv]=BDF Bitmap fonts
Comment[mk]=BDF Bitmap фонт
Comment[mn]=BDF-Bitmap-Бичиг
Comment[ms]=Font BDF Bitmap
Comment[mt]=Font BDF (bitmap)
Comment[nb]=BDF Bitmapfont
Comment[nds]=BDF Bitmap-Schriftoort
Comment[nl]=BDF Bitmap-lettertype
Comment[nn]=BDF Bitmap-skrift
Comment[nso]=Fonto ya Bitmap ya BDF
Comment[pa]=BDF ਬਿੱਟਮੈਪ ਫੋਂਟ
Comment[pl]=Czcionki bitmapowe BDF
Comment[pt]=Tipo de letra de imagens BDF
Comment[pt_BR]=Fonte Bitmap BDF
Comment[ro]=Font bitmap BDF
Comment[ru]=Растровый шрифт BDF
Comment[rw]=BDF Bitmap Intego-nyuguti
Comment[se]=BDF Bitmap-fonta
Comment[sk]=Bitmapové písmo BDF
Comment[sl]=Bitna pisava BDF
Comment[sq]=BDF Bitmap Dizajne Shkonjash
Comment[sr]=BDF битмапирани фонт
Comment[sr@Latn]=BDF bitmapirani font
Comment[sv]=BDF - bitmappat teckensnitt
Comment[ta]=BDF படத்துணுக்கு எழுத்துரு
Comment[tg]=Ҳарфи BDF Bitmap
Comment[th]=แบบอักษรแบบบิตแมพ BDF
Comment[tr]=Bit Eşlem Yazıtipi
Comment[tt]=BDF Bitmap Yazu
Comment[uk]=Растровий шрифт BDF
Comment[uz]=BDF BMP шрифти
Comment[ven]=Fontu ya Bitmap BDF
Comment[wa]=Fonte bitmap BDF
Comment[xh]=Uhlobo lwamagama lwe BDF Bitmap
Comment[xx]=xxBDF Bitmap Fontxx
Comment[zh_CN]=BDF 位图字体
Comment[zh_TW]=BDF 點陣字形
Comment[zu]=Uhlobo lwamagama Lwe-Bitmap ye-BDF
