[Desktop Entry]
Encoding=UTF-8
Comment=OpenType Font
Comment[fr]=Police de caractères OpenType
Comment[x-test]=xxOpenType Fontxx
Icon=font_truetype
Type=MimeType
MimeType=application/x-font-otf
Patterns=*.otf;*.OTF
