[Desktop Entry]
Encoding=UTF-8
Type=MimeType
MimeType=application/x-gnumeric
Icon=spreadsheet
Patterns=*.gnumeric;*.GNUMERIC;
Comment=GNUmeric Spreadsheet
Comment[af]=Gnumeric Spreiblad
Comment[ar]=ورقة عمل GNUmeric
Comment[az]=GNUmeric Sənədi
Comment[be]=Электронная табліца GNUmeric
Comment[bg]=Документ на GNUmeric
Comment[bn]=গনিউমেরিক স্প্রেডশীট
Comment[br]=Loger GNUmeric
Comment[bs]=GNUmeric spreadsheet
Comment[ca]=Full de càlcul de GNUmeric
Comment[cs]=Tabulka programu Gnumeric
Comment[cy]=Taenlen GNUmeric
Comment[da]=GNUmeric-regneark
Comment[de]=GNUmeric-Arbeitsblatt
Comment[el]=Φύλλο εργασίας GNUmeric
Comment[eo]=GNUmeric-kalkultabelo
Comment[es]=Hoja de cálculo de GNUmeric
Comment[et]=GNUmerici arvutustabel
Comment[eu]=Gnumeric kalkulu-orria
Comment[fa]=صفحه‌گسترده‌ی GNUmeric
Comment[fi]=GNUmeric-taulukko
Comment[fr]=Feuille de calcul GNUmeric
Comment[fy]=GNUmeric Rekkenboerd
Comment[ga]=Scarbhileog GNUmeric
Comment[gl]=Folla de Cálculo GNUmeric
Comment[he]=גיליון אלקטרוני של GNUmeric
Comment[hi]=जीन्यूमेरिक स्प्रेडशीट
Comment[hr]=GNUmericova tablica
Comment[hu]=GNUmeric munkafüzet
Comment[is]=GNUmeric töflureikniskjal
Comment[it]=Foglio di calcolo GNUmeric
Comment[ja]=GNUmeric スプレッドシート
Comment[km]=សៀវភៅ​បញ្ជី GNUmeric
Comment[ko]=그누메릭(GNUmeric) 스프레드시트
Comment[lb]=GNUmeric-Tabellëblat
Comment[lt]=GNUmeric elektroninė lentelė
Comment[lv]=GNUmeric izklājlapa
Comment[mk]=GNUmeric табела
Comment[mn]=GNUmeric-Өгөгдлийн хуудас
Comment[ms]=Halaman Helaian GNUmeric
Comment[mt]=Spreadsheet GNUmeric
Comment[nb]=GNUmeric regneark
Comment[nds]=GNUmeric-Arbeitblatt
Comment[nl]=GNUmeric-spreadsheet
Comment[nn]=GNUmeric-rekneark
Comment[nso]=Matlakala a Phatlalatso a GDInomoro
Comment[pa]=GNUmeric ਸਾਰਣੀਕਾਰ
Comment[pl]=Arkusz GNUmerica
Comment[pt]=Folha de cálculo do GNUmeric
Comment[pt_BR]=Planilha do Gnumeric
Comment[ro]=Foaie de calcul tabelar GNUmeric
Comment[ru]=Таблица GNUmeric
Comment[rw]=Urupapurorusesuye GNUmibare
Comment[se]=GNUmeric-tabealla
Comment[sk]=Tabuľkový procesor Gnumeric
Comment[sl]=Preglednica GNUmeric
Comment[sq]=Tabak GNUmeric
Comment[sr]=GNUmeric-ова унакрсна табела
Comment[sr@Latn]=GNUmeric-ova unakrsna tabela
Comment[sv]=Gnumeric kalkylark
Comment[ta]=GNUmeric விரிதாள்
Comment[tg]=Ҳуҷҷати GNUmeric 
Comment[th]=กระดาษคำนวณของ GNUmeric
Comment[tr]=GNUmeric Hesap Çizelgesi
Comment[tt]=GNUmeric İsäpcäymäse
Comment[uk]=Електронна таблиця GNUmeric
Comment[uz]=GNUmeric электрон жадвали
Comment[ven]=U phadaladza ha siatari ha GNUmeric 
Comment[wa]=Documint tåvleu GNUmeric
Comment[zh_CN]=GNUmeric 电子表格
Comment[zh_HK]=GNUmeric 試算表
Comment[zh_TW]=GNUmeric 試算表
Comment[zu]=Iphephashana elinwebekayo le-GNUmeric
