[Desktop Entry]
Encoding=UTF-8
MimeType=application/x-graphite
Type=MimeType
icon=document
Patterns=*.gra;*.GRA;
X-KDE-AutoEmbed=false
Comment=Graphite Scientific Graph
Comment[af]=Grafiet Wetenskaplike Grafiese
Comment[ar]=رسم بياني علمي لـ Graphite
Comment[az]=Graphite Elmi Qrafikası
Comment[bg]=Графика на Graphite Scientific
Comment[bn]=গ্রাফাইট সায়েন্টিফিক গ্রাফ
Comment[bs]=Graphite znanstveni grafovi
Comment[ca]=Gràfica científica de Graphite
Comment[cs]=Vědecký graf programu Graphite
Comment[cy]=Graff Gwyddonol Graphite
Comment[da]=Grafit - videnskabelig graf
Comment[de]=Wissenschaftliche Graphik für Graphite
Comment[el]=Επιστημονικό γράφημα Graphite
Comment[eo]=Grafito - Sciencaj grafikoj
Comment[es]=Gráfica científica Graphite
Comment[et]=Graphite Scientific graafik
Comment[eu]=Graphite Scientific grafikoak
Comment[fa]=گراف علمی Graphite
Comment[fi]=Graphite-kuvaaja
Comment[fr]=Graphite - Courbes scientifiques
Comment[fy]=Graphite - wittenskiplike grafyk
Comment[gl]=Gráfica Científica Graphite
Comment[he]=גרף מדעי של Graphite
Comment[hi]=ग्रेफाइट साइंटिफिक ग्राफ
Comment[hr]=Graphiteovi znanstveni grafovi
Comment[hu]=Graphite grafikon
Comment[is]=Graphite gröf - myndræn framsetning gagna
Comment[it]=Grafico scientifico Graphite
Comment[ja]=Graphite 科学技術用グラフ
Comment[ka]=Graphite Scientific დიაგრამა
Comment[km]=គំនូសតាង​​វិទ្យាសាស្រ្ត Graphite
Comment[ko]=그래파이트 과학 그래프
Comment[lt]=Graphite moksliniai grafikai
Comment[lv]=Graphite Zinātniski Grafiki
Comment[mk]=Graphite научен график
Comment[mn]=Graphit - Шинжлэх ухааны график
Comment[ms]=Graf Saintifik Graphite
Comment[mt]=Graff Xjentifiku Graphite
Comment[nb]=Graphite - Vitenskaplige grafer
Comment[nds]=Wetenschaplich Diagramm vun Graphite
Comment[nl]=Graphite-grafiek
Comment[nn]=Graphite vitskapleg graf
Comment[nso]=Graph ya Boramahlale ya Graphite
Comment[pa]=ਗਰੇਫਾਇਟ ਵਿਗਿਆਨਕ ਗਰਾਫ਼
Comment[pl]=Wykres naukowy Grafita
Comment[pt]=Gráfico científico do Graphite
Comment[pt_BR]=Grafite - Gráficos científicos
Comment[ro]=Grafice ştiinţifice Graphite
Comment[ru]=График Graphite Scientific
Comment[rw]=Igishushanyo Buhanga  cya Garafite
Comment[se]=Graphite dieđalaš govvejeaddji
Comment[sk]=Graphite vedecké grafy
Comment[sl]=Graphite - znanstveni grafi
Comment[sq]=Grafikë nga Graphtie Scientific
Comment[sr]=Graphite-ови научни графици
Comment[sr@Latn]=Graphite-ovi naučni grafici
Comment[sv]=Grafit vetenskapliga grafer
Comment[ta]=காரீய அறிவியல் வரைபு
Comment[tg]=Графикаи илмии Graphite
Comment[tr]=Graphite Bilimsel Grafikler
Comment[tt]=Graphite Scientific Sızımı
Comment[uk]=Graphite - наукова графіка
Comment[uz]=Graphite илмий чизма
Comment[ven]=Girafaiti - Girafu ya zwa dzi santsi
Comment[wa]=Grafikes syintifikes di Graphite
Comment[xh]=Imizobo Yobunzulu Lwazi ye Graphite
Comment[xx]=xxGraphite Scientific Graphxx
Comment[zh_CN]=Graphite 科学图表
Comment[zh_TW]=Graphite - 科學繪圖
Comment[zu]=Umdwebo Wezesayensi Womdwebo
[Property::X-KDE-NativeExtension]
Type=QString
Value=.gra
