[Desktop Entry]
Encoding=UTF-8
Comment=Gzipped PostScript File
Comment[af]=Gzip gekompakteerde Postscript Lêer
Comment[ar]=ملف بوست سكريبت مضغوط عن طريق Gzip
Comment[bs]=Gzipovana PostScript datoteka
Comment[ca]=Fitxer PostScript comprimit amb Gzip
Comment[cs]=Postscriptový soubor komprimovaný gzipem
Comment[da]=Gzippet PostScript-fil
Comment[de]=Mit Gzip komprimierte PostScript-Datei
Comment[el]=Αρχείο PostScript συμπιεσμένο με gzip
Comment[eo]=Gzip-kunpremita postskripta dosiero
Comment[es]=Archivo PostScript comprimido con Gzip
Comment[et]=GZIPiga pakitud PostScript fail
Comment[eu]=Gzipped Postscript Fitxategia
Comment[fa]=پرونده‌ی PostScript Gzip شده
Comment[fi]=Gzip pakattu PostScript-tiedosto
Comment[fr]=Fichier PostScript compacté par Gzip
Comment[he]=קובץ PostScript דחוס ע"י Gzip
Comment[hr]=Gzipana PostScript datoteka
Comment[hu]=Gzip-es PostScript fájl
Comment[it]=File PostScript compresso con Gzip
Comment[ja]=Gzip された Postscript ファイル
Comment[ko]=Gzip으로 압축된 포스트스크립트 파일
Comment[lt]=Suglaudinta su Gzip Postscript byla
Comment[mt]=Fajl Postscript gzippjat
Comment[nb]=Gzippet Postscript-fil
Comment[nl]=Met Gzip gecomprimeerd PostScript-bestand
Comment[nn]=Gzippa PostScript-fil
Comment[nso]=Faele ya Setlankana sa Poso sa Gzipped
Comment[pl]=Skompresowany (gzipem) plik Postcript
Comment[pt]=Ficheiro PostScript comprimido com GZip
Comment[pt_BR]=Arquivo PostScript compactado com GZIP
Comment[ro]=Fişier PostScript comprimat
Comment[ru]=Запакованный gzip Postscript документ
Comment[sk]=GZIP zabalený postskriptový súbor
Comment[sl]=Postscriptna datoteka, stisnjena z gzip
Comment[sv]=Gzip-komprimerad Postscript-fil
Comment[ta]=Gzip ¦ºö¾ Postscript §¸¡ôÒ
Comment[tr]=Sıkıştırılmış[Gzipped] PostScript Dosyası
Comment[uk]=Файл PostScript стиснутий gzip
Comment[ven]=Faela ya tshikiriputi tsha poso ya Gzipped
Comment[xh]=Ifayile ye PostScript Gzipped
Comment[zh_CN]=Gzip 压缩的 Postscript 文件
Comment[zh_TW]=Gzip 壓縮的 Postscript 檔案
Comment[zu]=Ifayela le-PostScript ye-Gzipped
Hidden=false
Icon=tgz
MimeType=application/x-gzpostscript
Patterns=*.ps.gz
Type=MimeType
X-KDE-AutoEmbed=true
