[Desktop Entry]
Encoding=UTF-8
MimeType=application/x-gzip
Comment=Gzip File
Comment[fr]=Fichier compacté par Gzip
Comment[x-test]=xxGzip Filexx
Icon=tgz
Type=MimeType
Patterns=*.gz;*.tgz;
