[Desktop Entry]
Comment=Gzip Compressed DVI File
Comment[af]=Gzip Gekompakteerde DVI Lêer
Comment[be]=Файл DVI, сціснуты Gzip
Comment[bg]=Компресиран файл DVI с gzip
Comment[bn]=জি-জিপকৃত (gzipped) ডি-ভি-আই ফাইল
Comment[br]=Restr DVI moustret gant gzip
Comment[bs]=Gzip komprimirana DVI datoteka
Comment[ca]=Fitxer DVI comprimit amb gzip
Comment[cs]=DVI soubor komprimovaný GZIP
Comment[csb]=Lopk DVI skòmpresowóny przez Gzip
Comment[da]=Gzip-komprimeret DVI-fil
Comment[de]=Gzip-komprimierte DVI-Datei
Comment[el]=Αρχείο DVI συμπιεσμένο με gzip
Comment[eo]=DVI-dosiero densigita per Gzip
Comment[es]=Archivo DVI comprimido con Gzip
Comment[et]=Gzip tihendusega DVI-fail
Comment[eu]=Gzip-ek konprimitutako DVI fitxategia
Comment[fa]=پروندۀ DVI فشرده‌شدۀ
Comment[fi]=Gzip-pakattu DVI-tiedosto
Comment[fr]=Fichier DVI compressé avec Gzip
Comment[fy]=Gzip komprimearre DVI Triem
Comment[ga]=Comhad DVI comhbhrúite le gzip
Comment[gl]=Ficheiro DVI Comprimido con Gzip
Comment[he]=קובץ DVI דחוס של באמצעות Gzip
Comment[hi]=गजिप संपीडित डीवीआई फ़ाइल
Comment[hr]=Gzip komprimirana DVI datoteka
Comment[hu]=Gzippel tömörített DVI-fájl
Comment[id]=Berkas Gzip Compressed DVI
Comment[is]=Gzip þjöppuð DVI skrá
Comment[it]=File DVI compresso con Gzip
Comment[ja]=Gzip 圧縮 DVI ファイル
Comment[ka]=Gzip შეკუმშული DVI ფაილი
Comment[kk]=Gzip-пен сығылған DVI файлы
Comment[km]=ឯកសារ DVI ដែល​បាន​បង្ហាប់ដោយ Gzip
Comment[lb]=Gzip-kompriméiert DVI-Datei
Comment[lt]=Gzip suspausta DVI byla
Comment[lv]=Ar Gzip kompresēts DVI fails
Comment[mk]=Gzip-компресирана DVI-датотека
Comment[ms]=Fail DVI Dimampatkan Gzip
Comment[nb]=Gzip-komprimert DVI-fil
Comment[nds]=GZip-komprimeert DVI-Datei
Comment[ne]=Gzip सङ्कुचित DVI फाइल
Comment[nl]=Met gzip gecomprimeerd DVI-bestand
Comment[nn]=Gzip-komprimert DVI-fil
Comment[pa]=Gzip ਨਪੀੜੀ DVI ਫਾਇਲ
Comment[pl]=Plik DVI skompresowany za pomocą Gzip
Comment[pt]=Ficheiro DVI Comprimido com GZip
Comment[pt_BR]=Arquivo DVI compactado com o Gzip
Comment[ro]=Fişier DVI comprimat cu Gzip
Comment[ru]=Сжатый gzip файл DVI
Comment[rw]=Idosiye DVI Yegeranyijwe Gzipu
Comment[se]=Gzip-čoahkkáibáhkkejuvvon DVI-fiila
Comment[sk]=Komprimovaný súbor DVI pomocou gzip
Comment[sl]=Datoteka DVI, stisnjena s gzip-om
Comment[sr]=Gzip компресовани DVI фајл
Comment[sr@Latn]=Gzip kompresovani DVI fajl
Comment[sv]=Gzip-komprimerad DVI-fil
Comment[ta]=Gzip அழுத்திய கோப்பு
Comment[te]=జీజిప్ ద్వారా సంక్షిప్త పరచిన DVI దస్త్రం
Comment[tg]=Gzip Файли DVI фушурдашуда
Comment[th]=แฟ้ม DVI ที่บีบอัดด้วย Gzip
Comment[tr]=Gzip Sıkıştırılmış DVI Dosyası
Comment[tt]=Gzip'le DVI Birem
Comment[uk]=Файл DVI, стиснутий gzip
Comment[uz]=Gzip bilan qisilgan DVI-fayli
Comment[uz@cyrillic]=Gzip билан қисилган DVI-файли
Comment[vi]=Tập tin DVI đã nén Gzip
Comment[zh_CN]=Gzip 压缩的 DVI 文件
Comment[zh_HK]=Gzip 格式壓縮的 DVI 檔案
Comment[zh_TW]=Gzip 壓縮的 DVI 檔案
Hidden=false
Icon=tgz
MimeType=application/x-gzdvi
Patterns=*.dvi.gz
Type=MimeType
X-KDE-AutoEmbed=true
X-KDE-IsAlso=application/x-gzip
