[Desktop Entry]
Encoding=UTF-8
MimeType=application/x-gzip
Comment=Gzip File
Comment[af]=Gzip Lêer
Comment[ar]=ملف Gzip
Comment[be]=Файл Gzip
Comment[bg]=Архив Gzip
Comment[br]=Restr Gzip
Comment[ca]=Fitxer Gzip
Comment[cs]=Soubor komprimovaný gzipem
Comment[cy]=Ffeil Gzip
Comment[da]=Gzip-fil
Comment[de]=Gzip-Datei
Comment[el]=Αρχείο gzip
Comment[eo]=Gzip-dosiero
Comment[es]=Archivo comprimido Gzip
Comment[et]=Gzip arhiiv
Comment[eu]=Gzip fitxategia
Comment[fa]=پروندۀ Gzip
Comment[fi]=Gzip-paketti
Comment[fr]=Fichier compacté par Gzip
Comment[fy]=Gzip-triem
Comment[ga]=Comhad gzip
Comment[gl]=Ficheiro Gzip
Comment[he]=קובץ Gzip
Comment[hr]=Gzip datoteka
Comment[hu]=Gzip-fájl
Comment[is]=Þjöppuð skrá (gzip)
Comment[it]=File Gzip
Comment[ja]=Gzip ファイル
Comment[kk]=Gzip файлы
Comment[km]=ឯកសារ Gzip
Comment[ko]=Gzip 파일
Comment[lb]=Gzip-Datei
Comment[lt]=Gzip byla
Comment[lv]=Gzip fails
Comment[mk]=Gzip-датотека
Comment[ms]=Fail Gzip
Comment[nb]=GZip-fil
Comment[nds]=GZip-Datei
Comment[ne]=Gzip फाइल
Comment[nl]=Gzip-bestand
Comment[nn]=Gzip-fil
Comment[pa]=Gzip ਫਾਇਲ
Comment[pl]=Plik Gzip
Comment[pt]=Ficheiro do GZip
Comment[pt_BR]=Arquivo GZip
Comment[ro]=Fişier GZip
Comment[ru]=Архив gzip
Comment[se]=Gzip-fiila
Comment[sl]=Datoteka, stisnjena z gzip
Comment[sr]=Gzip фајл
Comment[sr@Latn]=Gzip fajl
Comment[sv]=Gzip-fil
Comment[ta]=Gzip கோப்பு
Comment[tg]=Файли Gzip
Comment[tr]=Gzip Dosyası
Comment[uk]=Файл gzip
Comment[uz]=Gzip-файли
Comment[x-test]=xxGzip Filexx
Comment[xh]=Ifayile ye Gzip
Comment[zh_HK]=Gzip 檔案
Comment[zh_TW]=Gzip 檔案
Icon=tgz
Type=MimeType
Patterns=*.gz;*.tgz;
