[Desktop Entry]
Type=MimeType
Patterns=*.iso;*.ISO
MimeType=application/x-iso
Icon=cdtrack
Comment=ISO9660 Image File
Comment[be]=Файл вобразу ISO9660
Comment[bg]=Файл снимка ISO9660
Comment[bn]=ISO9660 ইমেজ ফাইল
Comment[bs]=ISO9660 image datoteka
Comment[ca]=Fitxer d'imatge ISO9660
Comment[cs]=Soubor s ISO9660 obrazem
Comment[da]=ISO9660 billedfil
Comment[de]=ISO9660-Bilddatei
Comment[es]=Archivo de imagen ISO9660
Comment[et]=ISO9660 tõmmisefail
Comment[fi]=ISO9660 binäärikuva
Comment[fr]=Fichier image ISO9660
Comment[hu]=ISO9660-képmásfájl
Comment[it]=File immagine ISO9660
Comment[ja]=ISO9660 イメージ ファイル
Comment[nb]=ISO9660-biletfil
Comment[nl]=ISO9660-beeldbestand
Comment[nn]=ISO9660-biletfil
Comment[pa]=ISO9660 ਪ੍ਰਤੀਬਿੰਬ ਫਾਇਲ਼
Comment[pl]=Obraz systemu plików ISO9660
Comment[pt]=Ficheiro com Imagem ISO9660
Comment[pt_BR]=Arquivo de Imagem ISO9660
Comment[sk]=Obraz disku ISO9660
Comment[sl]=Podoba plošče ISO9660
Comment[sr]=Фајл ISO9660 слике
Comment[sr@Latn]=Фајл ISO9660 слике
Comment[sv]=ISO9660-avbildsfil
Comment[tg]=Файли тасвири ISO9660
Comment[uz]=ISO9660-тасвир файли
Comment[xx]=xxISO9660 Image Filexx
Comment[zh_CN]=ISO9660 映像文件
