[Desktop Entry]
Type=MimeType
Patterns=*.iso;*.ISO
MimeType=application/x-iso
Icon=cdtrack
Comment=ISO9660 Image File
Comment[af]=ISO9660 Beeld Leêr
Comment[be]=Файл вобразу ISO9660
Comment[bg]=Файл снимка ISO9660
Comment[bn]=ISO9660 ইমেজ ফাইল
Comment[br]=Restr ar skeudenn ISO9660
Comment[bs]=ISO9660 image datoteka
Comment[ca]=Fitxer d'imatge ISO9660
Comment[cs]=Soubor s ISO9660 obrazem
Comment[da]=ISO9660 billedfil
Comment[de]=ISO9660-Bilddatei
Comment[el]=Αρχείο εικόνας ISO9660
Comment[es]=Archivo de imagen ISO9660
Comment[et]=ISO9660 tõmmisefail
Comment[eu]=ISO9660 irudi fitxategia
Comment[fi]=ISO9660 binäärikuva
Comment[fr]=Fichier image ISO9660
Comment[fy]=ISO9660 Ofbylding Triem
Comment[gl]=Arquivo de imaxe ISO9660
Comment[he]=קובץ מראה של ISO9660
Comment[hi]=आईएसओ9660 इमेज़ फ़ाइल
Comment[hu]=ISO9660-képmásfájl
Comment[is]=ISO9660 diskmynd
Comment[it]=File immagine ISO9660
Comment[ja]=ISO9660 イメージ ファイル
Comment[ka]=ISO9660 ასლის ფაილი
Comment[km]=ឯកសារ​រូបភាព ISO9660
Comment[lb]=ISO9660-Bilddatei
Comment[lt]=ISO9660 atvaizdo byla
Comment[lv]=ISO9660 attēla fails
Comment[mk]=Датотека со ISO9660 слика
Comment[ms]=Fail Imej ISO9660
Comment[nb]=ISO9660-biletfil
Comment[nds]=ISO9660-Bilddatei
Comment[nl]=ISO9660-beeldbestand
Comment[nn]=ISO9660-biletfil
Comment[pa]=ISO9660 ਪ੍ਰਤੀਬਿੰਬ ਫਾਇਲ
Comment[pl]=Obraz systemu plików ISO9660
Comment[pt]=Ficheiro com Imagem ISO9660
Comment[pt_BR]=Arquivo de Imagem ISO9660
Comment[ro]=Fişier imagine ISO9660
Comment[ru]=Файл образа ISO9660
Comment[rw]=ISO9660 Ishusho Idosiye
Comment[se]=ISO9660-govvafiila
Comment[sk]=Obraz disku ISO9660
Comment[sl]=Podoba plošče ISO9660
Comment[sr]=Фајл ISO9660 слике
Comment[sr@Latn]=Fajl ISO9660 slike
Comment[sv]=ISO9660-avbildsfil
Comment[ta]=ISO9660 பிம்பக் கோப்பு
Comment[tg]=Файли тасвири ISO9660
Comment[tr]=ISO9660 Resim Dosyası
Comment[tt]=ISO9660 Sürät Bireme
Comment[uk]=Файл штампа ISO9660
Comment[uz]=ISO9660-тасвир файли
Comment[xx]=xxISO9660 Image Filexx
Comment[zh_CN]=ISO9660 映像文件
