[Desktop Entry]
Type=MimeType
MimeType=application/x-java
Icon=binary
Patterns=*.class;
Comment=Java Class
Comment[ca]=Classe Java
Comment[cs]=Java třída
Comment[da]=Javaklasse
Comment[de]=Java-Klasse
Comment[el]=Κλάση Java
Comment[eo]=Javo-klaso
Comment[es]=Clase Java
Comment[et]=Java klass
Comment[fi]=Java-luokka
Comment[fr]=Classe Java
Comment[gl]=Clase de Java
Comment[he]=הווא'ג תקלחמ
Comment[hr]=Java razred
Comment[hu]=Java osztály
Comment[is]=Java-klasi
Comment[it]=Classe Java
Comment[ja]=Javaクラス
Comment[lt]=Java Klasė
Comment[mk]=Java класа
Comment[nl]=Java-klasse
Comment[no]=Java-klasse
Comment[no_NY]=Java-klasse
Comment[pl]=Klasa Javy
Comment[pt]=Classe Java
Comment[pt_BR]=Classe Java
Comment[ro]=Clasă Java
Comment[ru]=Класс Java
Comment[sk]=Java trieda
Comment[sl]=Razred Jave
Comment[sv]=Java-klass
Comment[ta]=¡Å¡ Å¨¸
Comment[tr]=Java Sınıfı
Comment[uk]=Клас Java
Comment[zh_CN.GB2312]=Java 类
