[Desktop Entry]
Encoding=UTF-8
Type=MimeType
Comment=Java Web Start application
Comment[af]=Java Web Begin program
Comment[ca]=Aplicació Java Web Start
Comment[cs]=Java Web Start aplikace
Comment[da]=Java webstart program
Comment[de]=Java Web-Start-Programm
Comment[el]=Εφαρμογή αναζήτησης στο διαδίκτυο περί Java
Comment[es]=Aplicación de Java Web Start
Comment[et]=Java Web Start rakendus
Comment[fi]=Java Web Start -sovelma
Comment[fr]=Application Java Web Start
Comment[fy]=Java Web Start-applikaasje
Comment[gl]=Aplicazón Java Web Start 
Comment[he]=יישומון WebStart של Java
Comment[hu]=Java Web Start-alkalmazás
Comment[it]=Applicazione Java Web Start
Comment[ka]=Java Web Start პროგრამა
Comment[km]=កម្មវិធី​ចាប់ផ្ដើម​បណ្ដាញ Java
Comment[lb]=Java-Web-Start Programm
Comment[lt]=Java Web Start programa
Comment[nds]="Java Web Start"-Programm
Comment[nl]=Java Web Start-toepassing
Comment[pa]=Java Web ਸ਼ੁਰੂ ਕਾਰਜ
Comment[pl]=Program Java Web Start
Comment[pt]=Aplicação do Java Web Start
Comment[pt_BR]=Aplicativo Java Web Start
Comment[ru]=Приложение Java Web Start
Comment[rw]=Porogaramu Gutangira Urubuga Java
Comment[sl]=Javanski program Web Start
Comment[sr]=Java Web Start примена
Comment[sr@Latn]=Java Web Start primena
Comment[sv]=Java webbstartprogram
Comment[ta]=ஜாவா வலை துவக்க பயன்பாடு
Comment[tr]=Java Web Start uygulaması
Comment[tt]=Java Web Start yazılımı
Comment[uk]=Програма Java з мережі
Comment[xx]=xxJava Web Start applicationxx
Comment[zh_CN]=Java Web Start 应用程序
MimeType=application/x-java-jnlp-file
