# KDE Config File
[Desktop Entry]
MimeType=application/x-karbon
Icon=karbon
Comment=Karbon14 Document
Comment[af]=Karbon14 Dokument
Comment[ar]=مستند Karbon14
Comment[az]=Karbon14 Sənədi
Comment[be]=Дакумэнт Karbon14
Comment[bg]=Документ Karbon14
Comment[bs]=Karbon14 dokument
Comment[cs]=Dokument Karbon14
Comment[da]=Karbon14-dokument
Comment[de]=Karbon14-Dokument
Comment[el]=Έγγραφο Karbon14
Comment[eo]=Karbon14-dokumento
Comment[es]=Documento de Karbon14
Comment[et]=Karbon14 dokument
Comment[eu]=Karbon14 Dokumentua
Comment[fi]=Karbon14-asiakirja
Comment[fr]=Document Karbon14
Comment[he]=מסמך Karbon14
Comment[hu]=Karbon14 dokumentum
Comment[is]=Karbon14 skjal
Comment[it]=Documento Karbon14
Comment[ja]=Karbon14 ドキュメント
Comment[lt]=Karbon14 dokumentas
Comment[lv]=Karbon14 Dokuments
Comment[nb]=Karbon14-dokument
Comment[nl]=Karbon14 document
Comment[nn]=Karbon14-dokument
Comment[pl]=Dokument Karbon14
Comment[pt]=Documento do Karbon14
Comment[pt_BR]=Documento Karbon
Comment[ro]=Document Karbon14
Comment[ru]=Karbon14 Документ
Comment[sk]=Dokument darbon14
Comment[sl]=Dokument za Karbon14
Comment[sv]=Karbon14-dokument
Comment[ta]=Karbon14 ¬Å½õ
Comment[th]=เอกสารของ AbiWord
Comment[tr]=Karbon14 Belgesi
Comment[uk]=Документ Karbon14
Comment[ven]=Manwalwa a Karbon14
Comment[vi]=Tài liệu Karbon14
Comment[xh]=Karbon14 Uxwebhu
Comment[xx]=xx
Comment[zh_CN]=Karbon14 文档
Comment[zh_TW]=Karbon14 文件
Comment[zu]=Idokhumenti ye Karbon14
Patterns=*.karbon;
X-KDE-AutoEmbed=false
