[Desktop Entry]
MimeType=application/x-karbon
Type=MimeType
Icon=karbon_karbon
Patterns=*.karbon;
X-KDE-AutoEmbed=false
Comment=Karbon14 Document
Comment[x-test]=xxKarbon14 Documentxx
