[Desktop Entry]
Type=MimeType
Encoding=UTF-8
MimeType=application/x-kchart
Icon=kchart_chrt
Patterns=*.chrt;
Comment=KChart Document
Comment[fr]=Document KChart
Comment[x-test]=xxKChart Documentxx
X-KDE-AutoEmbed=false
[Property::X-KDE-NativeExtension]
Type=QString
Value=.chrt
