[Desktop Entry]
Encoding=UTF-8
Type=MimeType
MimeType=application/x-kde-wallet
Comment=KDE Wallet File
Comment[x-test]=xxKDE Wallet Filexx
Patterns=*.kwl
X-KDE-AutoEmbed=false

