# KDE Config File
[Desktop Entry]
Encoding=UTF-8
MimeType=application/x-kformula
Comment=KFormula Document
Comment[af]=Kformula Dokument
Comment[ar]=مستند KFormula
Comment[be]=Дакумэнт KFormula
Comment[bs]=KFormula dokument
Comment[ca]=Document de KFormula
Comment[cs]=Dokument programu KFormula
Comment[da]=KFormula-dokument
Comment[de]=KFormula-Dokument
Comment[el]=Έγγραφο KFormula
Comment[eo]=KFormulo-dokumento
Comment[es]=Documento de KFormula
Comment[et]=KFormula dokument
Comment[eu]=KFormula Dokumentua
Comment[fa]=سند KFormula
Comment[fi]=KFormula-asiakirja
Comment[fr]=Document KFormula
Comment[he]=מסמך KFormula
Comment[hu]=KFormula dokumentum
Comment[it]=Documento KFormula
Comment[ja]=KFormula ドキュメント
Comment[lt]=KFormula dokumentas
Comment[mt]=Dokument KFormula
Comment[nb]=KFormula-dokument
Comment[nl]=KFormula-document
Comment[nn]=KFormula-dokument
Comment[nso]=Tokomane ya KFormula
Comment[pl]=Dokument KFormula
Comment[pt]=Documento do KFormula
Comment[pt_BR]=Documento KFormula
Comment[ro]=Document KFormula
Comment[ru]=Документ KFormula
Comment[sk]=KFormula dokument
Comment[sl]=Dokument za KFormula
Comment[ss]=Lidokhumente le KFormula
Comment[sv]=Kformula-dokument
Comment[ta]=KFormula ¬Å½õ
Comment[tr]=KFormula Belgesi
Comment[uk]=Документ KFormula
Comment[ven]=Manwalwa a tshivhumbeo tsha K
Comment[xh]=Uxwebhu lwe KFormula
Comment[zh_CN]=KFormula 文档
Comment[zh_TW]=KFormula 文件
Comment[zu]=Uhlu lwamafayela ye-KFormula
Type=MimeType
Patterns=*.kfo;
[Property::X-KDE-NativeExtension]
Type=QString
Value=.kfo
