# KDE Config File
[Desktop Entry]
Encoding=UTF-8
MimeType=application/x-kontour
Comment=Kontour Document
Comment[af]=Kontoer Dokument
Comment[ar]=مستند Kontour
Comment[az]=Kontour Sənədi
Comment[be]=Дакумэнт Kontour
Comment[bg]=Документ на Kontour
Comment[bn]=কনটুর নথী
Comment[br]=Teul Kontour
Comment[bs]=Kontour dokument
Comment[ca]=Document de Kontour
Comment[cs]=Dokument programu Kontour
Comment[cy]=Dogfen Kontour
Comment[da]=Kontour-dokument
Comment[de]=Kontour-Dokument
Comment[el]=Έγγραφο Kontour
Comment[eo]=Kontour-Vektorgrafiko
Comment[es]=Documento de Kontour
Comment[et]=Kontouri dokument
Comment[eu]=Kontour dokumentua
Comment[fa]=سند Kontour
Comment[fi]=Kontour-asiakirja
Comment[fr]=Document Kontour
Comment[fy]=Kontour-dokumint
Comment[ga]=Cáipéis Kontour
Comment[gl]=Documento de Kontour
Comment[he]=מסמך Kontour
Comment[hi]=कॉन्टूर दस्तावेज़
Comment[hr]=Kontour dokument
Comment[hu]=Kontour-dokumentum
Comment[is]=Kontour skjal
Comment[it]=Documento Kontour
Comment[ja]=Kontour ドキュメント
Comment[ka]=Kontour დოკუმენტი
Comment[km]=ឯកសារ Kontour
Comment[lb]=Kontour-Dokument
Comment[lt]=Kontour dokumentas
Comment[lv]=Kontour dokuments
Comment[mk]=Kontour документ
Comment[mn]=Kontour-Баримт
Comment[ms]=Dokumen Kontour
Comment[mt]=Dokument Kontour
Comment[nb]=Kontour-dokument
Comment[nds]=Kontour-Dokment
Comment[nl]=Kontour-document
Comment[nn]=Kontour-dokument
Comment[nso]=Tokomane ya Kontour
Comment[pa]=Kontour ਦਸਤਾਵੇਜ਼
Comment[pl]=Dokument Kontoura
Comment[pt]=Documento do Kontour
Comment[pt_BR]=Documento Kontour
Comment[ro]=Document Kontour
Comment[ru]=Документ Kontour
Comment[rw]=Kontour Inyandiko
Comment[se]=Kontour-dokumeanta
Comment[sk]=Kontour dokument
Comment[sl]=Dokument za Kontour
Comment[sq]=Dokument nga Kontour
Comment[sr]=Kontour-ов документ
Comment[sr@Latn]=Kontour-ov dokument
Comment[ss]=Lidokhumente le Kontour
Comment[sv]=Kontour-dokument
Comment[ta]=Kontour ஆவணம்
Comment[tg]=Ҳуҷҷати Kontour
Comment[tr]=Kontour Belgesi
Comment[tt]=Kontour İstälegeDocument
Comment[uk]=Документ Kontour
Comment[uz]=Kontour ҳужжати
Comment[ven]=Manwalwa a Kontour
Comment[wa]=Documint Kontour
Comment[xh]=Uxwebhu lwe Kontour
Comment[xx]=xxKontour Documentxx
Comment[zh_CN]=Kontour 文档
Comment[zh_TW]=Kontour 文件
Comment[zu]=Uhlu lwamafayela lwe-Kontour
Icon=vectorgfx
Type=MimeType
Patterns=*.kon;
X-KDE-AutoEmbed=false
[Property::X-KDE-NativeExtension]
Type=QString
Value=.kon
