[Desktop Entry]
Comment=KPovModeler File
Comment[af]=Kpovmoduleerder Lêer
Comment[ar]=ملف KPovModeler
Comment[az]=KPovModeler Faylı
Comment[be]=Файл KPovModeler
Comment[bg]=Документ на KPovModeler
Comment[bn]=কে-পভ-মডেলার ফাইল
Comment[br]=Restr KPovModeler
Comment[bs]=KPovModeler datoteka
Comment[ca]=Fitxer de KPovModeler
Comment[cs]=Soubor KPovModeleru
Comment[cy]=Ffeil KPovModeler
Comment[da]=KPovModeler-fil
Comment[de]=Datei des Povray-Modellierers von KDE
Comment[el]=Αρχείο KPovModeler
Comment[eo]=Dosiero de Povray-modelilo
Comment[es]=Archivo de KPovModeler
Comment[et]=KPovModeleri fail
Comment[eu]=KPovModeler fitxategia
Comment[fa]=پرونده‌ی KPovModeler
Comment[fi]=KPovModeler-tiedosto
Comment[fr]=Fichier KPovModeler
Comment[fy]=KPovModeler-triem
Comment[ga]=Comhad KPovModeler
Comment[gl]=Arquivo de KPovModeler
Comment[he]=קובץ KPovModeler
Comment[hi]=के-पोव-माडलर फ़ाइल
Comment[hr]=KPovModeler datoteka
Comment[hu]=KPovModeler-fájl
Comment[is]=KPovModeler skrá
Comment[it]=File KPovModeler
Comment[ja]=KPovModeler ファイル
Comment[ka]=KPovModeler ფაილი
Comment[km]=ឯកសារ KPovModeler
Comment[lb]=KPovModeler-Datei
Comment[lt]=KPovModeler byla
Comment[lv]=KPovModeler fails
Comment[mk]=KPovModeler датотека
Comment[mn]=KDE-н Povray-Моделлчиллын файл
Comment[ms]=Fail KPovModeler 
Comment[mt]=Fajl KPovModeler
Comment[nb]=KPovModeler-fil
Comment[nds]=KPovModeler-Datei
Comment[nl]=KPovModeler-bestand
Comment[nn]=KPovModeler-fil
Comment[nso]=Faele ya KPovModeler
Comment[pa]=KPovModeler ਫਾਇਲ
Comment[pl]=Plik programu KPovModeler
Comment[pt]=Ficheiro do KPovModeler
Comment[pt_BR]=Arquivo do KPov
Comment[ro]=Fişier KPovModeler
Comment[ru]=Файл KPovModeler
Comment[rw]=KPovModeler Idosiye
Comment[se]=KPovModeler-fiila
Comment[sk]=Súbor KPovModeler
Comment[sl]=Datoteka KPovModeler
Comment[sq]=Skedë nga KPovModeler
Comment[sr]=KPovModeler-ов фајл
Comment[sr@Latn]=KPovModeler-ov fajl
Comment[ss]=Lifayela le KPovModeler
Comment[sv]=Pov-modellfil
Comment[ta]=KPovModeler கோப்பு
Comment[tg]=Файли KPovModeler
Comment[th]=แฟ้มโมเดล KPovModeler
Comment[tr]=KPovModeler Dosyası
Comment[tt]=KPovModeler Bireme
Comment[uk]=Файл KPovModeler
Comment[uz]=KPovModeler-файли
Comment[ven]=Faela ya KPovModeler
Comment[vi]=File KPovModeler
Comment[xh]=Ifayile ye KPovModeler
Comment[xx]=xxKPovModeler Filexx
Comment[zh_CN]=KPovModeler 文件
Comment[zh_TW]=KPovModeler 檔案
Comment[zu]=Ifayela le-KPovModeler
Icon=kpovmodeler_doc
MimeType=application/x-kpovmodeler
Patterns=*.kpm;
Type=MimeType
