[Desktop Entry]
Type=MimeType
Encoding=UTF-8
MimeType=application/x-kpresenter
Icon=kpresenter_kpr
Patterns=*.kpr;*.kpt;
X-KDE-AutoEmbed=false
Comment=KPresenter Document
Comment[af]=Kpresenter Dokument
Comment[ar]=مستند KPresenter
Comment[az]=KPresenter Sənədi
Comment[be]=Дакумэнт KPresenter
Comment[bg]=Документ на KPresenter
Comment[bn]=কে-প্রেসেন্টার নথী
Comment[br]=Teul KPresenter
Comment[bs]=KPresenter dokument
Comment[ca]=Document de KPresenter
Comment[cs]=Dokument programu KPresenter
Comment[cy]=Dogfen KPresenter
Comment[da]=KPresenter-dokument
Comment[de]=KPresenter-Dokument
Comment[el]=Έγγραφο KPresenter
Comment[eo]=Prezentilo-dokumento
Comment[es]=Documento de KPresenter
Comment[et]=KPresenteri dokument
Comment[eu]=KPresenter dokumentua
Comment[fa]=سند KPresenter
Comment[fi]=KPresenter-asiakirja
Comment[fr]=Document KPresenter
Comment[fy]=KPresenter-dokumint
Comment[ga]=Cáipéis KPresenter
Comment[gl]=Documento de KPresenter
Comment[he]=מסמך KPresenter
Comment[hi]=केप्रेजेंटर दस्तावेज़
Comment[hr]=KPresenter dokument
Comment[hu]=KPresenter-dokumentum
Comment[is]=KPresenter kynningarskjal
Comment[it]=Documento KPresenter
Comment[ja]=KPresenter ファイル
Comment[km]=ឯកសារ KPresenter
Comment[lt]=KPresenter dokumentas
Comment[lv]=KPresenter dokuments
Comment[mk]=KPresenter документ
Comment[mn]=KPresenter 
Comment[ms]=Dokumen KPresenter
Comment[mt]=Dokument KPresenter
Comment[nb]=KPresenter-dokument
Comment[nds]=KPresenter-Dokment
Comment[nl]=KPresenter-document
Comment[nn]=KPresenter-dokument
Comment[nso]=Tokomane ya KSebontshi
Comment[pa]=KPresenter ਦਸਤਾਵੇਜ਼
Comment[pl]=Dokument KPresenter
Comment[pt]=Documento do KPresenter
Comment[pt_BR]= Documento do KPresenter
Comment[ro]=Document KPresenter
Comment[ru]=Документ KPresenter
Comment[rw]=KPresenter Inyandiko
Comment[se]=KPresenter-dokumeanta
Comment[sk]=KPresenter dokument
Comment[sl]=Dokument za KPresenter
Comment[sq]=Dokument nga KPresenter
Comment[sr]=KPresenter-ов документ
Comment[sr@Latn]=KPresenter-ov dokument
Comment[ss]=Lidokhumente le KPresenter 
Comment[sv]=Kpresenter-dokument
Comment[ta]=KPresenter ஆவணம்
Comment[tg]=Ҳуҷҷати KPresenter
Comment[tr]=KPresenter Belgesi
Comment[uk]=Документ KPresenter
Comment[uz]=KPresenter ҳужжати
Comment[ven]=Manwalwa a Muimeleli wa K
Comment[wa]=Documint di prezintaedje KPresenter
Comment[xh]=Uxwebhu lwe KPresenter
Comment[xx]=xxKPresenter Documentxx
Comment[zh_CN]=KPresenter 文档
Comment[zh_TW]=KPresenter 文件
Comment[zu]=Uhlu lwamafayela lwe-KPresenter
[Property::X-KDE-NativeExtension]
Type=QString
Value=.kpr
