[Desktop Entry]
Comment=KPovModeler File
Comment[fr]=Fichier KPovModeler
Comment[x-test]=xxKPovModeler Filexx
Icon=kpovmodeler_doc
MimeType=application/x-kpovmodeler
Patterns=*.kpm;
Type=MimeType
