[Desktop Entry]
Encoding=UTF-8
Type=MimeType
MimeType=application/x-kspread
Icon=kspread_ksp
Patterns=*.ksp;
X-KDE-AutoEmbed=false
Comment=KSpread 1.x Document
[Property::X-KDE-NativeExtension]
Type=QString
Value=.ksp
