[Desktop Entry]
Encoding=UTF-8
MimeType=application/x-kspread-crypt
Comment=KSpread Encrypted Document
Comment[af]=Kspread Encrypted Dokument
Comment[ar]=مستند KSpread مشفر
Comment[be]=Зашыфраваны дакумэнт KSpread
Comment[bs]=KSpread kriptovani dokument
Comment[ca]=Document xifrat de KSpread
Comment[cs]=Zašifrovaný dokument aplikace KSpread
Comment[da]=Krypteret KSpread-dokument
Comment[de]=Verschlüsseltes KSpread-Dokument
Comment[el]=Κρυπτογραφημένο έγγραφο KSpread
Comment[eo]=Tabelkalkulilo ĉifrita dokumento
Comment[es]=Documento cifrado de KSpread
Comment[et]=KSpreadi krüpteeritud dokument
Comment[eu]=KSpread Dokumentu Enkriptatua
Comment[fa]=سند رمزینه‌شده‌ی KSpread
Comment[fi]=KSpread salattu asiakirja
Comment[fr]=Document KSpread crypté
Comment[he]=מסמך KSpread מוצפן
Comment[hu]=KSpread dokumentum (titkosított)
Comment[it]=Documento KSpread cifrato
Comment[ja]=KSpread 暗号化ドキュメント
Comment[lt]=KSpread šifruotas dokumentas
Comment[mt]=Spreadsheet iċċifrat KSpread
Comment[nb]=Kryptert KSpread-dokument
Comment[nl]=Versleuteld KSpread-document
Comment[nn]=Kryptert KSpread-dokument
Comment[nso]=Tokomane yeo e Sirilwego ya KPhatlalatso
Comment[pl]=Zakodowany plik arkusza kalkulacyjnego KSpreada
Comment[pt]=Documento cifrado pelo KSpread
Comment[pt_BR]=Documento Criptografado do KSpread
Comment[ro]=Document KSpread criptat
Comment[ru]=Зашифрованная таблица KSpread
Comment[sk]=KSpread zašifrovaný dokument
Comment[sl]=Šifrirani dokument za KSpread
Comment[ss]=Lidokhumente lelibhalwe ngemakhodi le KSpread 
Comment[sv]=Kspread krypterat dokument
Comment[ta]=KSpread ºí§¸¾ ¬Å½õ
Comment[tr]=KSpread Şifrelenmiş Belgesi
Comment[uk]=Зашифрований документ KSpread
Comment[ven]=Manwalwa a KSpread Encrypted
Comment[xh]=Uxwebhu Olufihliweyo lwe KSpread
Comment[zh_CN]=KSpread 加密文档
Comment[zh_TW]=加密過的 KSpread 文件
Comment[zu]=Uhlu lwamafayela Lolwazi olungaqondakali lwe-KSpread
Icon=kspread
Type=MimeType
Patterns=
X-KDE-AutoEmbed=false
