# KDE Config File
[Desktop Entry]
Encoding=UTF-8
MimeType=application/x-kspread
Comment=KSpread Document
Comment[af]=kspread
Comment[ar]=جدول KSpread
Comment[bg]=Електронна таблица KSpread
Comment[ca]=Fulla de càlcul
Comment[cs]=Tabulkový procesor
Comment[de]=KSpread Tabellenkalkulation
Comment[eo]=Tabelkalkulilo
Comment[es]=Documento de KSpread
Comment[fi]=Taulukkolaskentaohjelma
Comment[is]=Tafla (kspread-skjal)
Comment[ko]=KDE용 스프레드시트
Comment[oc]=Folha de calcul
Comment[pl]=Plik arkusza kalkulacyjnego
Comment[pt]=Folha de cálculo
Comment[sk]=KSpread (tabuľkový procesor)
Comment[sv]=Kspread
Comment[th]=กระดาษคำนวณ - K
Comment[uk]=Програма створення електронних таблиць KSpread
Comment[xx]=xx
Icon=kspread
Type=MimeType
Patterns=*.ksp;
X-KDE-AutoEmbed=false
[Property::X-KDE-NativeExtension]
Type=QString
Value=.ksp
