# KDE Config File
[Desktop Entry]
MimeType=application/x-kudesigner
Comment=Kugar Report Template
Comment[af]=Kugar Raport Voorbeeld
Comment[ar]=قالب تقارير كوغار
Comment[az]=Kugar Report Sənədi
Comment[be]=Шаблон справаздачы Kugar
Comment[bg]=Шаблон за рапорт на Kugar
Comment[bn]=কুগার রিপোর্ট টেমপ্লেট
Comment[bs]=Kugar šablon za izvještaj
Comment[ca]=Plantilla d'informe de Kugar
Comment[cs]=Šablona reportu Kugar
Comment[csb]=Szablóna rapòrtu Kugara
Comment[cy]=Patrymlun Adroddiad Kugar
Comment[da]=Kugar rapport-skabelon
Comment[de]=Kugar-Report-Vorlage
Comment[el]=Πρότυπο αναφοράς Kugar
Comment[eo]=Raportila ŝablono
Comment[es]=Plantilla de informe de Kugar
Comment[et]=Kugari rapordimall
Comment[eu]=Kugar txosten-txantiloia
Comment[fa]=قالب گزارش Kugar
Comment[fi]=Kugar-raporttipohja
Comment[fr]=Modèle de rapport Kugar
Comment[fy]=Kugar Rapport Sjabloan
Comment[ga]=Teimpléad tuarascála Kugar
Comment[gl]=Modelo de Informe de Kugar
Comment[he]=תבנית דו"ח של Kugar
Comment[hi]=कुगर रिपोर्ट टैम्प्लेट
Comment[hr]=Kugar predložak izvještaja
Comment[hu]=Kugar-jelentéssablon
Comment[id]=Template Laporan Kugar
Comment[is]=Kugar skýrslusnið
Comment[it]=Modello di rapporti Kugar
Comment[ja]=Kugar リポートテンプレート
Comment[ka]=Kugar ოქმის თარგი
Comment[kk]=Kugar хабарлама үлгісі
Comment[km]=ពុម្ព​របាយការណ៍ Kugar
Comment[lb]=Kugar-Report-Virlag
Comment[lt]=Kugar ataskaitų byla
Comment[lv]=Kugar atskaites šablons
Comment[mk]=Kugar-образец за извештај
Comment[mn]=Kugar тайлан загвар
Comment[ms]=Templat Laporan Kugar
Comment[nb]=Kugar rapportmal
Comment[nds]=Kugar-Berichtvörlaag
Comment[ne]=कुगर प्रतिवेदन टेम्प्लेट
Comment[nl]=Kugar Rapportsjabloon
Comment[nn]=Kugar-rapportmal
Comment[pa]=Kugar ਰਿਪੋਰਟ ਨਮੂਨਾ
Comment[pl]=Szablon raportu Kugara
Comment[pt]=Modelo de Relatório do Kugar
Comment[pt_BR]=Modelo de relatórios do Kugar
Comment[ro]=Model de raport Kugar
Comment[ru]=Шаблон отчёта Kugar
Comment[rw]=Inyandikorugero ya Raporo Kugar
Comment[se]=Kugar raportamálle
Comment[sk]=Návrh reportu Kugar
Comment[sl]=Predloga poročila za Kugar
Comment[sq]=Mostër Raporti nga Kugar
Comment[sr]=Kugar-ов шаблон за извештај
Comment[sr@Latn]=Kugar-ov šablon za izveštaj
Comment[sv]=Kugar rapportmall
Comment[ta]=Kugar அறிக்கை வார்ப்பு
Comment[te]=కుగార్ నివేదిక టెంప్లేట్
Comment[tg]=Файли докладии Kugar
Comment[th]=แฟ้มแม่แบบรายงาน ล Kugar
Comment[tr]=Kugar Rapor Şablonu
Comment[tt]=Kugar Yomğağı öçen Ürçetmä
Comment[uk]=Шаблон звіту Kugar
Comment[uz]=Kugar hisobot namunasi
Comment[uz@cyrillic]=Kugar ҳисобот намунаси
Comment[vi]=Biểu mẫu thông báo Kugar
Comment[zh_CN]=Kugar 报告模板
Comment[zh_HK]=Kugar 報表樣本
Comment[zh_TW]=Kugar 報表樣本
Icon=kugardata
Type=MimeType
Patterns=*.kut;*.ktf;
X-KDE-AutoEmbed=false
[Property::X-KDE-NativeExtension]
Type=QString
Value=.ktf
