[Desktop Entry]
Encoding=UTF-8
Type=MimeType
MimeType=application/x-kugar
Icon=kugar_kud
Patterns=*.kud
Comment=Kugar Data File
Comment[af]=Kugar Data Lêer
Comment[ar]=ملف بيانات Kugar
Comment[be]=Файл з даннямі Kugar
Comment[br]=Restr roadoù Kugar
Comment[ca]=Fitxer de dades de Kugar
Comment[cs]=Datový soubor aplikace Kugar
Comment[cy]=Ffeil Data Kugar
Comment[da]=Kugar-datafil
Comment[de]=Kugar-Daten
Comment[el]=Αρχείο δεδομένων Kugar
Comment[eo]=Dosiero de Raportilo
Comment[es]=Archivo de datos de Kugar
Comment[et]=Kugari andmefail
Comment[eu]=Kugar datu-fitxategia
Comment[fa]=پروندۀ دادۀ Kugar
Comment[fi]=Kugar-datatiedosto
Comment[fr]=Fichier de données Kugar
Comment[fy]=Kugar Datatriem
Comment[ga]=Comhad sonraí Kugar
Comment[gl]=Ficheiro de Dados de Kugar
Comment[he]=קובץ נתונים של Kugar
Comment[hr]=Kugar datoteka s podacima
Comment[hu]=Kugar-adatfájl
Comment[is]=Kugar gagnaskrá
Comment[it]=File di dati Kugar
Comment[ja]=Kugar データファイル
Comment[kk]=Kugar дерек файлы
Comment[km]=ឯកសារ​ទិន្នន័យ Kugar
Comment[lb]=Kugar-Donnéen-Datei
Comment[lt]=Kugar duomenų byla
Comment[lv]=Kugar Datu Fails
Comment[mk]=Kugar-датотека со податоци
Comment[ms]=Fail Data Kugar
Comment[nb]=Kugar datafil
Comment[nds]=Kugar-Datendatei
Comment[ne]=कुगर डेटा फाइल
Comment[nl]=Kugar Databestand
Comment[nn]=Kugar-datafil
Comment[pa]=Kugar ਡਾਟਾ ਫਾਇਲ
Comment[pl]=Plik danych Kugara
Comment[pt]=Ficheiro de dados do Kugar
Comment[pt_BR]=Arquivo de Dados do Kugar
Comment[ro]=Fişier de date Kugar
Comment[ru]=Файл данных Kugar
Comment[se]=Kugar-dáhtafiila
Comment[sl]=Podatkovna datoteka za Kugar
Comment[sr]=Kugar-ов фајл са подацима
Comment[sr@Latn]=Kugar-ov fajl sa podacima
Comment[sv]=Kugar datafil
Comment[tg]=Файли Санаи Kugar
Comment[tr]=Kugar Veri Dosyası
Comment[uk]=Файл даних Kugar
Comment[uz]=Kuvar маълумот файли
Comment[x-test]=xxKugar Data Filexx
Comment[xh]=Ifayile ye Data ye Kugar
Comment[zh_HK]=Kugar 資料檔案
Comment[zh_TW]=Kugar 資料檔案
[Property::X-KDE-NativeExtension]
Type=QString
Value=.kud
