[Desktop Entry]
Encoding=UTF-8
MimeType=application/x-kword-crypt
Comment=KWord Encrypted Document
Comment[af]=Kword Encrypted Dokument
Comment[ar]=مستند KWordمشفر
Comment[be]=Зашыфраваны дакумэнт KWord
Comment[bs]=KWord kriptovani dokument
Comment[ca]=Document xifrat de KWord
Comment[cs]=Zašifrovaný dokument aplikace KWord
Comment[da]=Krypteret KWord-dokument
Comment[de]=Verschlüsselte KWord-Dokument
Comment[el]=Κρυπτογραφημένο έγγραφο KWord
Comment[eo]=Verkilo ĉifrita dokumento
Comment[es]=Documento cifrado de KWord
Comment[et]=KWordi krüpteeritud dokument
Comment[eu]=KWord Dokumentu Enkriptatua
Comment[fa]=سند رمزینه‌شده‌ی KWord
Comment[fi]=KWord salattu asiakirja
Comment[fr]=Document KWord crypté
Comment[he]=מסמך KWord מוצפן
Comment[hu]=KWord dokumentum (titkosított)
Comment[it]=Documento KWord cifrato
Comment[ja]=KWord 暗号化ドキュメント
Comment[lt]=KWord šifruotas dokumentas
Comment[mt]=Dokument iċċifrat KWord
Comment[nb]=Kryptert KWord-dokument
Comment[nl]=Versleuteld KWord-document
Comment[nn]=Kryptert KWord-dokument
Comment[nso]=Tokomane yeo e Sirilwego ya KLentsu
Comment[pl]=Zakodowany plik KWorda
Comment[pt]=Documento Cifrado do KWord
Comment[pt_BR]=Documento Criptografado do KWord
Comment[ro]=Document KWord criptat
Comment[ru]=Зашифрованный документ KWord
Comment[sk]=KWord zašifrovaný dokument
Comment[sl]=Šifrirani dokument za KWord
Comment[ss]=Lidokhumente lelibhalwe ngemakhodi le KWord
Comment[sv]=Kword krypterat dokument
Comment[ta]=KWord ºí§¸¾ ¬Å½õ
Comment[tr]=KWord Şifrelenmiş Belgesi
Comment[uk]=Зашифрований документ KWord
Comment[ven]=Manwalwa a Fhungo la K la Encrypted
Comment[xh]=Uxwebhu Olifihliweyo lwe KWord
Comment[zh_CN]=KWord 加密文档
Comment[zh_TW]=加密過的 KWord 文件
Comment[zu]=Uhlu lwamafayela Lolwazi olungaqondakali lwe-KWord
Icon=kword
Type=MimeType
Patterns=
X-KDE-AutoEmbed=false
