[Desktop Entry]
Encoding=UTF-8
MimeType=application/x-kword-crypt
Comment=KWord Encrypted Document
Comment[af]=kword encrypted
Comment[ar]=مرمّز بKWord
Comment[az]=Enkriptlənmiş KWord
Comment[be]=Зашыфраваны дакумэнт KWord
Comment[bg]=Зашифрован документ на KWord
Comment[cs]=KWord zašifrovaný
Comment[da]=KWord krypteret
Comment[de]=KWord (verschlüsselt)
Comment[el]=KWord Κρυπτογραφημένο
Comment[eo]=Verkilo ĉifrita
Comment[es]=Documento cifrado de KWord
Comment[et]=KWordi dokument (krüpteeritud)
Comment[fi]=KWord salattu
Comment[fr]=Document KWord crypté
Comment[he]=KWord מוצפן
Comment[hr]=KWord (šifriran)
Comment[hu]=KWord, titkosított
Comment[is]=KWord dulkóðað
Comment[it]=Documento KWord cifrato
Comment[ja]=KWord暗号化
Comment[lt]=KWord šifruotas
Comment[lv]=KWord Šifrēts
Comment[mt]=KWord Iċċifrat
Comment[nb]=KWord kryptert
Comment[nl]=KWord Versleuteld
Comment[nn]=KWord-kryptert
Comment[pl]=Zakodowany plik KWorda
Comment[pt]=Cifrado pelo KWord
Comment[pt_BR]=Criptografia para o KWord
Comment[ro]=Document KWord criptat
Comment[ru]=Зашифрованный документ KWord
Comment[sk]=KWord zašifrovaný
Comment[sl]=Šifrirani KWord
Comment[sr]=Šifrirani KWord
Comment[sv]=Kword krypterad
Comment[th]=เวิร์ดเข้ารหัส - K
Comment[tr]=KWord Şifrelenmiş
Comment[uk]=Закодований KWord
Comment[ven]=Fhungo la K la Encrypted
Comment[vi]=Đã giải mã KWord 
Comment[xh]=i KWord enombhalo ofihlakeleyo
Comment[xx]=xx
Comment[zh_CN]=KWord 加密
Comment[zh_TW]=加密過的 KWord 文件
Comment[zu]=i KWord enombhalo ofihlakeleyo
Icon=kword
Type=MimeType
Patterns=
X-KDE-AutoEmbed=false
