[Desktop Entry]
Encoding=UTF-8
MimeType=application/x-lha
Comment=Lha Archive
Comment[fr]=Archive LHA
Comment[x-test]=xxLha Archivexx
Icon=tgz
Type=MimeType
Patterns=*.lha;*.lzh;*.LHA;*.LZH;
