[Desktop Entry]
MimeType=application/x-lha
Comment=Lha Archives
Comment[az]=Lha Arxivləri
Comment[bg]=Архив на Lha
Comment[br]=Diell lha
Comment[bs]=Lha Arhiva
Comment[ca]=Arxius lha
Comment[cs]=Lha archív
Comment[da]=Lha Arkiv
Comment[de]=LHA-Archiv
Comment[el]=Συμπιεσμένα lha
Comment[eo]=Lha-arĥivo
Comment[es]=Archivo comprimido LHA
Comment[et]=LHA arhiiv
Comment[eu]=Lha Fitxategiak
Comment[fi]=LHA-paketti
Comment[fr]=Archive LHA
Comment[gl]=Arquivos de lha
Comment[he]=Lha ינויכרא
Comment[hr]=Lha Arhiva
Comment[hu]=LHA archívum
Comment[is]=Lha-safnskrá
Comment[it]=Archivi Lha
Comment[ja]=Lhaアーカイブ
Comment[ko]=Lha 파일
Comment[lt]=Lha Archyvai
Comment[lv]=Lha Arhīvi
Comment[mi]=Takotoranga Lha
Comment[mk]=Lha архива
Comment[mt]=Arkivji Lha
Comment[nl]=Lha-archieven
Comment[no]=LHA-arkiv
Comment[no_NY]=Lha-arkiv
Comment[oc]=Archius lha
Comment[pl]=Archiwum Lha
Comment[pt_BR]=Arquivo Lha
Comment[pt]=Arquivo LHA
Comment[ru]=Архив LHA
Comment[sk]=Lha archív
Comment[sl]=Arhiv LHA
Comment[sr]=LHA arhiva
Comment[sv]=Lha-arkiv
Comment[ta]=Lha ¸¡ôÀ¸í¸û
Comment[tr]=Lha Arşivleri
Comment[uk]=Архів LHA
Comment[vi]=Nén Lha 
Comment[wa]=Årtchive LHA
Comment[xh]=Ushicilelo lukawonke-wonke nexwebhu leMbali le Lha
Comment[zh_CN.GB2312]=Lha 归档文件
Icon=tgz
Type=MimeType
Patterns=*.lha;*.lzh;*.LHA;*.LZH;
