[Desktop Entry]
Encoding=UTF-8
MimeType=application/x-lha
Comment=Lha Archive
Comment[af]=Lha Argief
Comment[ar]=أرشيف Lha
Comment[az]=Lha Arcxivi
Comment[be]=Архіў LHA
Comment[bg]=Архив Lha
Comment[bn]=Lha আর্কাইভ
Comment[br]=Diell Lha
Comment[bs]=Lha arhiva
Comment[ca]=Arxiu LHA
Comment[cs]=Lha archív
Comment[cy]=Archif Lha
Comment[da]=LHA-arkiv
Comment[de]=Lha-Archiv
Comment[el]=Αρχειοθήκη lha
Comment[eo]=Lha-arĥivo
Comment[es]=Archivo LHA
Comment[et]=Lha arhiiv
Comment[eu]=Lha artxiboa
Comment[fa]=آرشیو Lha
Comment[fi]=Lha-paketti
Comment[fr]=Archive LHA
Comment[fy]=Lha-argyf
Comment[ga]=Cartlann lha
Comment[gl]=Arquivo Lha
Comment[he]=ארכיון Lha
Comment[hi]=Lha आर्काइव
Comment[hr]=LHA arhiva
Comment[hu]=LHA-archívum
Comment[is]=Lha safnskrá
Comment[it]=Archivio Lha
Comment[ja]=Lha アーカイブ
Comment[km]=ប័ណ្ណសារ Lha
Comment[ko]=LHA 저장고
Comment[lb]=Lha-Archiv
Comment[lt]=Lha archyvas
Comment[lv]=Lha arhīvis
Comment[mk]=Lha архива
Comment[mn]=LHA-Архив
Comment[ms]=Arkib Lha
Comment[mt]=Arkivju LHA
Comment[nb]=LHA-arkiv
Comment[nds]=Lha-Archiv
Comment[nl]=Lha-archief
Comment[nn]=Lha-arkiv
Comment[nso]=Polokelo ya Lha
Comment[pa]=Lha ਪੁਰਾਲੇਖ
Comment[pl]=Archiwum Lha
Comment[pt]=Arquivo Lha
Comment[pt_BR]=Arquivo Lha
Comment[ro]=Arhivă LHA
Comment[ru]=Архив LHA
Comment[rw]=Lha Idosiye yo mu bushinguro
Comment[se]=Lha-arkiiva
Comment[sk]=Lha archív
Comment[sl]=Arhiv LHA
Comment[sq]=Lha Arkivë
Comment[sr]=LHA архива
Comment[sr@Latn]=LHA arhiva
Comment[ss]=Silulu se Lha 
Comment[sv]=Lha-arkiv
Comment[ta]=Lha காப்பகம்
Comment[tg]=Архиви Lha
Comment[tr]=Lha Arşivi
Comment[tt]=Lha Tuplama
Comment[uk]=Архів LHA
Comment[uz]=Lha архиви
Comment[ven]=Fhethu hau vhulungela hone zwithu zwa kale ha Lha
Comment[wa]=Årtchive LHA
Comment[xh]=Lha Indawo yogcino
Comment[zh_CN]=Lha 归档
Comment[zh_TW]=Lha 壓縮檔案
Comment[zu]=Umqulu we-Lha
Icon=tgz
Type=MimeType
Patterns=*.lha;*.lzh;*.LHA;*.LZH;
