[Desktop Entry]
Encoding=UTF-8
Comment=Message Catalog
Comment[af]=Boodskap Katalogus
Comment[ar]=كتالوج رسالة
Comment[az]=İsmarış Kataloqu
Comment[bg]=Каталог на съобщениия
Comment[bs]=Katalog poruka
Comment[ca]=Catàleg de missatges
Comment[cs]=Katalog zpráv
Comment[da]=Beskedkatalog
Comment[de]=Nachrichtenkatalog
Comment[el]=Κατάλογος Μηνυμάτων
Comment[en_GB]=Message Catalogue
Comment[eo]=Mesaĝkatalogo
Comment[es]=Catálogo de mensajes
Comment[et]=Teadete kataloog
Comment[eu]=Mezu Katalogoa
Comment[fi]=Viestiluettelo
Comment[fr]=Catalogue de messages
Comment[gl]=Catálogo de Mensaxes
Comment[he]=קטלוג הודעות
Comment[hr]=Katalog poruka
Comment[hu]=Üzenetkatalógus
Comment[id]=Katalog Pesan
Comment[is]=Listi yfir stöðu þýðingarskráa (PO skráa)
Comment[it]=Catalogo messaggi
Comment[ja]=メッセージカタログ
Comment[ko]=메세지 카탈로그
Comment[lt]=Laiškų katalogas
Comment[lv]=Ziņojumu Katalogs
Comment[mk]=Каталог на пораки
Comment[mt]=Katalgu ta' Messaġġi
Comment[nb]=Meldingskatalog
Comment[nl]=Meldingencatalogus
Comment[nn]=Meldingskatalog
Comment[oc]=Cataleg de missatges
Comment[pl]=Katalog wiadomości
Comment[pt]=Catálogo de mensagens
Comment[pt_BR]=Catálogo de Mensagens
Comment[ro]=Catalog de mesaje
Comment[ru]=Каталог сообщений
Comment[sk]=Katalóg správ
Comment[sl]=Katalog sporočil
Comment[sr]=Katalog poruka
Comment[sv]=Meddelandekatalog
Comment[ta]=¦ºö¾¢ ¾¢ÃðÎ
Comment[th]=แคตตาล็อกข้อความ
Comment[tr]=İleti Kataloğu
Comment[uk]=Каталог повідомлень
Comment[ven]=Khathalogo ya mulaedza
Comment[vi]=Calalog Thông điệp
Comment[xh]=Umyalezo womfanekiso osencwadini
Comment[xx]=xx
Comment[zh_CN]=消息目录
Comment[zh_TW]=訊息分類
Comment[zu]=Umyalezo womfanekiso Osebhukwini
Type=MimeType
MimeType=application/x-linguist
Patterns=*.ts;
