[Desktop Entry]
Type=MimeType
Encoding=UTF-8
MimeType=application/x-linguist
Icon=gettext
Patterns=*.ts;
Comment=Qt Translation Source File
Comment[af]=Qt Vertaal Bronlêer
Comment[ar]=ملف ترجمة QT مصدري
Comment[az]=Qt Tərcümə Mənbəsi Faylı
Comment[bg]=Съобщения за превод (Qt)
Comment[bn]=কিউ-টি অনুবাদ সোর্স ফাইল
Comment[bs]=Qt izvorna datoteka za prijevod
Comment[ca]=Fitxer amb codi de Qt Translation
Comment[cs]=Zdrojový kód překladu QT
Comment[cy]=Ffeil Tarddiad Cyfieithiad Qt
Comment[da]=Qt oversættelseskildefil
Comment[de]=Qt-Übersetzungsquelle
Comment[el]=Πηγαίο αρχείο μετάφρασης Qt
Comment[eo]=Qta tradukfontdosiero
Comment[es]=Archivo fuente de traducción de Qt
Comment[et]=Qt Translationi lähtetekst
Comment[eu]=Qt itzulpenerako iturburu fitxategia
Comment[fa]=پرونده‌ی کد ترجمه‌ها‌ی Qt
Comment[fi]=Qr-käännöstiedosto
Comment[fr]=Fichier source de traduction QT
Comment[fy]=Qt Fertaal Boarnetriem
Comment[ga]=Comhad Foinseach Aistriúchán Qt
Comment[gl]=Arquivo Fonte de Traduzón de Qt
Comment[he]=מקור של קובץ תרגום של QT
Comment[hi]=क्यूटी अनुवाद स्रोत फ़ाइल
Comment[hr]=Datoteka Qt Translation izvornog koda
Comment[hu]=Qt fordítási forrásfájl
Comment[is]=Qt Translation frumforrit
Comment[it]=File sorgente traduzioni Qt
Comment[ja]=Qt 翻訳 ソースファイル
Comment[km]=ឯកសារ Qt Translation Source
Comment[ko]=Qt 번역 밑그림 파일
Comment[lt]=Qt vertimų išeities tekstų byla
Comment[lv]=Qt Tulkotāja pirmkoda fails
Comment[mk]=Qt Изворна датотека со превод
Comment[mn]=Qt Орчуулгын эх файл
Comment[ms]=Fail Penterjemahan Sumber Qt
Comment[nb]=Qt kildekode for oversetting
Comment[nds]=Borndatei för Qt-Översetten
Comment[nl]=Qt Translation-broncodebestand
Comment[nn]=Qt-omsetjingsfil
Comment[pa]=Qt ਅਨੁਵਾਦ ਸਰੋਤ ਫਾਇਲ
Comment[pl]=Plik źródłowy tłumaczenia Qt
Comment[pt]=Ficheiro de Traduções do Qt
Comment[pt_BR]=Arquivo fonte de Tradução da Qt
Comment[ro]=Fişier sursă de traduceri Qt
Comment[ru]=Исходный файл для переводов Qt
Comment[rw]=Idosiye Nkomoko Ivunura Qt
Comment[se]=Qt-jorgalusfiila
Comment[sk]=Zdrojový súbor prekladu Qt
Comment[sl]=Izvirna koda Qt Translation
Comment[sq]=Skedë Burimore e Përkthimit të Qt
Comment[sr]=Qt Translation изворни фајл
Comment[sr@Latn]=Qt Translation izvorni fajl
Comment[sv]=Qt-översättningsfil
Comment[ta]=Qt மொழிபெயர்ப்பு மூல ஆவணம்
Comment[tg]=Файли Сарчашмаи Тарҷумаи Qt
Comment[tr]=Qt Çeviri Kaynak Dosyası
Comment[uk]=Вихідний файл перекладу зовнішнього вигляду для Qt
Comment[uz]=Qt таржима қилишнинг коди
Comment[xx]=xxQt Translation Source Filexx
Comment[zh_CN]=Qt 翻译源文件
Comment[zh_TW]=QT Translation 原始檔案
