[Desktop Entry]
Type=MimeType
Encoding=UTF-8
MimeType=application/x-lzop
Icon=tgz
Patterns=*.lzo
Comment=Lzopped File
Comment[x-test]=xxLzopped Filexx
