[Desktop Entry]
MimeType=application/x-lzop
Comment=Lzopped File
Comment[az]=Lzop'lanmış fayl
Comment[bg]=Lzop файл
Comment[br]=Restr Lzoppet
Comment[bs]=Lzoped datoteka
Comment[ca]=Fitxer lzo
Comment[cs]=Soubor komprimovaný lzopem
Comment[da]=Lzopped fil
Comment[de]=Lzopp-Datei
Comment[el]=Αρχείο συμπιεσμένο με Lzop
Comment[eo]=Lzop-dosiero
Comment[es]=Archivo comprimido Lzop
Comment[et]=LZOP arhiiv
Comment[fi]=Lzop-tiedosto
Comment[fr]=Fichier compacté par Lzop
Comment[gl]=Ficheiro lzop
Comment[he]=Lzopped ץבוק
Comment[hr]=Lzoped datoteka
Comment[hu]=Lzop fájl
Comment[is]=Þjöppuð skrá (lzop)
Comment[it]=File Lzoppato
Comment[ja]=Lzopされたファイル
Comment[ko]=Lzop으로 압축된 파일
Comment[lt]=Byla, suspausta su LZO
Comment[lv]=Lzopped Fails
Comment[mi]=Konae Lzop
Comment[mk]=Lzopped датотека
Comment[mt]=Fajl Lzop
Comment[nl]=Lzop-bestand
Comment[no]=Lzoppet fil
Comment[no_NY]=Lzoppa fil
Comment[oc]=FiquièR lzo
Comment[pl]=Plik Lzop
Comment[pt_BR]=Arquivo Lzoppado
Comment[pt]=Ficheiro Lzop
Comment[ru]=Архив Lzop
Comment[sk]=Lzopped súbor
Comment[sl]=Datoteka, stisnjena z lzop-om
Comment[sr]=LZopovani fajl
Comment[sv]=Fil som är komprimerad med lzop
Comment[ta]=Lzopped §¸¡ôÒ
Comment[tr]=Lzop'lanmış dosya
Comment[uk]=Файл Lzopp
Comment[vi]=File Lzopped 
Comment[xh]=Ifayile ye Lzopped
Comment[zh_CN.GB2312]=Lzopped 文件
Icon=tgz
Type=MimeType
Patterns=*.lzo
