[Desktop Entry]
Encoding=UTF-8
Type=MimeType
MimeType=application/x-magicpoint
Icon=presentation
Patterns=*.mgp;*.MGP;
Comment=MagicPoint Presentation
Comment[af]=MagicPoint Voorlegging
Comment[ar]=مستند MagicPoint
Comment[az]=MagicPoint Sənədi
Comment[be]=Прэзэнтацыя MagicPoint
Comment[bg]=Документ на MagicPoint
Comment[bn]=ম্যাজিকপয়েন্ট প্রেসেন্টেশন
Comment[br]=Emginnig MagicPoint
Comment[bs]=MagicPoint prezentacija
Comment[ca]=Presentació de MagicPoint
Comment[cs]=Prezentace MagicPoint
Comment[cy]=Cyflwyniad MagicPoint
Comment[da]=Magicpoint præsentation
Comment[de]=MagicPoint-Präsentation
Comment[el]=Παρουσίαση MagicPoint
Comment[eo]=MagicPoint-Prezento
Comment[es]=Presentación de MagicPoint
Comment[et]=MagicPointi esitlus
Comment[eu]=MagicPoint aurkezpena
Comment[fa]=نمایش MagicPoint
Comment[fi]=MagicPoint-esitys
Comment[fr]=Présentation Magicpoint
Comment[fy]=MagicPoint Presentaasje
Comment[ga]=Láithreán MagicPoint
Comment[gl]=Apresentazón MagicPoint
Comment[he]=מצגת MagicPoint
Comment[hi]=मेजिकपाइंट प्रेजेन्टेशन
Comment[hr]=MagicPoint prezentacija
Comment[hu]=MagicPoint-bemutató
Comment[is]=Magicpoint kynning
Comment[it]=Presentazione MagicPoint
Comment[ja]=MagicPoint プレゼンテーション
Comment[km]=ការ​បង្ហាញ MagicPoint
Comment[lb]=MagicPoint-Präsentatioun
Comment[lt]=MagicPoint pristatymas
Comment[lv]=MagicPoint prezentācija
Comment[mk]=MagicPoint презентација
Comment[mn]=MagicPoint Үзүүлэнгүүд
Comment[ms]=Persembahan Magicpoint
Comment[nb]=MagicPoint presentasjon
Comment[nds]=MagicPoint-Presentatschoon
Comment[nl]=MagicPoint-presentatie
Comment[nn]=MagicPoint-presentasjon
Comment[pa]=MagicPoint ਪੇਸ਼ਕਾਰੀ
Comment[pl]=Prezentacja MagicPoint
Comment[pt]=Apresentação do MagicPoint
Comment[pt_BR]=Apresentações do MagicPoint
Comment[ro]=Prezentare MagicPoint
Comment[ru]=Презентация MagicPoint
Comment[rw]=Iyerekana MagicPoint
Comment[se]=MagicPoint-presentašuvdna
Comment[sk]=Prezentácia MagicPoint
Comment[sl]=Predstavitev MagicPoint
Comment[sq]=Prezentim nga MagicPoint
Comment[sr]=MagicPoint-ова презентација
Comment[sr@Latn]=MagicPoint-ova prezentacija
Comment[sv]=Magicpoint-presentation
Comment[ta]=மேஜிக்பாயின்ட் முன்வைப்பு
Comment[tg]= Намоиши MagicPoint
Comment[tr]=Magicpoint Sunumu
Comment[tt]=MagicPoint Täqbire
Comment[uk]=Презентація MagicPoint
Comment[uz]=MagicPoint намойиши
Comment[wa]=Documint di prezintaedje Magicpoint
Comment[zh_CN]=MagicPoint 演示文稿
