[Desktop Entry]
Type=MimeType
MimeType=application/x-object
Icon=binary.png
Patterns=*.o;
Comment=Object Code
Comment[ca]=Codi objecte
Comment[cs]=Objektový kód
Comment[da]=Objektkode
Comment[de]=Objektcode
Comment[eo]=Objektkodo
Comment[es]=Código Objeto
Comment[fi]=Objektikoodi
Comment[fr]=Code objet
Comment[hr]=Objektni kod
Comment[hu]=Objektum kód
Comment[is]=Vélamál (object code)
Comment[it]=File Oggetto
Comment[ja]=¥ª¥Ö¥¸¥§¥¯¥È¥³¡¼¥É
Comment[nl]=Objectcode
Comment[no]=Objektkode
Comment[pl]=Kod objektowy
Comment[pt]=Objecto
Comment[pt_BR]=Objeto
Comment[ro]=Cod obiect
Comment[ru]=ïÂßÅËÔÎÙÊ ËÏÄ
Comment[sk]=Objektový kód
Comment[sl]=Prevedeni program
Comment[sv]=Objektkod
