[Desktop Entry]
Type=MimeType
Comment=Ogg Vorbis audio
Comment[az]=Ogg Vorbis səsi
Comment[bg]=Звуков файл Ogg Vorbis
Comment[br]=Klevet Ogg Vorbis
Comment[ca]=Àudio Ogg Vorbis
Comment[de]=Ogg Vorbis-Audio
Comment[el]=Ήχος Ogg Vorbis
Comment[eo]=Ogg-Vorbis-sonoro
Comment[es]=Sonido Ogg Vorbis
Comment[et]=Ogg Vorbis audiofail
Comment[fi]=Ogg Vorbis -ääni
Comment[fr]=Fichier Ogg Vorbis
Comment[gl]=Audio Vorbis Ogg
Comment[he]=Ogg Vorbis עמש
Comment[hu]=Ogg Vorbis hang
Comment[is]=Ogg Vorbis-hljóðskrá(r)
Comment[it]=Audio Ogg Vorbis
Comment[ja]=Ogg Vorbis オーディオ
Comment[ko]=Ogg Vorbis 오디오
Comment[mk]=Ogg Vorbis аудио
Comment[mt]=Awdio Ogg Vorbis
Comment[nl]=Ogg Vorbis -audio
Comment[no]=Ogg Vorbis-lyd
Comment[no_NY]=Ogg Vorbis-lyd
Comment[oc]=Audio Ogg Vorbis
Comment[pt_BR]=Áudio Ogg Vorbis
Comment[pt]=Audio Ogg Vorbis
Comment[ru]=Звуковой файл Ogg Vorbis
Comment[sl]=Zvok Ogg Vorbis
Comment[sv]=Ogg Vorbis ljud
Comment[ta]=Ogg Vorbis ´Ä¢
Comment[tr]=Ogg Vorbis sesi
Comment[uk]=Аудіо Ogg Vorbis
Comment[vi]=Audio Ogg Vorbis 
Comment[xh]=Ogg Vorbis ebonakalayo
Comment[zh_CN.GB2312]=Ogg Vorbis 音频文件
MimeType=application/x-ogg
Icon=sound
Patterns=*.ogg;*.OGG;
