[Desktop Entry]
Encoding=UTF-8
Type=MimeType
MimeType=application/x-pak
Icon=tgz
Patterns=*.pak;*.PAK;
Comment=PAK File Archive
Comment[be]=Архіў PAK
Comment[bg]=Архив PAK
Comment[bn]=PAK ফাইল আর্কাইভ
Comment[bs]=PAK arhiva
Comment[ca]=Arxiu de fitxers PAK
Comment[cs]=Archív souborů PAK
Comment[da]=PAK-fil arkiv
Comment[de]=PAK-Dateiarchiv
Comment[es]=Archivo de ficheros PAK
Comment[et]=PAK arhiiv
Comment[fi]=PAK-paketti
Comment[fr]=Fichier archive PAK
Comment[he]=ארכיון PAK
Comment[hu]=PAK-archívum
Comment[is]=PAK safnskrá
Comment[it]=Archivio file PAK
Comment[ja]=PAK ファイルアーカイブ
Comment[nb]=PAK-filarkiv
Comment[nl]=PAK-archief
Comment[nn]=PAK-filarkiv
Comment[pa]=PAK ਫਾਇਲ਼ ਸੁਕੰਚਿਤ
Comment[pl]=Archiwum plików PAK
Comment[pt]=Arquivo de Ficheiros PAK
Comment[pt_BR]=Arquivo PAK
Comment[ro]=Arhivă PAK
Comment[se]=PAK-fiilaarkiiva
Comment[sk]=Archív PAK
Comment[sl]=Datotečni arhiv PAK
Comment[sr]=Фајл PAK архиве
Comment[sr@Latn]=Фајл PAK архиве
Comment[sv]=PAK-filarkiv
Comment[ta]=PAK கோப்பு காப்பகம்
Comment[tg]=Файли архивии PAK
Comment[uk]=Файл архіву PAK
Comment[uz]=PAK архиви
Comment[zh_CN]=PAK 文件归档
