[Desktop Entry]
Encoding=UTF-8
Comment=PERL Module
Comment[ar]=وحدة Perl
Comment[az]=PERL Modulu
Comment[be]=Модуль Perl
Comment[bg]=Модул на PERL
Comment[bn]=পার্ল মডিউল
Comment[br]=Gwiskad Arlun
Comment[bs]=PERL modul
Comment[ca]=Mòdul PERL
Comment[cs]=Modul jazyka Perl
Comment[cy]=Modiwl Perl
Comment[da]=PERL-modul
Comment[de]=PERL-Modul
Comment[el]=Άρθρωμα PERL
Comment[eo]=Perlmoduloj
Comment[es]=Módulo PERL
Comment[et]=Perli moodul
Comment[eu]=PERL Modulua
Comment[fa]=بخش Perl
Comment[fi]=PERL-moduuli
Comment[fr]=Module PERL
Comment[ga]=Modúl PERL
Comment[gl]=Módulo de PERL
Comment[he]=מודול שך Perl
Comment[hi]=पर्ल मॉड्यूल
Comment[hr]=PERL modul
Comment[hu]=Perl-modul
Comment[is]=PERL eining
Comment[it]=Modulo PERL
Comment[ja]=PERL モジュール
Comment[ko]=펄 모듈
Comment[lt]=PERL modulis
Comment[mk]=PERL модул
Comment[mn]=PERL Модул
Comment[ms]=Modul PERL
Comment[nb]=PERL-modul
Comment[nds]=PERL-Moduul
Comment[nl]=PERL-module
Comment[nn]=PERL-modul
Comment[pa]=PERL ਮੈਡੀਊਲ
Comment[pl]=Moduł PERL-a
Comment[pt]=Módulo de Perl
Comment[pt_BR]=Módulo PERL
Comment[ro]=Modul PERL
Comment[ru]=Модуль PERL
Comment[se]=PERL-moduvla
Comment[sk]=PERL modul
Comment[sl]=Modul PERL
Comment[sq]=Modul i PERL-it
Comment[sr]=PERL модул
Comment[sr@Latn]=PERL modul
Comment[sv]=PERL-modul
Comment[ta]=PERL தொகுதி
Comment[tg]=Модули PERL
Comment[th]=โมดูลเพิร์ล
Comment[tr]=PERL Modülü
Comment[uk]=Модуль мови програмування Perl
Comment[uz]=PERL модули
Comment[wa]=Module PERL
Comment[zh_CN]=PERL 模块
Comment[zh_TW]=Perl 模組
Icon=source_pl
Type=MimeType
MimeType=application/x-perl-module
Patterns=*.pm;*.PM;

[Property::X-KDE-text]
Type=bool
Value=true
