[Desktop Entry]
Encoding=UTF-8
Comment=Perl Program
Comment[bg]=Програма на Perl
Comment[bn]=পার্ল প্রোগ্রাম
Comment[br]=Goulev Perl
Comment[ca]=Programa Perl
Comment[cs]=Program v jazyce Perl
Comment[cy]=Rhaglen PERL
Comment[da]=Perl-program
Comment[de]=Perl-Programm
Comment[el]=Πρόγραμμα Perl
Comment[es]=Programa en Perl
Comment[et]=Perli rakendus
Comment[eu]=PERL programa
Comment[fi]=PERL-ohjelma
Comment[fr]=Programme Perl
Comment[fy]=Perl-programma
Comment[ga]=Clár Perl
Comment[gl]=Programa en PERL
Comment[he]=תוכנית PERL
Comment[hi]=पर्ल प्रोग्राम
Comment[hu]=Perl-program
Comment[is]=Perl forrit
Comment[it]=Programma Perl
Comment[km]=កម្មវិធី Perl
Comment[lt]=Perl programa
Comment[lv]=Perl programma
Comment[nb]=PERL-program
Comment[nds]=Perl-Programm
Comment[nl]=Perl-programma
Comment[nn]=Perl-program
Comment[pa]=Perl ਕਾਰਜ
Comment[pl]=Program w Perlu
Comment[pt]=Programa em Perl
Comment[pt_BR]=Programa Perl
Comment[ro]=Program Perl
Comment[ru]=Программа на Perl
Comment[rw]=Porogaramu Perl
Comment[se]=Perl-prográmma
Comment[sk]=Perl program
Comment[sl]=Program v perlu
Comment[sr]=Perl програм
Comment[sr@Latn]=Perl program
Comment[sv]=Perl-program
Comment[ta]=Perl நிரல்
Comment[tg]=Программаи Perl
Comment[tr]=Perl Programı
Comment[uk]=Програма PERL
Comment[uz]=Perl'да тузилган дастур
Comment[xx]=xxPerl Programxx
Comment[zh_CN]=Perl 程序
Icon=source_pl
Type=MimeType
MimeType=application/x-perl
Patterns=*.pl;*.PL;*.perl;*.PERL;*.Perl
X-KDE-IsAlso=application/x-executable-script

[Property::X-KDE-text]
Type=bool
Value=true
