[Desktop Entry]
Encoding=UTF-8
Comment=Perl Program
Comment[x-test]=xxPerl Programxx
Icon=source_pl
Type=MimeType
MimeType=application/x-perl
Patterns=*.pl;*.PL;*.perl;*.PERL;*.Perl
X-KDE-IsAlso=application/x-executable-script

[Property::X-KDE-text]
Type=bool
Value=true
