[Desktop Entry]
Encoding=UTF-8
Comment=Perl Module
Comment[bg]=Модул на Perl
Comment[br]=Mollad Perl
Comment[ca]=Mòdul Perl
Comment[cs]=Modul jazyka Perl
Comment[da]=Perl-modul
Comment[de]=Perl-Modul
Comment[et]=Perli moodul
Comment[eu]=PERL modulua
Comment[fr]=Module Perl
Comment[ga]=Modúl Perl
Comment[hu]=Perl-modul
Comment[is]=Perl eining
Comment[it]=Modulo Perl
Comment[lt]=PERL modulis
Comment[nb]=PERL-modul
Comment[nds]=Perl-Moduul
Comment[nl]=Perl-module
Comment[nn]=Perl-modul
Comment[pt]=Módulo de Perl
Comment[pt_BR]=Módulo Perl
Comment[ro]=Modul Perl
Comment[ru]=Модуль Perl
Comment[se]=Perl-moduvla
Comment[sr]=Perl модул
Comment[sr@Latn]=Perl модул
Comment[sv]=Perl-modul
Comment[ta]=Perl கூறு
Comment[tr]=Perl Modülü
Comment[uk]=Модуль мови програмування Perl
Comment[xx]=xxPerl Modulexx
Comment[zh_CN]=Perl 模块
Icon=source_pl
Type=MimeType
MimeType=application/x-perl-module
Patterns=*.pm;*.PM;

[Property::X-KDE-text]
Type=bool
Value=true
