[Desktop Entry]
Encoding=UTF-8
Comment=PERL Program
Comment[af]=Perl Program
Comment[ar]=برنامج بلغة بيرل
Comment[az]=PERL Proqramı
Comment[be]=Праграма Perl
Comment[bg]=Програма на PERL
Comment[bn]=পার্ল প্রোগ্রাম
Comment[bs]=PERL program
Comment[ca]=Programa en PERL
Comment[cs]=Program v jazyce Perl
Comment[cy]=Rhaglen PERL
Comment[da]=PERL-program
Comment[de]=PERL-Programm
Comment[el]=Πρόγραμμα PERL
Comment[eo]=Perlo-programo
Comment[es]=Programa en PERL
Comment[et]=Perli rakendus
Comment[eu]=PERL Programa
Comment[fa]=برنامه‌ی پرل
Comment[fi]=PERL-ohjelma
Comment[fr]=Programme PERL
Comment[ga]=Clár PERL
Comment[gl]=Programa en PERL
Comment[he]=תוכנית PERL
Comment[hi]=पर्ल प्रोग्राम
Comment[hr]=PERL program
Comment[hu]=Perl-program
Comment[is]=Perl forrit
Comment[it]=Programma PERL
Comment[ja]=PERL プログラム
Comment[ko]=펄 프로그램
Comment[lt]=PERL programa
Comment[mk]=PERL програма
Comment[mn]=Perl-Программ
Comment[ms]=Program PERL
Comment[mt]=Programm PERL
Comment[nb]=PERL-program
Comment[nds]=PERL-Programm
Comment[nl]=PERL-programma
Comment[nn]=PERL-program
Comment[nso]=Lenaneo la PERL
Comment[pl]=Program w Perlu
Comment[pt]=Programa em PERL
Comment[pt_BR]=Programa PERL
Comment[ro]=Program PERL
Comment[ru]=Программа на Perl
Comment[se]=PERL-prográmma
Comment[sk]=PERL program
Comment[sl]=Program v perlu
Comment[sr]=PERL програм
Comment[sr@Latn]=PERL program
Comment[ss]=Luhlelo lwe PERL 
Comment[sv]=Perl-program
Comment[ta]=பேர்ல் நிரல்
Comment[tg]=Программаи PERL
Comment[tr]=PERL Programı
Comment[uk]=Програма PERL
Comment[uz]=PERL'да тузилган дастур
Comment[ven]=Mbekanyamushumo ya PERL
Comment[wa]=Programe PERL
Comment[xh]=Udweliso lwenkqubo lwe PERL
Comment[xx]=xxPERL Programxx
Comment[zh_CN]=PERL 程序
Comment[zh_TW]=PERL 程式
Comment[zu]=Uhlelo lwemisebenzi lwe-PERL
Icon=source_pl
Type=MimeType
MimeType=application/x-perl
Patterns=*.pl;*.PL;*.perl;*.PERL
X-KDE-IsAlso=text/plain

[Property::X-KDE-text]
Type=bool
Value=true
