[Desktop Entry]
Encoding=UTF-8
Comment=PHP Script
Comment[af]=PHP Skrip
Comment[ar]=ملف PHP
Comment[az]=PHP Skripti
Comment[be]=Скрыпт PHP
Comment[bg]=Скрипт на PHP
Comment[bn]=পি-এইচ-পি স্ক্রিপ্ট
Comment[br]=Urzhiaoueg PHP
Comment[bs]=PHP skripta
Comment[ca]=Script PHP
Comment[cs]=PHP skript
Comment[cy]=Sgript PHP
Comment[da]=PHP-script
Comment[de]=PHP-Skript
Comment[el]=Σενάριο PHP
Comment[eo]=PHP-skripto
Comment[es]=Script de PHP
Comment[et]=PHP skript
Comment[eu]=PHP script-a
Comment[fa]=نویسه‌ی PHP
Comment[fi]=PHP-skripti
Comment[fr]=Script PHP
Comment[fy]=PHP Skript
Comment[ga]=Script PHP
Comment[gl]=Guión en PHP
Comment[he]=תסריט PHP
Comment[hi]=PHP स्क्रिप्ट
Comment[hr]=PHP skripta
Comment[hu]=PHP-szkript
Comment[is]=PHP forrit
Comment[it]=Script PHP
Comment[ja]=PHP スクリプト
Comment[ka]=PHP სკრიპტი
Comment[km]=ស្គ្រីប PHP
Comment[ko]=PHP 스크립트
Comment[lb]=PHP-Skript
Comment[lt]=PHP scenarijus
Comment[lv]=PHP skripts
Comment[mk]=PHP скрипта
Comment[mn]=PHP скрипт
Comment[ms]=Skrip PHP
Comment[nb]=PHP-skript
Comment[nds]=PHP-Skript
Comment[nl]=PHP-script
Comment[nn]=PHP-skript
Comment[pa]=PHP ਸਕ੍ਰਿਪਟ
Comment[pl]=Skrypt PHP
Comment[pt]=Programa em PHP
Comment[pt_BR]=Script em PHP
Comment[ro]=Script PHP
Comment[ru]=Скрипт PHP
Comment[rw]=PHP Iyandika
Comment[se]=PHP-skripta
Comment[sk]=PHP skript
Comment[sl]=Skript PHP
Comment[sq]=Skriptë nga PHP
Comment[sr]=PHP скрипта
Comment[sr@Latn]=PHP skripta
Comment[sv]=PHP-skript
Comment[ta]=PHP எழுத்தாக்கம்
Comment[tg]=Дастнависи PHP
Comment[th]=สคริปต์ PHP
Comment[tr]=PHP betiği
Comment[tt]=PHP Ämerlek
Comment[uk]=Скрипт мови програмування PHP
Comment[uz]=PHP скрипти
Comment[wa]=Sicripe PHP
Comment[xx]=xxPHP Scriptxx
Comment[zh_CN]=PHP 脚本

Icon=source_php
Type=MimeType
MimeType=application/x-php
Patterns=*.php;*.PHP;*.php3;*.PHP3;*.php4;*.PHP4

[Property::X-KDE-text]
Type=bool
Value=true
