[Desktop Entry]
Encoding=UTF-8
Comment=PHP Script
Comment[fr]=Script PHP
Comment[x-test]=xxPHP Scriptxx

Icon=source_php
Type=MimeType
MimeType=application/x-php
Patterns=*.php;*.PHP;*.php3;*.PHP3;*.php4;*.PHP4

[Property::X-KDE-text]
Type=bool
Value=true
