[Desktop Entry]
Encoding=UTF-8
Type=MimeType
MimeType=application/x-pkcs12
Icon=lock
Patterns=*.p12;*.P12;*.pfx
Comment=PKCS#12 Certificate Bundle
Comment[af]=Pkcs#12 Sertifikaat Bundel
Comment[ar]=شهادة اعتمادية PKCS#12
Comment[az]=PKCS#12 Vəsiqə Dəstəsi
Comment[ca]=Paquet de certificats PKCS#12
Comment[cs]=Balík certifikátů PKCS#12
Comment[da]=PKCS#12-certifikatbundt
Comment[de]=Zertifikatpaket PKCS#12
Comment[el]=PKCS#12 πακέτο πιστοποιητικών
Comment[eo]=PKCS#12-Atestilaro
Comment[es]=Paquete de certificado PKCS#12
Comment[et]=PKCS#12 sertifikaatide kogum
Comment[fa]=گواهینامه‌ی همراه‌شده‌ی PKCS شماره‌ی ۱۲
Comment[fi]=PKCS#12 sertifikaattikokoelma
Comment[fr]=Ensemble de certificats PKCS#12
Comment[he]=חבילת תעודות PKCS#12
Comment[hr]=PKCS#12 svezak certifikata
Comment[hu]=PKCS#12 tanúsítványcsomag
Comment[it]=Insieme di certificati PKCS#12
Comment[ja]=PKCS#12 証明書バンドル
Comment[lt]=PKCS#12 sertifikatų rinkinys
Comment[lv]=PKCS#12 Sertifikātu Komplekts
Comment[mt]=Mazz ċertifikati PKCS#12
Comment[nb]=PKCS#12-sertifikatpakke
Comment[nl]=PKCS#12 Certificatenbundel
Comment[nn]=PKCS#12-sertifikatpakke
Comment[nso]=Ntshubana ya Kgonthisiso ya PKCS#12
Comment[pl]=Zestaw certyfikatów PKCS#12
Comment[pt]=Pacote de Certificados PKCS#12
Comment[pt_BR]=PKCS#12 Certificado Empacotado
Comment[ro]=Pachet certificat PKCS#12
Comment[ru]=Набор сертификатов PKCS#12
Comment[sk]=Balík certifikátov PKCS#12
Comment[sl]=Zbirka certifikatov PKCS#12
Comment[sv]=PKCS certifikatsamling nummer 12
Comment[th]=ใบรับรองที่ให้มาแบบ PKCS#12
Comment[tr]=PKCS#12 Sertifika Paketi
Comment[uk]=Клунок сертифікату PKCS#12
Comment[ven]=Nanda ya sethifikheithi tsha PKCS#12
Comment[xh]=PKCS#12 Uqokelelo lwe Siqinisekiso
Comment[zh_CN]=PKCS#12 证书束
Comment[zh_TW]=PKCS#12 認證
Comment[zu]=Isigaxa Sezitifiketi se-PKCS#12
X-KDE-AutoEmbed=true

