[Desktop Entry]
Encoding=UTF-8
Type=MimeType
MimeType=application/x-pkcs12
Icon=lock
Patterns=*.p12;*.P12;*.pfx
Comment=PKCS#12 Certificate Bundle
Comment[af]=pkcs#12 sertifikaat bundel
Comment[ar]=شهادة اعتمادية PKCS#12
Comment[az]=PKCS#12 Vəsiqə Dəstəsi
Comment[cs]=Balík certifikátů PKCS#12
Comment[da]=PKCS#12 Certifikatbundt
Comment[de]=Zertifikatpaket PKCS#12
Comment[eo]=PKCS#12-Atestilaro
Comment[es]=Paquete de certificado PKCS#12
Comment[et]=PKCS#12 sertifikaatide kogum
Comment[fi]=PKCS#12 sertifikaattikokoelma
Comment[fr]=Ensemble de certificats PKCS#12
Comment[he]=חבילת תעודות PKCS#12
Comment[hu]=PKCS#12 tanúsítványcsomag
Comment[it]=Insieme di certificati PKCS#12
Comment[ja]=PKCS#12 証明書バンドル
Comment[lt]=PKCS#12 sertifikatų rinkinys
Comment[lv]=PKCS#12 Sertifikātu Komplekts
Comment[nb]=PKCS#12-sertifikatpakke
Comment[nl]=PKCS#12 Certificatenbundel
Comment[nn]=PKCS#12-sertifikatpakke
Comment[pl]=Zestaw certyfikatów PKCS#12
Comment[pt]=Pacote de Certificados PKCS#12
Comment[pt_BR]=PKCS#12 Certificado Empacotado
Comment[ro]=Pachet certificat PKCS#12
Comment[ru]=PKCS#12 Набор сертификатов
Comment[sk]=Balík certifikátov PKCS#12
Comment[sl]=Zbirka certifikatov PKCS#12
Comment[sv]=PKCS certifikatsamling nummer 12
Comment[th]=ใบรับรองที่ให้มาแบบ PKCS#12
Comment[tr]=PKCS#12 Sertifika Paketi
Comment[uk]=Клунок сертифікату PKCS#12
Comment[ven]=Nanda ya sethifikheithi tsha PKCS#12
Comment[xh]=PKCS#12 Inyanda Yesiqinisekiso
Comment[xx]=xx
Comment[zh_TW]=PKCS#12 認證
Comment[zu]=PKCS#12 Isitifiketi Bundle
X-KDE-AutoEmbed=true

