[Desktop Entry]
Encoding=UTF-8
Comment=Python Program
Comment[ar]=برنامج بلغة بايثون
Comment[be]=Праграма Python
Comment[bs]=Python program
Comment[ca]=Programa en Python
Comment[cs]=Program v jazyce Python
Comment[da]=Python-program
Comment[de]=Python-Programm
Comment[el]=Πρόγραμμα Python
Comment[eo]=Piton-programo
Comment[es]=Programa en Python
Comment[et]=Pythoni rakendus
Comment[eu]=Python Programa
Comment[fa]=برنامه‌ی Python
Comment[fi]=Python ohjelma
Comment[fr]=Programme Python
Comment[he]=תוכנית Python
Comment[hu]=Python program
Comment[it]=Programma Python
Comment[ja]=Python プログラム
Comment[ko]=파이썬 프로그램
Comment[lt]=Python programa
Comment[mt]=Programm Python
Comment[nb]=Python-program
Comment[nl]=Python-programma
Comment[nn]=Python-program
Comment[nso]=Lenaneo la Python
Comment[pl]=Program w Pythonie
Comment[pt]=Programa de Python
Comment[pt_BR]=Programa Python
Comment[ro]=Program Python
Comment[ru]=Программа на Python
Comment[sk]=Python program
Comment[sl]=Program v pythonu
Comment[ss]=Luhlelo lwe Python 
Comment[sv]=Python-program
Comment[ta]=¨À¾¡ý ¿¢Ãø
Comment[tr]=Python Programı
Comment[uk]=Програма Python
Comment[ven]=Mbekanyamushumo ya Python
Comment[xh]=Udweliso lwenkqubo lwe Python
Comment[zh_CN]=Python 程序
Comment[zh_TW]=Python 程式
Comment[zu]=Uhlelo lwamafayela lwe-Python
Type=MimeType
MimeType=application/x-python
Patterns=*.py;
