[Desktop Entry]
Comment=Python program
Comment[az]=Python proqramı
Comment[bg]=Програма на Python
Comment[br]=Goulev Python
Comment[ca]=Programa Python
Comment[cs]=Program v jazyce Python
Comment[de]=Python-Programm
Comment[el]=Πρόγραμμα Python
Comment[eo]=Piton-programo
Comment[es]=Programa en Python
Comment[et]=Pythoni rakendus
Comment[eu]=Python programa
Comment[fi]=Python ohjelma
Comment[fr]=Programme Python
Comment[gl]=Programa en Python
Comment[he]=Python תינכות
Comment[is]=Python forrit
Comment[it]=Programma Python
Comment[ja]=Pythonプログラム
Comment[ko]=파이썬 프로그램
Comment[lt]=Python programa
Comment[lv]=Python programma
Comment[mi]=Utauta Python
Comment[mk]=Python програм
Comment[mt]=Programm Python
Comment[nl]=Python-programma
Comment[no]=Python-program
Comment[no_NY]=Python-program
Comment[oc]=Programo Python
Comment[pl]=Program w Pythonie
Comment[pt_BR]=Programa Python
Comment[pt]=Programa de Python
Comment[ru]=Программа на Python'e
Comment[sl]=Program v Pythonu
Comment[sr]=Pyton program
Comment[sv]=Python-program
Comment[ta]=Python ¿¢Ãø
Comment[tr]=Python programı
Comment[uk]=Програма Python
Comment[vi]=Chương trình Python 
Comment[wa]=Programe è python
Comment[xh]=Udweliso lwenkqubo lwenyoka enkulu engenancidi inityhefu ebulala ixhoba ngokulisonga
Comment[zh_CN.GB2312]=Python 程序
Type=MimeType
MimeType=application/x-python
Patterns=*.py;
