[Desktop Entry]
Encoding=UTF-8
Type=MimeType
MimeType=application/x-rar-compressed
Icon=tgz
Patterns=*.rar;*.RAR;
Comment=Rar Archive
Comment[fr]=Archive Rar
Comment[x-test]=xxRar Archivexx
X-KDE-IsAlso=application/x-rar
