[Desktop Entry]
Encoding=UTF-8
Type=MimeType
MimeType=application/x-rpm
Icon=rpm
Patterns=*.rpm;
Comment=RPM Package File
Comment[el]=Αρχείο πακέτου RPM
Comment[fr]=Paquetage RPM
Comment[x-test]=xxRPM Package Filexx
