[Desktop Entry]
Encoding=UTF-8
Type=MimeType
MimeType=application/x-rpm
Icon=rpm
Patterns=*.rpm;
Comment=RPM Package File
Comment[af]=Rpm Paket Lêer
Comment[ar]=ملف حزمة RPM
Comment[bs]=RPM paket
Comment[ca]=Fitxer de paquet RPM
Comment[cs]=RPM balíček
Comment[da]=RPM-pakkefil
Comment[de]=RPM-Paketdatei
Comment[el]=Αρχείο πακέτου RPM
Comment[eo]=RPM-pakaĵo
Comment[es]=Archivo de paquete RPM
Comment[et]=RPM pakett
Comment[eu]=RPM Pakete Fitxategia
Comment[fa]=پرونده‌ی RPM Package
Comment[fi]=RPM-paketti
Comment[fr]=Paquetage RPM
Comment[he]=קובץ חבילת RPM
Comment[hu]=RPM csomag
Comment[it]=File pacchetto RPM
Comment[ja]=RPM パッケージファイル
Comment[ko]=RPM 꾸러미 파일
Comment[lt]=RPM paketo byla
Comment[mt]=Pakkett RPM
Comment[nb]=RPM-pakkefil
Comment[nl]=RPM-pakket
Comment[nn]=RPM-pakkefil
Comment[nso]=Faele ya Pakana ya RPM
Comment[pl]=Pakiet RPM
Comment[pt]=Pacote RPM
Comment[pt_BR]=Pacote RPM
Comment[ro]=Fişier pachet RPM
Comment[ru]=Пакет RPM
Comment[sk]=RPM súbor
Comment[sl]=Paket RPM
Comment[sv]=RPM-paketfil
Comment[ta]=RPM ¦À¡¾¢ì §¸¡ôÒ
Comment[tr]=RPM Paket Dosyası
Comment[uk]=Пакунок RPM
Comment[ven]=Faela ya zwiputa zwa RPM
Comment[xh]=Ifayile Yempahla ye RPM
Comment[zh_CN]=RPM 包文件
Comment[zh_TW]=RPM 套件檔案
Comment[zu]=Ifayela Lephakethe le-RPM
