[Desktop Entry]
Encoding=UTF-8
Comment=Shell Script
Comment[af]=tolk skrip
Comment[ar]=ملف دفعي
Comment[az]=qabıq əmr köməsi
Comment[bg]=Cкрипт на shell
Comment[bs]=shell skripta
Comment[ca]=Guió shell
Comment[cs]=Shellový skript
Comment[da]=Skalscript
Comment[de]=Shell-Skript
Comment[el]=σενάριο κελύφους
Comment[eo]=Komandoskripto
Comment[es]=Script para intérprete de comandos
Comment[et]=Shelli skript
Comment[fi]=Komentotulkin skripti
Comment[fr]=Script shell
Comment[gl]=Script de shell
Comment[he]=תסריט מעטפת
Comment[hr]=shell skript
Comment[hu]=parancsértelmező szkript
Comment[id]=skrip shell
Comment[is]=Skeljaforrit
Comment[it]=Script per la shell
Comment[ja]=シェルスクリプト
Comment[ko]=쉘 스크립트
Comment[lt]=apvalkalo skriptas
Comment[lv]=čaulas skripts
Comment[mi]=tuhi anga
Comment[mk]=школка-скрипта
Comment[mt]=skritt shell
Comment[nb]=Skallskript
Comment[nl]=Shell script
Comment[nn]=Skalskript
Comment[oc]=Escript shell
Comment[pl]=Skrypt powłoki
Comment[pt]=Shell script
Comment[pt_BR]=Shell script
Comment[ro]=Script de interpretor
Comment[ru]=Cкрипт shell
Comment[sk]=Shellovský skript
Comment[sl]=Lupinski skript
Comment[sr]=Shell skripta
Comment[sv]=Skalskript
Comment[ta]=µðÎì ¸¢ÚÅø
Comment[th]=สคริปต์เชลล์
Comment[tr]=kabuk komut kümesi
Comment[uk]=Скрипт Shell
Comment[ven]=Tshikiriputi tsha shell
Comment[vi]=Shell Script 
Comment[xh]=ushicilelo phantsi lweqokobhe
Comment[xx]=xx
Comment[zh_CN]=shell 脚本
Comment[zu]=ushicilelo phantsi lwegololodo
Icon=shellscript
Type=MimeType
MimeType=application/x-shellscript
Patterns=*.sh;*.csh
