[Desktop Entry]
Encoding=UTF-8
Type=MimeType
MimeType=application/x-shockwave-flash
Icon=multimedia
Patterns=*.swf
Comment=Shockwave Flash Media
Comment[ar]=ملف Shockwave Flash
Comment[az]=Shockwave Flash Mediyası
Comment[bg]=Мултимедиен файл Shockwave Flash
Comment[bn]=শকওয়েভ ফ্ল্যাশ মিডিয়া
Comment[br]=Medium Shockwave Flash
Comment[ca]=Medi Shockwave Flash
Comment[cy]=Cyfryngau Shockwave Flash  
Comment[de]=Shockwave-Flashmedien
Comment[es]=Archivo Shockwave Flash
Comment[et]=Shockwave Flash meedia
Comment[eu]=Shockwave Flash media
Comment[fi]=Shockwave Flash -media
Comment[fr]=Média Shockwave Flash
Comment[he]=מדיית Flash של Shockwave
Comment[hi]=शॉकवेव फ्लैश मीडिया
Comment[hu]=Shockwave Flash-fájl
Comment[id]=Media Shockwave Flash
Comment[is]=Shockwave Flash gögn
Comment[it]=File multimediale Shockwave Flash
Comment[ja]=Shockwave Flash メディア
Comment[ko]=쇽 웨이브 플래시 미디어
Comment[lb]=Shockwave-Flash-Media
Comment[lv]=Shockwave Flash Mēdija
Comment[ms]=Media Shockwave Flash
Comment[mt]=Media Shockwave Flash
Comment[nb]=Shockware flashmedia
Comment[nds]=Shockwave-Flash-Datei
Comment[nn]=Shockwave Flash-media
Comment[nso]=Media wa Kgadimo ya Shockwave
Comment[pa]=Shockwave ਫਲੈਸ਼ ਮੀਡਿਆ
Comment[pt]=Shockwave Flash
Comment[pt_BR]=Mídia Shockwave Flash
Comment[ro]=Fişier multimedia Shockwave Flash
Comment[ru]=Файл Shockwave Flash
Comment[se]=Shockwave Flash-media
Comment[sq]=Media nga Shockwave Flash
Comment[sr]=Shockwave Flash медиј
Comment[sr@Latn]=Shockwave Flash medij
Comment[ta]=ஷாக்வேவ் ஃப்ளாஷ் ஊடகம்
Comment[th]=แฟ้มสื่อช็อคเวฟแฟลช
Comment[tt]=Shockwave Flash Bireme
Comment[uz]=Shockwave Flash медиа-файли
Comment[ven]=Lupenyo lwa media lua khamadzaho
Comment[vi]=Shockwave Flash 
Comment[zh_CN]=Shockwave Flash 媒体文件
Comment[zh_TW]=Shockwave Flash 媒體檔案
Comment[zu]=Igagasi lokuthuka le-Flash Media
X-KDE-AutoEmbed=true
