[Desktop Entry]
Comment=Shared library
Comment[ca]=Biblioteca compartida
Comment[cs]=Sdílená knihovna
Comment[da]=Delt bibliotek
Comment[de]=Bibliotheksdateien
Comment[el]=Κοινόχρηστη βιβλιοθήκη
Comment[eo]=Komuna funkcibiblioteko
Comment[es]=Librería compartida
Comment[et]=Jagatud teek
Comment[fi]=Jaettu kirjasto
Comment[fr]=Bibliothèque partagée
Comment[gl]=Librería compartida
Comment[he]=תפתושמ הירפס
Comment[hr]=Dijeljena biblioteka
Comment[hu]=Megosztott könyvtár
Comment[is]=Samnýtt stefjusafn
Comment[it]=Libreria condivisa
Comment[ja]=共有ライブラリ
Comment[lt]=Dalinama biblioteka
Comment[mk]=Делива датотека
Comment[nl]=Gedeelde bibliotheek
Comment[no]=Delt bibliotek
Comment[no_NY]=Delt bibliotek
Comment[pl]=Współdzielona biblioteka
Comment[pt]=Biblioteca Dinâmica
Comment[pt_BR]=Biblioteca compartilhada
Comment[ro]=Librărie de funcţii partajate
Comment[ru]=Разделяемая библиотека
Comment[sk]=Zdielané knižnice
Comment[sl]=Deljena knjižnica
Comment[sv]=Delat programbibliotek
Comment[ta]=À¸¢÷ó¾ áÄ¸õ
Comment[tr]=Ortak kütüphane dosyası
Comment[uk]=Спільна бібліотека
Comment[zh_CN.GB2312]=共享库
Icon=exec
Type=MimeType
MimeType=application/x-sharedlib
Patterns=
