[Desktop Entry]
Encoding=UTF-8
Comment=Shell Script
Comment[af]=Tolk Skrip
Comment[ar]=نص برمجي غلافي
Comment[az]=Qabıq Skripti
Comment[be]=Скрыпт абалонкі
Comment[bg]=Скрипт на Shell
Comment[bn]=শেল স্ক্রিপ্ট
Comment[bs]=Shell skripta
Comment[ca]=Script per a l'intèrpret de comandaments
Comment[cs]=Shellový skript
Comment[cy]=Sgript Plisgyn
Comment[da]=Skalscript
Comment[de]=Shell-Skript
Comment[el]=Σενάριο κελύφους
Comment[eo]=Komandoskripto
Comment[es]=Script para intérprete de comandos
Comment[et]=Shelli skript
Comment[eu]=Shell Scripta
Comment[fa]=نویسه‌ی پوسته
Comment[fi]=Komentotulkkiskripti
Comment[fr]=Script shell
Comment[ga]=Clár Blaoisce
Comment[gl]=Script de Shell
Comment[he]=תסריט מעטפת
Comment[hi]=शैल स्क्रिप्ट
Comment[hr]=shell skripta
Comment[hu]=Parancsfájl
Comment[is]=Skeljaforrit
Comment[it]=Script per la shell
Comment[ja]=シェルスクリプト
Comment[ko]=쉘 스크립트
Comment[lt]=apvalkalo skriptas
Comment[mn]=Shell-Скрипт
Comment[ms]=Skrip Cengkerang
Comment[mt]=Skritt shell
Comment[nb]=Skallskript
Comment[nds]=Shellskript
Comment[nl]=Shell-script
Comment[nn]=Skalskript
Comment[nso]=Tshwaelo ya Shell
Comment[pl]=Skrypt powłoki
Comment[pt]='Shell Script'
Comment[pt_BR]=Script Shell
Comment[ro]=Script de interpretor
Comment[ru]=Cкрипт shell
Comment[se]=Skál3/43/4u skripta
Comment[sk]=Shellovský skript
Comment[sl]=Lupinski skript
Comment[sr]=Скрипта шкољке
Comment[sv]=Skalskript
Comment[ta]=ஓட்டு எழுத்தாக்கம்
Comment[th]=สคริปต์เชลล์
Comment[tr]=Kabuk Betiği
Comment[uk]=Скрипт командної оболонки
Comment[uz]=Шелл скрипти
Comment[ven]=Tshikiriputi tsha shell
Comment[wa]=Sicripe shell
Comment[xh]=Ushicilelo phantsi Lweqokobhe
Comment[xx]=xxShell Scriptxx
Comment[zh_CN]=Shell 脚本
Comment[zh_TW]=Shell 程式
Comment[zu]=Isikripti Segobolondo
Icon=shellscript
Type=MimeType
MimeType=application/x-shellscript
Patterns=*.sh;*.csh
X-KDE-IsAlso=application/x-executable-script

[Property::X-KDE-text]
Type=bool
Value=true
