[Desktop Entry]
Encoding=UTF-8
Comment=Shared Library
Comment[af]=Gedeelde Biblioteek
Comment[ar]=مكتبة مشتركة
Comment[bs]=Dijeljena biblioteka
Comment[ca]=Biblioteca compartida
Comment[cs]=Sdílená knihovna
Comment[da]=Delt bibliotek
Comment[de]=Bibliotheksdatei
Comment[el]=Κοινόχρηστη βιβλιοθήκη
Comment[eo]=Komuna funkcibiblioteko
Comment[es]=Biblioteca compartida
Comment[et]=Jagatud teek
Comment[eu]=Liburutegi Konpartitua
Comment[fa]=کتابخانه‌ی اشتراکی
Comment[fi]=Jaettu kirjasto
Comment[fr]=Bibliothèque partagée
Comment[he]=ספריה משותפת
Comment[hu]=Megosztott programkönyvtár
Comment[it]=Libreria condivisa
Comment[ja]=共有ライブラリ
Comment[ko]=공유 라이브러리
Comment[lt]=Bendro naudojimo biblioteka
Comment[mt]=Librerija "shared"
Comment[nb]=Delt bibliotek
Comment[nl]=Gedeelde bibliotheek
Comment[nn]=Delt bibliotek
Comment[nso]=Bokgobapuku bjo bo Abaganwego
Comment[pl]=Współdzielona biblioteka
Comment[pt]=Biblioteca Dinâmica
Comment[pt_BR]=Biblioteca compartilhada
Comment[ro]=Librărie partajată
Comment[ru]=Разделяемая библиотека
Comment[sk]=Zdieľané knižnice
Comment[sl]=Deljena knjižnica
Comment[sv]=Delat programbibliotek
Comment[ta]=À¸¢÷ó¾ áÄ¸õ
Comment[tr]=Ortak Kütüphane Dosyası
Comment[uk]=Спільна бібліотека
Comment[ven]=Laiburari yo kovhiwaho
Comment[xh]=Ilayibrari Eyahluliweyo
Comment[zh_CN]=共享库
Comment[zh_TW]=共用程式庫
Comment[zu]=Umtapo wolwazi Osetshenziswa ngokuhlanganyela
Icon=exec
Type=MimeType
MimeType=application/x-sharedlib
Patterns=
