[Desktop Entry]
Encoding=UTF-8
Type=MimeType
MimeType=application/x-sqlite2
Icon=empty
Patterns=
Comment=SQLite2 Database File
Comment[bg]=Файл за данни на SQLite2
Comment[cs]=Databázový soubor SQLite2
Comment[da]=SQLite2 Databasefil
Comment[de]=SQLite2-Datenbankdatei
Comment[el]=Αρχείο βάσης δεδομένων SQLite2
Comment[es]=Archivo de la base de datos SQLite2
Comment[fi]=SQLite2-tietokantatiedosto
Comment[ga]=Comhad Bunachair Shonraí SQLite2
Comment[he]=קובץ בסיס נתונים של SQLite2
Comment[it]=File banca dati SQLite2
Comment[nl]=SQLite2 databasebestand
Comment[pa]=SQLite2 ਡਾਟਾਬੇਸ ਫਾਇਲ
Comment[pl]=Plik bazy danych SQLite2
Comment[pt]=Ficheiro de Base de Dados do SQLite2
Comment[pt_BR]=Ficheiro de Base de Dados do SQLite2
Comment[sv]=Sqlite 2 databasfil
Comment[uk]=Файл бази даних SQLite2
Comment[xx]=xxSQLite2 Database Filexx
