[Desktop Entry]
Encoding=UTF-8
Type=MimeType
MimeType=application/x-sqlite3
Icon=empty
Patterns=
Comment=SQLite3 Database File
Comment[bg]=Файл за данни на SQLite3
Comment[cs]=Databázový soubor SQLite3
Comment[de]=SQLite3-Datenbankdatei
Comment[el]=Αρχείο βάσης δεδομένων SQLite3
Comment[es]=Archivo de la base de datos SQLite3
Comment[fi]=SQLite3-tietokantatiedosto
Comment[ga]=Comhad Bunachair Shonraí SQLite3
Comment[pa]=SQLite3 ਡਾਟਾਬੇਸ ਫਾਇਲ
Comment[sv]=Sqlite 3 databasfil
Comment[xx]=xxSQLite3 Database Filexx
