[Desktop Entry]
Comment=Superkaramba Theme File
Comment[x-test]=xxSuperkaramba Theme Filexx
DefaultApp=superkaramba
Icon=superkaramba_theme
MimeType=application/x-superkaramba
Patterns=*.skz;*.SKZ;*.theme;*.THEME
Type=MimeType
X-KDE-AutoEmbed=false
