[Desktop Entry]
MimeType=application/x-tarz
Comment=Compressed Tar Archive
Comment[ca]=Arxiu tar comprimit
Comment[cs]=Komprimovaný tar archív
Comment[da]=Komprimeret tar arkiv
Comment[de]=Komprimiertes tar-Archiv
Comment[el]=συμπιεσμένο αρχείο Tar
Comment[eo]=Kunpremita Tar-arĥivo
Comment[es]=Archivo Tar Comprimido
Comment[et]=Pakitud tar arhiiv
Comment[fi]=Pakattu tar-paketti
Comment[fr]=Archive Tar compactée
Comment[gl]=Arquivo tar comprimido
Comment[he]=ץווכמ Tar ןויכרא
Comment[hr]=Komprimirana tar arhiva
Comment[hu]=Tömörített tar archívum
Comment[is]=Þjappað tar-safn
Comment[it]=Archivio Tar compresso
Comment[ja]=CompressされたTarアーカイブ
Comment[mk]=Компримирана Tar-архива
Comment[nl]=Gecomprimeerd Tar-archief
Comment[no]=Komprimert tar-arkiv
Comment[no_NY]=Komprimert tar-arkiv
Comment[pl]=Skompresowane Archiwum Tar
Comment[pt]=Arquivo TAR Comprimido
Comment[pt_BR]=Pacote Tar comprimido
Comment[ro]=Fişier arhivă TAR comprimat
Comment[ru]=Сжатый архив TAR
Comment[sk]=Komprimované archívy TAR
Comment[sl]=Stisnjeni arhiv tar
Comment[sr]=Kompresovana tar arhiva
Comment[sv]=Komprimerat Tar-arkiv
Comment[ta]=«Øò¾Àð¼ Tar ¸¡ôÀ¸õ
Comment[tr]=Sıkıştırılmış Tar Arşivi
Comment[uk]=Стистнутий архів tar
Comment[zh_CN.GB2312]=压缩的 Tar 归档文件
Comment[zh_TW.Big5]=壓縮的 Tar 檔案館
Icon=tgz
Type=MimeType
Patterns=*.tar.Z;
