[Desktop Entry]
Encoding=UTF-8
MimeType=application/x-tarz
Comment=Compressed Tar Archive
Comment[af]=saamgepersde tar argief
Comment[ar]=أرشيف TAR مضغوط
Comment[az]=Sıxışdırılmış Tar Arxivi
Comment[bg]=Комресиран архив на tar
Comment[br]=Diell tar gwasket
Comment[bs]=Komprimirana tar arhiva
Comment[ca]=Arxiu tar comprimit
Comment[cs]=Komprimovaný tar archív
Comment[da]=Komprimeret TAR-arkiv
Comment[de]=Komprimiertes Tar-Archiv
Comment[el]=συμπιεσμένο αρχείο Tar
Comment[eo]=Kunpremita Tar-arĥivo
Comment[es]=Archivo Tar comprimido
Comment[et]=Pakitud TAR arhiiv
Comment[eu]=Tar Fitxategi Konprimatua
Comment[fi]=Pakattu tar-paketti
Comment[fr]=Archive Tar compactée
Comment[gl]=Arquivo tar comprimido
Comment[he]=ארכיון Tar דחוס
Comment[hr]=Komprimirana tar arhiva
Comment[hu]=Tömörített tar archívum
Comment[id]=Archive Tar terkompresi
Comment[is]=Þjappað tar-safn
Comment[it]=Archivio Tar compresso
Comment[ja]=CompressされたTarアーカイブ
Comment[ko]=기본 압축된 Tar 파일
Comment[lt]=Suglaudintas tar archyvas
Comment[lv]=Saspiests Tar Arhīvs
Comment[mk]=Компримирана Tar-архива
Comment[mt]=Arkivju Tar Kompressat
Comment[nb]=Komprimert tar-arkiv
Comment[nl]=Gecomprimeerd Tar-archief
Comment[nn]=Komprimert tar-arkiv
Comment[oc]=Archiu tar comprimit
Comment[pl]=Skompresowane archiwum Tar
Comment[pt]=Arquivo TAR comprimido
Comment[pt_BR]=Pacote TAR comprimido
Comment[ro]=Arhivă Tar comprimată
Comment[ru]=Сжатый архив tar
Comment[sk]=Zabalený archív TAR
Comment[sl]=Stisnjeni arhiv tar
Comment[sr]=Kompresovana TAR arhiva
Comment[sv]=Komprimerat Tar-arkiv
Comment[ta]=«Øò¾¢Â Tar ¸¡ôÀ¸õ
Comment[th]=แฟ้มบีบอัด Compress - Tar
Comment[tr]=Sıkıştırılmış Tar Arşivi
Comment[uk]=Стиснутий архів tar
Comment[ven]=Fhethu hau vhulungela zwithu zwa kale ho tsikeledzwaho ha Tar
Comment[vi]=Lưu trữ Tar được nén
Comment[xh]=Ushicilelo lukawonke-wonke nexwebhu leMbali uludityanisiweyo lwe Tar
Comment[xx]=xx
Comment[zh_CN]=压缩的 Tar 归档文件
Comment[zh_TW]=壓縮的 Tar 壓縮文件
Comment[zu]=Enciphisiweyo i Tar Archive
Icon=tgz
Type=MimeType
Patterns=*.tar.Z;
