[Desktop Entry]
Comment=Gzipped Tar Archive
Comment[ca]=Arxius tar gzipats
Comment[cs]=Gzipovaný tar archív
Comment[da]=Gzippede tar arkiver
Comment[de]=Mit gzip komprimiertes tar-Archiv
Comment[eo]=Gzip-Tar-arĥivo
Comment[es]=Archivo tar-gzip
Comment[et]=Gzipitud Tar arhiiv
Comment[fi]=Gzip pakattu tar-paketti
Comment[fr]=Archive Tar compactée par gzip
Comment[he]=Gzip י"ע ץווכמ Tar ןויכרא
Comment[hr]=Gzipirana tar arhiva
Comment[hu]=Gzippelt tar arhívum
Comment[is]=Gzip-þjappað tar-safn
Comment[it]=Archivio Tar-Gzip
Comment[ja]=GzipされたTarアーカイブ
Comment[mk]=Gzip-Tar архива
Comment[nl]=Met Gzip gecomprimeert Tar-archief
Comment[no]=Gzippet tar-arkiv
Comment[no_NY]=Gzippa tar-arkiv
Comment[pl]=Archiwum po tarowaniu i spakowaniu gzipem
Comment[pt]=Arquivo Tar Gz
Comment[pt_BR]=Pacote Tar comprimido via gzip
Comment[ro]=Fişier arhivă TAR comprimat cu GZIP
Comment[ru]=Архив tar.gz
Comment[sl]=Z gzip-om stisnjeni arhiv tar
Comment[sr]=Gzipovana tar arhiva
Comment[sv]=Filarkiv i tar-format komprimerat med gzip
Comment[ta]=Gzip ெசயஂத Tar காபஂபகஙஂகளஂ
Comment[tr]=Gzip'lenmiş Tar Arşivi
Comment[uk]=Архів tar стиснутий gzip
MimeType=application/x-targz
Icon=tgz
Type=MimeType
Patterns=*.tar.gz;
