[Desktop Entry]
MimeType=application/x-tarz
Comment=Compressed Tar Archive
Comment[az]=Sıxışdırılmış Tar Arxivi
Comment[bg]=Комресиран архив на tar
Comment[br]=Diell tar gwasket
Comment[bs]=Komprimirana tar arhiva
Comment[ca]=Arxiu tar comprimit
Comment[cs]=Komprimovaný tar archív
Comment[da]=Komprimeret tar arkiv
Comment[de]=Komprimiertes Tar-Archiv
Comment[el]=συμπιεσμένο αρχείο Tar
Comment[eo]=Kunpremita Tar-arĥivo
Comment[es]=Archivo Tar comprimido
Comment[et]=Pakitud TAR arhiiv
Comment[eu]=Tar Fitxategi Konprimatua
Comment[fi]=Pakattu tar-paketti
Comment[fr]=Archive Tar compactée
Comment[gl]=Arquivo tar comprimido
Comment[he]=ץווכמ Tar ןויכרא
Comment[hr]=Komprimirana tar arhiva
Comment[hu]=Tömörített tar archívum
Comment[is]=Þjappað tar-safn
Comment[it]=Archivio Tar compresso
Comment[ja]=CompressされたTarアーカイブ
Comment[ko]=기본 압축된 Tar 파일
Comment[lt]=Suspaustas Tar Archyvas
Comment[lv]=Saspiests Tar Arhīvs
Comment[mk]=Компримирана Tar-архива
Comment[mt]=Arkivju Tar Kompressat
Comment[nl]=Gecomprimeerd Tar-archief
Comment[no]=Komprimert tar-arkiv
Comment[no_NY]=Komprimert tar-arkiv
Comment[oc]=Archiu tar comprimit
Comment[pl]=Skompresowane archiwum Tar
Comment[pt_BR]=Pacote Tar comprimido
Comment[pt]=Arquivo TAR comprimido
Comment[ru]=Сжатый архив tar
Comment[sk]=Zabalený archív TAR
Comment[sl]=Stisnjeni arhiv tar
Comment[sr]=Kompresovana TAR arhiva
Comment[sv]=Komprimerat Tar-arkiv
Comment[ta]=«Øò¾¢Â Tar ¸¡ôÀ¸õ
Comment[tr]=Sıkıştırılmış Tar Arşivi
Comment[uk]=Стиснутий архів tar
Comment[vi]=File nén compressed tar 
Comment[xh]=Ushicilelo lukawonke-wonke nexwebhu leMbali uludityanisiweyo lwe Tar
Comment[zh_CN.GB2312]=压缩的 Tar 归档文件
Icon=tgz
Type=MimeType
Patterns=*.tar.Z;
