[Desktop Entry]
Comment=Bzipped Tar Archives
Comment[ca]=Arxius tar bzipats
Comment[cs]=Bzipovaný archív
Comment[de]=Tar-Archive, die mit bzip komprimiert wurden
Comment[eo]=Bzip-Tar-arĥivo
Comment[fi]=Bzip-paketti
Comment[fr]=Archive Tar compressée par bzip
Comment[hu]=Bzippelt tar arhívum
Comment[it]=Archivio Tar-Bzip
Comment[ja]=BzipされたTarアーカイブ
Comment[no]=Bzippet tar-akriver
Comment[no_NY]=Bzippa tar-arkiv
Comment[pt]=Arquivos Zip
Comment[ro]=Fişier arhivă TAR comprimat cu BZIP
Comment[sl]=Z bzip-om stisnjeni arhiv tar
Comment[sv]=Filarkiv i tar-format komprimerat med bzip
MimeType=application/x-tbz
DefaultApp=ark
Icon=tgz
Type=MimeType
Patterns=*.tbz;*.TBZ;*.tar.bz;*.TAR.BZ;*.tar.bz2;*.TAR.BZ2;
