[Desktop Entry]
Encoding=UTF-8
Comment=TGIF Document
Comment[af]=Tgif Dokument
Comment[ar]=مستند TGIF
Comment[be]=Дакумэнт TGIF
Comment[bg]=Документ на TGIF
Comment[bs]=TGIF dokument
Comment[ca]=Document TGIF
Comment[cs]=Dokument TGIF
Comment[da]=TGIF-dokument
Comment[de]=TGIF-Dokument
Comment[el]=Έγγραφο TGIF
Comment[eo]=TGif-dokumento
Comment[es]=Documento TGIF
Comment[et]=TGIF dokument
Comment[eu]=TGIF Dokumentua
Comment[fa]=سندTGIF
Comment[fi]=TGIF-asiakirja
Comment[fr]=Document TGif
Comment[he]=מסמך TGIF
Comment[hr]=TGIF dokument
Comment[hu]=TGIF dokumentum
Comment[it]=Documento TGIF
Comment[ja]=TGIF ドキュメント
Comment[ko]=TGIF 문서
Comment[lt]=TGIF dokumentas
Comment[lv]=TGIF Dokuments
Comment[mt]=Dokument TGIF
Comment[nb]=TGIF-dokument
Comment[nl]=TGIF-document
Comment[nn]=TGIF-dokument
Comment[nso]=Tokomane ya TGIF
Comment[pl]=Dokument TGIF
Comment[pt]=Documento TGIF
Comment[pt_BR]=Documento TGIF
Comment[ro]=Document TGIF
Comment[ru]=Документ TGIF
Comment[sk]=TGIF dokument
Comment[sl]=Dokument TGIF
Comment[ss]=Lidokhumente le TGIF 
Comment[sv]=TGIF-dokument
Comment[ta]=TGIF ¬Å½õ
Comment[th]=เอกสาร TGIF
Comment[tr]=TGIF Belgesi
Comment[uk]=Документ TGIF
Comment[ven]=Manwalwa a TGIF
Comment[vi]=Tài liệu TGIF
Comment[xh]=TGIF Uxwebhu
Comment[zh_CN]=TGIF 文档
Comment[zh_TW]=TGIF 文件
Comment[zu]=Uhlu lwamafayela lwe-TGIF
MimeType=application/x-tgif
Type=MimeType
Icon=vectorgfx
