[Desktop Entry]
Encoding=UTF-8
Comment=TGIF Document
Comment[af]=Tgif Dokument
Comment[ar]=مستند TGIF
Comment[be]=Дакумэнт TGIF
Comment[bg]=Документ на TGIF
Comment[bs]=TGIF dokument
Comment[cs]=Dokument TGIFu
Comment[da]=TGIF Dokument
Comment[de]=TGIF-Dokument
Comment[el]=Έγγραφο TGIF
Comment[eo]=TGif-dokumento
Comment[es]=Documento TGIF
Comment[et]=TGIF dokument
Comment[eu]=TGIF Dokumentua
Comment[fi]=TGIF-asiakirja
Comment[fr]=Document TGif
Comment[he]=מסמך TGIF
Comment[hu]=TGIF dokumentum
Comment[is]=TGIF skjal
Comment[it]=Documento TGIF
Comment[ja]=TGIF ドキュメント
Comment[lt]=TGIF dokumentas
Comment[lv]=TGIF Dokuments
Comment[nb]=TGIF-dokument
Comment[nl]=TGIF-document
Comment[nn]=TGIF-dokument
Comment[pl]=Dokument TGIF
Comment[pt]=Documento TGIF
Comment[pt_BR]=Documento TGIF
Comment[ro]=Document TGIF
Comment[ru]=Документ TGIF
Comment[sk]=TGIF dokument
Comment[sl]=Dokument TGIF
Comment[sv]=TGIF-dokument
Comment[th]=เอกสาร TGIF
Comment[uk]=Документ TGIF
Comment[ven]=Manwalwa a TGIF
Comment[vi]=Tài liệu TGIF
Comment[zh_CN]=TGIF 文档
Comment[zh_TW]=TGIF 文件
Comment[zu]=Idokhumente ye TGIF
MimeType=application/x-tgif
Type=MimeType
Icon=vectorgfx
