[Desktop Entry]
Comment=Gzipped Tar Archive
Comment[ca]=Arxius tar gzipats
Comment[cs]=Gzipovaný tar archív
Comment[da]=Gzippede tar arkiver
Comment[de]=Mit gzip komprimiertes tar-Archiv
Comment[el]=Αρχείο tar συμπιεσμένο με gzip
Comment[eo]=Gzip-Tar-arĥivo
Comment[es]=Archivo Tar-Gzip
Comment[et]=Gzipitud Tar arhiiv
Comment[fi]=Gzip pakattu tar-paketti
Comment[fr]=Archive Tar compactée par gzip
Comment[gl]=Arquivo tar comprimido con gzip
Comment[he]=Gzip י"ע ץווכמ Tar ןויכרא
Comment[hr]=Gzipirana tar arhiva
Comment[hu]=Gzippelt tar archívum
Comment[is]=Gzip-þjappað tar-safn
Comment[it]=Archivio Tar-Gzip
Comment[ja]=GzipされたTarアーカイブ
Comment[lt]=Gzipped Tar Archyvas
Comment[mk]=Gzip-Tar архива
Comment[nl]=Met Gzip gecomprimeert Tar-archief
Comment[no]=Gzippet tar-arkiv
Comment[no_NY]=Gzippa tar-arkiv
Comment[pl]=Archiwum po tarowaniu i spakowaniu gzipem
Comment[pt]=Arquivo Tar Gz
Comment[pt_BR]=Pacote Tar comprimido via gzip
Comment[ro]=Fişier arhivă TAR comprimat cu GZIP
Comment[ru]=Архив tar.gz
Comment[sk]=Gzipované Tar archívy
Comment[sl]=Z gzip-om stisnjeni arhiv tar
Comment[sv]=Filarkiv i tar-format komprimerat med gzip
Comment[ta]=Gzip ¦ºö¾ Tar ¸¡ôÀ¸õ
Comment[tr]=Gzip'lenmiş Tar Arşivi
Comment[uk]=Архів tar стиснутий gzip
Comment[zh_CN.GB2312]=Gzip 压缩的 Tar 归档文件
MimeType=application/x-tgz
Icon=tgz
Type=MimeType
Patterns=*.tar.gz;*.tgz;

