[Desktop Entry]
Encoding=UTF-8
Comment=Troff Document
Comment[af]=troff dokument
Comment[ar]=مستند Troff
Comment[az]=Troff sənədi
Comment[be]=Дакумэнт Troff
Comment[bg]=Документ на Troff
Comment[br]=Teul troff
Comment[bs]=Troff dokument
Comment[ca]=Document troff
Comment[cs]=Dokument Troff
Comment[da]=Troff-dokument
Comment[de]=Troff-Dokument
Comment[eo]=Troff-dokumento
Comment[es]=Documento Troff
Comment[et]=Troff dokument
Comment[eu]=Troff dokomentua
Comment[fi]=Troff-asiakirja
Comment[fr]=Document Troff
Comment[gl]=Documento troff
Comment[he]=מסמך Troff
Comment[hr]=Troff dokument
Comment[hu]=Troff dokumentum
Comment[id]=Dokumen Troff
Comment[is]=Troff-skjal
Comment[it]=Documento Troff
Comment[ja]=Troffドキュメント
Comment[ko]=Troff 문서
Comment[lt]=Troff dokumentas
Comment[lv]=Troff dokuments
Comment[mi]=Konae Troff
Comment[mk]=Troff документ
Comment[mt]=Dokument Troff
Comment[nb]=Troff-dokument
Comment[nl]=Troff-document
Comment[nn]=Troff-dokument
Comment[oc]=Document troff
Comment[pl]=Dokument Troff
Comment[pt]=Documento Troff
Comment[pt_BR]=Documento Troff
Comment[ro]=Document Troff
Comment[ru]=Документ Troff
Comment[sk]=Troff dokument
Comment[sl]=Sestavek za Troff
Comment[sr]=Troff dokument
Comment[sv]=Troff-dokument
Comment[ta]=Troff ¬Å½õ
Comment[th]=เอกสาร Troff
Comment[tr]=Troff belgesi
Comment[uk]=Документ Troff
Comment[ven]=Manwalwa a Troff
Comment[vi]=Tài liệu Troff 
Comment[wa]=Documint troff
Comment[xh]=Uxwebhu lwe Troff
Comment[xx]=xx
Comment[zh_CN]=Troff 文档
Comment[zh_TW]=Troff 文件
Comment[zu]=Idokhumenti ye Troff
Icon=man
Type=MimeType
MimeType=application/x-troff
Patterns=*.tr;*.roff;
