[Desktop Entry]
Type=MimeType
MimeType=application/x-txz
Icon=tgz
Patterns=*.tar.xz;*.txz;
Comment=Xzipped Tar Archive
Comment[af]=Xzip gekompakteerde Tar Argief
Comment[ar]=أرشيف TAR عن طريق Xzip
Comment[az]=Xziplənmiş Tar Arxivi
Comment[be]=Архіў Tar, сціснуты Xzip
Comment[bg]=Компресиран архив Tar с Xzip
Comment[bn]=জি-জিপকৃত (gzipped) টার আর্কাইভ
Comment[br]=Diell tar gzippet
Comment[bs]=Xzipovana tar arhiva
Comment[ca]=Arxiu TAR gzipat
Comment[cs]=Xzipovaný tar archív
Comment[csb]=Archiwa spakòwóné przez Tar ë Xzipp
Comment[cy]=Archif Tar wedi'i Xzipio
Comment[da]=Xzippede TAR-arkiver
Comment[de]=Xzip-komprimiertes Tar-Archiv
Comment[el]=Συμπιεσμένη αρχειοθήκη tar με gzip
Comment[eo]=Xzip-Tar-arĥivo
Comment[es]=Archivo Tar comprimido en Xzip
Comment[et]=Xzipitud TAR-arhiiv
Comment[eu]=Tar+GZIP artxiboa
Comment[fa]=بایگانی‌بان Xzipped
Comment[fi]=Xzip-pakattu Tar-paketti
Comment[fr]=Archive Tar compressée par Xzip
Comment[fy]=Mei Xzip komprimearre Tar-argyf
Comment[ga]=Cartlann tar comhbhrúite le gzip
Comment[gl]=Arquivo Tar comprimido con gzip
Comment[he]=ארכיון Tar דחוס ע"י Xzip
Comment[hi]=गजिप्ड Tar आर्काइव
Comment[hr]=Xzip-ana tar arhiva
Comment[hu]=Xzip tar-archívum
Comment[id]=Arsip Xzipped Tar
Comment[is]=Xzip þjappað tar-safn
Comment[it]=Archivio Tar compresso con Xzip
Comment[ja]=Xzip 圧縮された Tar アーカイブ
Comment[ka]=Xzip შეკუმშული Tar არქივი
Comment[kk]=Xzip-пен сығылған Tar архиві
Comment[km]=ប័ណ្ណសារ Xzipped Tar
Comment[ko]=Xzip으로 압축한 TAR 저장고
Comment[lb]=Mat Xzip kompriméierten Tar-Archiv
Comment[lt]=Tar archyvas, suglaudintas su gzip
Comment[lv]=Xzipots Tar Arhīvs
Comment[mi]=Takotoranga Tar Xzip
Comment[mk]=Xzip-увана Tar-архива
Comment[mn]=Xzip-р шахагдсан Tar-Архив
Comment[ms]=Arkib Tar diXzipkan
Comment[mt]=Arkivju Tar Xzippjat
Comment[nb]=Xzippet tar-arkiv
Comment[nds]=GZip-komprimeert Tar-Archiv
Comment[ne]=जीजिप गरिएको टार सङ्ग्रह
Comment[nl]=Met Xzip gecomprimeerd Tar-archief
Comment[nn]=Xzippa tar-arkiv
Comment[nso]=Polokelo ya Tar ya Xzipped
Comment[oc]=Archius tar gzipats
Comment[pa]=Xzipped Tar ਪੁਰਾਲੇਖ
Comment[pl]=Archiwum po tarowaniu i spakowaniu gzipem
Comment[pt]=Pacote Tar Gz
Comment[pt_BR]=Pacote Tar comprimido via gzip
Comment[ro]=Arhivă Tar comprimată cu GZip
Comment[ru]=Сжатый gzip архив tar
Comment[rw]=Xzipped Tar Idosiye yo mu bushinguro
Comment[se]=Xzippejuvvon Tar-arkiiva
Comment[sk]=Xzipované Tar archívy
Comment[sl]=Z gzip stisnjeni arhiv tar
Comment[sq]=Tar Arkivë e Ndrydhur me Xzip
Comment[sr]=ГЗипована TAR архива
Comment[sr@Latn]=GZipovana TAR arhiva
Comment[ss]=Silulu se Xzipped Tar
Comment[sv]=Xzip-komprimerat tar-arkiv
Comment[ta]=Xzip செய்த Tar காப்பகம்
Comment[te]=జీజిప్ చేయబడిన టార్ ఆర్కైవ్
Comment[tg]=Архиви Xzipped Tar 
Comment[th]=แฟ้ม Tar บีบอัดด้วย Xzip
Comment[tr]=Xzip'lenmiş Tar Arşivi
Comment[tt]=Xzip'le Tar Tuplama
Comment[uk]=Архів tar стиснутий gzip
Comment[uz]=Xzip bilan qisilgan Tar arxivi
Comment[uz@cyrillic]=Xzip билан қисилган Tar архиви
Comment[ven]=Fhethu hau vhulungela hone zwithu zwa kale ha Tar ha Xzipped
Comment[vi]=Bản Tar đã nén Xzip
Comment[wa]=Årtchive TAR rastrindowe avou gzip
Comment[xh]=Indawo yogcino ye Xzipped Tar
Comment[zh_CN]=Xzip 压缩的 Tar 归档
Comment[zh_HK]=Xzip 壓縮的 Tar 保存檔
Comment[zh_TW]=Xzip 壓縮的 Tar 壓縮文件
Comment[zu]=Umqulu we-Xzipped Tar

[Property::X-KDE-LocalProtocol]
Type=QString
Value=tar

