[Desktop Entry]
Encoding=UTF-8
MimeType=application/x-tzo
Comment=Lzopped Tar Archive
Comment[af]=Lzop gekompakteerde Tar Argief
Comment[ar]=أرشيف TAR عن طريق Lzop
Comment[be]=Архіў Tar, сціснуты Lzop
Comment[bg]=Компресиран архив Tar с Lz
Comment[br]=Diell tar Lzoppet
Comment[ca]=Arxiu TAR lzopat
Comment[cs]=Lzopovaný tar archív
Comment[cy]=Archif Tar wedi'i Lzopio
Comment[da]=Lzoppede TAR-arkiver
Comment[de]=Lzop-komprimiertes Tar-Archiv
Comment[el]=Συμπιεσμένη αρχειοθήκη tar με lzop
Comment[eo]=Lzop-Tar-arĥivo
Comment[es]=Archivo Tar comprimido en Lzop
Comment[et]=Lzopitud TAR-arhiiv
Comment[eu]=Lzop-Tar artxiboa
Comment[fa]=بایگانی‌بان Lzopped
Comment[fi]=Lzop-pakattu Tar-paketti
Comment[fr]=Archive Tar compactée par Lzop
Comment[fy]=Mei Lzop komprimearre Tar-argyf
Comment[ga]=Cartlann tar comhbhrúite le lzop
Comment[gl]=Arquivo Tar Comprimido con Lzop
Comment[he]=ארכיון Tar דחוס ע"י Lzop
Comment[hr]=Lzopped tar arhiva
Comment[hu]=Lzop tar-archívum
Comment[is]=Lzop-þjappað tar-safn
Comment[it]=Archivio Tar compresso con Lz
Comment[ja]=Lzop された Tar アーカイブ
Comment[kk]=Lzop-пен қысылған Tar архиві
Comment[km]=ប័ណ្ណសារ Lzopped Tar
Comment[ko]=Lzop으로 압축한 TAR 저장고
Comment[lb]=Mat Lzop kompriméierten Tar-Archiv
Comment[lt]=Tar archyvas, suglaudintas su Lzo 
Comment[lv]=Lzopped Tar Arhīvs
Comment[mk]=Lzop-увана Tar-архива
Comment[ms]=Arkib Tar diLzopkan
Comment[nb]=Lzoppet tar-arkiv
Comment[nds]=Tar-Archiv (mit lzop komprimeert)
Comment[ne]=Lzopped टार सङ्ग्रह
Comment[nl]=Met Lzop gecomprimeerd Tar-archief
Comment[nn]=Lzoppa tar-arkiv
Comment[pa]=Lzopped Tar ਪੁਰਾਲੇਖ
Comment[pl]=Archiwum po tarowaniu i spakowaniu Lzoppem
Comment[pt]=Pacote Tar Lzop
Comment[pt_BR]=Pacote Tar compactado com Lzop
Comment[ro]=Arhivă TAR comprimată cu Lzop
Comment[ru]=Сжатый lzop архив tar
Comment[se]=Lzoppejuvvon Tar-arkiiva
Comment[sl]=Z lzop stisnjeni arhiv tar
Comment[sr]=ЛЗопована TAR архива
Comment[sr@Latn]=LZopovana TAR arhiva
Comment[sv]=Lzop-komprimerat tar-arkiv
Comment[ta]=Lzopped Tar காப்பகம்
Comment[tg]=Хуҷҷати Lzopped Tar 
Comment[tr]=Lzop'lanmış Tar Arşivleri
Comment[uk]=Архів tar стиснутий lzop
Comment[uz]=Lzop билан қисилган Tar архиви
Comment[x-test]=xxLzopped Tar Archivexx
Comment[xh]=Ugcino lwasecaleni lwe Tar Lzopped
Comment[zh_HK]=Lzop 壓縮的 Tar 保存檔
Comment[zh_TW]=Lzop 壓縮的 Tar 壓縮文件
Icon=tgz
Type=MimeType
Patterns=*.tar.lzo;*.tzo;
