# KDE Config File
[Desktop Entry]
Encoding=UTF-8
MimeType=application/x-vnd.kde.kplato
Comment=KPlato Project Management Document
Comment[af]=KPlato Projek Bestuur Dokument
Comment[bg]=Документ на KPlato Project Management
Comment[bn]=কে-প্লেটো প্রোজেক্ট ম্যানেজমেন্ট নথী
Comment[br]=Teul mererezh raktres KPlato
Comment[bs]=KPlato Menadžment projektima dokument
Comment[ca]=Document de gestió de projectes KPlato
Comment[cs]=Dokument programu KPlato
Comment[da]=KPlato projekthåndteringsdokument
Comment[de]=KPlato-Dokument zur Projektverwaltung
Comment[el]=Έγγραφο διαχείρισης έργου του KPlato
Comment[eo]=Projektadministrada dokumento de KPlato
Comment[es]=Documento de gestión de proyectos KPlato
Comment[et]=KPlato projektihalduse dokument
Comment[eu]=KPlato proiektu kudeaketa dokumentua
Comment[fi]=KPlaton projektinhallinta-asiakirja
Comment[fr]=Document de gestion de projet KPlato
Comment[fy]=KPlato Projekt Management Dokumint
Comment[gl]=Documento de Xestión de Proxecto de KPlato
Comment[hi]=के-प्लेटो परियोजना प्रबंधन दस्तावेज़
Comment[hr]=KPlato dokument za upravljanje projektom
Comment[hu]=KPlato-projektdokumentum
Comment[is]=KPlato verkefnisskjal
Comment[it]=Documento di gestione progetti KPlato
Comment[ja]=KPlato プロジェクトマネージメントドキュメント
Comment[km]=ឯកសារ​គ្រប់គ្រង​គម្រោង KPlato
Comment[lt]=KPlato projektų valdymo dokumentas
Comment[lv]=KPlato projekta menedžementa dokuments
Comment[mk]=KPlato документ за менаџмент на проект
Comment[ms]=Dokumen Pengurusan Projek KPlato
Comment[nb]=KPlato-prosjektstyringsdokument
Comment[nds]=KPlato-Projektpleeg-Dokment
Comment[nl]=KPlato Projectbeheer-document
Comment[nn]=KPlato-prosjektstyringsdokument
Comment[pa]=KPlato ਪਰੋਜੈੱਕਟ ਪਰਬੰਧਨ ਦਸਤਾਵੇਜ਼
Comment[pl]=Dokument menedżera projektów KPlato
Comment[pt]=Documento de Gestão de Projectos KPlato
Comment[pt_BR]= Documento do Gerenciador de Projetos KPlato
Comment[ro]=Document management de proiect KPlato
Comment[ru]=Документ управления проектом KPlato
Comment[rw]=KPlato Project Management Inyandiko
Comment[se]=KPlato-prošeaktajođiheapmedokumeanta
Comment[sk]=KPlato dokument pre správu projektov
Comment[sl]=Dokument za projektno upravljanje KPlato
Comment[sr]=KPlato-ов документ пројекта управљања
Comment[sr@Latn]=KPlato-ov dokument projekta upravljanja
Comment[sv]=Kplato projekthanteringsdokument
Comment[ta]=கேப்ளாட்டோ திட்ட மேலாண்மை ஆவணம்
Comment[tg]=Сохти идоракунии санади KPlato
Comment[tr]=KPlato Proje Yönetim Dökümanı
Comment[uk]=Документ керування проектом KPlato
Comment[uz]=KPlato ҳужжати
Comment[xx]=xxKPlato Project Management Documentxx
Comment[zh_CN]=KPlato 项目管理文档
Type=MimeType
Patterns=*.kplato;*.kplatot;
X-KDE-AutoEmbed=false
[Property::X-KDE-NativeExtension]
Type=QString
Value=.kplato
