[Desktop Entry]
Encoding=UTF-8
Type=MimeType
MimeType=application/x-vnd.kde.kugar.mixed
Icon=kugar_kud
Patterns=*.kug
Comment=Kugar Archive File
Comment[af]=Kugar Argief Lêer
Comment[ar]=ملف أرشيف كوغار
Comment[az]=Kugar Arxiv Faylı
Comment[be]=Архіўны файл Kugar
Comment[bg]=Архивен файл на Kugar
Comment[bn]=কুগার আর্কাইভ ফাইল
Comment[br]=Restr Diell Kugar
Comment[bs]=Kugar arhiva
Comment[ca]=Fitxer arxiu de Kugar
Comment[cs]=Archív aplikace Kugar
Comment[cy]=Ffeil Archif Kugar
Comment[da]=Kugar arkiv-fil
Comment[de]=Kugar-Archivdatei
Comment[el]=Αρχειοθήκη Kugar
Comment[eo]=Kugar-arĥivo
Comment[es]=Archivo de archivos Kugar
Comment[et]=Kugari arhiivifail
Comment[eu]=Kugar fitxategi artxiboa
Comment[fa]=پرونده‌ی آرشیو Kugar
Comment[fi]=Kugar-paketti
Comment[fr]=Archive Kugar
Comment[fy]=Kugar Argyf Triem
Comment[ga]=Comhad Cartlainne Kugar
Comment[gl]=Arquivo de Arquivo Kugar
Comment[he]=ארכיון Kugar
Comment[hi]=कूगर आर्काइव फ़ाइल
Comment[hr]=Kugar arhiva
Comment[hu]=Kugar-archívum
Comment[is]=Kugar safnskrá
Comment[it]=File di archivio Kugar
Comment[ja]=Kugar アーカイブ ファイル
Comment[km]=ឯកសារ​ប័ណ្ណសារ Kugar
Comment[lb]=Kugar-Archivdatei
Comment[lt]=Kugar archyvo byla
Comment[lv]=Kugar arhīva fails
Comment[mk]=Kugar архивирана датотека
Comment[mn]=Kugar Архив файл
Comment[ms]=Fail Arkib Kugar
Comment[nb]=Kugar arkivfil
Comment[nds]=Kugar-Archivdatei
Comment[nl]=Kugar-archiefbestand
Comment[nn]=Kugar-arkivfil
Comment[pa]=Kugar ਪੁਰਾਲੇਖ ਫਾਇਲ
Comment[pl]=Archiwum Kugara
Comment[pt]=Ficheiro de Arquivo do Kugar
Comment[pt_BR]=Pacote do Kugar
Comment[ro]=Fişier arhivă Kugar
Comment[ru]=Архив Kugar
Comment[rw]=Kugar Idosiye yo mu bushinguro
Comment[se]=Kugar arkiivafiila
Comment[sk]=Archívny súbor Kugar
Comment[sl]=Arhivna datoteka Kugar
Comment[sq]=Skedë e Arkivuar me Kugar
Comment[sr]=Kugar-ова архива
Comment[sr@Latn]=Kugar-ova arhiva
Comment[sv]=Kugar-arkivfil
Comment[ta]=Kugar காப்பக கோப்பு
Comment[tg]=Файли Архивии Kugar
Comment[tr]=Kugar Arşiv Dosyası
Comment[tt]=Kugar Tuplama Bireme
Comment[uk]=Архів Kugar
Comment[uz]=Kugar архив файли
Comment[wa]=Fitchî årtchive Kugar
Comment[zh_CN]=Kugar 归档文件
Comment[zh_HK]=Kugar 壓縮檔
Comment[zh_TW]=Kugar 壓縮檔案
[Property::X-KDE-NativeExtension]
Type=QString
Value=.kug
