[Desktop Entry]
Encoding=UTF-8
Comment=Web Archive
Comment[af]=Web Argief
Comment[ar]=أرشيف الويب
Comment[az]=Veb Arxivləri
Comment[bg]=Уеб архиви
Comment[br]=Diell ar gwiad
Comment[bs]=Web arhive
Comment[ca]=Arxiu web
Comment[cs]=Webový archív
Comment[cy]=Archif o Wefannau
Comment[da]=Netarkiv
Comment[de]=Web-Archiv
Comment[el]=Αρχειοθήκη Ιστού
Comment[eo]=TTT-arĥivo
Comment[es]=Archivo Web
Comment[et]=Veebiarhiiv
Comment[fi]=WWW arkisto
Comment[fo]=Vevskjalasavn
Comment[fr]=Archive web
Comment[he]=ארכיון רשת
Comment[hi]=वेब अभिलेखागार
Comment[hr]=Web arhiva
Comment[hu]=Webes archívum
Comment[is]=Vefsafnskrá
Comment[it]=Archivio Web
Comment[ja]=Webアーカイブ
Comment[ko]=웹 저장고
Comment[lt]=Web Archyvas
Comment[lv]=Web Arhīvs
Comment[ms]=Arkib Web
Comment[mt]=Arkivji webb
Comment[nb]=Vev-arkiv
Comment[nl]=Webarchief
Comment[nn]=Vevarkiv
Comment[nso]=Polokelo ya Web
Comment[pl]=Archiwum WWW
Comment[pt]=Arquivo Web
Comment[pt_BR]=Arquivos WEB
Comment[ro]=Arhivă web
Comment[ru]=Архив web-сайта
Comment[sk]=Web archív
Comment[sl]=Spletni arhiv
Comment[sr]=Веб архива
Comment[sr@Latn]=Veb arhiva
Comment[sv]=Webbarkiv
Comment[ta]=வலை காப்பகம்
Comment[tg]=Веб-архивҳо
Comment[th]=แฟ้มบีบอัดของเว็บ
Comment[tr]=Web Arşivleri
Comment[uk]=Архів Тенет
Comment[uz]=Веб-архив
Comment[ven]=Webu yau vhulunga zwakale
Comment[vi]=Lưu trữ web 
Comment[xh]=Indawo yokugcina yeweb
Comment[xx]=xxWeb Archivexx
Comment[zh_CN]=万维网归档文件
Comment[zh_TW]=Web 檔案館
Comment[zu]=Ushicilelo layoyonke imiqulu ye Web
Icon=www
Type=MimeType
MimeType=application/x-webarchive
Patterns=*.war;*.WAR

[Property::X-KDE-LocalProtocol]
Type=QString
Value=tar
