[Desktop Entry]
Type=MimeType
Encoding=UTF-8
MimeType=application/x-xliff
Icon=gettext
Patterns=*.xlf;*.XLF;
Comment=XLIFF Translation File
Comment[af]=XLIFF Vertaal Lêer
Comment[bg]=Съобщения за превод (XLIFF)
Comment[br]=Restr troidigezh XLIFF
Comment[ca]=Fitxer de traducció XLIFF
Comment[cs]=Zdrojový kód překladu XLIFF
Comment[da]=XLIFF oversættelsesfil
Comment[de]=XLIFF-Übersetzungsdatei
Comment[el]=Αρχείο μεταφράσεων XLIFF
Comment[es]=Archivo de traducción XLIFF
Comment[et]=XLIFF tõlkefail
Comment[eu]=XLIFF itzulpen fitxategia
Comment[fi]=XLIFF-käännöstiedosto
Comment[fr]=Fichier de traduction XLIFF
Comment[fy]=XLIFF-FertalingsTriem
Comment[gl]=Arquivo de Traduzón XLIFF
Comment[he]=קובץ תרגום של XLIFF
Comment[hi]=एक्सएलआईएफ़एफ़ अनुवाद फ़ाइल
Comment[hu]=XLIFF fordítási fájl
Comment[is]=XLIFF þýðingarskrá
Comment[it]=File di traduzione XLIFF
Comment[ja]=XLIFF 翻訳ファイル
Comment[ka]=XLIFF თარგმნის ფაილი
Comment[km]=ឯកសារ​បកប្រែ XLIFF
Comment[lb]=XLIFF-Iwwersetzungsdatei
Comment[lt]=XLIFF vertimo byla
Comment[lv]=XLIFF tulkošanas fails
Comment[mk]=Датотека со превод XLIFF
Comment[nb]=XLIFF oversettelsesfil
Comment[nds]=XLIFF-Översettendatei
Comment[nl]=XLIFF-vertaalbestand
Comment[nn]=XLIFF-omsetjingsfil
Comment[pa]=XLIFF ਅਨੁਵਾਦ ਫਾਇਲ
Comment[pl]=Plik tłumaczenia XLIFF
Comment[pt]=Ficheiro de Traduções XLIFF
Comment[pt_BR]=Arquivo de Tradução XLIFF
Comment[ro]=Fişier de traduceri XLIFF
Comment[ru]=Файл для переводов XLIFF
Comment[rw]=Idosiye Ivunura XLIFF
Comment[se]=XLIFFt-jorgalusfiila
Comment[sk]=Prekladový súbor XLIFF
Comment[sl]=Datoteka s prevodi XLIFF
Comment[sr]=XLIFF фајл са преводима
Comment[sr@Latn]=XLIFF fajl sa prevodima
Comment[sv]=XLIFF-översättningsfil
Comment[ta]=XLIFF மொழிப்பெயர்ப்பு கோப்பு
Comment[tg]=Файли Тарҷумаи XLIFF
Comment[tr]=XLIFF Çeviri Dosyası
Comment[tt]=XLIFF Tärcemä Bireme
Comment[uk]=Файл перекладу XLIFF
Comment[uz]=XLIFF таржима қилиш файли
Comment[xx]=xxXLIFF Translation Filexx
Comment[zh_CN]=XLIFF 翻译文件
[Property::X-KDE-NativeExtension]
Type=QString
Value=.xlf
