[Desktop Entry]
MimeType=application/x-xz
Comment=Xzip File
Comment[af]=Xzip Lêer
Comment[ar]=ملف Xzip
Comment[az]=Xzip Faylı
Comment[be]=Файл Xzip
Comment[bg]=Архив Xzip
Comment[bn]=জি-জিপ ফাইল
Comment[br]=Restr Xzip
Comment[bs]=Xzip datoteka
Comment[ca]=Fitxer Xzip
Comment[cs]=Soubor komprimovaný gzipem
Comment[csb]=Lopk Xzip
Comment[cy]=Ffeil Xzip
Comment[da]=Xzip-fil
Comment[de]=Xzip-Datei
Comment[el]=Αρχείο gzip
Comment[eo]=Xzip-dosiero
Comment[es]=Archivo comprimido Xzip
Comment[et]=Xzip arhiiv
Comment[eu]=Xzip fitxategia
Comment[fa]=پروندۀ Xzip
Comment[fi]=Xzip-paketti
Comment[fr]=Fichier compressé par Xzip
Comment[fy]=Xzip-triem
Comment[ga]=Comhad gzip
Comment[gl]=Ficheiro Xzip
Comment[he]=קובץ Xzip
Comment[hi]=Xzip फ़ाइल
Comment[hr]=Xzip datoteka
Comment[hu]=Xzip-fájl
Comment[id]=Berkas Xzip
Comment[is]=Þjöppuð skrá (gzip)
Comment[it]=File Xzip
Comment[ja]=Xzip ファイル
Comment[ka]=Xzip არქივი
Comment[kk]=Xzip файлы
Comment[km]=ឯកសារ Xzip
Comment[ko]=Xzip 파일
Comment[lb]=Xzip-Datei
Comment[lt]=Xzip byla
Comment[lv]=Xzip fails
Comment[mk]=Xzip-датотека
Comment[mn]=GZip-Файл
Comment[ms]=Fail Xzip
Comment[mt]=Arkivju Xzip
Comment[nb]=GZip-fil
Comment[nds]=GZip-Datei
Comment[ne]=Xzip फाइल
Comment[nl]=Xzip-bestand
Comment[nn]=Xzip-fil
Comment[nso]=Faele ya Xzip
Comment[pa]=Xzip ਫਾਇਲ
Comment[pl]=Plik Xzip
Comment[pt]=Ficheiro do GZip
Comment[pt_BR]=Arquivo GZip
Comment[ro]=Fişier GZip
Comment[ru]=Архив gzip
Comment[rw]=Xzip Idosiye
Comment[se]=Xzip-fiila
Comment[sk]=GZip súbor
Comment[sl]=Datoteka, stisnjena z gzip
Comment[sq]=Xzip Skedë
Comment[sr]=Xzip фајл
Comment[sr@Latn]=Xzip fajl
Comment[ss]=Lifayela le Xzip
Comment[sv]=Xzip-fil
Comment[ta]=Xzip கோப்பு
Comment[te]=జీజిప్ దస్త్రం
Comment[tg]=Файли Xzip
Comment[th]=แฟ้มบีบอัด Xzip
Comment[tr]=Xzip Dosyası
Comment[tt]=Xzip Bireme
Comment[uk]=Файл gzip
Comment[uz]=Xzip-fayli
Comment[uz@cyrillic]=Xzip-файли
Comment[ven]=Faela ya Xzip
Comment[vi]=Tập tin Xzip
Comment[wa]=Fitchî gzip
Comment[xh]=Ifayile ye Xzip
Comment[zh_CN]=Xzip 文件
Comment[zh_HK]=Xzip 檔案
Comment[zh_TW]=Xzip 檔案
Comment[zu]=Ifayela le-Xzip
Icon=tgz
Type=MimeType
Patterns=*.xz;
