[Desktop Entry]
Type=MimeType
MimeType=application/x-zip
Icon=tgz
Patterns=*.zip;*.ZIP;
Comment=Zip archive
Comment[ca]=Arxiu zip
Comment[cs]=Zip archív
Comment[da]=Zip arkiv
Comment[de]=Zip-Archiv
Comment[eo]=Zip-arĥivo
Comment[es]=Archivo ZIP
Comment[et]=Zip arhiiv
Comment[fi]=Zip-paketti
Comment[fr]=Archive Zip
Comment[he]=Zip ןויכרא
Comment[hr]=Zip Arhiva
Comment[hu]=Zip arhívum
Comment[is]=Zip-safnskrá
Comment[it]=Archivio Zip
Comment[ja]=Zipアーカイブ
Comment[mk]=Zip архива
Comment[nl]=Zip-archiefbestand
Comment[no]=Zip-arkiv
Comment[no_NY]=Zip-arkiv
Comment[pl]=Archiwum Zip
Comment[pt]=Arquivo ZIP
Comment[pt_BR]=Arquivo ZIP
Comment[ro]=Fişier arhivă ZIP
Comment[ru]=Архив ZIP
Comment[sl]=Arhiv ZIP
Comment[sr]=Zip arhiva
Comment[sv]=Filarkiv i zip-format
Comment[ta]=Zip காபஂபகமஂ
Comment[tr]=Zip arşivi
Comment[uk]=Архів Zip
