[Desktop Entry]
Type=MimeType
MimeType=application/x-zoo
Icon=tgz
Patterns=*.zoo;*.ZOO;
Comment=Zoo archive
Comment[ca]=Arxiu zoo
Comment[cs]=Zoo archív
Comment[da]=Zoo arkiv
Comment[de]=Zoo-Archiv
Comment[eo]=Zoo-arĥivo
Comment[es]=Archivo ZOO
Comment[et]=Zoo arhiiv
Comment[fi]=Zoo-paketti
Comment[fr]=Archive Zoo
Comment[he]=Zoo ןויכרא
Comment[hr]=Zoo arhiva
Comment[hu]=Zoo arhívum
Comment[is]=Zoo-safnskrá
Comment[it]=Archivio Zoo
Comment[ja]=Zooアーカイブ
Comment[mk]=Zoo архива
Comment[nl]=Zoo-archiefbestand
Comment[no]=Zoo-arkiv
Comment[no_NY]=Zoo-arkiv
Comment[pl]=Archiwum Zoo
Comment[pt]=Arquivo Zoo
Comment[pt_BR]=Pacote Zoo
Comment[ro]=Fişier arhivă ZOO
Comment[ru]=Архив Zoo
Comment[sl]=Arhiv Zoo
Comment[sr]=Zoo arhiva
Comment[sv]=Zoo-arkiv
Comment[ta]=Zoo காபஂபகமஂ
Comment[tr]=Zoo arşivi
Comment[uk]=Архів Zoo
