[Desktop Entry]
Encoding=UTF-8
Type=MimeType
MimeType=application/x-zoo
Icon=tgz
Patterns=*.zoo;*.ZOO;
Comment=Zoo Archive
Comment[af]=Zoo Argief
Comment[ar]=أرشيف Zoo
Comment[be]=Архіў ZOO
Comment[bs]=Zoo arhiva
Comment[ca]=Arxiu ZOO
Comment[cs]=Zoo archív
Comment[da]=Zoo-arkiv
Comment[de]=Zoo-Archiv
Comment[el]=Αρχειοθήκη zoo
Comment[eo]=Zoo-arĥivo
Comment[es]=Archivo Zoo
Comment[et]=Zoo arhiiv
Comment[eu]=Zoo Fitxategia
Comment[fa]=آرشیو Zoo
Comment[fi]=Zoo-paketti
Comment[fr]=Archive Zoo
Comment[he]=ארכיון Zoo
Comment[hu]=Zoo archívum
Comment[it]=Archivio Zoo
Comment[ja]=Zoo アーカイブ
Comment[ko]=Zoo 저장고
Comment[lt]=Zoo archyvas
Comment[mt]=Arkivju Zoo
Comment[nb]=Zoo-arkiv
Comment[nl]=Zoo-archief
Comment[nn]=Zoo-arkiv
Comment[nso]=Polokelo ya Zoo
Comment[pl]=Archiwum Zoo
Comment[pt]=Arquivo Zoo
Comment[pt_BR]=Pacote Zoo
Comment[ro]=Arhivă ZOO
Comment[ru]=Архив zoo
Comment[sk]=Zoo archív
Comment[sl]=Arhiv zoo
Comment[ss]=Silulu se Zoo 
Comment[sv]=Zoo-arkiv
Comment[ta]=Zoo ¸¡ôÀ¸õ
Comment[tr]=Zoo Arşivi
Comment[uk]=Архів Zoo
Comment[ven]=Fhethu hau vhulungela zwithu zwa kale ho vhewaho zwipuka
Comment[xh]=Indawo yogcino ye Zoo
Comment[zh_CN]=Zoo 压缩文件
Comment[zh_TW]=Zoo 壓縮文件
Comment[zu]=Umqulu We-zoo
