[Desktop Entry]
Encoding=UTF-8
Comment=XHTML Family Document
Comment[fr]=Document de type XHTML
Comment[x-test]=xxXHTML Family Documentxx
Type=MimeType
Icon=html
MimeType=application/xhtml+xml
X-KDE-IsAlso=text/xml
Patterns=*.xhtml

[Property::X-KDE-text]
Type=bool
Value=true
