[Desktop Entry]
Encoding=UTF-8
Comment=XML Document
Comment[af]=XML Dokument
Comment[ar]=مستند XML
Comment[az]=XML Sənədi
Comment[be]=Дакумэнт XML
Comment[bg]=Документ XML
Comment[bn]=এক্স-এম-এল নথী
Comment[br]=Teul XML
Comment[bs]=XML dokument
Comment[ca]=Document XML
Comment[cs]=XML dokument
Comment[cy]=Dogfen XML
Comment[da]=XML-dokument
Comment[de]=XML-Dokument
Comment[el]=Έγγραφο XML
Comment[eo]=XML-dokumento
Comment[es]=Documento XML
Comment[et]=XML-dokument
Comment[eu]=XML dokumentua
Comment[fa]=سند XML
Comment[fi]=XML-asiakirja
Comment[fr]=Document XML
Comment[fy]=XML Dokumint
Comment[ga]=Cáipéis XML
Comment[gl]=Documento XML
Comment[he]=מסמך XML
Comment[hi]=एक्सएमएल दस्तावेज़ 
Comment[hr]=XML dokument
Comment[hu]=XML-dokumentum
Comment[is]=XML skjal
Comment[it]=Documento XML
Comment[ja]=XML ドキュメント
Comment[km]=ឯកសារ XML
Comment[ko]=XML 문서
Comment[lb]=XML-Dokument
Comment[lt]=XML dokumentas
Comment[lv]=XML dokuments
Comment[mk]=XML документ
Comment[mn]=XML Баримт
Comment[ms]=Dokumen XML
Comment[nb]=XML-dokument
Comment[nds]=XML-Dokment
Comment[nl]=XML-document
Comment[nn]=XML-dokument
Comment[pa]=XML ਦਸਤਾਵੇਜ਼
Comment[pl]=Dokument XML
Comment[pt]=Documento XML
Comment[pt_BR]=Documento XML
Comment[ro]=Document XML
Comment[ru]=Документ XML
Comment[rw]=XML Inyandiko
Comment[se]=XML-dokumeanta
Comment[sk]=XML dokument
Comment[sl]=Dokument XML
Comment[sq]=Dokument XML
Comment[sr]=XML документ
Comment[sr@Latn]=XML dokument
Comment[sv]=XML-dokument
Comment[ta]=XML ஆவணம்
Comment[tg]=Хуҷҷати XML 
Comment[th]=เอกสาร XML
Comment[tr]=XML Belgesi
Comment[tt]=XML İstälek
Comment[uk]=Документ XML
Comment[uz]=XML ҳужжати
Comment[wa]=Documint XML
Comment[zh_CN]=XML 文档
Comment[zh_HK]=XML 文件
Comment[zh_TW]=XML 文件
Icon=html
Type=MimeType
MimeType=application/xml
# This mimetype is an alias for text/xml. Both are referenced by the W3C.
X-KDE-IsAlso=text/xml

[Property::X-KDE-text]
Type=bool
Value=true
