[Desktop Entry]
Type=Application
Exec=kmailservice %u
Icon=mail-message-new
MimeType=x-scheme-handler/mailto

X-DocPath=kioslave/mailto/index.html
NoDisplay=true

# KMailService is the handler for mailto URLs
Name=KMailService
Name[es]=KMailService
Name[et]=KMailService
Name[ia]=KMailService (Servicio de KMail)
Name[pt]=KMailService
Name[pt_BR]=KMailService
Name[sv]=Kmail-tjänst
Name[tr]=KMailService
Name[uk]=Служба пошти KMail
Name[x-test]=xxKMailServicexx
