[Desktop Entry]
Encoding=UTF-8
Type=MimeType
MimeType=multipart/mixed
Patterns=
Comment=Compound Document
Comment[x-test]=xxCompound Documentxx
X-KDE-AutoEmbed=true
