[Desktop Entry]
Encoding=UTF-8
Type=MimeType
MimeType=multipart/x-mixed-replace
Patterns=
Comment=Stream of Data (Server Push)
Comment[af]=Stroom van Data (Bediener Stoot)
Comment[ar]=سلسلة من البيانات (دفع من الخادم)
Comment[az]=Data Yatımı (Verici Tərəfindən)
Comment[bg]=Поток от данни (Server Push)
Comment[bs]=Protok podataka (stream - server push)
Comment[ca]=Flux de dades (des del servidor)
Comment[cs]=Proud dat (server push)
Comment[cy]=Llif o Ddata (Gwthiad o'r Gweinydd)
Comment[da]=Datastrøm (serverskub)
Comment[de]=Datenstrom (Server Push)
Comment[el]=Ροή από δεδομένα (προώθηση εξυπηρετητή)
Comment[eo]=Datumfluo (servosendata)
Comment[es]=Flujo de datos (envio del servidor)
Comment[et]=Andmevoog (server push)
Comment[eu]=Datu korrontea (Server push)
Comment[fa]=جریان داده (فشار کارگزار)
Comment[fi]=Tietovirta (palvelin työntää)
Comment[fr]=Flux de données (serveur push)
Comment[fy]=Datastream (server push)
Comment[gl]=Transmisón de Dados (Server Push)
Comment[he]=זרימת נתונים (דחיפת שרת)
Comment[hi]=स्ट्रीम ऑफ डाटा (सर्वर पुश)
Comment[hr]=Tok podataka (guran od poslužitelja)
Comment[hu]=Sugárzott adatfolyam (kiszolgálóról)
Comment[is]=Gagnastraumur
Comment[it]=Flusso di dati (Server Push)
Comment[ja]=データストリーム (サーバプッシュ)
Comment[ko]=(서버에서 보내는) 자료 스트림
Comment[lb]=Floss vun Donnéeën (Server-Push)
Comment[lt]=Duomenų srautas (inicijuojamas serverio)
Comment[lv]=Datu plūsma (no servera)
Comment[mk]=Поток на податоци (Server Push)
Comment[mn]=Өгөгдлийн урсгал (Server Push)
Comment[ms]=Aliran Data (Tolakan Pelayan)
Comment[mt]=Sekwenza ta' data (imbuttat mis-server)
Comment[nb]=Direkteoverførte data (fra tjener)
Comment[nds]=Datenstroom (Server Push)
Comment[nl]=Gegevensstroom (server push)
Comment[nn]=Datastraum (frå tenar)
Comment[nso]=Tatelano ya Data (Tshofo ya Seabi)
Comment[pa]=ਡਾਟਾ ਦੀ ਧਾਰਾ(ਸਰਵਰ ਵਲੋਂ)
Comment[pl]=Strumień danych (pochodzący z serwera)
Comment[pt]=Sequência de dados (envio do servidor)
Comment[pt_BR]=Cadeia de dados (server push)
Comment[ro]=Flux de date (de la server)
Comment[ru]=Поток данных с сервера
Comment[rw]=Umuyoboro w'Ibyatanzwe (Isunika Seriveri)
Comment[se]=Dáhtarávdnji (bálvá hoigá)
Comment[sk]=Prúd dát (server push)
Comment[sl]=Tok podatkov (potisk strežnika)
Comment[sq]=Rrjedhë e të Dhënave (Shtytje e Shërbimit)
Comment[sr]=Ток података (гуран од сервера)
Comment[sr@Latn]=Tok podataka (guran od servera)
Comment[sv]=Dataström (skickas av servern)
Comment[ta]=தகவல் ஓட்டம் (சேவையக தள்ளல்)
Comment[tg]=Ҷараёни Data (Коргузори Push)
Comment[tr]=Akan Veri
Comment[tt]=Birem Ağımı (Server Cibärgän)
Comment[uk]=Потік даних (вивід з сервера)
Comment[uz]=Маълумот оқими (Server Push)
Comment[ven]=Milambo ya data (U phusha ha data)
Comment[xh]=Umpompozo lwe Data (Utyilizo Lomncedisi)
Comment[zh_CN]=数据流(服务器推送)
Comment[zh_TW]=資料串流（伺服器推送）
Comment[zu]=Ukutanta kwe-Data (Ukududula Komlekeleli)
X-KDE-AutoEmbed=true
