# KDE Config File
[Desktop Entry]
Encoding=UTF-8
Name=Contacts
Name[af]=Kontakte
Name[br]=Darempredoù
Name[ca]=Contactes
Name[cs]=Kontakty
Name[cy]=Cysylltau
Name[de]=Kontakte
Name[el]=Επαφές
Name[es]=Contactos
Name[et]=Kontaktid
Name[eu]=Kontaktuak
Name[fi]=Yhteystiedot
Name[fy]=Kontakten
Name[ga]=Teagmhálacha
Name[gl]=Contactos
Name[he]=אנשי קשר
Name[hi]=सम्पर्क
Name[hsb]=Adresy
Name[hu]=Névjegyek
Name[is]=Tengiliðir
Name[it]=Contatti
Name[km]=ទំនាក់ទំនង
Name[lt]=Kontaktai
Name[lv]=Kontakti
Name[mk]=Контакти
Name[nb]=Kontakter
Name[nl]=Contactpersonen
Name[nn]=Kontaktar
Name[pa]=ਸੰਪਰਕ
Name[pl]=Kontakty
Name[pt]=Contactos
Name[pt_BR]=Contatos
Name[ro]=Contacte
Name[ru]=Контакты
Name[rw]=Amaderesi
Name[se]=Oktavuođat
Name[sk]=Kontakty
Name[sl]=Stiki
Name[sr]=Контакти
Name[sr@Latn]=Kontakti
Name[sv]=Kontakter
Name[ta]=தொடர்புகள்
Name[tg]=Алоқаҳо
Name[tr]=Bağlantılar
Name[uk]=Контакти
Name[uz]=Алоқалар
Name[xx]=xxContactsxx
Name[zh_CN]=联系人
Type=Service
ServiceTypes=KResources/Manager

X-KDE-ResourceFamily=contact
